--G-公告.xlsx 功能入口
NoticeConfig={
[1] = {
	Noticeid = 1,
	content = "竞技大乱斗将于20:00开始，请勇士们做好准备！~",
	starttime = 2,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="2-19:51:00",EndTime="2-19:59:00"},
[2]={StartTime="6-19:51:00",EndTime="6-19:59:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[2] = {
	Noticeid = 2,
	content = "地下夺宝即将开始，请勇士们踊跃参与~",
	starttime = 1,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-10:57:00",EndTime="0-10:59:00"},
[2]={StartTime="0-13:57:00",EndTime="0-13:59:00"},
[3]={StartTime="0-22:57:00",EndTime="0-22:59:00"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[3] = {
	Noticeid = 3,
	content = "石墓夺宝即将开始，请勇士们踊跃参与~",
	starttime = 1,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-20:57:00",EndTime="0-20:59:00"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[4] = {
	Noticeid = 4,
	content = "强大的首领级怪物将于19:30出现，请勇士们参战~",
	starttime = 1,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-19:25:00",EndTime="0-19:29:00"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[5] = {
	Noticeid = 5,
	content = "独创天涯即将在20:00开放，前50名冲到底层的玩家更可获得先锋礼包！~",
	starttime = 2,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="4-19:51:00",EndTime="4-19:59:00"},
[2]={StartTime="7-19:51:00",EndTime="7-19:59:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[6] = {
	Noticeid = 6,
	content = "沙巴克攻城将于20:30开始，请勇士们做好准备！~",
	starttime = 7,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-20:21:00",EndTime="0-20:29:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[7] = {
	Noticeid = 7,
	content = "夜战沃玛三将于20:00开始，请勇士们做好准备！~",
	starttime = 2,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="1-19:51:00",EndTime="1-19:59:00"},
[2]={StartTime="3-19:51:00",EndTime="3-19:59:00"},
[3]={StartTime="5-19:51:00",EndTime="5-19:59:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
}