--M-膜拜系统.xlsx 通用配置
WorshipCommonConfig = {
[5] = {
	id = 5,
	n = 1,
	cost1 = {},
	cost2 = {},
	rankid = 4,
	rewards = {{type=13,id=13,count=100000},{type=0,id=261,count=3}},
},
[36] = {
	id = 36,
	n = 1,
	cost1 = {},
	cost2 = {},
	rankid = 8,
	rewards = {{type=13,id=13,count=100000},{type=0,id=265,count=1}},
},
}