--M-膜拜系统.xlsx 膜拜界面
WorshipMainConfig = {
[1] = {
	id = 1,
	name = "玛法战神",
	background = "Worship_1_0",
	Reward = {{type=5,id=0,count=10000},{type=0,id=261,count=10}},
},
[2] = {
	id = 2,
	name = "玛法魔君",
	background = "Worship_2_0",
	Reward = {{type=5,id=0,count=10000},{type=0,id=261,count=10}},
},
[3] = {
	id = 3,
	name = "玛法天尊",
	background = "Worship_3_0",
	Reward = {{type=5,id=0,count=10000},{type=0,id=261,count=10}},
},
[4] = {
	id = 4,
	name = "玛法战姬",
	background = "Worship_1_1",
	Reward = {{type=5,id=0,count=10000},{type=0,id=261,count=10}},
},
[5] = {
	id = 5,
	name = "玛法魔灵",
	background = "Worship_2_1",
	Reward = {{type=5,id=0,count=10000},{type=0,id=261,count=10}},
},
[6] = {
	id = 6,
	name = "玛法仙姬",
	background = "Worship_3_1",
	Reward = {{type=5,id=0,count=10000},{type=0,id=261,count=10}},
},
}