--P-平台福利YY.xlsx 超玩俱乐部
GameVIPConfig={
	host = "proxy.udblogin.game.yy.com",
	port = "80",
	api = "/query/cwVipInfo.do",
	vipMap = {[1]=2,[2]=6,[3]=9},
	vipGift = {
[1]={{type=0,id=261,count=3},{type=0,id=421,count=3},{type=7,id=7,count=3},{type=0,id=247,count=3}},
[2]={{type=0,id=261,count=3},{type=0,id=421,count=3},{type=7,id=7,count=3},{type=0,id=247,count=3}},
[3]={{type=0,id=261,count=5},{type=0,id=269,count=10},{type=0,id=904,count=1},{type=0,id=914,count=1}},
},
	VIPTitle = "超玩俱乐部会员礼包",
	VIPContent = "恭喜你领取了超玩俱乐部会员专属礼包",
	dailyGift = {
[1]={{type=0,id=247,count=5},{type=2,id=2,count=3000},{type=5,id=5,count=1000}},
[2]={{type=0,id=247,count=5},{type=2,id=2,count=4000},{type=5,id=5,count=2000}},
[3]={{type=0,id=247,count=5},{type=2,id=2,count=5000},{type=5,id=5,count=3000}},
},
	VIPDailyTitle = "超玩俱乐部会员每日礼包",
	VIPDailyContent = "恭喜你领取了超玩俱乐部会员专属礼包",
	GameVIPbuff = {
[1]={buffid=0},
[2]={buffid=0},
[3]={buffid=0}
},
	vipGiftDisplay = {
[1]={index=1,viplvl=1,rewards={{type=0,id=261,count=3},{type=0,id=421,count=3},{type=7,id=7,count=3},{type=0,id=247,count=3}}},
[2]={index=2,viplvl=1,rewards={{type=0,id=261,count=3},{type=0,id=421,count=3},{type=7,id=7,count=3},{type=0,id=247,count=3}}},
[3]={index=3,viplvl=3,rewards={{type=0,id=261,count=5},{type=0,id=269,count=10},{type=0,id=904,count=1},{type=0,id=914,count=1}}},
},
	dailyGiftDisplay = {
[1]={index=1,viplvl=2,rewards={{type=0,id=247,count=5},{type=2,id=2,count=3000},{type=5,id=5,count=1000}}},
[2]={index=2,viplvl=6,rewards={{type=0,id=247,count=5},{type=2,id=2,count=4000},{type=5,id=5,count=2000}}},
[3]={index=3,viplvl=9,rewards={{type=0,id=247,count=5},{type=2,id=2,count=5000},{type=5,id=5,count=3000}}},
},
}