--P-平台福利YY.xlsx YY大厅特权
YYMemberConfig={
	host = "proxy.udblogin.game.yy.com",
	port = "80",
	api = "/yy/lobbygift/query/queryInfo.do",
	freshmanGift = {{type=0,id=247,count=5},{type=7,id=7,count=3},{type=0,id=261,count=2},{type=2,id=2,count=20000}},
	fgTitle = "YY大厅新手礼包",
	fgContent = "恭喜你领取了YY大厅新手礼包",
	loginGift = {
[1]={{type=0,id=269,count=1},{type=7,id=7,count=2},{type=2,id=2,count=10000}},
[2]={{type=0,id=421,count=1},{type=7,id=7,count=3},{type=2,id=2,count=10000}},
[3]={{type=0,id=261,count=1},{type=7,id=7,count=3},{type=2,id=2,count=10000}},
[4]={{type=0,id=269,count=2},{type=7,id=7,count=4},{type=2,id=2,count=10000}},
[5]={{type=0,id=421,count=2},{type=7,id=7,count=4},{type=2,id=2,count=10000}},
[6]={{type=0,id=261,count=2},{type=7,id=7,count=5},{type=2,id=2,count=10000}},
[7]={{type=0,id=421,count=3},{type=7,id=7,count=5},{type=2,id=2,count=10000}},
},
	logTitle = "YY大厅登录礼包",
	logContent = "你已通过YY大厅登录超过了%d天，领取了YY大厅登录礼包",
	levelGift = {
[1]={lvl=42,awards={{type=0,id=247,count=2},{type=7,id=7,count=2},{type=2,id=2,count=20000}}},
[2]={lvl=49,awards={{type=0,id=247,count=3},{type=7,id=7,count=2},{type=2,id=2,count=20000}}},
[3]={lvl=55,awards={{type=0,id=247,count=4},{type=7,id=7,count=2},{type=2,id=2,count=20000}}},
[4]={lvl=65,awards={{type=0,id=247,count=5},{type=0,id=853,count=2},{type=2,id=2,count=20000}}},
[5]={lvl=75,awards={{type=0,id=247,count=6},{type=0,id=365,count=1},{type=2,id=2,count=20000}}},
[6]={lvl=85,awards={{type=0,id=247,count=6},{type=0,id=365,count=1},{type=2,id=2,count=20000}}},
[7]={lvl=95,awards={{type=0,id=247,count=6},{type=0,id=365,count=1},{type=2,id=2,count=20000}}},
},
	lvgTitle = "YY大厅等级礼包",
	nobleGift = {
[1]={{type=0,id=261,count=5},{type=0,id=854,count=3},{type=2,id=2,count=10000}},
[2]={{type=0,id=261,count=5},{type=0,id=854,count=3},{type=2,id=2,count=10000}},
[3]={{type=0,id=261,count=5},{type=0,id=854,count=3},{type=2,id=2,count=10000}},
},
	ngTitle = "YY大厅贵族礼包",
	lvgContent = "你的等级已达到了%d级，领取了YY大厅等级礼包",
	ngContent = "你的身份为%s，领取了YY大厅贵族礼包",
}