--P-平台福利YY.xlsx YY会员
YYVIPConfig={
	host = "proxy.udblogin.game.yy.com",
	port = "80",
	api = "/query/yyVipInfo.do",
	newServerGift = {
[1]={viplvl=1,title={type=16,id=7,count=1},gift={type=0,id=481,count=1}},
[2]={viplvl=4,title={type=16,id=8,count=1},gift={type=0,id=482,count=1}},
[3]={viplvl=7,title={type=16,id=9,count=1},gift={type=0,id=483,count=1}},
},
	nsTitle = "YY会员新服豪礼",
	nsContent = "领取了YY会员新服豪礼",
	weeklyGift = {
[1]={yb=160,viplvl=1,gift={type=0,id=487,count=1}},
[2]={yb=188,viplvl=4,gift={type=0,id=488,count=1}},
[3]={yb=288,viplvl=7,gift={type=0,id=489,count=1}},
},
	wgTitle = "YY会员专属每周礼包",
	wgContent = "这是您购买的YY会员专属每周礼包，请收下",
	dailyGift = {
[1]={yb=17,viplvl=1,item={type=0,id=484,count=1}},
[2]={yb=20,viplvl=4,item={type=0,id=485,count=1}},
[3]={yb=35,viplvl=7,item={type=0,id=486,count=1}},
},
	dgTitle = "YY会员专属每日礼包",
	dgContent = "这是您购买的YY会员专属每日礼包，请收下",
	SPID = "dudu",
}