--G-怪物配置.xlsx AI
AiConf={
[1] = {
	idx = 1,
	aiType = 1,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[2] = {
	idx = 2,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[3] = {
	idx = 3,
	aiType = 2,
	patrolRadius = 0,
	pursuitDistance = 6,
	watchDistance = 6,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 0,
	transferDis = 0,
},
[4] = {
	idx = 4,
	aiType = 2,
	patrolRadius = 0,
	pursuitDistance = 12,
	watchDistance = 6,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 0,
	transferDis = 0,
},
[5] = {
	idx = 5,
	aiType = 3,
	patrolRadius = 0,
	pursuitDistance = 13,
	watchDistance = 13,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 500,
	transferDis = 15,
	petFollowMasterTime = 300,
},
[6] = {
	idx = 6,
	aiType = 4,
	patrolRadius = 1,
	pursuitDistance = 13,
	watchDistance = 13,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 0,
	transferDis = 12,
	battleFollowDis = 18,
	petFollowMasterTime = 1500,
},
[7] = {
	idx = 7,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[8] = {
	idx = 8,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[9] = {
	idx = 9,
	aiType = 2,
	patrolRadius = 0,
	pursuitDistance = 18,
	watchDistance = 9,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[10] = {
	idx = 10,
	aiType = 2,
	patrolRadius = 0,
	pursuitDistance = 18,
	watchDistance = 9,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[11] = {
	idx = 11,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[12] = {
	idx = 12,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[13] = {
	idx = 13,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[14] = {
	idx = 14,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[15] = {
	idx = 15,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[16] = {
	idx = 16,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[17] = {
	idx = 17,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[18] = {
	idx = 18,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[19] = {
	idx = 19,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[20] = {
	idx = 20,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[21] = {
	idx = 21,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[22] = {
	idx = 22,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[23] = {
	idx = 23,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[24] = {
	idx = 24,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[25] = {
	idx = 25,
	aiType = 3,
	patrolRadius = 0,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 0,
	stopMaxTime = 0,
	moveStopInterval = 0,
	transferDis = 15,
	petFollowMasterTime = 1500,
	hitSetTargetRate = 50,
},
[26] = {
	idx = 26,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 0,
	hitSetTargetRate = 50,
},
[27] = {
	idx = 27,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 0,
	hitSetTargetRate = 50,
},
[28] = {
	idx = 28,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 0,
	hitSetTargetRate = 50,
},
[29] = {
	idx = 29,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 18,
	watchDistance = 2,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
[30] = {
	idx = 30,
	aiType = 2,
	patrolRadius = 1,
	pursuitDistance = 7,
	watchDistance = 1,
	leftHomeMaxDistance = 0,
	returnHomeRenewRate = 0,
	stopMinTime = 50,
	stopMaxTime = 80,
	moveStopInterval = 0,
	transferDis = 15,
	hitSetTargetRate = 50,
},
}