--G-怪物配置.xlsx 标志
Flags={
[1] = {
	id = 1,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	noReturnHome = true,
},
[2] = {
	id = 2,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	AttackPet = true,
	noReturnHome = true,
},
[3] = {
	id = 3,
	DenyAutoAddMp = true,
	CanSeeHideActor = true,
	DenyDieSubExp = true,
	AttackPet = true,
	noReturnHome = true,
},
[4] = {
	id = 4,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
},
[5] = {
	id = 5,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	showVestEntityName = true,
},
[6] = {
	id = 6,
	DenyMove = true,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	CanSeeHideActor = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	DenySetDir = true,
	showVestEntityName = true,
},
[7] = {
	id = 7,
	DenyMove = true,
	DenyBeMove = true,
	DenyBeAttack = true,
	CanAttackMonster = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyInitiativeAttackActor = true,
	AttackKiller = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	DenySetDir = true,
},
[8] = {
	id = 8,
	DenyMove = true,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyInitiativeAttackActor = true,
	AttackKiller = true,
	DenyBeCatch = true,
	noReturnHome = true,
},
[9] = {
	id = 9,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	ShowNameByNumber = true,
	noReturnHome = true,
},
[10] = {
	id = 10,
	DenyMove = true,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	showVestEntityName = true,
},
[11] = {
	id = 11,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	AttackPet = true,
	noReturnHome = true,
},
[12] = {
	id = 12,
	DenyAutoAddMp = true,
	CanSeeHideActor = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	AttackPet = true,
	noReturnHome = true,
},
[13] = {
	id = 13,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	showVestEntityName = true,
},
[14] = {
	id = 14,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
},
[15] = {
	id = 15,
	DenyMove = true,
	DenyBeMove = true,
	DenyUseNearAttack = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyInitiativeAttackActor = true,
	DenyBeCatch = true,
	noReturnHome = true,
},
[16] = {
	id = 16,
	DenyMove = true,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyInitiativeAttackActor = true,
	AttackKiller = true,
	DenyBeCatch = true,
	noReturnHome = true,
	attackToScript = true,
},
[17] = {
	id = 17,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	ShowNameByNumber = true,
	noReturnHome = true,
},
[18] = {
	id = 18,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	attackToScript = true,
	showVestEntityName = true,
},
[19] = {
	id = 19,
	DenyBeMove = true,
	DenyAutoAddMp = true,
	DenyDieSubExp = true,
	DenyUseNearAttack = true,
	DenyMoveForbidBuff = true,
	DenyMoveSpeedSlowBuff = true,
	DenyBeCatch = true,
	AttackPet = true,
	noReturnHome = true,
	attackToScript = true,
	showVestEntityName = true,
},
}