--Z-转生配置.xlsx 转生升级
CircleLevel = {
[0] = {
	level = 0,
	levellimit = 50,
	attrs = {{type=5,value=0},{type=76,value=0},{type=77,value=0},{type=75,value=0}},
	item1 = {},
	item2 = {},
	item3 = {},
	levelblock = 200,
	costlevel = 0,
	openday = 1,
},
[1] = {
	level = 1,
	levellimit = 50,
	attrs = {{type=5,value=100},{type=76,value=1},{type=77,value=3},{type=75,value=100}},
	item1 = {type=2,id=2,count=120000},
	item2 = {},
	item3 = {type=0,id=851,count=6},
	levelblock = 200,
	costlevel = 2,
	openday = 1,
	tipsid = 412,
},
[2] = {
	level = 2,
	levellimit = 55,
	attrs = {{type=5,value=200},{type=76,value=3},{type=77,value=7},{type=75,value=200}},
	item1 = {type=2,id=2,count=360000},
	item2 = {type=0,id=911,count=6},
	item3 = {},
	levelblock = 200,
	costlevel = 4,
	openday = 1,
	tipsid = 412,
},
[3] = {
	level = 3,
	levellimit = 60,
	attrs = {{type=5,value=300},{type=76,value=5},{type=77,value=11},{type=75,value=400}},
	item1 = {type=2,id=2,count=1500000},
	item2 = {type=0,id=912,count=4},
	item3 = {type=0,id=902,count=4},
	levelblock = 200,
	costlevel = 6,
	openday = 1,
	tipsid = 412,
},
[4] = {
	level = 4,
	levellimit = 70,
	attrs = {{type=5,value=400},{type=76,value=7},{type=77,value=15},{type=75,value=600}},
	item1 = {type=2,id=2,count=2800000},
	item2 = {type=0,id=913,count=4},
	item3 = {type=0,id=903,count=4},
	levelblock = 200,
	costlevel = 10,
	openday = 1,
	tipsid = 412,
},
[5] = {
	level = 5,
	levellimit = 80,
	attrs = {{type=5,value=600},{type=76,value=9},{type=77,value=19},{type=75,value=800}},
	item1 = {type=2,id=2,count=5000000},
	item2 = {type=0,id=914,count=5},
	item3 = {type=0,id=904,count=5},
	levelblock = 200,
	costlevel = 15,
	openday = 1,
	tipsid = 412,
},
[6] = {
	level = 6,
	levellimit = 90,
	attrs = {{type=5,value=800},{type=76,value=11},{type=77,value=23},{type=75,value=1000}},
	item1 = {type=2,id=2,count=8000000},
	item2 = {type=0,id=915,count=6},
	item3 = {type=0,id=905,count=6},
	levelblock = 200,
	costlevel = 20,
	openday = 1,
	tipsid = 412,
},
[7] = {
	level = 7,
	levellimit = 110,
	attrs = {{type=5,value=1200},{type=76,value=13},{type=77,value=27},{type=75,value=1300}},
	item1 = {type=2,id=2,count=15000000},
	item2 = {type=0,id=916,count=7},
	item3 = {type=0,id=906,count=7},
	levelblock = 200,
	costlevel = 25,
	openday = 1,
	tipsid = 412,
},
[8] = {
	level = 8,
	levellimit = 130,
	attrs = {{type=5,value=1600},{type=76,value=15},{type=77,value=31},{type=75,value=1800}},
	item1 = {type=2,id=2,count=25000000},
	item2 = {type=0,id=916,count=12},
	item3 = {type=0,id=906,count=12},
	levelblock = 200,
	costlevel = 30,
	openday = 1,
	tipsid = 412,
},
[9] = {
	level = 9,
	levellimit = 150,
	attrs = {{type=5,value=2000},{type=76,value=17},{type=77,value=35},{type=75,value=2300}},
	item1 = {type=2,id=2,count=40000000},
	item2 = {type=0,id=916,count=20},
	item3 = {type=0,id=906,count=20},
	levelblock = 220,
	costlevel = 35,
	openday = 1,
	tipsid = 412,
},
[10] = {
	level = 10,
	levellimit = 180,
	attrs = {{type=5,value=2400},{type=76,value=19},{type=77,value=39},{type=75,value=2800}},
	item1 = {type=2,id=2,count=60000000},
	item2 = {type=0,id=916,count=25},
	item3 = {type=0,id=906,count=25},
	levelblock = 250,
	costlevel = 40,
	openday = 1,
	tipsid = 412,
},
[11] = {
	level = 11,
	levellimit = 220,
	attrs = {{type=5,value=2800},{type=76,value=22},{type=77,value=45},{type=75,value=3000}},
	item1 = {type=2,id=2,count=80000000},
	item2 = {type=0,id=917,count=12},
	item3 = {type=0,id=907,count=12},
	levelblock = 280,
	costlevel = 45,
	openday = 1,
	tipsid = 412,
},
[12] = {
	level = 12,
	levellimit = 235,
	attrs = {{type=5,value=3200},{type=76,value=25},{type=77,value=50},{type=75,value=3200}},
	item1 = {type=2,id=2,count=100000000},
	item2 = {type=0,id=917,count=17},
	item3 = {type=0,id=907,count=17},
	levelblock = 290,
	costlevel = 50,
	openday = 1,
	tipsid = 412,
},
[13] = {
	level = 13,
	levellimit = 245,
	attrs = {{type=5,value=3600},{type=76,value=28},{type=77,value=53},{type=75,value=3400}},
	item1 = {type=2,id=2,count=120000000},
	item2 = {type=0,id=917,count=21},
	item3 = {type=0,id=907,count=21},
	levelblock = 300,
	costlevel = 55,
	openday = 1,
	tipsid = 412,
},
[14] = {
	level = 14,
	levellimit = 250,
	attrs = {{type=5,value=4000},{type=76,value=32},{type=77,value=58},{type=75,value=3600}},
	item1 = {type=2,id=2,count=140000000},
	item2 = {type=0,id=917,count=28},
	item3 = {type=0,id=907,count=28},
	levelblock = 310,
	costlevel = 60,
	openday = 32,
	tipsid = 412,
},
[15] = {
	level = 15,
	levellimit = 265,
	attrs = {{type=5,value=4500},{type=76,value=36},{type=77,value=65},{type=75,value=3800}},
	item1 = {type=2,id=2,count=160000000},
	item2 = {type=0,id=917,count=35},
	item3 = {type=0,id=907,count=35},
	levelblock = 320,
	costlevel = 60,
	openday = 35,
	tipsid = 412,
},
[16] = {
	level = 16,
	levellimit = 270,
	attrs = {{type=5,value=5000},{type=76,value=42},{type=77,value=72},{type=75,value=4000}},
	item1 = {type=2,id=2,count=180000000},
	item2 = {type=0,id=917,count=42},
	item3 = {type=0,id=907,count=42},
	levelblock = 330,
	costlevel = 60,
	openday = 40,
	tipsid = 412,
},
[17] = {
	level = 17,
	levellimit = 275,
	attrs = {{type=5,value=5500},{type=76,value=48},{type=77,value=79},{type=75,value=4200}},
	item1 = {type=2,id=2,count=200000000},
	item2 = {type=0,id=917,count=49},
	item3 = {type=0,id=907,count=49},
	levelblock = 340,
	costlevel = 60,
	openday = 45,
	tipsid = 412,
},
[18] = {
	level = 18,
	levellimit = 280,
	attrs = {{type=5,value=6000},{type=76,value=54},{type=77,value=86},{type=75,value=4500}},
	item1 = {type=2,id=2,count=220000000},
	item2 = {type=0,id=917,count=56},
	item3 = {type=0,id=907,count=56},
	levelblock = 350,
	costlevel = 60,
	openday = 50,
	tipsid = 412,
},
}