--AA-返利单笔.xlsx 返利表
SingleRebateConfig={
[5001] = {
	[1] = {
		Id = 5001,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.8.09-0:00:00",EndTime="2021.8.10-16:59:59"},
},
		offlineType = 1,
		pay = 10000000,
		awardList = {{type=2,id=2,count=100}},
		mailInfo = {head="过期活动",context="您在累充返利达到%d元宝，请在邮件中领取返利奖励"},
	},
},
}