--C-宠物.xlsx 称号表
lootPetConfig={
[1] = {
	[1] = {
		type = 1,
		id = 1,
		PetName = "多角虫",
		PetTime = 259200,
		attr = {{type=21,value=0},{type=23,value=1},{type=25,value=0},{type=27,value=1}},
		nDropPetLootDistance = 3,
	},
	[5] = {
		type = 1,
		id = 5,
		PetName = "多角虫",
		PetTime = 604800,
		attr = {{type=21,value=0},{type=23,value=1},{type=25,value=0},{type=27,value=1}},
		nDropPetLootDistance = 3,
	},
	[9] = {
		type = 1,
		id = 9,
		PetName = "多角虫",
		PetTime = 86400,
		attr = {{type=21,value=0},{type=23,value=1},{type=25,value=0},{type=27,value=1}},
		nDropPetLootDistance = 3,
	},
	[13] = {
		type = 1,
		id = 13,
		PetName = "多角虫",
		PetTime = 3600,
		attr = {{type=21,value=0},{type=23,value=1},{type=25,value=0},{type=27,value=1}},
		nDropPetLootDistance = 3,
	},
	[17] = {
		type = 1,
		id = 17,
		PetName = "多角虫",
		PetTime = 10800,
		attr = {{type=21,value=0},{type=23,value=1},{type=25,value=0},{type=27,value=1}},
		nDropPetLootDistance = 3,
	},
},
[2] = {
	[2] = {
		type = 2,
		id = 2,
		PetName = "雪狼",
		PetTime = 259200,
		attr = {{type=140,value=500}},
		nDropPetLootDistance = 3,
	},
	[6] = {
		type = 2,
		id = 6,
		PetName = "雪狼",
		PetTime = 604800,
		attr = {{type=140,value=500}},
		nDropPetLootDistance = 3,
	},
	[10] = {
		type = 2,
		id = 10,
		PetName = "雪狼",
		PetTime = 86400,
		attr = {{type=140,value=500}},
		nDropPetLootDistance = 3,
	},
	[14] = {
		type = 2,
		id = 14,
		PetName = "雪狼",
		PetTime = 3600,
		attr = {{type=140,value=500}},
		nDropPetLootDistance = 3,
	},
	[18] = {
		type = 2,
		id = 18,
		PetName = "雪狼",
		PetTime = 10800,
		attr = {{type=140,value=500}},
		nDropPetLootDistance = 3,
	},
},
[3] = {
	[3] = {
		type = 3,
		id = 3,
		PetName = "大眼鹰",
		PetTime = 259200,
		attr = {{type=76,value=1},{type=77,value=3}},
		nDropPetLootDistance = 3,
	},
	[7] = {
		type = 3,
		id = 7,
		PetName = "大眼鹰",
		PetTime = 604800,
		attr = {{type=76,value=1},{type=77,value=3}},
		nDropPetLootDistance = 3,
	},
	[11] = {
		type = 3,
		id = 11,
		PetName = "大眼鹰",
		PetTime = 86400,
		attr = {{type=76,value=1},{type=77,value=3}},
		nDropPetLootDistance = 3,
	},
	[15] = {
		type = 3,
		id = 15,
		PetName = "大眼鹰",
		PetTime = 3600,
		attr = {{type=76,value=1},{type=77,value=3}},
		nDropPetLootDistance = 3,
	},
	[19] = {
		type = 3,
		id = 19,
		PetName = "大眼鹰",
		PetTime = 10800,
		attr = {{type=76,value=1},{type=77,value=3}},
		nDropPetLootDistance = 3,
	},
},
[4] = {
	[4] = {
		type = 4,
		id = 4,
		PetName = "小火灵",
		PetTime = 259200,
		attr = {{type=54,value=100}},
		nDropPetLootDistance = 3,
	},
	[8] = {
		type = 4,
		id = 8,
		PetName = "小火灵",
		PetTime = 604800,
		attr = {{type=54,value=100}},
		nDropPetLootDistance = 3,
	},
	[12] = {
		type = 4,
		id = 12,
		PetName = "小火灵",
		PetTime = 86400,
		attr = {{type=54,value=100}},
		nDropPetLootDistance = 3,
	},
	[16] = {
		type = 4,
		id = 16,
		PetName = "小火灵",
		PetTime = 3600,
		attr = {{type=54,value=100}},
		nDropPetLootDistance = 3,
	},
	[20] = {
		type = 4,
		id = 20,
		PetName = "小火灵",
		PetTime = 10800,
		attr = {{type=54,value=100}},
		nDropPetLootDistance = 3,
	},
},
}