--Q-全局配置.xlsx 剩余背包
BagRemainConfig={
[0] = {
	idx = 0,
	bagremain = {0,16,16},
},
[1] = {
	idx = 1,
	bagremain = {1,11,11},
},
[2] = {
	idx = 2,
	bagremain = {1,11,11},
},
[3] = {
	idx = 3,
	bagremain = {1,11,11},
},
[4] = {
	idx = 4,
	bagremain = {0,16,16},
},
[5] = {
	idx = 5,
	bagremain = {0,5,5},
},
[6] = {
	idx = 6,
	bagremain = {0,16,16},
},
[7] = {
	idx = 7,
	bagremain = {0,16,16},
},
[8] = {
	idx = 8,
	bagremain = {0,11,10},
},
[9] = {
	idx = 9,
	bagremain = {0,20,10},
},
[10] = {
	idx = 10,
	bagremain = {0,16,16},
},
[11] = {
	idx = 11,
	bagremain = {0,10,11},
},
[12] = {
	idx = 12,
	bagremain = {0,11,11},
},
[13] = {
	idx = 13,
	bagremain = {0,10,11},
},
[14] = {
	idx = 14,
	bagremain = {0,16,16},
},
[15] = {
	idx = 15,
	bagremain = {0,16,16},
},
[16] = {
	idx = 16,
	bagremain = {0,16,16},
},
[17] = {
	idx = 17,
	bagremain = {0,12,12},
},
[18] = {
	idx = 18,
	bagremain = {1,11,11},
},
[19] = {
	idx = 19,
	bagremain = {0,25,25},
},
}