--AA-聊天.xlsx 聊天
ChatSystemConfig={
	secretChannelChatCD = 1,
	nearChannelChatCD = 5,
	guideChannelChatCD = 2,
	teamChannelChatCD = 2,
	worldChannelChatCD = 10,
	chatLevelLmt = {{channel=0,level=55,recharge=0},{channel=1,level=48,recharge=0},{channel=2,level=48,recharge=0},{channel=3,level=48,recharge=0},{channel=4,level=60,recharge=0}},
	sp37wLevelLmt = {35, 35, 35, 10, 10},
	nChatSaveLogFlag = 0,
	nAutoSilencing = 3,
	nAutoSilencingSecond = 1*60*60,
	nAutoSilenceLevel = 10,
	nSameChatSliencingCount = 10,
	nSameChatSliencingSecond = 1*60*60,
	nAutoSilenceSameIpShutup = 3,
	rechargeopen = {1, 1, 1, 1, 1},
	showCount = 200,
	vipchat = {3,20,50,80,100,130,150,180},
	counter = 45,
	nDisplay = 30,
}