--Q-全局配置.xlsx 掉落道具
DropItemConfig={
	monsterMaxCoinOneDrop = 20000,
	dropCoinCounts = {1,30,100,300,1000},
	dropCoinIcons = {13006,13007,13008,13009,13010},
	monsterMaxBindCoinOneDrop = 20000,
	dropBindCoinIcons = {1,30,100,300,1000},
	dropBindCoinCounts = {13006,13007,13008,13009,13010},
	nDropItemMasterProtectTime = 30,
	nDropItemNeedTime = 60,
	nDropItemExpireTime = 200,
}