--AAA-版本配置.xlsx 版本配置
editionConf={
	proportion = 100,
	JiaoYiEDuRate = 1000,
	Button = 0,
	privilege = {},
	nosetopenday = 0,
	SecondChargeID = {},
	viplevel = {},
	Createtitle = {},
	NamingRightID = {},
	SimulatorOpen = 0,
	SimulatorSenceId = 3,
	LimitNumber = 0,
	SimulatorCount = 30,
	RankID = {},
}