--Q-全局配置.xlsx 首次登录
FirstLoginConf={
	gameKeyList = {55, 58},
	dressEquip = {1,47},
	warriorItemList = {
{type=0,id=239,count=6},
{type=0,id=571,count=1},
{type=0,id=1242,count=2},
{type=3,id=0,count=100000},
},
	wizardItemList = {
{type=0,id=239,count=6},
{type=0,id=573,count=1},
{type=0,id=1242,count=2},
{type=3,id=0,count=100000},
},
	magicianItemList = {
{type=0,id=239,count=6},
{type=0,id=572,count=1},
{type=0,id=1242,count=2},
{type=3,id=0,count=100000},
},
}