--Q-全局配置.xlsx GlobalConfig
GlobalConf={
	teamLootMaxDistanceSquare = 600,
	teamOpenLevel = 1,
	sceneRefreshMonsterTime = 4,
	initSceneId = 1,
	initScenePosX = 235,
	initScenePosY = 131,
	nOnlineCountBase = 5000,
	fubenDestoryTime = 5,
	openFcm = true,
	fcmHalfExpMoneyTime = 180,
	fcmZeroExpMoneyTime = 300,
	friendChatLmt = 1,
	bindYuanbaoLimit = 999999999,
	moneylimit = 1000000000,
	bindmoneylimit = 1000000000,
	yuanbaolimit = 999999999,
	monsterVectResetInterval = 5000,
	monsterHatredKeepTime = 10,
	quickTimeKick = 30,
	quickRate = 0.32,
	quickBuffId = 536,
	n2StepSkillHitRate = 10000,
	n3StepSkillHitRate = 10000,
	n4StepSkillHitRate = 10000,
	moveSpeedLimit = 0,
	nMailMaxCount = 150,
	MailExpireDays = 30,
	BlinkEnterEffect = 118,
	ScrollEnterEffect = 21,
	DizzyBuffMaxRate = 2000,
	DizzyBuffMaxTime = 7000,
	GuardEffId = 93,
	DizzyBuffTateJob = {10000,8500,8500},
	CritiEffId = 113,
	ParalyEffId = 114,
	FirstChargeID = {10003},
	maxexp = 500000000,
	MaxRankTipId = 3,
	callteam = {{type=0,id=982,count=1}},
	callguild = {{type=0,id=983,count=1}},
	mailbindmoney = 1000000,
	suckblood = {10000,1000},
	zhicanbuff = {128,129},
	CrossMsgDay = 1,
	MaxAttribute54 = 8000,
	MaxAttribute84 = 8000,
}