--AB-特权.xlsx 特权
MonthCardConfig={
[1] = {
	idx = 1,
	name = "免费特权",
	consume = {type=2,id=2,count=10000},
	buyAward = {{type=0,id=474,count=1}},
	dailyAward = {},
},
[2] = {
	idx = 2,
	name = "月卡",
	consume = {type=4,id=4,count=280},
	buyAward = {{type=0,id=249,count=1},{type=0,id=302,count=8}},
	dailyAward = {{type=0,id=302,count=1},{type=0,id=269,count=1},{type=0,id=261,count=5}},
},
[3] = {
	idx = 3,
	name = "大药月卡",
	consume = {type=4,id=4,count=1000},
	buyAward = {{type=3,id=3,count=66},{type=11,id=11,count=5}},
	dailyAward = {{type=0,id=311,count=1}},
},
[4] = {
	idx = 4,
	name = "永久卡",
	consume = {type=4,id=4,count=1580},
	buyAward = {{type=0,id=462,count=1},{type=0,id=468,count=1}},
	dailyAward = {{type=7,id=7,count=10},{type=2,id=2,count=200000}},
},
[5] = {
	idx = 5,
	name = "白卡",
	superRightLV = 1,
	consume = {type=0,id=1242,count=2},
	buyAward = {{type=0,id=474,count=1},{type=0,id=261,count=50},{type=0,id=926,count=1},{type=3,id=3,count=18},{type=0,id=1058,count=1},{type=0,id=300,count=2}},
	dailyAward = {},
},
[6] = {
	idx = 6,
	name = "绿卡",
	superRightLV = 2,
	consume = {type=0,id=1242,count=10},
	buyAward = {{type=0,id=475,count=1},{type=0,id=823,count=1},{type=0,id=261,count=100},{type=0,id=367,count=1},{type=0,id=249,count=2},{type=0,id=927,count=1}},
	dailyAward = {},
},
[7] = {
	idx = 7,
	name = "蓝卡",
	superRightLV = 3,
	consume = {type=0,id=1242,count=20},
	buyAward = {{type=0,id=468,count=1},{type=0,id=507,count=1},{type=0,id=853,count=113},{type=0,id=854,count=113},{type=0,id=249,count=2},{type=0,id=928,count=1}},
	dailyAward = {},
	JiShouCount = 1,
},
[8] = {
	idx = 8,
	name = "紫卡",
	superRightLV = 4,
	consume = {type=0,id=1242,count=70},
	buyAward = {{type=0,id=929,count=1},{type=0,id=976,count=1},{type=0,id=852,count=30},{type=0,id=250,count=2},{type=0,id=853,count=450},{type=0,id=854,count=450}},
	dailyAward = {},
	JiShouCount = 2,
},
[9] = {
	idx = 9,
	name = "橙卡",
	superRightLV = 5,
	consume = {type=0,id=1242,count=220},
	buyAward = {{type=0,id=930,count=1},{type=0,id=824,count=1},{type=0,id=953,count=14},{type=0,id=977,count=1},{type=0,id=300,count=50},{type=0,id=250,count=10},},
	dailyAward = {},
	JiShouCount = 3,
},
[10] = {
	idx = 10,
	name = "首充卡",
	superRightLV = -1,
	AtvPaoDianPlus = 20,
},
[11] = {
	idx = 11,
	name = "白卡",
},
[12] = {
	idx = 12,
	name = "橙星",
	superRightLV = 6,
	consume = {type=0,id=1242,count=250},
	buyAward = {{type=0,id=1073,count=1},{type=0,id=1146,count=1},{type=0,id=1066,count=300},{type=0,id=1115,count=1},{type=0,id=970,count=666},{type=0,id=300,count=100},},
	dailyAward = {},
	JiShouCount = 3,
},
[13] = {
	idx = 13,
	name = "橙月",
	superRightLV = 7,
	consume = {type=0,id=1242,count=350},
	buyAward = {{type=0,id=1273,count=1},{type=0,id=1272,count=1},{type=0,id=1241,count=1},{type=0,id=265,count=1888},{type=0,id=970,count=666},{type=0,id=852,count=158},},
	dailyAward = {},
	JiShouCount = 3,
},
}