--P-平台福利鲁大师.xlsx 会员礼包
ludashimemberConfig={
[1] = {
	id = 1,
	type = 1,
	level = 1,
	reward = {{type=0,id=1277,count=1}},
	reward1 = {{type=0,id=269,count=1},{type=7,id=7,count=2},{type=2,id=2,count=10000}},
},
[2] = {
	id = 2,
	type = 1,
	level = 3,
	reward = {{type=0,id=1277,count=1}},
	reward1 = {{type=0,id=269,count=1},{type=7,id=7,count=2},{type=2,id=2,count=10000}},
},
[3] = {
	id = 3,
	type = 2,
	level = 1,
	reward = {{type=0,id=1277,count=1}},
	reward1 = {{type=0,id=269,count=1},{type=7,id=7,count=2},{type=2,id=2,count=10000}},
},
[4] = {
	id = 4,
	type = 2,
	level = 3,
	reward = {{type=0,id=1277,count=1}},
	reward1 = {{type=0,id=269,count=1},{type=7,id=7,count=2},{type=2,id=2,count=10000}},
},
}