--Q-全局配置.xlsx 复活
ReliveConfig={
[1] = {
	idx = 1,
	expire = 120,
	VipRevive = 120,
	autoType = 1,
	RecoverRatio = {
hp=10,
mp=100
},
	limit = -1,
	selectInfo = {
{type=4,limit=-1,hp=10,mp=10},
{type=6,limit=-1,hp=10,mp=10},

},
	description = 1,
},
[2] = {
	idx = 2,
	expire = 10,
	VipRevive = 5,
	autoType = 3,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
},
	description = 3,
},
[3] = {
	idx = 3,
	expire = 10,
	VipRevive = 5,
	autoType = 4,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
},
	description = 2,
},
[4] = {
	idx = 4,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=25,y=17},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[5] = {
	idx = 5,
	expire = 10,
	VipRevive = 5,
	autoType = 1,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
{type=4,limit=-1,hp=100,mp=100},
},
	description = 1,
},
[6] = {
	idx = 6,
	expire = 10,
	VipRevive = 5,
	autoType = 6,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=16,y=9},
	limit = -1,
	selectInfo = {
},
	description = 3,
	camprevive = {
nEnterRangeA = {166,62,41,4,3},
 nEnterRangeB = {166,16,9,4,3},
},
},
[7] = {
	idx = 7,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=20,y=15},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[8] = {
	idx = 8,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=11,y=20},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[9] = {
	idx = 9,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=20,y=15},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[10] = {
	idx = 10,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=11,y=20},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[11] = {
	idx = 11,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=20,y=15},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[12] = {
	idx = 12,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=11,y=20},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[13] = {
	idx = 13,
	expire = 10,
	VipRevive = 5,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=20,y=15},
	limit = -1,
	selectInfo = {
{type=1,consume={type=4,id=4,count=10},limit=-1,hp=100,mp=100},
},
	description = 3,
},
[14] = {
	idx = 14,
	expire = 3,
	VipRevive = 2,
	autoType = 4,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
},
	description = 2,
},
[15] = {
	idx = 15,
	expire = 12,
	VipRevive = 6,
	autoType = 3,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
},
	description = 3,
},
[16] = {
	idx = 16,
	expire = 12,
	VipRevive = 6,
	autoType = 6,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=16,y=9},
	limit = -1,
	selectInfo = {
},
	description = 3,
	camprevive = {
nEnterRangeA = {166,62,41,4,3},
 nEnterRangeB = {166,16,9,4,3},
},
},
[17] = {
	idx = 17,
	expire = 12,
	VipRevive = 6,
	autoType = 5,
	RecoverRatio = {
hp=100,
mp=100
},
	FixedPosi = {x=17,y=11},
	limit = -1,
	selectInfo = {
},
	description = 3,
},
[18] = {
	idx = 18,
	expire = 12,
	VipRevive = 6,
	autoType = 3,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
},
	description = 3,
},
[19] = {
	idx = 19,
	expire = 12,
	VipRevive = 6,
	autoType = 3,
	RecoverRatio = {
hp=100,
mp=100
},
	limit = -1,
	selectInfo = {
},
	description = 3,
},
}