--S-水晶鉴定.xlsx 鉴定界面
AppraisalMainConfig = {
[3] = {
	[1] = {
		activityId = 3,
		id = 1,
		title = "超值鉴定",
		serveropenday = {level=999,openDay=999},
		frequency = 3,
		number = {{type=0,id=302,count=1}},
		gold = {{type=2,id=2,count=0}},
		mexp = 100000000,
		gexp = 800000,
		iscostfree = 0,
	},
	[2] = {
		activityId = 3,
		id = 2,
		title = "消耗2水晶鉴定",
		serveropenday = {level=999,openDay=999},
		frequency = 5,
		number = {{type=0,id=302,count=2}},
		gold = {{type=2,id=2,count=1000}},
		mexp = 100000000,
		gexp = 800000,
		iscostfree = 1,
	},
	[3] = {
		activityId = 3,
		id = 3,
		title = "消耗3水晶鉴定",
		serveropenday = {level=999,openDay=999},
		frequency = 5,
		number = {{type=0,id=302,count=3}},
		gold = {{type=2,id=2,count=2000}},
		mexp = 100000000,
		gexp = 800000,
		iscostfree = 1,
	},
	[4] = {
		activityId = 3,
		id = 4,
		title = "消耗5水晶鉴定",
		serveropenday = {level=999,openDay=999},
		frequency = -1,
		number = {{type=0,id=302,count=5}},
		gold = {{type=2,id=2,count=5000}},
		mexp = 100000000,
		gexp = 800000,
	},
},
}