--Z-职业配置.xlsx ActorInitConfig
ActorInitConfig={
	InitAttrs = {
{type=47,value=8},
{type=49,value=20},
},
	nMoveSpeed = 600,
	nDefaultAttackSpeed = 500,
	nCreateInitFb = {
{
token = 0,
nFbId = 0,
createPos =
{
    {nScenceID = 1,nPosX =470, nPosY =306,},
    {nScenceID = 1,nPosX =471, nPosY =306,},
    {nScenceID = 1,nPosX =472, nPosY =306,},
    {nScenceID = 1,nPosX =470, nPosY =307,},
   }
  },--传奇村
},
}
