--Z-职业配置.xlsx VocationConfig
VocationConfig = {
[0] = {
	id = 0,
	nDefaultMaleModelID = 0,
	nDefaultFemaleModelID = 0,
	nFireDefenseRate = 0,
	nNearAttackType = 0,
	nNearAttackDis = 0,
	nManIcon = 0,
	nFemaleIcon = 0,
},
[1] = {
	id = 1,
	nDefaultMaleModelID = 1,
	nDefaultFemaleModelID = 2,
	nFireDefenseRate = 0,
	nNearAttackType = 1,
	nNearAttackDis = 1,
	nManIcon = 1,
	nFemaleIcon = 1,
},
[2] = {
	id = 2,
	nDefaultMaleModelID = 1,
	nDefaultFemaleModelID = 2,
	nFireDefenseRate = 0,
	nNearAttackType = 2,
	nNearAttackDis = 1,
	nManIcon = 1,
	nFemaleIcon = 1,
},
[3] = {
	id = 3,
	nDefaultMaleModelID = 1,
	nDefaultFemaleModelID = 2,
	nFireDefenseRate = 0,
	nNearAttackType = 3,
	nNearAttackDis = 1,
	nManIcon = 1,
	nFemaleIcon = 1,
},
}