--AC-兵魂.xlsx 兵魂参数
soulWeaponConfig = {
	saviorPercen = 3000,
	poisonbuff = {307,308},
	FrozenAddValue = 50,
	FrozenTime = 4000,
	reduceAttack = 5000,
	reduceAttackMon = {305},
	toBuffResidueHP = 4500,
	MaxFrozen = 800,
	TXsaviorPercen = 123,
	TXpoisonbuff = 125,
	TXFrozen = 121,
	TXResidueHP = 126,
	saviorBuffid = {244},
	FrozenBuffId = 306,
	FrozenTimes = 5,
}