--AC-兵魂.xlsx 兵魂洗炼
soulWpRefiningConfig = {
[1] = {
	type = 1,
	attribute = 11,
	rate = 100,
	drop = {{rate=30,type=5,value=20,followrate=20,followcount=6},{rate=30,type=23,value=1,followrate=20,followcount=6},{rate=30,type=27,value=1,followrate=20,followcount=6},{rate=30,type=81,value=100,followrate=20,followcount=6},{rate=30,type=101,value=5,followrate=20,followcount=6},{rate=30,type=54,value=50,followrate=20,followcount=6}},
	consume = {{type=0,id=480,count=10},{type=0,id=1063,count=5}},
	limit = {{pos=1,lv=7}},
	limitMsg = "救主灵刃7阶后可洗炼",
},
[2] = {
	type = 2,
	attribute = 12,
	rate = 100,
	drop = {{rate=30,type=11,value=1,followrate=20,followcount=6},{rate=30,type=15,value=1,followrate=20,followcount=6},{rate=30,type=19,value=1,followrate=20,followcount=6},{rate=30,type=79,value=50,followrate=20,followcount=6},{rate=30,type=83,value=200,followrate=20,followcount=6},{rate=30,type=136,value=200,followrate=20,followcount=6}},
	consume = {{type=0,id=480,count=10},{type=0,id=1064,count=5}},
	limit = {{pos=2,lv=7}},
	limitMsg = "剧毒裁决7阶后可洗炼",
},
[3] = {
	type = 3,
	attribute = 13,
	rate = 100,
	drop = {{rate=30,type=5,value=20,followrate=20,followcount=6},{rate=30,type=23,value=1,followrate=20,followcount=6},{rate=30,type=27,value=1,followrate=20,followcount=6},{rate=30,type=81,value=100,followrate=20,followcount=6},{rate=30,type=101,value=5,followrate=20,followcount=6},{rate=30,type=80,value=50,followrate=20,followcount=6}},
	consume = {{type=0,id=480,count=10},{type=0,id=1065,count=5}},
	limit = {{pos=3,lv=7}},
	limitMsg = "霜之哀伤7阶后可洗炼",
},
[4] = {
	type = 4,
	attribute = 14,
	rate = 100,
	drop = {{rate=30,type=11,value=1,followrate=20,followcount=6},{rate=30,type=15,value=1,followrate=20,followcount=6},{rate=30,type=19,value=1,followrate=20,followcount=6},{rate=30,type=6,value=100,followrate=20,followcount=6},{rate=30,type=116,value=5,followrate=20,followcount=6},{rate=30,type=136,value=100,followrate=20,followcount=6}},
	consume = {{type=0,id=480,count=10},{type=0,id=1066,count=5}},
	limit = {{pos=4,lv=7}},
	limitMsg = "血饮狂刀7阶后可洗炼",
},
}