--AC-兵魂.xlsx 兵魂升阶
soulWeaponLorderConfig = {
[1] = {
	[0] = {
		pos = 1,
		lv = 0,
		cost = {{type=0,id=1059,count=0}},
		attr = { { type = 85, value = 0,}, { type = 86, value = 0,}, { type = 87, value = 0,}, } ,
	},
	[1] = {
		pos = 1,
		lv = 1,
		cost = {{type=0,id=1059,count=1}},
		attr = { { type = 85, value = 600000,}, { type = 86, value = 1000,}, { type = 87, value = 500,}, } ,
		buffid = {244},
	},
	[2] = {
		pos = 1,
		lv = 2,
		cost = {{type=0,id=1059,count=2}},
		attr = { { type = 85, value = 590000,}, { type = 86, value = 1200,}, { type = 87, value = 1000,}, } ,
		buffid = {244},
	},
	[3] = {
		pos = 1,
		lv = 3,
		cost = {{type=0,id=1059,count=3}},
		attr = { { type = 85, value = 580000,}, { type = 86, value = 1400,}, { type = 87, value = 1500,}, } ,
		buffid = {244},
	},
	[4] = {
		pos = 1,
		lv = 4,
		cost = {{type=0,id=1059,count=4}},
		attr = { { type = 85, value = 570000,}, { type = 86, value = 1600,}, { type = 87, value = 2000,}, } ,
		buffid = {244},
	},
	[5] = {
		pos = 1,
		lv = 5,
		cost = {{type=0,id=1059,count=5}},
		attr = { { type = 85, value = 560000,}, { type = 86, value = 1800,}, { type = 87, value = 2500,}, } ,
		buffid = {244},
	},
	[6] = {
		pos = 1,
		lv = 6,
		cost = {{type=0,id=1059,count=6}},
		attr = { { type = 85, value = 550000,}, { type = 86, value = 2000,}, { type = 87, value = 3000,}, } ,
		buffid = {244},
	},
	[7] = {
		pos = 1,
		lv = 7,
		cost = {{type=0,id=1059,count=7}},
		attr = { { type = 85, value = 540000,}, { type = 86, value = 2200,}, { type = 87, value = 3500,}, } ,
		buffid = {244},
	},
	[8] = {
		pos = 1,
		lv = 8,
		cost = {{type=0,id=1059,count=8}},
		attr = { { type = 85, value = 530000,}, { type = 86, value = 2400,}, { type = 87, value = 4000,}, } ,
		buffid = {244},
	},
	[9] = {
		pos = 1,
		lv = 9,
		cost = {{type=0,id=1059,count=9}},
		attr = { { type = 85, value = 520000,}, { type = 86, value = 2600,}, { type = 87, value = 4500,}, } ,
		buffid = {244},
	},
	[10] = {
		pos = 1,
		lv = 10,
		cost = {{type=0,id=1059,count=10}},
		attr = { { type = 85, value = 510000,}, { type = 86, value = 2800,}, { type = 87, value = 5000,}, } ,
		buffid = {244},
	},
	[11] = {
		pos = 1,
		lv = 11,
		cost = {{type=0,id=1059,count=11}},
		attr = { { type = 85, value = 500000,}, { type = 86, value = 3000,}, { type = 87, value = 5500,}, } ,
		buffid = {244},
	},
	[12] = {
		pos = 1,
		lv = 12,
		cost = {{type=0,id=1059,count=12}},
		attr = { { type = 85, value = 490000,}, { type = 86, value = 3200,}, { type = 87, value = 6000,}, } ,
		buffid = {244},
	},
	[13] = {
		pos = 1,
		lv = 13,
		cost = {{type=0,id=1059,count=13}},
		attr = { { type = 85, value = 480000,}, { type = 86, value = 3400,}, { type = 87, value = 6500,}, } ,
		buffid = {244},
	},
	[14] = {
		pos = 1,
		lv = 14,
		cost = {{type=0,id=1059,count=14}},
		attr = { { type = 85, value = 470000,}, { type = 86, value = 3600,}, { type = 87, value = 7000,}, } ,
		buffid = {244},
	},
	[15] = {
		pos = 1,
		lv = 15,
		cost = {{type=0,id=1059,count=15}},
		attr = { { type = 85, value = 460000,}, { type = 86, value = 3800,}, { type = 87, value = 7500,}, } ,
		buffid = {244},
	},
	[16] = {
		pos = 1,
		lv = 16,
		cost = {{type=0,id=1059,count=16}},
		attr = { { type = 85, value = 450000,}, { type = 86, value = 4000,}, { type = 87, value = 8000,}, } ,
		buffid = {244},
	},
	[17] = {
		pos = 1,
		lv = 17,
		cost = {{type=0,id=1059,count=17}},
		attr = { { type = 85, value = 440000,}, { type = 86, value = 4200,}, { type = 87, value = 8500,}, } ,
		buffid = {244},
	},
	[18] = {
		pos = 1,
		lv = 18,
		cost = {{type=0,id=1059,count=18}},
		attr = { { type = 85, value = 430000,}, { type = 86, value = 4400,}, { type = 87, value = 9000,}, } ,
		buffid = {244},
	},
	[19] = {
		pos = 1,
		lv = 19,
		cost = {{type=0,id=1059,count=19}},
		attr = { { type = 85, value = 420000,}, { type = 86, value = 4600,}, { type = 87, value = 9500,}, } ,
		buffid = {244},
	},
	[20] = {
		pos = 1,
		lv = 20,
		cost = {{type=0,id=1059,count=20}},
		attr = { { type = 85, value = 400000,}, { type = 86, value = 5000,}, { type = 87, value = 10000,}, } ,
		buffid = {244},
	},
},
[2] = {
	[0] = {
		pos = 2,
		lv = 0,
		cost = {{type=0,id=1060,count=0}},
		attr = { { type = 88, value = 0,}, { type = 89, value = 0,}, } ,
	},
	[1] = {
		pos = 2,
		lv = 1,
		cost = {{type=0,id=1060,count=1}},
		attr = { { type = 88, value = 30,}, { type = 89, value = 30,}, } ,
	},
	[2] = {
		pos = 2,
		lv = 2,
		cost = {{type=0,id=1060,count=2}},
		attr = { { type = 88, value = 50,}, { type = 89, value = 60,}, } ,
	},
	[3] = {
		pos = 2,
		lv = 3,
		cost = {{type=0,id=1060,count=3}},
		attr = { { type = 88, value = 70,}, { type = 89, value = 100,}, } ,
	},
	[4] = {
		pos = 2,
		lv = 4,
		cost = {{type=0,id=1060,count=4}},
		attr = { { type = 88, value = 90,}, { type = 89, value = 300,}, } ,
	},
	[5] = {
		pos = 2,
		lv = 5,
		cost = {{type=0,id=1060,count=5}},
		attr = { { type = 88, value = 110,}, { type = 89, value = 500,}, } ,
	},
	[6] = {
		pos = 2,
		lv = 6,
		cost = {{type=0,id=1060,count=6}},
		attr = { { type = 88, value = 130,}, { type = 89, value = 700,}, } ,
	},
	[7] = {
		pos = 2,
		lv = 7,
		cost = {{type=0,id=1060,count=7}},
		attr = { { type = 88, value = 150,}, { type = 89, value = 900,}, } ,
	},
	[8] = {
		pos = 2,
		lv = 8,
		cost = {{type=0,id=1060,count=8}},
		attr = { { type = 88, value = 170,}, { type = 89, value = 1100,}, } ,
	},
	[9] = {
		pos = 2,
		lv = 9,
		cost = {{type=0,id=1060,count=9}},
		attr = { { type = 88, value = 190,}, { type = 89, value = 1300,}, } ,
	},
	[10] = {
		pos = 2,
		lv = 10,
		cost = {{type=0,id=1060,count=10}},
		attr = { { type = 88, value = 210,}, { type = 89, value = 1500,}, } ,
	},
	[11] = {
		pos = 2,
		lv = 11,
		cost = {{type=0,id=1060,count=11}},
		attr = { { type = 88, value = 230,}, { type = 89, value = 1700,}, } ,
	},
	[12] = {
		pos = 2,
		lv = 12,
		cost = {{type=0,id=1060,count=12}},
		attr = { { type = 88, value = 250,}, { type = 89, value = 1900,}, } ,
	},
	[13] = {
		pos = 2,
		lv = 13,
		cost = {{type=0,id=1060,count=13}},
		attr = { { type = 88, value = 270,}, { type = 89, value = 2100,}, } ,
	},
	[14] = {
		pos = 2,
		lv = 14,
		cost = {{type=0,id=1060,count=14}},
		attr = { { type = 88, value = 290,}, { type = 89, value = 2300,}, } ,
	},
	[15] = {
		pos = 2,
		lv = 15,
		cost = {{type=0,id=1060,count=15}},
		attr = { { type = 88, value = 300,}, { type = 89, value = 2500,}, } ,
	},
	[16] = {
		pos = 2,
		lv = 16,
		cost = {{type=0,id=1060,count=16}},
		attr = { { type = 88, value = 310,}, { type = 89, value = 2700,}, } ,
	},
	[17] = {
		pos = 2,
		lv = 17,
		cost = {{type=0,id=1060,count=17}},
		attr = { { type = 88, value = 320,}, { type = 89, value = 2900,}, } ,
	},
	[18] = {
		pos = 2,
		lv = 18,
		cost = {{type=0,id=1060,count=18}},
		attr = { { type = 88, value = 330,}, { type = 89, value = 3100,}, } ,
	},
	[19] = {
		pos = 2,
		lv = 19,
		cost = {{type=0,id=1060,count=19}},
		attr = { { type = 88, value = 340,}, { type = 89, value = 3300,}, } ,
	},
	[20] = {
		pos = 2,
		lv = 20,
		cost = {{type=0,id=1060,count=20}},
		attr = { { type = 88, value = 350,}, { type = 89, value = 3500,}, } ,
	},
},
[3] = {
	[0] = {
		pos = 3,
		lv = 0,
		cost = {{type=0,id=1061,count=0}},
		attr = { { type = 91, value = 0,}, } ,
	},
	[1] = {
		pos = 3,
		lv = 1,
		cost = {{type=0,id=1061,count=3}},
		attr = { { type = 91, value = 10,}, } ,
	},
	[2] = {
		pos = 3,
		lv = 2,
		cost = {{type=0,id=1061,count=6}},
		attr = { { type = 91, value = 20,}, } ,
	},
	[3] = {
		pos = 3,
		lv = 3,
		cost = {{type=0,id=1061,count=9}},
		attr = { { type = 91, value = 30,}, } ,
	},
	[4] = {
		pos = 3,
		lv = 4,
		cost = {{type=0,id=1061,count=12}},
		attr = { { type = 91, value = 40,}, } ,
	},
	[5] = {
		pos = 3,
		lv = 5,
		cost = {{type=0,id=1061,count=15}},
		attr = { { type = 91, value = 50,}, } ,
	},
	[6] = {
		pos = 3,
		lv = 6,
		cost = {{type=0,id=1061,count=18}},
		attr = { { type = 91, value = 60,}, } ,
	},
	[7] = {
		pos = 3,
		lv = 7,
		cost = {{type=0,id=1061,count=21}},
		attr = { { type = 91, value = 70,}, } ,
	},
	[8] = {
		pos = 3,
		lv = 8,
		cost = {{type=0,id=1061,count=24}},
		attr = { { type = 91, value = 80,}, } ,
	},
	[9] = {
		pos = 3,
		lv = 9,
		cost = {{type=0,id=1061,count=27}},
		attr = { { type = 91, value = 90,}, } ,
	},
	[10] = {
		pos = 3,
		lv = 10,
		cost = {{type=0,id=1061,count=30}},
		attr = { { type = 91, value = 100,}, } ,
	},
	[11] = {
		pos = 3,
		lv = 11,
		cost = {{type=0,id=1061,count=33}},
		attr = { { type = 91, value = 110,}, } ,
	},
	[12] = {
		pos = 3,
		lv = 12,
		cost = {{type=0,id=1061,count=36}},
		attr = { { type = 91, value = 120,}, } ,
	},
	[13] = {
		pos = 3,
		lv = 13,
		cost = {{type=0,id=1061,count=39}},
		attr = { { type = 91, value = 130,}, } ,
	},
	[14] = {
		pos = 3,
		lv = 14,
		cost = {{type=0,id=1061,count=42}},
		attr = { { type = 91, value = 140,}, } ,
	},
	[15] = {
		pos = 3,
		lv = 15,
		cost = {{type=0,id=1061,count=45}},
		attr = { { type = 91, value = 150,}, } ,
	},
	[16] = {
		pos = 3,
		lv = 16,
		cost = {{type=0,id=1061,count=48}},
		attr = { { type = 91, value = 160,}, } ,
	},
	[17] = {
		pos = 3,
		lv = 17,
		cost = {{type=0,id=1061,count=51}},
		attr = { { type = 91, value = 170,}, } ,
	},
	[18] = {
		pos = 3,
		lv = 18,
		cost = {{type=0,id=1061,count=54}},
		attr = { { type = 91, value = 180,}, } ,
	},
	[19] = {
		pos = 3,
		lv = 19,
		cost = {{type=0,id=1061,count=57}},
		attr = { { type = 91, value = 190,}, } ,
	},
	[20] = {
		pos = 3,
		lv = 20,
		cost = {{type=0,id=1061,count=60}},
		attr = { { type = 91, value = 200,}, } ,
	},
},
[4] = {
	[0] = {
		pos = 4,
		lv = 0,
		cost = {{type=0,id=1062,count=0}},
		attr = {{type=47,value=0},},
	},
	[1] = {
		pos = 4,
		lv = 1,
		cost = {{type=0,id=1062,count=1}},
		attr = {{type=47,value=5},},
		buffid = {245,265,285},
	},
	[2] = {
		pos = 4,
		lv = 2,
		cost = {{type=0,id=1062,count=2}},
		attr = {{type=47,value=10},},
		buffid = {246,266,286},
	},
	[3] = {
		pos = 4,
		lv = 3,
		cost = {{type=0,id=1062,count=3}},
		attr = {{type=47,value=15},},
		buffid = {247,267,287},
	},
	[4] = {
		pos = 4,
		lv = 4,
		cost = {{type=0,id=1062,count=4}},
		attr = {{type=47,value=20},},
		buffid = {248,268,288},
	},
	[5] = {
		pos = 4,
		lv = 5,
		cost = {{type=0,id=1062,count=5}},
		attr = {{type=47,value=25},},
		buffid = {249,269,289},
	},
	[6] = {
		pos = 4,
		lv = 6,
		cost = {{type=0,id=1062,count=6}},
		attr = {{type=47,value=30},},
		buffid = {250,270,290},
	},
	[7] = {
		pos = 4,
		lv = 7,
		cost = {{type=0,id=1062,count=7}},
		attr = {{type=47,value=35},},
		buffid = {251,271,291},
	},
	[8] = {
		pos = 4,
		lv = 8,
		cost = {{type=0,id=1062,count=8}},
		attr = {{type=47,value=40},},
		buffid = {252,272,292},
	},
	[9] = {
		pos = 4,
		lv = 9,
		cost = {{type=0,id=1062,count=9}},
		attr = {{type=47,value=45},},
		buffid = {253,273,293},
	},
	[10] = {
		pos = 4,
		lv = 10,
		cost = {{type=0,id=1062,count=10}},
		attr = {{type=47,value=50},},
		buffid = {254,274,294},
	},
	[11] = {
		pos = 4,
		lv = 11,
		cost = {{type=0,id=1062,count=11}},
		attr = {{type=47,value=55},},
		buffid = {255,275,295},
	},
	[12] = {
		pos = 4,
		lv = 12,
		cost = {{type=0,id=1062,count=12}},
		attr = {{type=47,value=60},},
		buffid = {256,276,296},
	},
	[13] = {
		pos = 4,
		lv = 13,
		cost = {{type=0,id=1062,count=13}},
		attr = {{type=47,value=65},},
		buffid = {257,277,297},
	},
	[14] = {
		pos = 4,
		lv = 14,
		cost = {{type=0,id=1062,count=14}},
		attr = {{type=47,value=70},},
		buffid = {258,278,298},
	},
	[15] = {
		pos = 4,
		lv = 15,
		cost = {{type=0,id=1062,count=15}},
		attr = {{type=47,value=75},},
		buffid = {259,279,299},
	},
	[16] = {
		pos = 4,
		lv = 16,
		cost = {{type=0,id=1062,count=16}},
		attr = {{type=47,value=80},},
		buffid = {260,280,300},
	},
	[17] = {
		pos = 4,
		lv = 17,
		cost = {{type=0,id=1062,count=17}},
		attr = {{type=47,value=85},},
		buffid = {261,281,301},
	},
	[18] = {
		pos = 4,
		lv = 18,
		cost = {{type=0,id=1062,count=18}},
		attr = {{type=47,value=90},},
		buffid = {262,282,302},
	},
	[19] = {
		pos = 4,
		lv = 19,
		cost = {{type=0,id=1062,count=19}},
		attr = {{type=47,value=95},},
		buffid = {263,283,303},
	},
	[20] = {
		pos = 4,
		lv = 20,
		cost = {{type=0,id=1062,count=20}},
		attr = {{type=47,value=100},},
		buffid = {264,284,304},
	},
},
}