--AC-兵魂.xlsx 兵魂升级
soulWeaponLvConfig = {
[1] = {
	[0] = {
		pos = 1,
		lv = 0,
		cost = {},
		attr = {{type=5,value=0},{type=76,value=0},{type=77,value=0},{type=21,value=0},{type=23,value=0},{type=25,value=0},{type=27,value=0},},
	},
	[1] = {
		pos = 1,
		lv = 1,
		cost = {{type=0,id=1063,count=1},},
		attr = {{type=5,value=40},{type=21,value=1},{type=23,value=1},{type=25,value=1},{type=27,value=1},{type=76,value=1},{type=77,value=3},},
	},
	[2] = {
		pos = 1,
		lv = 2,
		cost = {{type=0,id=1063,count=2},},
		attr = {{type=5,value=80},{type=21,value=2},{type=23,value=2},{type=25,value=2},{type=27,value=2},{type=76,value=3},{type=77,value=5},},
	},
	[3] = {
		pos = 1,
		lv = 3,
		cost = {{type=0,id=1063,count=3},},
		attr = {{type=5,value=120},{type=21,value=3},{type=23,value=3},{type=25,value=3},{type=27,value=3},{type=76,value=5},{type=77,value=7},},
	},
	[4] = {
		pos = 1,
		lv = 4,
		cost = {{type=0,id=1063,count=5},},
		attr = {{type=5,value=160},{type=21,value=4},{type=23,value=4},{type=25,value=4},{type=27,value=4},{type=76,value=7},{type=77,value=9},},
	},
	[5] = {
		pos = 1,
		lv = 5,
		cost = {{type=0,id=1063,count=10},},
		attr = {{type=5,value=200},{type=21,value=5},{type=23,value=5},{type=25,value=5},{type=27,value=5},{type=76,value=9},{type=77,value=11},},
	},
	[6] = {
		pos = 1,
		lv = 6,
		cost = {{type=0,id=1063,count=10},},
		attr = {{type=5,value=300},{type=21,value=6},{type=23,value=6},{type=25,value=6},{type=27,value=6},{type=76,value=13},{type=77,value=17},},
	},
	[7] = {
		pos = 1,
		lv = 7,
		cost = {{type=0,id=1063,count=10},},
		attr = {{type=5,value=400},{type=21,value=7},{type=23,value=7},{type=25,value=7},{type=27,value=7},{type=76,value=17},{type=77,value=23},},
	},
	[8] = {
		pos = 1,
		lv = 8,
		cost = {{type=0,id=1063,count=10},},
		attr = {{type=5,value=500},{type=21,value=8},{type=23,value=8},{type=25,value=8},{type=27,value=8},{type=76,value=21},{type=77,value=29},},
	},
	[9] = {
		pos = 1,
		lv = 9,
		cost = {{type=0,id=1063,count=10},},
		attr = {{type=5,value=600},{type=21,value=9},{type=23,value=9},{type=25,value=9},{type=27,value=9},{type=76,value=25},{type=77,value=35},},
	},
	[10] = {
		pos = 1,
		lv = 10,
		cost = {{type=0,id=1063,count=20},},
		attr = {{type=5,value=700},{type=21,value=10},{type=23,value=10},{type=25,value=10},{type=27,value=10},{type=76,value=29},{type=77,value=41},},
	},
	[11] = {
		pos = 1,
		lv = 11,
		cost = {{type=0,id=1063,count=20},},
		attr = {{type=5,value=850},{type=21,value=11},{type=23,value=11},{type=25,value=11},{type=27,value=11},{type=76,value=36},{type=77,value=49},},
	},
	[12] = {
		pos = 1,
		lv = 12,
		cost = {{type=0,id=1063,count=20},},
		attr = {{type=5,value=1000},{type=21,value=12},{type=23,value=12},{type=25,value=12},{type=27,value=12},{type=76,value=43},{type=77,value=57},},
	},
	[13] = {
		pos = 1,
		lv = 13,
		cost = {{type=0,id=1063,count=20},},
		attr = {{type=5,value=1150},{type=21,value=13},{type=23,value=13},{type=25,value=13},{type=27,value=13},{type=76,value=50},{type=77,value=65},},
	},
	[14] = {
		pos = 1,
		lv = 14,
		cost = {{type=0,id=1063,count=20},},
		attr = {{type=5,value=1300},{type=21,value=14},{type=23,value=14},{type=25,value=14},{type=27,value=14},{type=76,value=57},{type=77,value=73},},
	},
	[15] = {
		pos = 1,
		lv = 15,
		cost = {{type=0,id=1063,count=35},},
		attr = {{type=5,value=1450},{type=21,value=15},{type=23,value=15},{type=25,value=15},{type=27,value=15},{type=76,value=64},{type=77,value=81},},
	},
	[16] = {
		pos = 1,
		lv = 16,
		cost = {{type=0,id=1063,count=35},},
		attr = {{type=5,value=1650},{type=21,value=16},{type=23,value=16},{type=25,value=16},{type=27,value=16},{type=76,value=73},{type=77,value=92},},
	},
	[17] = {
		pos = 1,
		lv = 17,
		cost = {{type=0,id=1063,count=35},},
		attr = {{type=5,value=1850},{type=21,value=17},{type=23,value=17},{type=25,value=17},{type=27,value=17},{type=76,value=82},{type=77,value=103},},
	},
	[18] = {
		pos = 1,
		lv = 18,
		cost = {{type=0,id=1063,count=35},},
		attr = {{type=5,value=2050},{type=21,value=18},{type=23,value=18},{type=25,value=18},{type=27,value=18},{type=76,value=91},{type=77,value=114},},
	},
	[19] = {
		pos = 1,
		lv = 19,
		cost = {{type=0,id=1063,count=35},},
		attr = {{type=5,value=2250},{type=21,value=19},{type=23,value=19},{type=25,value=19},{type=27,value=19},{type=76,value=100},{type=77,value=125},},
	},
	[20] = {
		pos = 1,
		lv = 20,
		cost = {{type=0,id=1063,count=60},},
		attr = {{type=5,value=2450},{type=21,value=20},{type=23,value=20},{type=25,value=20},{type=27,value=20},{type=76,value=109},{type=77,value=136},},
	},
	[21] = {
		pos = 1,
		lv = 21,
		cost = {{type=0,id=1063,count=60},},
		attr = {{type=5,value=2700},{type=21,value=21},{type=23,value=21},{type=25,value=21},{type=27,value=21},{type=76,value=119},{type=77,value=151},},
	},
	[22] = {
		pos = 1,
		lv = 22,
		cost = {{type=0,id=1063,count=90},},
		attr = {{type=5,value=2950},{type=21,value=22},{type=23,value=22},{type=25,value=22},{type=27,value=22},{type=76,value=129},{type=77,value=186},},
	},
	[23] = {
		pos = 1,
		lv = 23,
		cost = {{type=0,id=1063,count=90},},
		attr = {{type=5,value=3200},{type=21,value=23},{type=23,value=23},{type=25,value=23},{type=27,value=23},{type=76,value=139},{type=77,value=211},},
	},
	[24] = {
		pos = 1,
		lv = 24,
		cost = {{type=0,id=1063,count=100},},
		attr = {{type=5,value=3450},{type=21,value=24},{type=23,value=24},{type=25,value=24},{type=27,value=24},{type=76,value=149},{type=77,value=231},},
	},
	[25] = {
		pos = 1,
		lv = 25,
		cost = {{type=0,id=1063,count=110},},
		attr = {{type=5,value=3700},{type=21,value=25},{type=23,value=25},{type=25,value=25},{type=27,value=25},{type=76,value=160},{type=77,value=251},},
	},
	[26] = {
		pos = 1,
		lv = 26,
		cost = {{type=0,id=1063,count=120},},
		attr = {{type=5,value=3950},{type=21,value=26},{type=23,value=26},{type=25,value=26},{type=27,value=26},{type=76,value=171},{type=77,value=271},},
	},
	[27] = {
		pos = 1,
		lv = 27,
		cost = {{type=0,id=1063,count=130},},
		attr = {{type=5,value=4200},{type=21,value=27},{type=23,value=27},{type=25,value=27},{type=27,value=27},{type=76,value=182},{type=77,value=291},},
	},
	[28] = {
		pos = 1,
		lv = 28,
		cost = {{type=0,id=1063,count=140},},
		attr = {{type=5,value=4450},{type=21,value=28},{type=23,value=28},{type=25,value=28},{type=27,value=28},{type=76,value=193},{type=77,value=311},},
	},
	[29] = {
		pos = 1,
		lv = 29,
		cost = {{type=0,id=1063,count=150},},
		attr = {{type=5,value=4700},{type=21,value=29},{type=23,value=29},{type=25,value=29},{type=27,value=29},{type=76,value=204},{type=77,value=331},},
	},
	[30] = {
		pos = 1,
		lv = 30,
		cost = {{type=0,id=1063,count=160},},
		attr = {{type=5,value=5000},{type=21,value=30},{type=23,value=30},{type=25,value=30},{type=27,value=30},{type=76,value=215},{type=77,value=351},},
	},
	[31] = {
		pos = 1,
		lv = 31,
		cost = {{type=0,id=1063,count=170},},
		attr = {{type=5,value=5200},{type=21,value=31},{type=23,value=31},{type=25,value=31},{type=27,value=31},{type=76,value=220},{type=77,value=361},},
	},
	[32] = {
		pos = 1,
		lv = 32,
		cost = {{type=0,id=1063,count=180},},
		attr = {{type=5,value=5400},{type=21,value=32},{type=23,value=32},{type=25,value=32},{type=27,value=32},{type=76,value=225},{type=77,value=371},},
	},
	[33] = {
		pos = 1,
		lv = 33,
		cost = {{type=0,id=1063,count=190},},
		attr = {{type=5,value=5600},{type=21,value=33},{type=23,value=33},{type=25,value=33},{type=27,value=33},{type=76,value=230},{type=77,value=381},},
	},
	[34] = {
		pos = 1,
		lv = 34,
		cost = {{type=0,id=1063,count=200},},
		attr = {{type=5,value=5800},{type=21,value=34},{type=23,value=34},{type=25,value=34},{type=27,value=34},{type=76,value=235},{type=77,value=391},},
	},
	[35] = {
		pos = 1,
		lv = 35,
		cost = {{type=0,id=1063,count=210},},
		attr = {{type=5,value=6000},{type=21,value=35},{type=23,value=35},{type=25,value=35},{type=27,value=35},{type=76,value=240},{type=77,value=401},},
	},
	[36] = {
		pos = 1,
		lv = 36,
		cost = {{type=0,id=1063,count=220},},
		attr = {{type=5,value=6200},{type=21,value=36},{type=23,value=36},{type=25,value=36},{type=27,value=36},{type=76,value=245},{type=77,value=411},},
	},
	[37] = {
		pos = 1,
		lv = 37,
		cost = {{type=0,id=1063,count=230},},
		attr = {{type=5,value=6400},{type=21,value=37},{type=23,value=37},{type=25,value=37},{type=27,value=37},{type=76,value=250},{type=77,value=421},},
	},
	[38] = {
		pos = 1,
		lv = 38,
		cost = {{type=0,id=1063,count=240},},
		attr = {{type=5,value=6600},{type=21,value=38},{type=23,value=38},{type=25,value=38},{type=27,value=38},{type=76,value=255},{type=77,value=431},},
	},
	[39] = {
		pos = 1,
		lv = 39,
		cost = {{type=0,id=1063,count=250},},
		attr = {{type=5,value=6800},{type=21,value=39},{type=23,value=39},{type=25,value=39},{type=27,value=39},{type=76,value=260},{type=77,value=441},},
	},
	[40] = {
		pos = 1,
		lv = 40,
		cost = {{type=0,id=1063,count=260},},
		attr = {{type=5,value=7000},{type=21,value=40},{type=23,value=40},{type=25,value=40},{type=27,value=40},{type=76,value=265},{type=77,value=451},},
	},
	[41] = {
		pos = 1,
		lv = 41,
		cost = {{type=0,id=1063,count=270},},
		attr = {{type=5,value=7200},{type=21,value=41},{type=23,value=41},{type=25,value=41},{type=27,value=41},{type=76,value=270},{type=77,value=461},},
	},
	[42] = {
		pos = 1,
		lv = 42,
		cost = {{type=0,id=1063,count=280},},
		attr = {{type=5,value=7400},{type=21,value=42},{type=23,value=42},{type=25,value=42},{type=27,value=42},{type=76,value=275},{type=77,value=471},},
	},
	[43] = {
		pos = 1,
		lv = 43,
		cost = {{type=0,id=1063,count=290},},
		attr = {{type=5,value=7600},{type=21,value=43},{type=23,value=43},{type=25,value=43},{type=27,value=43},{type=76,value=280},{type=77,value=481},},
	},
	[44] = {
		pos = 1,
		lv = 44,
		cost = {{type=0,id=1063,count=300},},
		attr = {{type=5,value=7800},{type=21,value=44},{type=23,value=44},{type=25,value=44},{type=27,value=44},{type=76,value=285},{type=77,value=491},},
	},
	[45] = {
		pos = 1,
		lv = 45,
		cost = {{type=0,id=1063,count=310},},
		attr = {{type=5,value=8000},{type=21,value=45},{type=23,value=45},{type=25,value=45},{type=27,value=45},{type=76,value=290},{type=77,value=501},},
	},
	[46] = {
		pos = 1,
		lv = 46,
		cost = {{type=0,id=1063,count=320},},
		attr = {{type=5,value=8200},{type=21,value=46},{type=23,value=46},{type=25,value=46},{type=27,value=46},{type=76,value=295},{type=77,value=511},},
	},
	[47] = {
		pos = 1,
		lv = 47,
		cost = {{type=0,id=1063,count=330},},
		attr = {{type=5,value=8400},{type=21,value=47},{type=23,value=47},{type=25,value=47},{type=27,value=47},{type=76,value=300},{type=77,value=521},},
	},
	[48] = {
		pos = 1,
		lv = 48,
		cost = {{type=0,id=1063,count=340},},
		attr = {{type=5,value=8600},{type=21,value=48},{type=23,value=48},{type=25,value=48},{type=27,value=48},{type=76,value=305},{type=77,value=531},},
	},
	[49] = {
		pos = 1,
		lv = 49,
		cost = {{type=0,id=1063,count=350},},
		attr = {{type=5,value=8800},{type=21,value=49},{type=23,value=49},{type=25,value=49},{type=27,value=49},{type=76,value=310},{type=77,value=541},},
	},
	[50] = {
		pos = 1,
		lv = 50,
		cost = {{type=0,id=1063,count=360},},
		attr = {{type=5,value=9000},{type=21,value=50},{type=23,value=50},{type=25,value=50},{type=27,value=50},{type=76,value=315},{type=77,value=551},},
	},
},
[2] = {
	[0] = {
		pos = 2,
		lv = 0,
		cost = {},
		attr = {{type=5,value=0},{type=76,value=0},{type=77,value=0},{type=21,value=0},{type=23,value=0},{type=25,value=0},{type=27,value=0},},
	},
	[1] = {
		pos = 2,
		lv = 1,
		cost = {{type=0,id=1064,count=1},},
		attr = {{type=5,value=40},{type=21,value=1},{type=23,value=1},{type=25,value=1},{type=27,value=1},{type=76,value=1},{type=77,value=3},},
	},
	[2] = {
		pos = 2,
		lv = 2,
		cost = {{type=0,id=1064,count=2},},
		attr = {{type=5,value=80},{type=21,value=2},{type=23,value=2},{type=25,value=2},{type=27,value=2},{type=76,value=3},{type=77,value=5},},
	},
	[3] = {
		pos = 2,
		lv = 3,
		cost = {{type=0,id=1064,count=3},},
		attr = {{type=5,value=120},{type=21,value=3},{type=23,value=3},{type=25,value=3},{type=27,value=3},{type=76,value=5},{type=77,value=7},},
	},
	[4] = {
		pos = 2,
		lv = 4,
		cost = {{type=0,id=1064,count=5},},
		attr = {{type=5,value=160},{type=21,value=4},{type=23,value=4},{type=25,value=4},{type=27,value=4},{type=76,value=7},{type=77,value=9},},
	},
	[5] = {
		pos = 2,
		lv = 5,
		cost = {{type=0,id=1064,count=10},},
		attr = {{type=5,value=200},{type=21,value=5},{type=23,value=5},{type=25,value=5},{type=27,value=5},{type=76,value=9},{type=77,value=11},},
	},
	[6] = {
		pos = 2,
		lv = 6,
		cost = {{type=0,id=1064,count=10},},
		attr = {{type=5,value=300},{type=21,value=6},{type=23,value=6},{type=25,value=6},{type=27,value=6},{type=76,value=13},{type=77,value=17},},
	},
	[7] = {
		pos = 2,
		lv = 7,
		cost = {{type=0,id=1064,count=10},},
		attr = {{type=5,value=400},{type=21,value=7},{type=23,value=7},{type=25,value=7},{type=27,value=7},{type=76,value=17},{type=77,value=23},},
	},
	[8] = {
		pos = 2,
		lv = 8,
		cost = {{type=0,id=1064,count=10},},
		attr = {{type=5,value=500},{type=21,value=8},{type=23,value=8},{type=25,value=8},{type=27,value=8},{type=76,value=21},{type=77,value=29},},
	},
	[9] = {
		pos = 2,
		lv = 9,
		cost = {{type=0,id=1064,count=10},},
		attr = {{type=5,value=600},{type=21,value=9},{type=23,value=9},{type=25,value=9},{type=27,value=9},{type=76,value=25},{type=77,value=35},},
	},
	[10] = {
		pos = 2,
		lv = 10,
		cost = {{type=0,id=1064,count=20},},
		attr = {{type=5,value=700},{type=21,value=10},{type=23,value=10},{type=25,value=10},{type=27,value=10},{type=76,value=29},{type=77,value=41},},
	},
	[11] = {
		pos = 2,
		lv = 11,
		cost = {{type=0,id=1064,count=20},},
		attr = {{type=5,value=850},{type=21,value=11},{type=23,value=11},{type=25,value=11},{type=27,value=11},{type=76,value=36},{type=77,value=49},},
	},
	[12] = {
		pos = 2,
		lv = 12,
		cost = {{type=0,id=1064,count=20},},
		attr = {{type=5,value=1000},{type=21,value=12},{type=23,value=12},{type=25,value=12},{type=27,value=12},{type=76,value=43},{type=77,value=57},},
	},
	[13] = {
		pos = 2,
		lv = 13,
		cost = {{type=0,id=1064,count=20},},
		attr = {{type=5,value=1150},{type=21,value=13},{type=23,value=13},{type=25,value=13},{type=27,value=13},{type=76,value=50},{type=77,value=65},},
	},
	[14] = {
		pos = 2,
		lv = 14,
		cost = {{type=0,id=1064,count=20},},
		attr = {{type=5,value=1300},{type=21,value=14},{type=23,value=14},{type=25,value=14},{type=27,value=14},{type=76,value=57},{type=77,value=73},},
	},
	[15] = {
		pos = 2,
		lv = 15,
		cost = {{type=0,id=1064,count=35},},
		attr = {{type=5,value=1450},{type=21,value=15},{type=23,value=15},{type=25,value=15},{type=27,value=15},{type=76,value=64},{type=77,value=81},},
	},
	[16] = {
		pos = 2,
		lv = 16,
		cost = {{type=0,id=1064,count=35},},
		attr = {{type=5,value=1650},{type=21,value=16},{type=23,value=16},{type=25,value=16},{type=27,value=16},{type=76,value=73},{type=77,value=92},},
	},
	[17] = {
		pos = 2,
		lv = 17,
		cost = {{type=0,id=1064,count=35},},
		attr = {{type=5,value=1850},{type=21,value=17},{type=23,value=17},{type=25,value=17},{type=27,value=17},{type=76,value=82},{type=77,value=103},},
	},
	[18] = {
		pos = 2,
		lv = 18,
		cost = {{type=0,id=1064,count=35},},
		attr = {{type=5,value=2050},{type=21,value=18},{type=23,value=18},{type=25,value=18},{type=27,value=18},{type=76,value=91},{type=77,value=114},},
	},
	[19] = {
		pos = 2,
		lv = 19,
		cost = {{type=0,id=1064,count=35},},
		attr = {{type=5,value=2250},{type=21,value=19},{type=23,value=19},{type=25,value=19},{type=27,value=19},{type=76,value=100},{type=77,value=125},},
	},
	[20] = {
		pos = 2,
		lv = 20,
		cost = {{type=0,id=1064,count=60},},
		attr = {{type=5,value=2450},{type=21,value=20},{type=23,value=20},{type=25,value=20},{type=27,value=20},{type=76,value=109},{type=77,value=136},},
	},
	[21] = {
		pos = 2,
		lv = 21,
		cost = {{type=0,id=1064,count=60},},
		attr = {{type=5,value=2700},{type=21,value=21},{type=23,value=21},{type=25,value=21},{type=27,value=21},{type=76,value=119},{type=77,value=151},},
	},
	[22] = {
		pos = 2,
		lv = 22,
		cost = {{type=0,id=1064,count=90},},
		attr = {{type=5,value=2950},{type=21,value=22},{type=23,value=22},{type=25,value=22},{type=27,value=22},{type=76,value=129},{type=77,value=186},},
	},
	[23] = {
		pos = 2,
		lv = 23,
		cost = {{type=0,id=1064,count=90},},
		attr = {{type=5,value=3200},{type=21,value=23},{type=23,value=23},{type=25,value=23},{type=27,value=23},{type=76,value=139},{type=77,value=211},},
	},
	[24] = {
		pos = 2,
		lv = 24,
		cost = {{type=0,id=1064,count=100},},
		attr = {{type=5,value=3450},{type=21,value=24},{type=23,value=24},{type=25,value=24},{type=27,value=24},{type=76,value=149},{type=77,value=231},},
	},
	[25] = {
		pos = 2,
		lv = 25,
		cost = {{type=0,id=1064,count=110},},
		attr = {{type=5,value=3700},{type=21,value=25},{type=23,value=25},{type=25,value=25},{type=27,value=25},{type=76,value=160},{type=77,value=251},},
	},
	[26] = {
		pos = 2,
		lv = 26,
		cost = {{type=0,id=1064,count=120},},
		attr = {{type=5,value=3950},{type=21,value=26},{type=23,value=26},{type=25,value=26},{type=27,value=26},{type=76,value=171},{type=77,value=271},},
	},
	[27] = {
		pos = 2,
		lv = 27,
		cost = {{type=0,id=1064,count=130},},
		attr = {{type=5,value=4200},{type=21,value=27},{type=23,value=27},{type=25,value=27},{type=27,value=27},{type=76,value=182},{type=77,value=291},},
	},
	[28] = {
		pos = 2,
		lv = 28,
		cost = {{type=0,id=1064,count=140},},
		attr = {{type=5,value=4450},{type=21,value=28},{type=23,value=28},{type=25,value=28},{type=27,value=28},{type=76,value=193},{type=77,value=311},},
	},
	[29] = {
		pos = 2,
		lv = 29,
		cost = {{type=0,id=1064,count=150},},
		attr = {{type=5,value=4700},{type=21,value=29},{type=23,value=29},{type=25,value=29},{type=27,value=29},{type=76,value=204},{type=77,value=331},},
	},
	[30] = {
		pos = 2,
		lv = 30,
		cost = {{type=0,id=1064,count=160},},
		attr = {{type=5,value=5000},{type=21,value=30},{type=23,value=30},{type=25,value=30},{type=27,value=30},{type=76,value=215},{type=77,value=351},},
	},
	[31] = {
		pos = 2,
		lv = 31,
		cost = {{type=0,id=1064,count=170},},
		attr = {{type=5,value=5200},{type=21,value=31},{type=23,value=31},{type=25,value=31},{type=27,value=31},{type=76,value=220},{type=77,value=361},},
	},
	[32] = {
		pos = 2,
		lv = 32,
		cost = {{type=0,id=1064,count=180},},
		attr = {{type=5,value=5400},{type=21,value=32},{type=23,value=32},{type=25,value=32},{type=27,value=32},{type=76,value=225},{type=77,value=371},},
	},
	[33] = {
		pos = 2,
		lv = 33,
		cost = {{type=0,id=1064,count=190},},
		attr = {{type=5,value=5600},{type=21,value=33},{type=23,value=33},{type=25,value=33},{type=27,value=33},{type=76,value=230},{type=77,value=381},},
	},
	[34] = {
		pos = 2,
		lv = 34,
		cost = {{type=0,id=1064,count=200},},
		attr = {{type=5,value=5800},{type=21,value=34},{type=23,value=34},{type=25,value=34},{type=27,value=34},{type=76,value=235},{type=77,value=391},},
	},
	[35] = {
		pos = 2,
		lv = 35,
		cost = {{type=0,id=1064,count=210},},
		attr = {{type=5,value=6000},{type=21,value=35},{type=23,value=35},{type=25,value=35},{type=27,value=35},{type=76,value=240},{type=77,value=401},},
	},
	[36] = {
		pos = 2,
		lv = 36,
		cost = {{type=0,id=1064,count=220},},
		attr = {{type=5,value=6200},{type=21,value=36},{type=23,value=36},{type=25,value=36},{type=27,value=36},{type=76,value=245},{type=77,value=411},},
	},
	[37] = {
		pos = 2,
		lv = 37,
		cost = {{type=0,id=1064,count=230},},
		attr = {{type=5,value=6400},{type=21,value=37},{type=23,value=37},{type=25,value=37},{type=27,value=37},{type=76,value=250},{type=77,value=421},},
	},
	[38] = {
		pos = 2,
		lv = 38,
		cost = {{type=0,id=1064,count=240},},
		attr = {{type=5,value=6600},{type=21,value=38},{type=23,value=38},{type=25,value=38},{type=27,value=38},{type=76,value=255},{type=77,value=431},},
	},
	[39] = {
		pos = 2,
		lv = 39,
		cost = {{type=0,id=1064,count=250},},
		attr = {{type=5,value=6800},{type=21,value=39},{type=23,value=39},{type=25,value=39},{type=27,value=39},{type=76,value=260},{type=77,value=441},},
	},
	[40] = {
		pos = 2,
		lv = 40,
		cost = {{type=0,id=1064,count=260},},
		attr = {{type=5,value=7000},{type=21,value=40},{type=23,value=40},{type=25,value=40},{type=27,value=40},{type=76,value=265},{type=77,value=451},},
	},
	[41] = {
		pos = 2,
		lv = 41,
		cost = {{type=0,id=1064,count=270},},
		attr = {{type=5,value=7200},{type=21,value=41},{type=23,value=41},{type=25,value=41},{type=27,value=41},{type=76,value=270},{type=77,value=461},},
	},
	[42] = {
		pos = 2,
		lv = 42,
		cost = {{type=0,id=1064,count=280},},
		attr = {{type=5,value=7400},{type=21,value=42},{type=23,value=42},{type=25,value=42},{type=27,value=42},{type=76,value=275},{type=77,value=471},},
	},
	[43] = {
		pos = 2,
		lv = 43,
		cost = {{type=0,id=1064,count=290},},
		attr = {{type=5,value=7600},{type=21,value=43},{type=23,value=43},{type=25,value=43},{type=27,value=43},{type=76,value=280},{type=77,value=481},},
	},
	[44] = {
		pos = 2,
		lv = 44,
		cost = {{type=0,id=1064,count=300},},
		attr = {{type=5,value=7800},{type=21,value=44},{type=23,value=44},{type=25,value=44},{type=27,value=44},{type=76,value=285},{type=77,value=491},},
	},
	[45] = {
		pos = 2,
		lv = 45,
		cost = {{type=0,id=1064,count=310},},
		attr = {{type=5,value=8000},{type=21,value=45},{type=23,value=45},{type=25,value=45},{type=27,value=45},{type=76,value=290},{type=77,value=501},},
	},
	[46] = {
		pos = 2,
		lv = 46,
		cost = {{type=0,id=1064,count=320},},
		attr = {{type=5,value=8200},{type=21,value=46},{type=23,value=46},{type=25,value=46},{type=27,value=46},{type=76,value=295},{type=77,value=511},},
	},
	[47] = {
		pos = 2,
		lv = 47,
		cost = {{type=0,id=1064,count=330},},
		attr = {{type=5,value=8400},{type=21,value=47},{type=23,value=47},{type=25,value=47},{type=27,value=47},{type=76,value=300},{type=77,value=521},},
	},
	[48] = {
		pos = 2,
		lv = 48,
		cost = {{type=0,id=1064,count=340},},
		attr = {{type=5,value=8600},{type=21,value=48},{type=23,value=48},{type=25,value=48},{type=27,value=48},{type=76,value=305},{type=77,value=531},},
	},
	[49] = {
		pos = 2,
		lv = 49,
		cost = {{type=0,id=1064,count=350},},
		attr = {{type=5,value=8800},{type=21,value=49},{type=23,value=49},{type=25,value=49},{type=27,value=49},{type=76,value=310},{type=77,value=541},},
	},
	[50] = {
		pos = 2,
		lv = 50,
		cost = {{type=0,id=1064,count=360},},
		attr = {{type=5,value=9000},{type=21,value=50},{type=23,value=50},{type=25,value=50},{type=27,value=50},{type=76,value=315},{type=77,value=551},},
	},
},
[3] = {
	[0] = {
		pos = 3,
		lv = 0,
		cost = {},
		attr = {{type=75,value=0},{type=84,value=0},{type=91,value=0},},
	},
	[1] = {
		pos = 3,
		lv = 1,
		cost = {{type=0,id=1065,count=10},},
		attr = {{type=75,value=20},{type=84,value=10},{type=91,value=20},},
	},
	[2] = {
		pos = 3,
		lv = 2,
		cost = {{type=0,id=1065,count=10},},
		attr = {{type=75,value=40},{type=84,value=20},{type=91,value=40},},
	},
	[3] = {
		pos = 3,
		lv = 3,
		cost = {{type=0,id=1065,count=20},},
		attr = {{type=75,value=60},{type=84,value=30},{type=91,value=60},},
	},
	[4] = {
		pos = 3,
		lv = 4,
		cost = {{type=0,id=1065,count=20},},
		attr = {{type=75,value=80},{type=84,value=40},{type=91,value=80},},
	},
	[5] = {
		pos = 3,
		lv = 5,
		cost = {{type=0,id=1065,count=30},},
		attr = {{type=75,value=100},{type=84,value=50},{type=91,value=100},},
	},
	[6] = {
		pos = 3,
		lv = 6,
		cost = {{type=0,id=1065,count=50},},
		attr = {{type=75,value=120},{type=84,value=60},{type=91,value=120},},
	},
	[7] = {
		pos = 3,
		lv = 7,
		cost = {{type=0,id=1065,count=50},},
		attr = {{type=75,value=140},{type=84,value=70},{type=91,value=140},},
	},
	[8] = {
		pos = 3,
		lv = 8,
		cost = {{type=0,id=1065,count=50},},
		attr = {{type=75,value=160},{type=84,value=80},{type=91,value=160},},
	},
	[9] = {
		pos = 3,
		lv = 9,
		cost = {{type=0,id=1065,count=50},},
		attr = {{type=75,value=180},{type=84,value=90},{type=91,value=180},},
	},
	[10] = {
		pos = 3,
		lv = 10,
		cost = {{type=0,id=1065,count=50},},
		attr = {{type=75,value=200},{type=84,value=100},{type=91,value=200},},
	},
	[11] = {
		pos = 3,
		lv = 11,
		cost = {{type=0,id=1065,count=90},},
		attr = {{type=75,value=220},{type=84,value=110},{type=91,value=220},},
	},
	[12] = {
		pos = 3,
		lv = 12,
		cost = {{type=0,id=1065,count=90},},
		attr = {{type=75,value=240},{type=84,value=120},{type=91,value=240},},
	},
	[13] = {
		pos = 3,
		lv = 13,
		cost = {{type=0,id=1065,count=90},},
		attr = {{type=75,value=260},{type=84,value=130},{type=91,value=260},},
	},
	[14] = {
		pos = 3,
		lv = 14,
		cost = {{type=0,id=1065,count=90},},
		attr = {{type=75,value=280},{type=84,value=140},{type=91,value=280},},
	},
	[15] = {
		pos = 3,
		lv = 15,
		cost = {{type=0,id=1065,count=90},},
		attr = {{type=75,value=300},{type=84,value=150},{type=91,value=300},},
	},
	[16] = {
		pos = 3,
		lv = 16,
		cost = {{type=0,id=1065,count=160},},
		attr = {{type=75,value=320},{type=84,value=160},{type=91,value=320},},
	},
	[17] = {
		pos = 3,
		lv = 17,
		cost = {{type=0,id=1065,count=160},},
		attr = {{type=75,value=340},{type=84,value=170},{type=91,value=340},},
	},
	[18] = {
		pos = 3,
		lv = 18,
		cost = {{type=0,id=1065,count=160},},
		attr = {{type=75,value=360},{type=84,value=180},{type=91,value=360},},
	},
	[19] = {
		pos = 3,
		lv = 19,
		cost = {{type=0,id=1065,count=160},},
		attr = {{type=75,value=380},{type=84,value=190},{type=91,value=380},},
	},
	[20] = {
		pos = 3,
		lv = 20,
		cost = {{type=0,id=1065,count=160},},
		attr = {{type=75,value=400},{type=84,value=200},{type=91,value=400},},
	},
	[21] = {
		pos = 3,
		lv = 21,
		cost = {{type=0,id=1065,count=260},},
		attr = {{type=75,value=420},{type=84,value=210},{type=91,value=420},},
	},
	[22] = {
		pos = 3,
		lv = 22,
		cost = {{type=0,id=1065,count=260},},
		attr = {{type=75,value=440},{type=84,value=220},{type=91,value=440},},
	},
	[23] = {
		pos = 3,
		lv = 23,
		cost = {{type=0,id=1065,count=260},},
		attr = {{type=75,value=460},{type=84,value=230},{type=91,value=460},},
	},
	[24] = {
		pos = 3,
		lv = 24,
		cost = {{type=0,id=1065,count=260},},
		attr = {{type=75,value=480},{type=84,value=240},{type=91,value=480},},
	},
	[25] = {
		pos = 3,
		lv = 25,
		cost = {{type=0,id=1065,count=260},},
		attr = {{type=75,value=500},{type=84,value=250},{type=91,value=500},},
	},
	[26] = {
		pos = 3,
		lv = 26,
		cost = {{type=0,id=1065,count=400},},
		attr = {{type=75,value=520},{type=84,value=260},{type=91,value=520},},
	},
	[27] = {
		pos = 3,
		lv = 27,
		cost = {{type=0,id=1065,count=400},},
		attr = {{type=75,value=540},{type=84,value=270},{type=91,value=540},},
	},
	[28] = {
		pos = 3,
		lv = 28,
		cost = {{type=0,id=1065,count=400},},
		attr = {{type=75,value=560},{type=84,value=280},{type=91,value=560},},
	},
	[29] = {
		pos = 3,
		lv = 29,
		cost = {{type=0,id=1065,count=600},},
		attr = {{type=75,value=580},{type=84,value=290},{type=91,value=580},},
	},
	[30] = {
		pos = 3,
		lv = 30,
		cost = {{type=0,id=1065,count=800},},
		attr = {{type=75,value=600},{type=84,value=300},{type=91,value=600},},
	},
	[31] = {
		pos = 3,
		lv = 31,
		cost = {{type=0,id=1065,count=850},},
		attr = {{type=75,value=620},{type=84,value=310},{type=91,value=620},},
	},
	[32] = {
		pos = 3,
		lv = 32,
		cost = {{type=0,id=1065,count=900},},
		attr = {{type=75,value=640},{type=84,value=320},{type=91,value=640},},
	},
	[33] = {
		pos = 3,
		lv = 33,
		cost = {{type=0,id=1065,count=950},},
		attr = {{type=75,value=660},{type=84,value=330},{type=91,value=660},},
	},
	[34] = {
		pos = 3,
		lv = 34,
		cost = {{type=0,id=1065,count=1000},},
		attr = {{type=75,value=680},{type=84,value=340},{type=91,value=680},},
	},
	[35] = {
		pos = 3,
		lv = 35,
		cost = {{type=0,id=1065,count=1050},},
		attr = {{type=75,value=700},{type=84,value=350},{type=91,value=700},},
	},
	[36] = {
		pos = 3,
		lv = 36,
		cost = {{type=0,id=1065,count=1100},},
		attr = {{type=75,value=720},{type=84,value=360},{type=91,value=720},},
	},
	[37] = {
		pos = 3,
		lv = 37,
		cost = {{type=0,id=1065,count=1150},},
		attr = {{type=75,value=740},{type=84,value=370},{type=91,value=740},},
	},
	[38] = {
		pos = 3,
		lv = 38,
		cost = {{type=0,id=1065,count=1200},},
		attr = {{type=75,value=760},{type=84,value=380},{type=91,value=760},},
	},
	[39] = {
		pos = 3,
		lv = 39,
		cost = {{type=0,id=1065,count=1250},},
		attr = {{type=75,value=780},{type=84,value=390},{type=91,value=780},},
	},
	[40] = {
		pos = 3,
		lv = 40,
		cost = {{type=0,id=1065,count=1300},},
		attr = {{type=75,value=800},{type=84,value=400},{type=91,value=800},},
	},
	[41] = {
		pos = 3,
		lv = 41,
		cost = {{type=0,id=1065,count=1350},},
		attr = {{type=75,value=820},{type=84,value=410},{type=91,value=820},},
	},
	[42] = {
		pos = 3,
		lv = 42,
		cost = {{type=0,id=1065,count=1400},},
		attr = {{type=75,value=840},{type=84,value=420},{type=91,value=840},},
	},
	[43] = {
		pos = 3,
		lv = 43,
		cost = {{type=0,id=1065,count=1450},},
		attr = {{type=75,value=860},{type=84,value=430},{type=91,value=860},},
	},
	[44] = {
		pos = 3,
		lv = 44,
		cost = {{type=0,id=1065,count=1500},},
		attr = {{type=75,value=880},{type=84,value=440},{type=91,value=880},},
	},
	[45] = {
		pos = 3,
		lv = 45,
		cost = {{type=0,id=1065,count=1550},},
		attr = {{type=75,value=900},{type=84,value=450},{type=91,value=900},},
	},
	[46] = {
		pos = 3,
		lv = 46,
		cost = {{type=0,id=1065,count=1600},},
		attr = {{type=75,value=920},{type=84,value=460},{type=91,value=920},},
	},
	[47] = {
		pos = 3,
		lv = 47,
		cost = {{type=0,id=1065,count=1650},},
		attr = {{type=75,value=940},{type=84,value=470},{type=91,value=940},},
	},
	[48] = {
		pos = 3,
		lv = 48,
		cost = {{type=0,id=1065,count=1700},},
		attr = {{type=75,value=960},{type=84,value=480},{type=91,value=960},},
	},
	[49] = {
		pos = 3,
		lv = 49,
		cost = {{type=0,id=1065,count=1750},},
		attr = {{type=75,value=980},{type=84,value=490},{type=91,value=980},},
	},
	[50] = {
		pos = 3,
		lv = 50,
		cost = {{type=0,id=1065,count=1800},},
		attr = {{type=75,value=1000},{type=84,value=500},{type=91,value=1000},},
	},
},
[4] = {
	[0] = {
		pos = 4,
		lv = 0,
		cost = {},
		attr = {{type=6,value=0},{type=80,value=0},{type=81,value=0},},
	},
	[1] = {
		pos = 4,
		lv = 1,
		cost = {{type=0,id=1066,count=10},},
		attr = {{type=6,value=50},{type=80,value=30},{type=81,value=30},},
	},
	[2] = {
		pos = 4,
		lv = 2,
		cost = {{type=0,id=1066,count=10},},
		attr = {{type=6,value=100},{type=80,value=60},{type=81,value=60},},
	},
	[3] = {
		pos = 4,
		lv = 3,
		cost = {{type=0,id=1066,count=20},},
		attr = {{type=6,value=150},{type=80,value=90},{type=81,value=90},},
	},
	[4] = {
		pos = 4,
		lv = 4,
		cost = {{type=0,id=1066,count=20},},
		attr = {{type=6,value=200},{type=80,value=120},{type=81,value=120},},
	},
	[5] = {
		pos = 4,
		lv = 5,
		cost = {{type=0,id=1066,count=30},},
		attr = {{type=6,value=250},{type=80,value=150},{type=81,value=150},},
	},
	[6] = {
		pos = 4,
		lv = 6,
		cost = {{type=0,id=1066,count=50},},
		attr = {{type=6,value=300},{type=80,value=180},{type=81,value=180},},
	},
	[7] = {
		pos = 4,
		lv = 7,
		cost = {{type=0,id=1066,count=50},},
		attr = {{type=6,value=350},{type=80,value=210},{type=81,value=210},},
	},
	[8] = {
		pos = 4,
		lv = 8,
		cost = {{type=0,id=1066,count=50},},
		attr = {{type=6,value=400},{type=80,value=240},{type=81,value=240},},
	},
	[9] = {
		pos = 4,
		lv = 9,
		cost = {{type=0,id=1066,count=50},},
		attr = {{type=6,value=450},{type=80,value=270},{type=81,value=270},},
	},
	[10] = {
		pos = 4,
		lv = 10,
		cost = {{type=0,id=1066,count=50},},
		attr = {{type=6,value=500},{type=80,value=300},{type=81,value=300},},
	},
	[11] = {
		pos = 4,
		lv = 11,
		cost = {{type=0,id=1066,count=90},},
		attr = {{type=6,value=550},{type=80,value=330},{type=81,value=330},},
	},
	[12] = {
		pos = 4,
		lv = 12,
		cost = {{type=0,id=1066,count=90},},
		attr = {{type=6,value=600},{type=80,value=360},{type=81,value=360},},
	},
	[13] = {
		pos = 4,
		lv = 13,
		cost = {{type=0,id=1066,count=90},},
		attr = {{type=6,value=650},{type=80,value=390},{type=81,value=390},},
	},
	[14] = {
		pos = 4,
		lv = 14,
		cost = {{type=0,id=1066,count=90},},
		attr = {{type=6,value=700},{type=80,value=420},{type=81,value=420},},
	},
	[15] = {
		pos = 4,
		lv = 15,
		cost = {{type=0,id=1066,count=90},},
		attr = {{type=6,value=750},{type=80,value=450},{type=81,value=450},},
	},
	[16] = {
		pos = 4,
		lv = 16,
		cost = {{type=0,id=1066,count=160},},
		attr = {{type=6,value=800},{type=80,value=480},{type=81,value=480},},
	},
	[17] = {
		pos = 4,
		lv = 17,
		cost = {{type=0,id=1066,count=160},},
		attr = {{type=6,value=850},{type=80,value=510},{type=81,value=510},},
	},
	[18] = {
		pos = 4,
		lv = 18,
		cost = {{type=0,id=1066,count=160},},
		attr = {{type=6,value=900},{type=80,value=540},{type=81,value=540},},
	},
	[19] = {
		pos = 4,
		lv = 19,
		cost = {{type=0,id=1066,count=160},},
		attr = {{type=6,value=950},{type=80,value=570},{type=81,value=570},},
	},
	[20] = {
		pos = 4,
		lv = 20,
		cost = {{type=0,id=1066,count=160},},
		attr = {{type=6,value=1000},{type=80,value=600},{type=81,value=600},},
	},
	[21] = {
		pos = 4,
		lv = 21,
		cost = {{type=0,id=1066,count=260},},
		attr = {{type=6,value=1050},{type=80,value=630},{type=81,value=630},},
	},
	[22] = {
		pos = 4,
		lv = 22,
		cost = {{type=0,id=1066,count=260},},
		attr = {{type=6,value=1100},{type=80,value=660},{type=81,value=660},},
	},
	[23] = {
		pos = 4,
		lv = 23,
		cost = {{type=0,id=1066,count=260},},
		attr = {{type=6,value=1150},{type=80,value=690},{type=81,value=690},},
	},
	[24] = {
		pos = 4,
		lv = 24,
		cost = {{type=0,id=1066,count=260},},
		attr = {{type=6,value=1200},{type=80,value=720},{type=81,value=720},},
	},
	[25] = {
		pos = 4,
		lv = 25,
		cost = {{type=0,id=1066,count=260},},
		attr = {{type=6,value=1250},{type=80,value=750},{type=81,value=750},},
	},
	[26] = {
		pos = 4,
		lv = 26,
		cost = {{type=0,id=1066,count=400},},
		attr = {{type=6,value=1300},{type=80,value=780},{type=81,value=780},},
	},
	[27] = {
		pos = 4,
		lv = 27,
		cost = {{type=0,id=1066,count=400},},
		attr = {{type=6,value=1350},{type=80,value=810},{type=81,value=810},},
	},
	[28] = {
		pos = 4,
		lv = 28,
		cost = {{type=0,id=1066,count=400},},
		attr = {{type=6,value=1400},{type=80,value=840},{type=81,value=840},},
	},
	[29] = {
		pos = 4,
		lv = 29,
		cost = {{type=0,id=1066,count=600},},
		attr = {{type=6,value=1450},{type=80,value=870},{type=81,value=870},},
	},
	[30] = {
		pos = 4,
		lv = 30,
		cost = {{type=0,id=1066,count=800},},
		attr = {{type=6,value=1500},{type=80,value=900},{type=81,value=900},},
	},
	[31] = {
		pos = 4,
		lv = 31,
		cost = {{type=0,id=1066,count=850},},
		attr = {{type=6,value=1530},{type=80,value=920},{type=81,value=930},},
	},
	[32] = {
		pos = 4,
		lv = 32,
		cost = {{type=0,id=1066,count=900},},
		attr = {{type=6,value=1560},{type=80,value=940},{type=81,value=960},},
	},
	[33] = {
		pos = 4,
		lv = 33,
		cost = {{type=0,id=1066,count=950},},
		attr = {{type=6,value=1590},{type=80,value=960},{type=81,value=990},},
	},
	[34] = {
		pos = 4,
		lv = 34,
		cost = {{type=0,id=1066,count=1000},},
		attr = {{type=6,value=1620},{type=80,value=980},{type=81,value=1020},},
	},
	[35] = {
		pos = 4,
		lv = 35,
		cost = {{type=0,id=1066,count=1050},},
		attr = {{type=6,value=1650},{type=80,value=1000},{type=81,value=1050},},
	},
	[36] = {
		pos = 4,
		lv = 36,
		cost = {{type=0,id=1066,count=1100},},
		attr = {{type=6,value=1680},{type=80,value=1020},{type=81,value=1080},},
	},
	[37] = {
		pos = 4,
		lv = 37,
		cost = {{type=0,id=1066,count=1150},},
		attr = {{type=6,value=1710},{type=80,value=1040},{type=81,value=1110},},
	},
	[38] = {
		pos = 4,
		lv = 38,
		cost = {{type=0,id=1066,count=1200},},
		attr = {{type=6,value=1740},{type=80,value=1060},{type=81,value=1140},},
	},
	[39] = {
		pos = 4,
		lv = 39,
		cost = {{type=0,id=1066,count=1250},},
		attr = {{type=6,value=1770},{type=80,value=1080},{type=81,value=1170},},
	},
	[40] = {
		pos = 4,
		lv = 40,
		cost = {{type=0,id=1066,count=1300},},
		attr = {{type=6,value=1800},{type=80,value=1100},{type=81,value=1200},},
	},
	[41] = {
		pos = 4,
		lv = 41,
		cost = {{type=0,id=1066,count=1350},},
		attr = {{type=6,value=1830},{type=80,value=1120},{type=81,value=1230},},
	},
	[42] = {
		pos = 4,
		lv = 42,
		cost = {{type=0,id=1066,count=1400},},
		attr = {{type=6,value=1860},{type=80,value=1140},{type=81,value=1260},},
	},
	[43] = {
		pos = 4,
		lv = 43,
		cost = {{type=0,id=1066,count=1450},},
		attr = {{type=6,value=1890},{type=80,value=1160},{type=81,value=1290},},
	},
	[44] = {
		pos = 4,
		lv = 44,
		cost = {{type=0,id=1066,count=1500},},
		attr = {{type=6,value=1920},{type=80,value=1180},{type=81,value=1320},},
	},
	[45] = {
		pos = 4,
		lv = 45,
		cost = {{type=0,id=1066,count=1550},},
		attr = {{type=6,value=1950},{type=80,value=1200},{type=81,value=1350},},
	},
	[46] = {
		pos = 4,
		lv = 46,
		cost = {{type=0,id=1066,count=1600},},
		attr = {{type=6,value=1980},{type=80,value=1220},{type=81,value=1380},},
	},
	[47] = {
		pos = 4,
		lv = 47,
		cost = {{type=0,id=1066,count=1650},},
		attr = {{type=6,value=2010},{type=80,value=1240},{type=81,value=1410},},
	},
	[48] = {
		pos = 4,
		lv = 48,
		cost = {{type=0,id=1066,count=1700},},
		attr = {{type=6,value=2040},{type=80,value=1260},{type=81,value=1440},},
	},
	[49] = {
		pos = 4,
		lv = 49,
		cost = {{type=0,id=1066,count=1750},},
		attr = {{type=6,value=2070},{type=80,value=1280},{type=81,value=1470},},
	},
	[50] = {
		pos = 4,
		lv = 50,
		cost = {{type=0,id=1066,count=1800},},
		attr = {{type=6,value=2100},{type=80,value=1300},{type=81,value=1500},},
	},
},
}