--P-平台福利QQ.xlsx 等级礼包
LoginQQConfig={
[1] = {
	id = 1,
	level = 60,
	reward = {{type=2,id=2,count=20000},{type=0,id=853,count=5}},
},
[2] = {
	id = 2,
	level = 70,
	reward = {{type=2,id=2,count=25000},{type=0,id=854,count=5}},
},
[3] = {
	id = 3,
	level = 80,
	reward = {{type=2,id=2,count=30000},{type=0,id=365,count=1}},
},
}