--P-平台福利QQ.xlsx 注册、活跃礼包
PlatformQQConfig={
	reward1 = {{type=0,id=421,count=1},{type=0,id=261,count=1},{type=0,id=239,count=100},{type=2,id=2,count=30000}},
	reward2 = {{type=0,id=269,count=1},{type=7,id=3,count=10},{type=0,id=246,count=10},{type=2,id=2,count=10000}},
	reward3 = {{type=0,id=421,count=5},{type=0,id=269,count=5},{type=0,id=245,count=100},{type=2,id=2,count=50000}},
	SPID = "6",
	bagtype = 16,
}