--R-任务配置.xlsx 任务显示
TaskDisplayConfig = {
[1] = {
	[101] = {
		id = 1,
		state = 101,
		job = 0.0001,
		flyshoespos = {{map=1,x=469,y=306,npcid=90}},
		schedule = 0,
		award = {{type=0,id=155,count=1},{type=0,id=157,count=1},{type=0,id=156,count=1},{type=5,id=5,count=1500},{type=7,id=7,count=100}},
		buttonchange = {{taskid=1,state=102},{taskid=507,state=50701}},
		isfirst = -1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[102] = {
		id = 1,
		state = 102,
		job = 0.0001,
		flyshoespos = {{map=1,x=473,y=300,npcid=93}},
		schedule = 0,
		award = {{type=0,id=11,count=1},{type=0,id=7,count=1},{type=0,id=13,count=1},{type=5,id=5,count=1500}},
		buttonchange = {{taskid=2,state=201}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[2] = {
	[201] = {
		id = 2,
		state = 201,
		job = 0.0002,
		flyshoespos = {{map=1,x=469,y=299,npcid=92}},
		schedule = 0,
		award = {{type=0,id=48,count=1},{type=5,id=5,count=1500},{type=2,id=2,count=30000}},
		buttonchange = {{taskid=2,state=202}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[202] = {
		id = 2,
		state = 202,
		job = 0.0002,
		flyshoespos = {{map=1,x=460,y=300,npcid=182}},
		schedule = 0,
		award = {{type=2,id=2,count=30000},{type=5,id=5,count=1500}},
		buttonchange = {{taskid=3,state=301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[3] = {
	[301] = {
		id = 3,
		state = 301,
		job = 0.0003,
		flyshoespos = {{map=1,x=468,y=312,range=0,npcid=106}},
		tasknameclick = {{map=1,x=233,y=133,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=30000},{type=5,id=5,count=1500}},
		buttonchange = {{taskid=3,state=302},{taskid=509,state=50901},},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[302] = {
		id = 3,
		state = 302,
		job = 0.0003,
		flyshoespos = {{map=1,x=468,y=312,range=0,npcid=106}},
		tasknameclick = {{map=246,x=19,y=16,outboard=1,isopen=1},{map=247,x=19,y=16,outboard=1,isopen=1},{map=248,x=19,y=16,outboard=1,isopen=1},},
		schedule = 0,
		buttonchange = {{taskid=3,state=303}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[303] = {
		id = 3,
		state = 303,
		job = 0,
		tasknameclick = {{map=246,x=19,y=16,outboard=1},{map=247,x=19,y=16,outboard=1},{map=248,x=19,y=16,outboard=1},},
		changeState = {type=101,value=4,mapid={246,247,248}},
		schedule = 1,
		autochange = {{taskid=4,state=401}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[4] = {
	[401] = {
		id = 4,
		state = 401,
		job = 0,
		tasknameclick = {{map=249,x=11,y=7,isopen=1,npcid=183}},
		schedule = 0,
		award = {{type=2,id=2,count=30000},{type=5,id=5,count=1500}},
		buttonchange = {{taskid=4,state=402}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[402] = {
		id = 4,
		state = 402,
		job = 0.0004,
		tasknameclick = {{map=249,x=11,y=7}},
		changeState = {type=302,value=25},
		schedule = 1,
		autochange = {{taskid=4,state=403}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[403] = {
		id = 4,
		state = 403,
		job = 0,
		tasknameclick = {{map=1,x=233,y=133,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=30000},{type=5,id=5,count=10000},{type=7,id=7,count=300}},
		buttonchange = {{taskid=5,state=501}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[5] = {
	[501] = {
		id = 5,
		state = 501,
		job = 0.0005,
		flyshoespos = {{map=213,x=38,y=25,outboard=1},{map=214,x=19,y=16,outboard=1},{map=215,x=19,y=16,outboard=1},},
		tasknameclick = {{map=213,x=38,y=25,outboard=1},{map=214,x=19,y=16,outboard=1},{map=215,x=19,y=16,outboard=1},},
		changeState = {type=101,value=6,mapid={213,214,215}},
		schedule = 1,
		autochange = {{taskid=5,state=502}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[502] = {
		id = 5,
		state = 502,
		job = 0.0005,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=30000},{type=5,id=5,count=10000},{type=0,id=351,count=1}},
		buttonchange = {{taskid=6,state=601}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[6] = {
	[601] = {
		id = 6,
		state = 601,
		job = 0.0006,
		flyshoespos = {{map=213,x=38,y=25,outboard=1},{map=214,x=19,y=16,outboard=1},{map=215,x=19,y=16,outboard=1},},
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		buttonchange = {{taskid=6,state=602}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[602] = {
		id = 6,
		state = 602,
		job = 0.0006,
		flyshoespos = {{map=213,x=38,y=25,outboard=1},{map=214,x=19,y=16,outboard=1},{map=215,x=19,y=16,outboard=1},},
		tasknameclick = {{map=3,x=219,y=149}},
		changeState = {type=302,value=33},
		schedule = 1,
		autochange = {{taskid=6,state=603}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[603] = {
		id = 6,
		state = 603,
		job = 0.0006,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000},{type=0,id=512,count=2}},
		buttonchange = {{taskid=7,state=701}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[7] = {
	[701] = {
		id = 7,
		state = 701,
		job = 0.0007,
		changeState = {type=401,value=1},
		schedule = 0,
		autochange = {{taskid=7,state=702}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[702] = {
		id = 7,
		state = 702,
		job = 0.0007,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=8,state=801}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[8] = {
	[801] = {
		id = 8,
		state = 801,
		job = 0.0008,
		tasknameclick = {{map=219,x=19,y=11,outboard=1},{map=217,x=19,y=11,outboard=1},{map=217,x=179,y=118,outboard=1},{map=217,x=56,y=101,outboard=1},{map=217,x=30,y=16,outboard=1},{map=217,x=148,y=37,outboard=1},{map=218,x=19,y=11,outboard=1},{map=218,x=179,y=118,outboard=1},{map=218,x=56,y=101,outboard=1},{map=218,x=30,y=16,outboard=1},{map=218,x=148,y=37,outboard=1},},
		changeState = {type=101,value=6,mapid={219,218,217}},
		schedule = 1,
		autochange = {{taskid=8,state=802}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[802] = {
		id = 8,
		state = 802,
		job = 0.0008,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000},{type=0,id=358,count=1}},
		buttonchange = {{taskid=9,state=901}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[9] = {
	[901] = {
		id = 9,
		state = 901,
		job = 0.0009,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=0,id=925,count=1}},
		buttonchange = {{taskid=9,state=902}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[902] = {
		id = 9,
		state = 902,
		job = 0.0009,
		tasknameclick = {{map=3,x=219,y=149}},
		changeState = {type=302,value=40},
		schedule = 1,
		autochange = {{taskid=9,state=903}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[903] = {
		id = 9,
		state = 903,
		job = 0.0009,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=10,state=1001}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[10] = {
	[1001] = {
		id = 10,
		state = 1001,
		job = 0.001,
		tasknameclick = {{map=221,x=11,y=8,outboard=1},{map=222,x=11,y=8,outboard=1},{map=223,x=11,y=8,outboard=1}},
		changeState = {type=101,value=8,mapid={221,222,223}},
		schedule = 1,
		teleportpos = {{id=1,map=221,x=11,y=8,outboard=1},{id=2,map=222,x=11,y=8,outboard=1},{id=3,map=223,x=11,y=8,outboard=1}},
		autochange = {{taskid=10,state=1002}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[1002] = {
		id = 10,
		state = 1002,
		job = 0.001,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000},{type=0,id=157,count=1},{type=0,id=372,count=1},},
		buttonchange = {{taskid=11,state=1101}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[11] = {
	[1101] = {
		id = 11,
		state = 1101,
		job = 0.001,
		changeState = {type=401,value=1},
		schedule = 1,
		autochange = {{taskid=11,state=1102}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[1102] = {
		id = 11,
		state = 1102,
		job = 0.001,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=12,state=1201}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[12] = {
	[1201] = {
		id = 12,
		state = 1201,
		job = 0.001,
		schedule = 0,
		buttonchange = {{taskid=12,state=1202}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[1202] = {
		id = 12,
		state = 1202,
		job = 0.001,
		tasknameclick = {{map=225,x=33,y=17,outboard=1},{map=226,x=33,y=17,outboard=1},{map=257,x=33,y=17,outboard=1}},
		changeState = {type=302,value=50},
		schedule = 1,
		teleportpos = {{id=1,map=225,x=33,y=17,outboard=1},{id=2,map=226,x=33,y=17,outboard=1},{id=3,map=257,x=33,y=17,outboard=1}},
		autochange = {{taskid=12,state=1203}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[1203] = {
		id = 12,
		state = 1203,
		job = 0.0011,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=13,state=1301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[13] = {
	[1301] = {
		id = 13,
		state = 1301,
		job = 0.0012,
		schedule = 0,
		buttonchange = {{taskid=13,state=1302}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[1302] = {
		id = 13,
		state = 1302,
		job = 0.0012,
		tasknameclick = {{map=228,x=52,y=20,outboard=1},{map=229,x=52,y=20,outboard=1},{map=258,x=52,y=20,outboard=1}},
		changeState = {type=502,value=1},
		schedule = 0,
		teleportpos = {{id=1,map=228,x=52,y=20,outboard=1},{id=2,map=229,x=52,y=20,outboard=1},{id=3,map=258,x=52,y=20,outboard=1}},
		autochange = {{taskid=13,state=1303}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[1303] = {
		id = 13,
		state = 1303,
		job = 0.0013,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=14,state=1401},{taskid=501,state=50101},{taskid=502,state=50201}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[14] = {
	[1401] = {
		id = 14,
		state = 1401,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=15,state=1501}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[15] = {
	[1501] = {
		id = 15,
		state = 1501,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=16,state=1601}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[16] = {
	[1601] = {
		id = 16,
		state = 1601,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=17,state=1701}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[17] = {
	[1701] = {
		id = 17,
		state = 1701,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=18,state=1801}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[18] = {
	[1801] = {
		id = 18,
		state = 1801,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=19,state=1901}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[19] = {
	[1901] = {
		id = 19,
		state = 1901,
		job = 0.0015,
		tasknameclick = {{map=231,x=48,y=19,outboard=1},{map=232,x=48,y=19,outboard=1},{map=259,x=48,y=19,outboard=1},},
		changeState = {type=101,value=8,mapid={231,232,259}},
		schedule = 1,
		teleportpos = {{id=1,map=231,x=48,y=19,outboard=1},{id=2,map=232,x=48,y=19,outboard=1},{id=3,map=259,x=48,y=19,outboard=1},},
		autochange = {{taskid=19,state=1902}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[1902] = {
		id = 19,
		state = 1902,
		job = 0.0015,
		tasknameclick = {{map=3,x=219,y=149,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000},{type=0,id=512,count=1}},
		buttonchange = {{taskid=20,state=2001}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[20] = {
	[2001] = {
		id = 20,
		state = 2001,
		job = 0.0013,
		changeState = {type=401,value=1},
		schedule = 1,
		autochange = {{taskid=20,state=2002}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[2002] = {
		id = 20,
		state = 2002,
		job = 0.001,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=21,state=2101}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[21] = {
	[2101] = {
		id = 21,
		state = 2101,
		job = 0.0015,
		schedule = 0,
		buttonchange = {{taskid=21,state=2102}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[2102] = {
		id = 21,
		state = 2102,
		job = 0.0015,
		tasknameclick = {{map=267,x=48,y=19,outboard=1},{map=268,x=48,y=19,outboard=1},{map=271,x=48,y=19,outboard=1},},
		changeState = {type=502,value=2},
		schedule = 0,
		teleportpos = {{id=1,map=267,x=48,y=19,outboard=1},{id=2,map=268,x=48,y=19,outboard=1},{id=3,map=271,x=48,y=19,outboard=1},},
		autochange = {{taskid=21,state=2103}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[2103] = {
		id = 21,
		state = 2103,
		job = 0.0015,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=22,state=2201},{taskid=503,state=50301},{taskid=504,state=50401},{taskid=505,state=50501},{taskid=506,state=50601}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[22] = {
	[2201] = {
		id = 22,
		state = 2201,
		job = 0.0015,
		tasknameclick = {{map=3,x=210,y=152,isopen=1}},
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=23,state=2301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[23] = {
	[2301] = {
		id = 23,
		state = 2301,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=24,state=2401}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[24] = {
	[2401] = {
		id = 24,
		state = 2401,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=25,state=2501}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[25] = {
	[2501] = {
		id = 25,
		state = 2501,
		job = 0.0015,
		schedule = 0,
		award = {{type=5,id=5,count=10000},{type=2,id=2,count=5000}},
		buttonchange = {{taskid=26,state=2601}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[26] = {
	[2601] = {
		id = 26,
		state = 2601,
		job = 0.0013,
		schedule = 0,
		award = {{type=0,id=269,count=10}},
		buttonchange = {{taskid=26,state=2602}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[2602] = {
		id = 26,
		state = 2602,
		job = 0.0013,
		tasknameclick = {{map=234,x=33,y=32,outboard=1},{map=260,x=33,y=32,outboard=1},{map=269,x=33,y=32,outboard=1},{map=308,x=33,y=32,outboard=1},{map=309,x=33,y=32,outboard=1},{map=310,x=33,y=32,outboard=1},},
		changeState = {type=1101,value=5,subtype=269},
		schedule = 1,
		teleportpos = {{id=1,map=234,x=33,y=32,outboard=1},{id=2,map=260,x=33,y=32,outboard=1},{id=3,map=269,x=33,y=32,outboard=1},},
		autochange = {{taskid=26,state=2603}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[2603] = {
		id = 26,
		state = 2603,
		job = 0.0013,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000},{type=0,id=512,count=1}},
		buttonchange = {{taskid=27,state=2701}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[27] = {
	[2701] = {
		id = 27,
		state = 2701,
		job = 0.0013,
		changeState = {type=401,value=1},
		schedule = 1,
		autochange = {{taskid=27,state=2702}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[2702] = {
		id = 27,
		state = 2702,
		job = 0.001,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=28,state=2801}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[28] = {
	[2801] = {
		id = 28,
		state = 2801,
		job = 0.0012,
		schedule = 0,
		buttonchange = {{taskid=28,state=2802}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[2802] = {
		id = 28,
		state = 2802,
		job = 0.0012,
		changeState = {type=502,value=3},
		schedule = 0,
		teleportpos = {{id=1,map=3,x=212,y=154,npcid=189},{id=2,map=3,x=214,y=154,npcid=188},{id=4,map=3,x=217,y=154,npcid=187},{id=5,map=3,x=220,y=154,npcid=186}},
		autochange = {{taskid=28,state=2803}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[2803] = {
		id = 28,
		state = 2803,
		job = 0.0013,
		tasknameclick = {{map=3,x=210,y=152,isopen=1}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000},{type=0,id=512,count=1}},
		buttonchange = {{taskid=29,state=2901}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[29] = {
	[2901] = {
		id = 29,
		state = 2901,
		job = 0.001,
		changeState = {type=401,value=1},
		schedule = 1,
		autochange = {{taskid=29,state=2902}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[2902] = {
		id = 29,
		state = 2902,
		job = 0.001,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=30,state=3001}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[30] = {
	[3001] = {
		id = 30,
		state = 3001,
		job = 0.0012,
		schedule = 0,
		buttonchange = {{taskid=30,state=3002}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
	[3002] = {
		id = 30,
		state = 3002,
		job = 0.0012,
		changeState = {type=502,value=4},
		schedule = 0,
		teleportpos = {{id=1,map=3,x=210,y=154,npcid=190},{id=2,map=3,x=212,y=154,npcid=189},{id=4,map=3,x=214,y=154,npcid=188},{id=5,map=3,x=217,y=154,npcid=187}},
		autochange = {{taskid=30,state=3003}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
	[3003] = {
		id = 30,
		state = 3003,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		buttonchange = {{taskid=31,state=3101}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
	},
},
[31] = {
	[3101] = {
		id = 31,
		state = 3101,
		job = 0,
		tasknameclick = {{map=3,x=203,y=155,isopen=1,npcid=198}},
		schedule = 0,
		award = {{type=2,id=2,count=10000},{type=5,id=5,count=10000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 0,
		taskaccept = 1,
	},
},
[501] = {
	[50101] = {
		id = 501,
		state = 50101,
		job = 0.0012,
		changeState = {type=901,value=1,subtype=1},
		schedule = 0,
		autochange = {{taskid=501,state=50102}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50102] = {
		id = 501,
		state = 50102,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=15000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[502] = {
	[50201] = {
		id = 502,
		state = 50201,
		job = 0.0012,
		changeState = {type=901,value=1,subtype=11},
		schedule = 0,
		autochange = {{taskid=502,state=50202}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50202] = {
		id = 502,
		state = 50202,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=15000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[503] = {
	[50301] = {
		id = 503,
		state = 50301,
		job = 0.0012,
		changeState = {type=901,value=1,subtype=21},
		schedule = 0,
		autochange = {{taskid=503,state=50302}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50302] = {
		id = 503,
		state = 50302,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=25000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[504] = {
	[50401] = {
		id = 504,
		state = 50401,
		job = 0.0012,
		changeState = {type=901,value=1,subtype=30},
		schedule = 0,
		autochange = {{taskid=504,state=50402}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50402] = {
		id = 504,
		state = 50402,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=35000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[505] = {
	[50501] = {
		id = 505,
		state = 50501,
		job = 0.0012,
		changeState = {type=901,value=1,subtype=39},
		schedule = 0,
		autochange = {{taskid=505,state=50502}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50502] = {
		id = 505,
		state = 50502,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=35000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[506] = {
	[50601] = {
		id = 506,
		state = 50601,
		job = 0.0012,
		changeState = {type=901,value=1,subtype=48},
		schedule = 0,
		autochange = {{taskid=506,state=50602}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50602] = {
		id = 506,
		state = 50602,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=35000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[507] = {
	[50701] = {
		id = 507,
		state = 50701,
		job = 0.0012,
		schedule = 0,
		buttonchange = {{taskid=507,state=50702}},
		levellimit = 999,
		opendaylimit = 999,
		zhuanshenglimit = 999,
		tasktype = 1,
		taskaccept = 1,
	},
	[50702] = {
		id = 507,
		state = 50702,
		job = 0.0012,
		tasknameclick = {{map=256,x=34,y=26,npcid=214}},
		changeState = {type=101,value=15,mapid={250}},
		schedule = 1,
		autochange = {{taskid=507,state=50703}},
		levellimit = 999,
		opendaylimit = 999,
		zhuanshenglimit = 999,
		tasktype = 1,
	},
	[50703] = {
		id = 507,
		state = 50703,
		job = 0.0012,
		schedule = 0,
		award = {{type=2,id=2,count=35000},{type=0,id=1013,count=2}},
		iscomplete = 1,
		levellimit = 999,
		opendaylimit = 999,
		zhuanshenglimit = 999,
		tasktype = 1,
	},
},
[508] = {
	[50801] = {
		id = 508,
		state = 50801,
		job = 0,
		schedule = 0,
		buttonchange = {{taskid=508,state=50802}},
		levellimit = 999,
		opendaylimit = 999,
		zhuanshenglimit = 999,
		tasktype = 1,
		taskaccept = 1,
	},
	[50802] = {
		id = 508,
		state = 50802,
		job = 0,
		tasknameclick = {{map=256,x=34,y=26,npcid=214}},
		changeState = {type=101,value=15,mapid={251}},
		schedule = 1,
		autochange = {{taskid=508,state=50803}},
		levellimit = 999,
		opendaylimit = 999,
		zhuanshenglimit = 999,
		tasktype = 1,
	},
	[50803] = {
		id = 508,
		state = 50803,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=35000},{type=0,id=1014,count=2}},
		iscomplete = 1,
		levellimit = 999,
		opendaylimit = 999,
		zhuanshenglimit = 999,
		tasktype = 1,
	},
},
[509] = {
	[50901] = {
		id = 509,
		state = 50901,
		job = 0.0003,
		changeState = {type=202,value=3,subtype=3},
		schedule = 1,
		autochange = {{taskid=509,state=50902}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[50902] = {
		id = 509,
		state = 50902,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=510,state=51001}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[510] = {
	[51001] = {
		id = 510,
		state = 51001,
		job = 0,
		changeState = {type=202,value=6,subtype=101},
		schedule = 1,
		autochange = {{taskid=510,state=51002}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51002] = {
		id = 510,
		state = 51002,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=511,state=51101}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[511] = {
	[51101] = {
		id = 511,
		state = 51101,
		job = 0,
		changeState = {type=202,value=6,subtype=102},
		schedule = 1,
		autochange = {{taskid=511,state=51102}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51102] = {
		id = 511,
		state = 51102,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=10521,state=52101},{taskid=20522,state=52201},{taskid=30523,state=52301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[512] = {
	[51201] = {
		id = 512,
		state = 51201,
		job = 0,
		changeState = {type=202,value=6,subtype=103},
		schedule = 1,
		autochange = {{taskid=512,state=51202}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51202] = {
		id = 512,
		state = 51202,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=10524,state=52401},{taskid=20525,state=52501},{taskid=30526,state=52601}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[513] = {
	[51301] = {
		id = 513,
		state = 51301,
		job = 0,
		changeState = {type=202,value=6,subtype=104},
		schedule = 1,
		autochange = {{taskid=513,state=51302}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51302] = {
		id = 513,
		state = 51302,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=514,state=51401}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[514] = {
	[51401] = {
		id = 514,
		state = 51401,
		job = 0,
		changeState = {type=202,value=6,subtype=105},
		schedule = 1,
		autochange = {{taskid=514,state=51402}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51402] = {
		id = 514,
		state = 51402,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=515,state=51501}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[515] = {
	[51501] = {
		id = 515,
		state = 51501,
		job = 0,
		changeState = {type=202,value=7,subtype=106},
		schedule = 1,
		autochange = {{taskid=515,state=51502}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51502] = {
		id = 515,
		state = 51502,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=516,state=51601}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[516] = {
	[51601] = {
		id = 516,
		state = 51601,
		job = 0,
		changeState = {type=202,value=7,subtype=107},
		schedule = 1,
		autochange = {{taskid=516,state=51602}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51602] = {
		id = 516,
		state = 51602,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=517,state=51701}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[517] = {
	[51701] = {
		id = 517,
		state = 51701,
		job = 0,
		changeState = {type=202,value=7,subtype=108},
		schedule = 1,
		autochange = {{taskid=517,state=51702}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51702] = {
		id = 517,
		state = 51702,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=518,state=51801}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[518] = {
	[51801] = {
		id = 518,
		state = 51801,
		job = 0,
		changeState = {type=202,value=7,subtype=109},
		schedule = 1,
		autochange = {{taskid=518,state=51802}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51802] = {
		id = 518,
		state = 51802,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=519,state=51901}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[519] = {
	[51901] = {
		id = 519,
		state = 51901,
		job = 0,
		changeState = {type=202,value=7,subtype=110},
		schedule = 1,
		autochange = {{taskid=519,state=51902}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[51902] = {
		id = 519,
		state = 51902,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=520,state=52001}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[520] = {
	[52001] = {
		id = 520,
		state = 52001,
		job = 0,
		changeState = {type=202,value=7,subtype=111},
		schedule = 1,
		autochange = {{taskid=520,state=52002}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52002] = {
		id = 520,
		state = 52002,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[536] = {
	[53601] = {
		id = 536,
		state = 53601,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		isfirst = -1,
		iscomplete = 1,
		levellimit = 70,
		opendaylimit = 4,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
},
[537] = {
	[53701] = {
		id = 537,
		state = 53701,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		isfirst = -1,
		iscomplete = 1,
		levellimit = 70,
		opendaylimit = 8,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
},
[538] = {
	[53801] = {
		id = 538,
		state = 53801,
		job = 0,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		isfirst = -1,
		iscomplete = 1,
		levellimit = 70,
		opendaylimit = 16,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
},
[10521] = {
	[52101] = {
		id = 10521,
		state = 52101,
		job = 1,
		changeState = {type=602,value=2,subtype=6},
		schedule = 1,
		autochange = {{taskid=10521,state=52102}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52102] = {
		id = 10521,
		state = 52102,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=512,state=51201}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[10524] = {
	[52401] = {
		id = 10524,
		state = 52401,
		job = 1,
		changeState = {type=602,value=3,subtype=6},
		schedule = 1,
		autochange = {{taskid=10524,state=52402}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52402] = {
		id = 10524,
		state = 52402,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=513,state=51301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[10527] = {
	[52701] = {
		id = 10527,
		state = 52701,
		job = 1,
		changeState = {type=602,value=5,subtype=6},
		schedule = 1,
		autochange = {{taskid=10527,state=52702}},
		levellimit = 999,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52702] = {
		id = 10527,
		state = 52702,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[10530] = {
	[53001] = {
		id = 10530,
		state = 53001,
		job = 1,
		changeState = {type=602,value=7,subtype=6},
		schedule = 1,
		autochange = {{taskid=10530,state=53002}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[53002] = {
		id = 10530,
		state = 53002,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[10533] = {
	[53301] = {
		id = 10533,
		state = 53301,
		job = 1,
		changeState = {type=602,value=1,subtype=8},
		schedule = 1,
		autochange = {{taskid=10533,state=53302}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[53302] = {
		id = 10533,
		state = 53302,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[20522] = {
	[52201] = {
		id = 20522,
		state = 52201,
		job = 1,
		changeState = {type=602,value=2,subtype=18},
		schedule = 1,
		autochange = {{taskid=20522,state=52202}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52202] = {
		id = 20522,
		state = 52202,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=512,state=51201}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[20525] = {
	[52501] = {
		id = 20525,
		state = 52501,
		job = 1,
		changeState = {type=602,value=3,subtype=18},
		schedule = 1,
		autochange = {{taskid=20525,state=52502}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52502] = {
		id = 20525,
		state = 52502,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=513,state=51301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[20528] = {
	[52801] = {
		id = 20528,
		state = 52801,
		job = 1,
		changeState = {type=602,value=5,subtype=18},
		schedule = 1,
		autochange = {{taskid=20528,state=52802}},
		levellimit = 999,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52802] = {
		id = 20528,
		state = 52802,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[20531] = {
	[53101] = {
		id = 20531,
		state = 53101,
		job = 1,
		changeState = {type=602,value=7,subtype=18},
		schedule = 1,
		autochange = {{taskid=20531,state=53102}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[53102] = {
		id = 20531,
		state = 53102,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[20534] = {
	[53401] = {
		id = 20534,
		state = 53401,
		job = 1,
		changeState = {type=602,value=1,subtype=21},
		schedule = 1,
		autochange = {{taskid=20534,state=53402}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[53402] = {
		id = 20534,
		state = 53402,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[30523] = {
	[52301] = {
		id = 30523,
		state = 52301,
		job = 1,
		changeState = {type=602,value=2,subtype=30},
		schedule = 1,
		autochange = {{taskid=30523,state=52302}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52302] = {
		id = 30523,
		state = 52302,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=512,state=51201}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[30526] = {
	[52601] = {
		id = 30526,
		state = 52601,
		job = 1,
		changeState = {type=602,value=3,subtype=30},
		schedule = 1,
		autochange = {{taskid=30526,state=52602}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52602] = {
		id = 30526,
		state = 52602,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		buttonchange = {{taskid=513,state=51301}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[30529] = {
	[52901] = {
		id = 30529,
		state = 52901,
		job = 1,
		changeState = {type=602,value=5,subtype=30},
		schedule = 1,
		autochange = {{taskid=30529,state=52902}},
		levellimit = 999,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[52902] = {
		id = 30529,
		state = 52902,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[30532] = {
	[53201] = {
		id = 30532,
		state = 53201,
		job = 1,
		changeState = {type=602,value=7,subtype=30},
		schedule = 1,
		autochange = {{taskid=30532,state=53202}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[53202] = {
		id = 30532,
		state = 53202,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
[30535] = {
	[53501] = {
		id = 30535,
		state = 53501,
		job = 1,
		changeState = {type=602,value=1,subtype=33},
		schedule = 1,
		autochange = {{taskid=30535,state=53502}},
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
		taskaccept = 1,
	},
	[53502] = {
		id = 30535,
		state = 53502,
		job = 1,
		schedule = 0,
		award = {{type=2,id=2,count=5000},{type=5,id=5,count=1000}},
		iscomplete = 1,
		levellimit = 1,
		opendaylimit = 0,
		zhuanshenglimit = 0,
		tasktype = 1,
	},
},
}