--R-任务配置.xlsx 任务类型
TaskTypeConfig = {
[1] = {
	[1] = {
		type = 1,
		ValueType = 1,
		map = 限制地图,
	},
},
[2] = {
	[2] = {
		type = 2,
		ValueType = 2,
	},
},
[3] = {
	[2] = {
		type = 3,
		ValueType = 2,
	},
},
[4] = {
	[1] = {
		type = 4,
		ValueType = 1,
	},
},
[5] = {
	[2] = {
		type = 5,
		ValueType = 2,
	},
},
[6] = {
	[2] = {
		type = 6,
		ValueType = 2,
	},
},
[7] = {
	[1] = {
		type = 7,
		ValueType = 1,
	},
},
[8] = {
	[2] = {
		type = 8,
		ValueType = 2,
	},
},
[9] = {
	[1] = {
		type = 9,
		ValueType = 1,
	},
},
[10] = {
	[1] = {
		type = 10,
		ValueType = 1,
	},
},
[11] = {
	[1] = {
		type = 11,
		ValueType = 1,
	},
},
}