--R-任务配置.xlsx 任务
TaskConfig = {
[1] = {
	id = 1,
	award = {{type=1,id=1,count=9999}},
	teleport = 
{
 {
  state = 1,
  teleport = {
   {id = 1,map = 1,x = 10, y = 10, range = 10},
   {id = 2,map = 1,x = 10, y = 10, range = 10},
  }
 },
 {
  state = 2,
  teleport = {
   {id = 1,map = 1,x = 10, y = 10, range = 10},
   {id = 2,map = 1,x = 10, y = 10, range = 10},
  }
 },
 {
  state = 3,
  teleport = {
   {id = 1,map = 1,x = 10, y = 10, range = 10},
   {id = 2,map = 1,x = 10, y = 10, range = 10},
  }
 }
 
},
	getType = 1,
	getparam = {
 npcid = 0,map = 1,x = 10, y = 10, range = 10, -- npc id 有就填 没有就不填或者为0
},
	task = {
 type = , -- 类型
 value = , --进度
 id = {},
 scene ={},
},
	completeType = 1,
	completeparam = {
 {npcid = 0,map = 1,x = 10, y = 10, range = 10}, -- npc id 有就填 没有就不填或者为0
},
	flyshoe = {
 {times = 10, cost = {}},
 {times = 20, cost = {},},
},
	flyshoeteleport = 
{
 {
  state = 1,
  teleport = {map = 1,x = 10, y = 10, range = 10},
  }
 },
 {
  state = 2,
  teleport = {map = 1,x = 10, y = 10, range = 10},
  }
 },
 {
  state = 3,
  teleport = {map = 1,x = 10, y = 10, range = 10},
  }
 },
 
},
	level = 0,
	zhuanshenglvl = 0,
	openday = 1,
},
}