--X-洗炼配置.xlsx 洗炼类型
RefiningBaseConfig={
[1] = {
	type = 1,
	attribute = "可洗出属性和上限：\n\物攻上限+3\n\魔法上限+3\n\道术上限+3\n\吸血+1%\n\攻速+4%\n\暴击倍率+4%",
	rate = 100,
	drop = {{rate=30,type=11,value=1,followrate=20,followcount=2},{rate=30,type=15,value=1,followrate=20,followcount=2},{rate=30,type=19,value=1,followrate=20,followcount=2},{rate=30,type=79,value=50,followrate=20,followcount=1},{rate=30,type=83,value=200,followrate=20,followcount=1},{rate=30,type=136,value=200,followrate=20,followcount=1}},
},
[2] = {
	type = 2,
	attribute = "可洗出属性和上限：\n\血量+30\n\物防上限+3\n\魔御上限+3\n\双防加成+2%\n\御怪+10\n\伤害吸收+1%",
	rate = 100,
	drop = {{rate=30,type=5,value=10,followrate=20,followcount=2},{rate=30,type=23,value=1,followrate=20,followcount=2},{rate=30,type=27,value=1,followrate=20,followcount=2},{rate=30,type=81,value=100,followrate=20,followcount=1},{rate=30,type=101,value=5,followrate=20,followcount=1},{rate=30,type=54,value=50,followrate=20,followcount=1}},
},
[3] = {
	type = 3,
	attribute = "可洗出属性和上限：\n\物攻上限+3\n\魔法上限+3\n\道术上限+3\n\吸血+1%\n\破怪+10\n\暴击倍率+4%\n\每种属性洗出后最高跳点1次",
	rate = 100,
	drop = {{rate=30,type=11,value=1,followrate=20,followcount=2},{rate=30,type=15,value=1,followrate=20,followcount=2},{rate=30,type=19,value=1,followrate=20,followcount=2},{rate=30,type=79,value=50,followrate=20,followcount=1},{rate=30,type=116,value=5,followrate=20,followcount=1},{rate=30,type=136,value=200,followrate=20,followcount=1}},
},
[4] = {
	type = 4,
	attribute = "可洗出属性和上限：\n\血量+30\n\物防上限+3\n\魔御上限+3\n\双防加成+2%\n\御怪+10\n\攻魔道加成+1%",
	rate = 100,
	drop = {{rate=30,type=5,value=10,followrate=20,followcount=2},{rate=30,type=23,value=1,followrate=20,followcount=2},{rate=30,type=27,value=1,followrate=20,followcount=2},{rate=30,type=81,value=100,followrate=20,followcount=1},{rate=30,type=101,value=5,followrate=20,followcount=1},{rate=30,type=80,value=50,followrate=20,followcount=1}},
},
[5] = {
	type = 5,
	attribute = "可洗出属性和上限：\n\物攻上限+7\n\魔法上限+7\n\道术上限+7\n\吸血+3.5%\n\攻速+14%\n\暴击倍率+14%",
	rate = 100,
	drop = {{rate=30,type=11,value=1,followrate=20,followcount=6},{rate=30,type=15,value=1,followrate=20,followcount=6},{rate=30,type=19,value=1,followrate=20,followcount=6},{rate=30,type=79,value=50,followrate=20,followcount=6},{rate=30,type=83,value=200,followrate=20,followcount=6},{rate=30,type=136,value=200,followrate=20,followcount=6}},
},
[6] = {
	type = 6,
	attribute = "可洗出属性和上限：\n\血量+140\n\物防上限+7\n\魔御上限+7\n\双防加成+7%\n\御怪+35\n\伤害吸收+3.5%\n\每种属性洗出后最高跳点6次",
	rate = 100,
	drop = {{rate=30,type=5,value=20,followrate=20,followcount=6},{rate=30,type=23,value=1,followrate=20,followcount=6},{rate=30,type=27,value=1,followrate=20,followcount=6},{rate=30,type=81,value=100,followrate=20,followcount=6},{rate=30,type=101,value=5,followrate=20,followcount=6},{rate=30,type=54,value=50,followrate=20,followcount=6}},
},
[7] = {
	type = 7,
	attribute = "可洗出属性和上限：\n\物攻上限+7\n\魔法上限+7\n\道术上限+7\n\吸血+3.5%\n\破怪+35\n\暴击倍率+14%\n\每种属性洗出后最高跳点6次",
	rate = 100,
	drop = {{rate=30,type=11,value=1,followrate=20,followcount=6},{rate=30,type=15,value=1,followrate=20,followcount=6},{rate=30,type=19,value=1,followrate=20,followcount=6},{rate=30,type=79,value=50,followrate=20,followcount=6},{rate=30,type=116,value=5,followrate=20,followcount=6},{rate=30,type=136,value=200,followrate=20,followcount=6}},
},
[8] = {
	type = 8,
	attribute = "可洗出属性和上限：\n\血量+140\n\物防上限+7\n\魔御上限+7\n\双防加成+7%\n\御怪+35\n\攻魔道加成+3.5%\n\每种属性洗出后最高跳点6次",
	rate = 100,
	drop = {{rate=30,type=5,value=20,followrate=20,followcount=6},{rate=30,type=23,value=1,followrate=20,followcount=6},{rate=30,type=27,value=1,followrate=20,followcount=6},{rate=30,type=81,value=100,followrate=20,followcount=6},{rate=30,type=101,value=5,followrate=20,followcount=6},{rate=30,type=80,value=50,followrate=20,followcount=6}},
},
[9] = {
	type = 9,
	attribute = "可洗出属性和上限：\n\攻魔道加成1%-3%",
	rate = 100,
	drop = {{rate=100,type=80,value=100,followrate=60,followcount=2}},
},
[10] = {
	type = 10,
	attribute = "可洗出属性和上限：\n\体力加成1%-5%",
	rate = 100,
	drop = {{rate=100,type=6,value=100,followrate=80,followcount=4}},
},
[11] = {
	type = 11,
	attribute = "可洗出属性和上限：\n\血量+140\n\物防上限+7\n\魔御上限+7\n\双防加成+7%\n\御怪+35\n\伤害吸收+3.5%\n\每种属性洗出后最高跳点6次",
},
[12] = {
	type = 12,
	attribute = "可洗出属性和上限：\n\物攻上限+7\n\魔法上限+7\n\道术上限+7\n\吸血+3.5%\n\攻速+7%\n\暴击倍率+7%\n\每种属性洗出后最高跳点6次",
},
[13] = {
	type = 13,
	attribute = "可洗出属性和上限：\n\血量+140\n\物防上限+7\n\魔御上限+7\n\双防加成+7%\n\御怪+35\n\攻魔道加成+3.5%\n\每种属性洗出后最高跳点6次",
},
[14] = {
	type = 14,
	attribute = "可洗出属性和上限：\n\物攻上限+7\n\魔法上限+7\n\道术上限+7\n\体力加成+7%\n\破怪+35\n\暴击倍率+7%\n\每种属性洗出后最高跳点6次",
},
[15] = {
	type = 15,
	attribute = "可洗出属性和上限：\n\半月增伤+70\n\雷电增伤+70\n\冰咆哮增伤+70\n\火符增伤+70\n\烈火增伤+70\n\逐日增伤+70\n\火雨增伤+70\n\噬血增伤+70\n\每种属性洗出后最高跳点6次",
	rate = 100,
	drop = {{rate=20,type=145,value=10,followrate=70,followcount=6},{rate=20,type=146,value=10,followrate=70,followcount=6},{rate=20,type=147,value=10,followrate=70,followcount=6},{rate=20,type=148,value=10,followrate=70,followcount=6},{rate=20,type=149,value=10,followrate=70,followcount=6},{rate=20,type=150,value=10,followrate=70,followcount=6},{rate=20,type=151,value=10,followrate=70,followcount=6},{rate=20,type=152,value=10,followrate=70,followcount=6}},
},
}