--AB-元宝替代.xlsx 洗炼道具
RefiningReplaceConfig = {
[480] = {
	itemid = 480,
	id = 4,
	price = 10,
},
[838] = {
	itemid = 838,
	id = 1,
	price = 10,
},
[840] = {
	itemid = 840,
	id = 2,
	price = 50,
},
[841] = {
	itemid = 841,
	id = 3,
	price = 150,
},
[842] = {
	itemid = 842,
	id = 5,
	price = 500,
},
[844] = {
	itemid = 844,
	id = 6,
	price = 700,
},
}