--Z-祝福配置.xlsx 幸运等级
Blessluck = {
[1] = {
	level = 1,
	attrs = {{type=5,value=200},{type=76,value=5},{type=77,value=15},{type=21,value=0},{type=23,value=0},{type=25,value=0},{type=27,value=0}},
},
[2] = {
	level = 2,
	attrs = {{type=5,value=500},{type=76,value=20},{type=77,value=30},{type=21,value=2},{type=23,value=3},{type=25,value=2},{type=27,value=3}},
},
[3] = {
	level = 3,
	attrs = {{type=5,value=1000},{type=76,value=40},{type=77,value=60},{type=21,value=4},{type=23,value=6},{type=25,value=4},{type=27,value=6}},
},
[4] = {
	level = 4,
	attrs = {{type=5,value=1600},{type=76,value=60},{type=77,value=100},{type=21,value=6},{type=23,value=10},{type=25,value=6},{type=27,value=10}},
},
[5] = {
	level = 5,
	attrs = {{type=5,value=2400},{type=76,value=100},{type=77,value=140},{type=21,value=10},{type=23,value=14},{type=25,value=10},{type=27,value=14}},
},
[6] = {
	level = 6,
	attrs = {{type=5,value=3200},{type=76,value=120},{type=77,value=200},{type=21,value=12},{type=23,value=20},{type=25,value=12},{type=27,value=20}},
},
[7] = {
	level = 7,
	attrs = {{type=5,value=4000},{type=76,value=150},{type=77,value=250},{type=21,value=15},{type=23,value=25},{type=25,value=15},{type=27,value=25}},
},
[8] = {
	level = 8,
	attrs = {{type=5,value=4800},{type=76,value=180},{type=77,value=300},{type=21,value=18},{type=23,value=30},{type=25,value=18},{type=27,value=30}},
},
[9] = {
	level = 9,
	attrs = {{type=5,value=5600},{type=76,value=210},{type=77,value=350},{type=21,value=21},{type=23,value=35},{type=25,value=21},{type=27,value=35}},
},
[10] = {
	level = 10,
	attrs = {{type=5,value=6400},{type=76,value=240},{type=77,value=400},{type=21,value=24},{type=23,value=40},{type=25,value=24},{type=27,value=40}},
},
}