--Z-祝福配置.xlsx 祝福升级
BlessConfig = {
[0] = {
	level = 0,
	needBlessValue = 0,
	bless = {{rate=0,value=0},{rate=97,value=10},{rate=0,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=0}},
	blessdown = 0,
},
[1] = {
	level = 1,
	needBlessValue = 8,
	bless = {{rate=50,value=1},{rate=49,value=10},{rate=0,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=1}},
	blessdown = 0,
},
[2] = {
	level = 2,
	needBlessValue = 38,
	bless = {{rate=55,value=1},{rate=44,value=10},{rate=0,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=2}},
	blessdown = 0,
},
[3] = {
	level = 3,
	needBlessValue = 98,
	bless = {{rate=60,value=1},{rate=39,value=10},{rate=0,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=3}},
	blessdown = 5,
},
[4] = {
	level = 4,
	needBlessValue = 188,
	bless = {{rate=65,value=1},{rate=34,value=10},{rate=0,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=4}},
	blessdown = 25,
},
[5] = {
	level = 5,
	needBlessValue = 298,
	bless = {{rate=70,value=1},{rate=28,value=10},{rate=1,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=5}},
	blessdown = 45,
},
[6] = {
	level = 6,
	needBlessValue = 458,
	bless = {{rate=75,value=1},{rate=23,value=10},{rate=1,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=6}},
	blessdown = 65,
},
[7] = {
	level = 7,
	needBlessValue = 658,
	bless = {{rate=80,value=1},{rate=18,value=10},{rate=1,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=7}},
	blessdown = 85,
},
[8] = {
	level = 8,
	needBlessValue = 888,
	bless = {{rate=85,value=1},{rate=12,value=10},{rate=2,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=8}},
	blessdown = 120,
},
[9] = {
	level = 9,
	needBlessValue = 1288,
	bless = {{rate=88,value=1},{rate=9,value=10},{rate=2,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=9}},
	blessdown = 160,
},
[10] = {
	level = 10,
	needBlessValue = 1588,
	bless = {{rate=88,value=1},{rate=9,value=10},{rate=2,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=10}},
	blessdown = 200,
},
[11] = {
	level = 11,
	needBlessValue = 1688,
	bless = {{rate=88,value=1},{rate=8,value=10},{rate=3,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=11}},
	blessdown = 240,
},
[12] = {
	level = 12,
	needBlessValue = 2188,
	bless = {{rate=88,value=1},{rate=8,value=10},{rate=3,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=12}},
	blessdown = 280,
},
[13] = {
	level = 13,
	needBlessValue = 2588,
	bless = {{rate=88,value=1},{rate=8,value=10},{rate=3,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=13}},
	blessdown = 320,
},
[14] = {
	level = 14,
	needBlessValue = 3088,
	bless = {{rate=87,value=1},{rate=8,value=10},{rate=4,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=14}},
	blessdown = 380,
},
[15] = {
	level = 15,
	needBlessValue = 3688,
	bless = {{rate=86,value=1},{rate=8,value=10},{rate=5,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=15}},
	blessdown = 450,
},
[16] = {
	level = 16,
	needBlessValue = 4599,
	bless = {{rate=85,value=1},{rate=8,value=10},{rate=6,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=16}},
	blessdown = 520,
},
[17] = {
	level = 17,
	needBlessValue = 5888,
	bless = {{rate=84,value=1},{rate=8,value=10},{rate=7,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=17}},
	blessdown = 590,
},
[18] = {
	level = 18,
	needBlessValue = 6888,
	bless = {{rate=83,value=1},{rate=8,value=10},{rate=8,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=18}},
	blessdown = 660,
},
[19] = {
	level = 19,
	needBlessValue = 7888,
	bless = {{rate=82,value=1},{rate=8,value=10},{rate=9,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=19}},
	blessdown = 900,
},
[20] = {
	level = 20,
	needBlessValue = 8888,
	bless = {{rate=81,value=1},{rate=8,value=10},{rate=10,value=-5},{rate=1,value=58}},
	attrs = {{type=45,value=20}},
	blessdown = 1088,
},
}