--P-平台福利KU25.xlsx 充值奖励
LoginKU25Config={
[1] = {
	id = 1,
	Target = 1,
	reward = {{type=0,id=261,count=1},{type=0,id=247,count=2},{type=7,id=307,count=3},{type=2,id=2,count=5000},},
},
[2] = {
	id = 2,
	Target = 500,
	reward = {{type=0,id=421,count=2},{type=0,id=261,count=2},{type=0,id=269,count=2},{type=2,id=2,count=10000},},
},
[3] = {
	id = 3,
	Target = 2000,
	reward = {{type=0,id=421,count=4},{type=0,id=261,count=4},{type=0,id=269,count=4},{type=2,id=2,count=15000},},
},
[4] = {
	id = 4,
	Target = 5000,
	reward = {{type=0,id=421,count=6},{type=0,id=261,count=6},{type=0,id=269,count=6},{type=2,id=2,count=20000},},
},
[5] = {
	id = 5,
	Target = 10000,
	reward = {{type=0,id=421,count=8},{type=0,id=261,count=8},{type=0,id=269,count=8},{type=2,id=2,count=25000},},
},
[6] = {
	id = 6,
	Target = 20000,
	reward = {{type=0,id=421,count=10},{type=0,id=261,count=10},{type=0,id=269,count=10},{type=2,id=2,count=30000},},
},
}