--P-平台福利KU25.xlsx ku25大厅
PlatformKU25Config={
	WeChatRewardID = "6",
	BoxReward = {{type=0,id=247,count=10},{type=7,id=7,count=5},{type=0,id=261,count=10},{type=2,id=2,count=20000},},
	LoginReward = {{type=0,id=421,count=1},{type=0,id=247,count=2},{type=7,id=7,count=3},{type=2,id=2,count=5000},},
	SPID = "22",
	WeChatReward = {{type=0,id=1294,count=0}},
	RealnameReward = {{type=0,id=351,count=1},{type=0,id=421,count=5},{type=0,id=302,count=1},{type=2,id=2,count=30000}},
	limit = 20000,
}