--AB-行会配置.xlsx 建筑升级
GuildBuildConfig={
[1] = {
	[1] = {
		type = 1,
		level = 1,
		cost = 0,
		guillvlimit = 0,
	},
	[2] = {
		type = 1,
		level = 2,
		cost = 10000,
		guillvlimit = 0,
	},
	[3] = {
		type = 1,
		level = 3,
		cost = 20000,
		guillvlimit = 0,
	},
	[4] = {
		type = 1,
		level = 4,
		cost = 30000,
		guillvlimit = 0,
	},
	[5] = {
		type = 1,
		level = 5,
		cost = 40000,
		guillvlimit = 0,
	},
},
[2] = {
	[1] = {
		type = 2,
		level = 1,
		cost = 0,
		guillvlimit = 1,
	},
	[2] = {
		type = 2,
		level = 2,
		cost = 10000,
		guillvlimit = 2,
	},
	[3] = {
		type = 2,
		level = 3,
		cost = 20000,
		guillvlimit = 3,
	},
	[4] = {
		type = 2,
		level = 4,
		cost = 30000,
		guillvlimit = 4,
	},
	[5] = {
		type = 2,
		level = 5,
		cost = 40000,
		guillvlimit = 5,
	},
},
[3] = {
	[1] = {
		type = 3,
		level = 1,
		cost = 0,
		guillvlimit = 1,
	},
	[2] = {
		type = 3,
		level = 2,
		cost = 10000,
		guillvlimit = 2,
	},
	[3] = {
		type = 3,
		level = 3,
		cost = 20000,
		guillvlimit = 3,
	},
	[4] = {
		type = 3,
		level = 4,
		cost = 30000,
		guillvlimit = 4,
	},
	[5] = {
		type = 3,
		level = 5,
		cost = 40000,
		guillvlimit = 5,
	},
},
}