--AB-行会配置.xlsx 行会等级
GuildLevelConfig={
[1] = {
	nLevel = 1,
	nMaxSecLeader = 2,
	nMaxelders = 2,
	nMaxElite = 5,
	nMaxMember = 110,
},
[2] = {
	nLevel = 2,
	nMaxSecLeader = 2,
	nMaxelders = 2,
	nMaxElite = 5,
	nMaxMember = 112,
},
[3] = {
	nLevel = 3,
	nMaxSecLeader = 2,
	nMaxelders = 2,
	nMaxElite = 5,
	nMaxMember = 114,
},
[4] = {
	nLevel = 4,
	nMaxSecLeader = 2,
	nMaxelders = 2,
	nMaxElite = 5,
	nMaxMember = 116,
},
[5] = {
	nLevel = 5,
	nMaxSecLeader = 2,
	nMaxelders = 2,
	nMaxElite = 5,
	nMaxMember = 120,
},
}