--AB-行会配置.xlsx 日志提示
GuildLogConfig={
[1] = {
	id = 1,
	logContent = "{{name1}}|C:0xe5ddcf&T:创建了行会|",
},
[2] = {
	id = 2,
	logContent = "{{name1}}|C:0xe5ddcf&T:加入了行会！|",
},
[3] = {
	id = 3,
	logContent = "{{name1}}|C:0xe5ddcf&T:离开了行会！|",
},
[4] = {
	id = 4,
	logContent = "{{name1}}|C:0xe5ddcf&T:将|{{name2}}|C:0xe5ddcf&T:请出了行会！|",
},
[5] = {
	id = 5,
	logContent = "{{name1}}|C:0xe5ddcf&T:把会长禅让给|{{name2}}",
},
[6] = {
	id = 6,
	logContent = "{{name1}}|C:0xe5ddcf&T:被任命为|{{offcial}}|C:0xe5ddcf&T:！|",
},
[7] = {
	id = 7,
	logContent = "{{name1}}|C:0xe5ddcf&T:被撤销了|{{offcial}}",
},
[8] = {
	id = 8,
	logContent = "|C:0xe5ddcf&T:本行会已提升至|{{level}}|C:0xe5ddcf&T:级！|",
},
[9] = {
	id = 9,
	logContent = "{{name1}}|C:0xe5ddcf&T:弹劾成功，成为了|{{offical}}|C:0xe5ddcf&T:！|",
},
[10] = {
	id = 10,
	logContent = "{{guild}}|C:0xe5ddcf&T:向我方行会宣战！|",
},
[11] = {
	id = 11,
	logContent = "|C:0xe5ddcf&T:向|{{guild}}|C:0xe5ddcf&T:宣战！|",
},
[12] = {
	id = 12,
	logContent = "{{name1}}|C:0xe5ddcf&T:捐献了|{{money}}|C:0xe5ddcf&T:绑定金币！|",
},
[13] = {
	id = 13,
	logContent = "{{name1}}|C:0xe5ddcf&T:捐献了|{{money}}|C:0xe5ddcf&T:银两！|",
},
[14] = {
	id = 14,
	logContent = "恭喜{{name1}}|C:0xe5ddcf&T:职位提升到|{{offical}}",
},
}