--G-工会配置.xlsx GuildSiege
GuildSiegeConfig={
	OpenSvrSingDays = 3,
	OpenSvrDaysWinLeaderYb = 10000,
	siegeDay = {2,4,6},
	autoSignMainHallLevel = 3,
	palaceSceneId = 30,
	siegeSceneId = 14,
	siegeTime = 3600,
	startTempOccupuyTime = 660,
	dragonRoleBuffId = 455,
	generalMonster = { 
  monsterId=323, sceneId=14, num=1, pos={80,82}, livetime=3600, refreshTime = 10, buffId = 454,buffRadius = 12
 },
	redFlagMonster = {
  monsterId=322, sceneId=14, num=1, pos={40,80}, livetime=3600,
 },
	relivePos = {105,130,110,145},
	relivePosRedFlag = {35,76,45,85},
	teleport = {sceneId = 14, posX = 63, posY = 64},
	returnSiegeScene = {sceneId = 14, posX= 92, posY = 90, radius = 5},
	show1WGoldText = {7,7},
	UglyModel = {1,2},
	informationModel = {
  {
   {107, 52, 7, 1},
   {108, 52, 7},
  },
  {
   {57, 27, 5},
   {58, 27, 5, 1},
  },
  {
   {59, 28, 5, 1},
   {60, 28, 5},
  },
  {
   {55, 26, 4},
   {56, 26, 4, 1},
  },
  {
   {55, 26, 4, 1},
   {56, 26, 4},
  },  
 },
	command = { 
  commandCd  = 10, 
  commandNeedGuildCoin = 10,
  commandMsg = 
  {
   {     
    {desc=OldLang.Script.GuildsiegeCmd051},
   },

   { 
    {desc=OldLang.Script.GuildsiegeCmd052,eType=1},
   },

   {
    {desc=OldLang.Script.GuildsiegeCmd053},
   },
  },
 },
	winAwardShow = 
{  { type =0, id =758, count = 1, strong = 0, quality = 0, bind = 1 },
  { type =0, id =759, count = 1, strong = 0, quality = 0, bind = 1 },
  { type =0, id =755, count = 1, strong = 0, quality = 0, bind = 1 },
  { type =0, id =1029, count = 1, strong = 0, quality = 0, bind = 1 },
  { type =0, id =785, count = 1, strong = 0, quality = 0, bind = 1 },
  { type =0, id =784, count = 1, strong = 0, quality = 0, bind = 1 },},
	winAwards = {
  {
   awards =
   {
                { type =0, id =1112, count = 10, strong = 0, quality = 0, bind = 1 },
                { type =0, id =1118, count = 2, strong = 0, quality = 0, bind = 1 }, 
                { type =3, id =0, count = 2000000, strong = 0, quality = 0, bind = 1 },

   },
   
  },

  {
   awards =
   { 
                { type =0, id =1112, count = 5, strong = 0, quality = 0, bind = 1 }, 
                { type =0, id =1118, count = 1, strong = 0, quality = 0, bind = 1 }, 
                { type =3, id =0, count = 1300000, strong = 0, quality = 0, bind = 1 }, 

   },
  },

  {
   awards =
   { 
                { type =0, id =1112, count = 5, strong = 0, quality = 0, bind = 1 }, 
                { type =0, id =1118, count = 1, strong = 0, quality = 0, bind = 1 }, 
                { type =3, id =0, count = 1300000, strong = 0, quality = 0, bind = 1 },

   },
  },
  {
   awards =
   { 
                { type =0, id =1112, count = 5, strong = 0, quality = 0, bind = 1 },
                { type =0, id =1118, count = 1, strong = 0, quality = 0, bind = 1 }, 
                { type =3, id =0, count = 1300000, strong = 0, quality = 0, bind = 1 },

   },
   
  },
 },
	cityPosName = {
  OldLang.Script.GuildSiege044,
  OldLang.Script.GuildSiege045,
  OldLang.Script.GuildSiege046,
  OldLang.Script.GuildSiege047,
  OldLang.Script.GuildSiege048,
 },
	cityPosAward = {
  {
            { type =0, id =1102, count =10, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1104, count =5, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1124, count =3, strong = 0, quality = 0, bind = 1 },
            { type =10, id =0, count =2000, strong = 0, quality = 0, bind = 1 },

  },
  {
            { type =0, id =1102, count =8, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1104, count =3, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1124, count =2, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1254, count =2, strong = 0, quality = 0, bind = 1 },

  },
  { 
            { type =0, id =1102, count =6, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1104, count =1, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1124, count =1, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1254, count =1, strong = 0, quality = 0, bind = 1 },
  },
  {
            { type =0, id =1102, count =6, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1104, count =1, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1124, count =1, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1254, count =1, strong = 0, quality = 0, bind = 1 },
  },
  {
            { type =0, id =1102, count =6, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1104, count =1, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1124, count =1, strong = 0, quality = 0, bind = 1 },
            { type =0, id =1254, count =1, strong = 0, quality = 0, bind = 1 },
  },
 },
	callArcherYb = 1000,
	archerConfig = {
  {sceneId = 14, monsterId = 235, posX = 73,  posY = 95,  livetime = 180,},
  {sceneId = 14, monsterId = 235, posX = 74,  posY = 94,  livetime = 180,},
  {sceneId = 14, monsterId = 235, posX = 69,  posY = 99,  livetime = 180,},
  {sceneId = 14, monsterId = 235, posX = 68,  posY = 100,  livetime = 180,},
 },
	StatueConfig = {
  sceneId = 4,
  npcId = 84,
  dayWorShipCount = 3,
  initScore  = 1000,
  maxScore   = 2000,
  minScore  = 0,
  oneScore  = 1,
  goldYb    = 100,
  blackYb   = 100,
  defaultModel = 74,
  isShowScore  = 0,
  ScoreAndModel =  
  {
   {min =1051, max= 2000, model = {79,86},buffId = 470},
   {min =1021, max= 1050, model = {77,84},buffId = 469},
   {min =1001, max= 1020, model = {75,82},buffId = 468},
   {min =1000, max= 1000, model = {74,81},buffId = 0},
   {min = 980, max=  999, model = {76,83},buffId = 471},
   {min = 950, max=  979, model = {78,85},buffId = 472},
   {min =   0, max=  949, model = {80,87},buffId = 473},
  },
  worshipAwards =
  {
   { type =13, id =1, count =600, strong = 0, quality = 0, bind = 1 },

  },
  goldBlackAwards=
  {
   { type =3, id =0, count =388888, strong = 0, quality = 0, bind = 1 },

  }, 
 },
}