--AB-行会配置.xlsx Guildconst
GuildConfig={
	levelLimit = 24,
	createNeedYb = 10,
	awardGuildMoney = 1000,
	leftTimeLimit = 0,
	protectDay = 3,
	buildnum = 3,
	declareWarNeedCoin = 100,
	warLastTime = 3,
	impeachcost = 10,
	noticetips = "沙巴克攻城结束后，城主可通过我来领取专属奖励！/n/n沙城之巅称号：/n暴击倍率：+50%/n物防：30-30/n魔御：30-30/n全职业攻击：1-2",
	noticereward = {{type=0,id=950,count=1},{type=0,id=1031,count=1},{type=0,id=393,count=1}},
	Approval = 1,
	czrewards = {{type=0,id=1111,count=1}},
	czrewardsMailTT = "跨服沙巴克城主",
	czrewardsMailCT = "恭喜你获得沙巴克城主奖励",
	rankAward = {
[1] = { rank="1",value=1, awards={{type=0,id=1112,count=1}} },
[2] = { rank="2",value=2, awards={{type=0,id=1112,count=1}} },
[3] = { rank="3",value=3, awards={{type=0,id=1112,count=1}} },
},
	rankAwardMailTT = "跨服沙巴克荣耀奖励",
	rankAwardMailCT = "恭喜你在跨服沙巴克优秀会长奖励",
	open = 0,
	guilClose = {
isOpen = 0,
TimeType = 3,
TimeDetail = {
[1]={StartTime="1-00:01",EndTime="6-23:59"},
},
},
	guildClear = {
isOpen = 0,
TimeType = 3,
TimeDetail = {
[1]={StartTime="1-05:00", EndTime="1-06:00"},
},
},
}