--H-行会配置.xlsx guildLevel
guildLevelConfig={
[1] = {
	level = 1,
	maxFBZ = 1,
	maxTZ = 4,
	maxMember = 80,
	needYb = 1000,
	weekDecCoin = 100,
	fruitLevel = 1,
	benefit = { 
    {type = 0, id = 517, count = 10, quality = 0, strong = 0, bind=1},
    {type = 0, id = 1033, count = 1, quality = 0, strong = 0, bind=1 },
    {type = 0, id = 753, count = 1, quality = 0, strong = 0, bind=1 },
    
   },
	getBenefitCond = 1000,
	depotPage = 10,
},
}