--H-行会配置.xlsx FreshMonsters
GuildFreshMonConfig={
[1] = {
	level = 1,
	tree = { monsterId=279, sceneId=48, num=1, pos={41,36,41,36}, livetime=900, level=1,},
	monsters = {
     { --第1批怪
      { monsterId=289, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=289, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=289, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=289, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第2批怪
      { monsterId=290, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=290, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=290, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=290, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第3批怪
      { monsterId=291, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=291, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=291, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=291, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第4批怪
      { monsterId=292, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=292, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=292, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=292, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第5批怪
      { monsterId=293, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=293, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=293, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=293, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第6批怪
      { monsterId=294, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=294, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=294, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=294, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第7批怪
      { monsterId=295, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=295, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=295, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=295, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第8批怪
      { monsterId=296, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=296, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=296, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=296, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第9批怪
      { monsterId=297, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=297, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=297, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=297, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     { --第10批怪
      { monsterId=298, sceneId=48, num=5, pos={21,46,26,52},  livetime=900},
      { monsterId=298, sceneId=48, num=5, pos={57,51,62,59},  livetime=900},
      { monsterId=298, sceneId=48, num=5, pos={17,71,25,77},  livetime=900},
      { monsterId=298, sceneId=48, num=5, pos={59,66,67,71},  livetime=900},
     },
     
     

    },
	awardsClient = {
    {type = 0, id = 517, count = 1, quality = 0, strong = 0, bind=1},
    {type = 0, id = 892, count = 1, quality = 0, strong = 0, bind=1 },
    {type = 0, id = 778, count = 1, quality = 0, strong = 0, bind=1 },
     
     
    },
	awardsSuc = {
     {type = 2, id = 0, count = 300, quality = 0, strong = 0, bind=1 },  --行会贡献
     {type = 0, id = 517, count = 10, quality = 0, strong = 0, bind=1 },
     {type = 13, id = 1, count = 10000, quality = 0, strong = 0, bind=1 }, 
    },
	pos = 30,
	livetime = {21,46,26,52},
	monsterlevel = 900,
},
}