--C-成就表.xlsx 勋章
MedalConfig = {
[0] = {
	level = 0,
	popularity = 30,
	nextlevel = 28,
	openday = 8,
	needitem = {{type=2,id=0,count=50000},{type=11,id=0,count=30},{type=0,id=0,count=0}},
	medal = 0,
	nextmedal = 217,
	achievementid = {},
},
[1] = {
	level = 1,
	popularity = 40,
	nextlevel = 34,
	openday = 8,
	needitem = {{type=2,id=0,count=200000},{type=11,id=0,count=40},{type=0,id=217,count=1}},
	medal = 217,
	nextmedal = 218,
	achievementid = {},
},
[2] = {
	level = 2,
	popularity = 50,
	nextlevel = 40,
	openday = 8,
	needitem = {{type=2,id=0,count=300000},{type=11,id=0,count=50},{type=0,id=218,count=1}},
	medal = 218,
	nextmedal = 219,
	achievementid = {},
},
[3] = {
	level = 3,
	popularity = 60,
	nextlevel = 45,
	openday = 8,
	needitem = {{type=2,id=0,count=500000},{type=11,id=0,count=60},{type=0,id=219,count=1}},
	medal = 219,
	nextmedal = 220,
	achievementid = {},
},
[4] = {
	level = 4,
	popularity = 70,
	nextlevel = 55,
	openday = 8,
	needitem = {{type=2,id=0,count=800000},{type=11,id=0,count=70},{type=0,id=220,count=1}},
	medal = 220,
	nextmedal = 221,
	achievementid = {},
},
[5] = {
	level = 5,
	popularity = 80,
	nextlevel = 65,
	openday = 8,
	needitem = {{type=2,id=0,count=1200000},{type=11,id=0,count=80},{type=0,id=221,count=1}},
	medal = 221,
	nextmedal = 222,
	achievementid = {},
},
[6] = {
	level = 6,
	popularity = 80,
	nextlevel = 80,
	openday = 8,
	needitem = {{type=2,id=0,count=2000000},{type=11,id=0,count=80},{type=0,id=222,count=1}},
	medal = 222,
	nextmedal = 223,
	achievementid = {},
},
[7] = {
	level = 7,
	medal = 223,
	nextmedal = 0,
	achievementid = {},
},
}