--M-每日活跃.xlsx 活跃任务
DailyActivityConfig={
[1] = {
	[1] = {
		tasktype = 1,
		taskID = 1,
		name = "完成1次膜拜",
		type = 17,
		subtype = 5,
		ValueType = 1,
		value = 1,
		GiftTable = {{type=28,id=28,count=10}},
	},
	[2] = {
		tasktype = 1,
		taskID = 2,
		name = "击败500个怪物",
		type = 7,
		subtype = 1,
		ValueType = 1,
		value = 500,
		GiftTable = {{type=28,id=28,count=10}},
	},
	[3] = {
		tasktype = 1,
		taskID = 3,
		name = "完成1次夺宝",
		type = 17,
		subtype = 7,
		ValueType = 1,
		value = 1,
		GiftTable = {{type=28,id=28,count=10}},
	},
	[4] = {
		tasktype = 1,
		taskID = 4,
		name = "使用300瓶祝福油",
		type = 21,
		subtype = 269,
		ValueType = 1,
		value = 300,
		GiftTable = {{type=28,id=28,count=10}},
	},
	[5] = {
		tasktype = 1,
		taskID = 5,
		name = "击杀1次妖兽",
		type = 7,
		subtype = 3,
		ValueType = 1,
		value = 1,
		GiftTable = {{type=28,id=28,count=10}},
	},
	[6] = {
		tasktype = 1,
		taskID = 6,
		name = "击杀2次野外或重装BOSS",
		type = 7,
		subtype = 4,
		ValueType = 1,
		value = 2,
		GiftTable = {{type=28,id=28,count=10}},
	},
	[7] = {
		tasktype = 1,
		taskID = 7,
		name = "捐献8张炎之星王凭证",
		type = 30,
		subtype = 841,
		ValueType = 1,
		value = 1,
		material = {{type=0,id=841,count=8}},
		GiftTable = {{type=28,id=28,count=10}},
	},
	[8] = {
		tasktype = 1,
		taskID = 8,
		name = "捐献300张炎之战神凭证",
		type = 30,
		subtype = 838,
		ValueType = 1,
		value = 1,
		material = {{type=0,id=838,count=300}},
		GiftTable = {{type=28,id=28,count=10}},
	},
	[9] = {
		tasktype = 1,
		taskID = 9,
		name = "捐献3张王者凭证",
		type = 30,
		subtype = 842,
		ValueType = 1,
		value = 1,
		material = {{type=0,id=842,count=3}},
		GiftTable = {{type=28,id=28,count=10}},
	},
},
}