--AC-强化配置.xlsx 四象强化
FourStarsConfig = {
[1] = {
	[0] = {
		pos = 1,
		lv = 0,
		cost = {},
		attr = {{type=6,value=0}},
	},
	[1] = {
		pos = 1,
		lv = 1,
		cost = {{type=0,id=853,count=3},{type=2,id=2,count=5000}},
		attr = { { type = 6, value = 100,}, } ,
	},
	[2] = {
		pos = 1,
		lv = 2,
		cost = {{type=0,id=853,count=10},{type=2,id=2,count=10000}},
		attr = { { type = 6, value = 300,}, } ,
	},
	[3] = {
		pos = 1,
		lv = 3,
		cost = {{type=0,id=853,count=20},{type=2,id=2,count=20000}},
		attr = { { type = 6, value = 500,}, } ,
	},
	[4] = {
		pos = 1,
		lv = 4,
		cost = {{type=0,id=853,count=30},{type=2,id=2,count=30000}},
		attr = { { type = 6, value = 700,}, } ,
	},
	[5] = {
		pos = 1,
		lv = 5,
		cost = {{type=0,id=853,count=50},{type=2,id=2,count=50000}},
		attr = { { type = 6, value = 900,}, } ,
	},
	[6] = {
		pos = 1,
		lv = 6,
		cost = {{type=0,id=853,count=70},{type=2,id=2,count=100000}},
		attr = { { type = 6, value = 1100,}, } ,
	},
	[7] = {
		pos = 1,
		lv = 7,
		cost = {{type=0,id=853,count=100},{type=2,id=2,count=200000}},
		attr = { { type = 6, value = 1300,}, } ,
	},
	[8] = {
		pos = 1,
		lv = 8,
		cost = {{type=0,id=853,count=130},{type=2,id=2,count=300000}},
		attr = { { type = 6, value = 1500,}, } ,
	},
	[9] = {
		pos = 1,
		lv = 9,
		cost = {{type=0,id=853,count=150},{type=2,id=2,count=500000}},
		attr = { { type = 6, value = 1700,}, } ,
	},
	[10] = {
		pos = 1,
		lv = 10,
		cost = {{type=0,id=853,count=200},{type=2,id=2,count=600000}},
		attr = { { type = 6, value = 1900,}, } ,
	},
	[11] = {
		pos = 1,
		lv = 11,
		cost = {{type=0,id=853,count=300},{type=2,id=2,count=700000}},
		attr = { { type = 6, value = 2100,}, } ,
	},
	[12] = {
		pos = 1,
		lv = 12,
		cost = {{type=0,id=853,count=400},{type=2,id=2,count=800000}},
		attr = { { type = 6, value = 2300,}, } ,
	},
	[13] = {
		pos = 1,
		lv = 13,
		cost = {{type=0,id=853,count=500},{type=2,id=2,count=1000000}},
		attr = { { type = 6, value = 2500,}, } ,
	},
	[14] = {
		pos = 1,
		lv = 14,
		cost = {{type=0,id=853,count=600},{type=2,id=2,count=1200000}},
		attr = { { type = 6, value = 2700,}, } ,
	},
	[15] = {
		pos = 1,
		lv = 15,
		cost = {{type=0,id=853,count=800},{type=2,id=2,count=1500000}},
		attr = { { type = 6, value = 2900,}, } ,
	},
	[16] = {
		pos = 1,
		lv = 16,
		cost = {{type=0,id=853,count=1000},{type=2,id=2,count=1800000}},
		attr = { { type = 6, value = 3100,}, } ,
	},
	[17] = {
		pos = 1,
		lv = 17,
		cost = {{type=0,id=853,count=1200},{type=2,id=2,count=2000000}},
		attr = { { type = 6, value = 3300,}, } ,
	},
	[18] = {
		pos = 1,
		lv = 18,
		cost = {{type=0,id=853,count=1500},{type=2,id=2,count=2500000}},
		attr = { { type = 6, value = 3500,}, } ,
	},
	[19] = {
		pos = 1,
		lv = 19,
		cost = {{type=0,id=853,count=1800},{type=2,id=2,count=3000000}},
		attr = { { type = 6, value = 3700,}, } ,
	},
	[20] = {
		pos = 1,
		lv = 20,
		cost = {{type=0,id=853,count=2000},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 3900,}, } ,
	},
	[21] = {
		pos = 1,
		lv = 21,
		cost = {{type=0,id=853,count=2200},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 4100,}, } ,
	},
	[22] = {
		pos = 1,
		lv = 22,
		cost = {{type=0,id=853,count=2400},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 4300,}, } ,
	},
	[23] = {
		pos = 1,
		lv = 23,
		cost = {{type=0,id=853,count=2600},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 4500,}, } ,
	},
	[24] = {
		pos = 1,
		lv = 24,
		cost = {{type=0,id=853,count=2800},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 4700,}, } ,
	},
	[25] = {
		pos = 1,
		lv = 25,
		cost = {{type=0,id=853,count=3000},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 4900,}, } ,
	},
	[26] = {
		pos = 1,
		lv = 26,
		cost = {{type=0,id=853,count=3200},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 5100,}, } ,
	},
	[27] = {
		pos = 1,
		lv = 27,
		cost = {{type=0,id=853,count=3400},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 5300,}, } ,
	},
	[28] = {
		pos = 1,
		lv = 28,
		cost = {{type=0,id=853,count=3600},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 5500,}, } ,
	},
	[29] = {
		pos = 1,
		lv = 29,
		cost = {{type=0,id=853,count=3800},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 5700,}, } ,
	},
	[30] = {
		pos = 1,
		lv = 30,
		cost = {{type=0,id=853,count=4000},{type=2,id=2,count=5000000}},
		attr = { { type = 6, value = 6000,}, } ,
	},
	[31] = {
		pos = 1,
		lv = 31,
		cost = {{type=0,id=853,count=5000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=6200},},
	},
	[32] = {
		pos = 1,
		lv = 32,
		cost = {{type=0,id=853,count=6000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=6400},},
	},
	[33] = {
		pos = 1,
		lv = 33,
		cost = {{type=0,id=853,count=8000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=6600},},
	},
	[34] = {
		pos = 1,
		lv = 34,
		cost = {{type=0,id=853,count=10000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=6800},},
	},
	[35] = {
		pos = 1,
		lv = 35,
		cost = {{type=0,id=853,count=12000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=7000},},
	},
	[36] = {
		pos = 1,
		lv = 36,
		cost = {{type=0,id=853,count=14000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=7200},},
	},
	[37] = {
		pos = 1,
		lv = 37,
		cost = {{type=0,id=853,count=16000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=7400},},
	},
	[38] = {
		pos = 1,
		lv = 38,
		cost = {{type=0,id=853,count=18000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=7600},},
	},
	[39] = {
		pos = 1,
		lv = 39,
		cost = {{type=0,id=853,count=20000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=7800},},
	},
	[40] = {
		pos = 1,
		lv = 40,
		cost = {{type=0,id=853,count=22000},{type=2,id=2,count=5000000}},
		attr = {{type=6,value=8000},},
	},
},
[2] = {
	[0] = {
		pos = 2,
		lv = 0,
		cost = {},
		attr = {{type=5,value=0},{type=79,value=0}},
	},
	[1] = {
		pos = 2,
		lv = 1,
		cost = {{type=0,id=854,count=3},{type=2,id=2,count=5000}},
		attr = {{type=5,value=50},{type=79,value=50}},
	},
	[2] = {
		pos = 2,
		lv = 2,
		cost = {{type=0,id=854,count=10},{type=2,id=2,count=10000}},
		attr = {{type=5,value=70},{type=79,value=100}},
	},
	[3] = {
		pos = 2,
		lv = 3,
		cost = {{type=0,id=854,count=20},{type=2,id=2,count=20000}},
		attr = {{type=5,value=100},{type=79,value=150}},
	},
	[4] = {
		pos = 2,
		lv = 4,
		cost = {{type=0,id=854,count=30},{type=2,id=2,count=30000}},
		attr = {{type=5,value=120},{type=79,value=200}},
	},
	[5] = {
		pos = 2,
		lv = 5,
		cost = {{type=0,id=854,count=50},{type=2,id=2,count=50000}},
		attr = {{type=5,value=150},{type=79,value=250}},
	},
	[6] = {
		pos = 2,
		lv = 6,
		cost = {{type=0,id=854,count=70},{type=2,id=2,count=100000}},
		attr = {{type=5,value=180},{type=79,value=300}},
	},
	[7] = {
		pos = 2,
		lv = 7,
		cost = {{type=0,id=854,count=100},{type=2,id=2,count=200000}},
		attr = {{type=5,value=200},{type=79,value=330}},
	},
	[8] = {
		pos = 2,
		lv = 8,
		cost = {{type=0,id=854,count=130},{type=2,id=2,count=300000}},
		attr = {{type=5,value=250},{type=79,value=360}},
	},
	[9] = {
		pos = 2,
		lv = 9,
		cost = {{type=0,id=854,count=150},{type=2,id=2,count=500000}},
		attr = {{type=5,value=300},{type=79,value=390}},
	},
	[10] = {
		pos = 2,
		lv = 10,
		cost = {{type=0,id=854,count=200},{type=2,id=2,count=600000}},
		attr = {{type=5,value=350},{type=79,value=420}},
	},
	[11] = {
		pos = 2,
		lv = 11,
		cost = {{type=0,id=854,count=300},{type=2,id=2,count=700000}},
		attr = {{type=5,value=400},{type=79,value=450}},
	},
	[12] = {
		pos = 2,
		lv = 12,
		cost = {{type=0,id=854,count=400},{type=2,id=2,count=800000}},
		attr = {{type=5,value=500},{type=79,value=480}},
	},
	[13] = {
		pos = 2,
		lv = 13,
		cost = {{type=0,id=854,count=500},{type=2,id=2,count=1000000}},
		attr = {{type=5,value=600},{type=79,value=510}},
	},
	[14] = {
		pos = 2,
		lv = 14,
		cost = {{type=0,id=854,count=600},{type=2,id=2,count=1200000}},
		attr = {{type=5,value=700},{type=79,value=540}},
	},
	[15] = {
		pos = 2,
		lv = 15,
		cost = {{type=0,id=854,count=800},{type=2,id=2,count=1500000}},
		attr = {{type=5,value=800},{type=79,value=570}},
	},
	[16] = {
		pos = 2,
		lv = 16,
		cost = {{type=0,id=854,count=1000},{type=2,id=2,count=1800000}},
		attr = {{type=5,value=900},{type=79,value=600}},
	},
	[17] = {
		pos = 2,
		lv = 17,
		cost = {{type=0,id=854,count=1200},{type=2,id=2,count=2000000}},
		attr = {{type=5,value=1000},{type=79,value=630}},
	},
	[18] = {
		pos = 2,
		lv = 18,
		cost = {{type=0,id=854,count=1500},{type=2,id=2,count=2500000}},
		attr = {{type=5,value=1100},{type=79,value=660}},
	},
	[19] = {
		pos = 2,
		lv = 19,
		cost = {{type=0,id=854,count=1800},{type=2,id=2,count=3000000}},
		attr = {{type=5,value=1200},{type=79,value=690}},
	},
	[20] = {
		pos = 2,
		lv = 20,
		cost = {{type=0,id=854,count=2000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1300},{type=79,value=720}},
	},
	[21] = {
		pos = 2,
		lv = 21,
		cost = {{type=0,id=854,count=2200},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1400},{type=79,value=750}},
	},
	[22] = {
		pos = 2,
		lv = 22,
		cost = {{type=0,id=854,count=2400},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1500},{type=79,value=780}},
	},
	[23] = {
		pos = 2,
		lv = 23,
		cost = {{type=0,id=854,count=2600},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1600},{type=79,value=810}},
	},
	[24] = {
		pos = 2,
		lv = 24,
		cost = {{type=0,id=854,count=2800},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1700},{type=79,value=840}},
	},
	[25] = {
		pos = 2,
		lv = 25,
		cost = {{type=0,id=854,count=3000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1800},{type=79,value=870}},
	},
	[26] = {
		pos = 2,
		lv = 26,
		cost = {{type=0,id=854,count=3200},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=1900},{type=79,value=900}},
	},
	[27] = {
		pos = 2,
		lv = 27,
		cost = {{type=0,id=854,count=3400},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2000},{type=79,value=930}},
	},
	[28] = {
		pos = 2,
		lv = 28,
		cost = {{type=0,id=854,count=3600},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2100},{type=79,value=960}},
	},
	[29] = {
		pos = 2,
		lv = 29,
		cost = {{type=0,id=854,count=3800},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2200},{type=79,value=990}},
	},
	[30] = {
		pos = 2,
		lv = 30,
		cost = {{type=0,id=854,count=4000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2300},{type=79,value=1020}},
	},
	[31] = {
		pos = 2,
		lv = 31,
		cost = {{type=0,id=854,count=5000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2400},{type=79,value=1030},},
	},
	[32] = {
		pos = 2,
		lv = 32,
		cost = {{type=0,id=854,count=6000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2500},{type=79,value=1040},},
	},
	[33] = {
		pos = 2,
		lv = 33,
		cost = {{type=0,id=854,count=8000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2600},{type=79,value=1050},},
	},
	[34] = {
		pos = 2,
		lv = 34,
		cost = {{type=0,id=854,count=10000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2700},{type=79,value=1060},},
	},
	[35] = {
		pos = 2,
		lv = 35,
		cost = {{type=0,id=854,count=12000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2800},{type=79,value=1070},},
	},
	[36] = {
		pos = 2,
		lv = 36,
		cost = {{type=0,id=854,count=14000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=2900},{type=79,value=1080},},
	},
	[37] = {
		pos = 2,
		lv = 37,
		cost = {{type=0,id=854,count=16000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=3000},{type=79,value=1090},},
	},
	[38] = {
		pos = 2,
		lv = 38,
		cost = {{type=0,id=854,count=18000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=3100},{type=79,value=1100},},
	},
	[39] = {
		pos = 2,
		lv = 39,
		cost = {{type=0,id=854,count=20000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=3200},{type=79,value=1110},},
	},
	[40] = {
		pos = 2,
		lv = 40,
		cost = {{type=0,id=854,count=22000},{type=2,id=2,count=5000000}},
		attr = {{type=5,value=3300},{type=79,value=1120},},
	},
},
[3] = {
	[0] = {
		pos = 3,
		lv = 0,
		cost = {},
		attr = {{type=76,value=0},{type=77,value=0}},
	},
	[1] = {
		pos = 3,
		lv = 1,
		cost = {{type=0,id=855,count=5},{type=2,id=2,count=5000}},
		attr = {{type=9,value=1},{type=11,value=2},{type=13,value=1},{type=15,value=2},{type=17,value=1},{type=19,value=2},},
	},
	[2] = {
		pos = 3,
		lv = 2,
		cost = {{type=0,id=855,count=10},{type=2,id=2,count=10000}},
		attr = {{type=9,value=2},{type=11,value=4},{type=13,value=2},{type=15,value=4},{type=17,value=2},{type=19,value=4},},
	},
	[3] = {
		pos = 3,
		lv = 3,
		cost = {{type=0,id=855,count=30},{type=2,id=2,count=20000}},
		attr = {{type=9,value=4},{type=11,value=7},{type=13,value=4},{type=15,value=7},{type=17,value=4},{type=19,value=7},},
	},
	[4] = {
		pos = 3,
		lv = 4,
		cost = {{type=0,id=855,count=60},{type=2,id=2,count=30000}},
		attr = {{type=9,value=5},{type=11,value=11},{type=13,value=5},{type=15,value=11},{type=17,value=5},{type=19,value=11},},
	},
	[5] = {
		pos = 3,
		lv = 5,
		cost = {{type=0,id=855,count=100},{type=2,id=2,count=50000}},
		attr = {{type=9,value=7},{type=11,value=15},{type=13,value=7},{type=15,value=15},{type=17,value=7},{type=19,value=15},},
	},
	[6] = {
		pos = 3,
		lv = 6,
		cost = {{type=0,id=855,count=140},{type=2,id=2,count=100000}},
		attr = {{type=9,value=9},{type=11,value=20},{type=13,value=9},{type=15,value=20},{type=17,value=9},{type=19,value=20},},
	},
	[7] = {
		pos = 3,
		lv = 7,
		cost = {{type=0,id=855,count=200},{type=2,id=2,count=200000}},
		attr = {{type=9,value=12},{type=11,value=25},{type=13,value=12},{type=15,value=25},{type=17,value=12},{type=19,value=25},},
	},
	[8] = {
		pos = 3,
		lv = 8,
		cost = {{type=0,id=855,count=260},{type=2,id=2,count=300000}},
		attr = {{type=9,value=15},{type=11,value=30},{type=13,value=15},{type=15,value=30},{type=17,value=15},{type=19,value=30},},
	},
	[9] = {
		pos = 3,
		lv = 9,
		cost = {{type=0,id=855,count=300},{type=2,id=2,count=400000}},
		attr = {{type=9,value=19},{type=11,value=38},{type=13,value=19},{type=15,value=38},{type=17,value=19},{type=19,value=38},},
	},
	[10] = {
		pos = 3,
		lv = 10,
		cost = {{type=0,id=855,count=400},{type=2,id=2,count=500000}},
		attr = {{type=9,value=22},{type=11,value=46},{type=13,value=22},{type=15,value=46},{type=17,value=22},{type=19,value=46},},
	},
	[11] = {
		pos = 3,
		lv = 11,
		cost = {{type=0,id=855,count=600},{type=2,id=2,count=600000}},
		attr = {{type=9,value=25},{type=11,value=55},{type=13,value=25},{type=15,value=55},{type=17,value=25},{type=19,value=55},},
	},
	[12] = {
		pos = 3,
		lv = 12,
		cost = {{type=0,id=855,count=800},{type=2,id=2,count=700000}},
		attr = {{type=9,value=29},{type=11,value=64},{type=13,value=29},{type=15,value=64},{type=17,value=29},{type=19,value=64},},
	},
	[13] = {
		pos = 3,
		lv = 13,
		cost = {{type=0,id=855,count=1000},{type=2,id=2,count=800000}},
		attr = {{type=9,value=33},{type=11,value=73},{type=13,value=33},{type=15,value=73},{type=17,value=33},{type=19,value=73},},
	},
	[14] = {
		pos = 3,
		lv = 14,
		cost = {{type=0,id=855,count=1200},{type=2,id=2,count=900000}},
		attr = {{type=9,value=37},{type=11,value=83},{type=13,value=37},{type=15,value=83},{type=17,value=37},{type=19,value=83},},
	},
	[15] = {
		pos = 3,
		lv = 15,
		cost = {{type=0,id=855,count=1600},{type=2,id=2,count=1000000}},
		attr = {{type=9,value=41},{type=11,value=94},{type=13,value=41},{type=15,value=94},{type=17,value=41},{type=19,value=94},},
	},
	[16] = {
		pos = 3,
		lv = 16,
		cost = {{type=0,id=855,count=2000},{type=2,id=2,count=1100000}},
		attr = {{type=9,value=45},{type=11,value=105},{type=13,value=45},{type=15,value=105},{type=17,value=45},{type=19,value=105},},
	},
	[17] = {
		pos = 3,
		lv = 17,
		cost = {{type=0,id=855,count=2400},{type=2,id=2,count=1200000}},
		attr = {{type=9,value=49},{type=11,value=117},{type=13,value=49},{type=15,value=117},{type=17,value=49},{type=19,value=117},},
	},
	[18] = {
		pos = 3,
		lv = 18,
		cost = {{type=0,id=855,count=3000},{type=2,id=2,count=1300000}},
		attr = {{type=9,value=53},{type=11,value=129},{type=13,value=53},{type=15,value=129},{type=17,value=53},{type=19,value=129},},
	},
	[19] = {
		pos = 3,
		lv = 19,
		cost = {{type=0,id=855,count=3600},{type=2,id=2,count=1400000}},
		attr = {{type=9,value=57},{type=11,value=141},{type=13,value=57},{type=15,value=141},{type=17,value=57},{type=19,value=141},},
	},
	[20] = {
		pos = 3,
		lv = 20,
		cost = {{type=0,id=855,count=4000},{type=2,id=2,count=1500000}},
		attr = {{type=9,value=62},{type=11,value=154},{type=13,value=62},{type=15,value=154},{type=17,value=62},{type=19,value=154},},
	},
	[21] = {
		pos = 3,
		lv = 21,
		cost = {{type=0,id=855,count=4400},{type=2,id=2,count=1600000}},
		attr = {{type=9,value=67},{type=11,value=167},{type=13,value=67},{type=15,value=167},{type=17,value=67},{type=19,value=167},},
	},
	[22] = {
		pos = 3,
		lv = 22,
		cost = {{type=0,id=855,count=4800},{type=2,id=2,count=1700000}},
		attr = {{type=9,value=72},{type=11,value=182},{type=13,value=72},{type=15,value=182},{type=17,value=72},{type=19,value=182},},
	},
	[23] = {
		pos = 3,
		lv = 23,
		cost = {{type=0,id=855,count=5200},{type=2,id=2,count=1800000}},
		attr = {{type=9,value=77},{type=11,value=197},{type=13,value=77},{type=15,value=197},{type=17,value=77},{type=19,value=197},},
	},
	[24] = {
		pos = 3,
		lv = 24,
		cost = {{type=0,id=855,count=5600},{type=2,id=2,count=1900000}},
		attr = {{type=9,value=82},{type=11,value=213},{type=13,value=82},{type=15,value=213},{type=17,value=82},{type=19,value=213},},
	},
	[25] = {
		pos = 3,
		lv = 25,
		cost = {{type=0,id=855,count=6000},{type=2,id=2,count=2000000}},
		attr = {{type=9,value=87},{type=11,value=230},{type=13,value=87},{type=15,value=230},{type=17,value=87},{type=19,value=230},},
	},
	[26] = {
		pos = 3,
		lv = 26,
		cost = {{type=0,id=855,count=6400},{type=2,id=2,count=2100000}},
		attr = {{type=9,value=92},{type=11,value=247},{type=13,value=92},{type=15,value=247},{type=17,value=92},{type=19,value=247},},
	},
	[27] = {
		pos = 3,
		lv = 27,
		cost = {{type=0,id=855,count=6800},{type=2,id=2,count=2200000}},
		attr = {{type=9,value=97},{type=11,value=264},{type=13,value=97},{type=15,value=264},{type=17,value=97},{type=19,value=264},},
	},
	[28] = {
		pos = 3,
		lv = 28,
		cost = {{type=0,id=855,count=7200},{type=2,id=2,count=2300000}},
		attr = {{type=9,value=102},{type=11,value=282},{type=13,value=102},{type=15,value=282},{type=17,value=102},{type=19,value=282},},
	},
	[29] = {
		pos = 3,
		lv = 29,
		cost = {{type=0,id=855,count=7600},{type=2,id=2,count=2400000}},
		attr = {{type=9,value=107},{type=11,value=300},{type=13,value=107},{type=15,value=300},{type=17,value=107},{type=19,value=300},},
	},
	[30] = {
		pos = 3,
		lv = 30,
		cost = {{type=0,id=855,count=8000},{type=2,id=2,count=2500000}},
		attr = {{type=9,value=112},{type=11,value=330},{type=13,value=112},{type=15,value=330},{type=17,value=112},{type=19,value=330},},
	},
	[31] = {
		pos = 3,
		lv = 31,
		cost = {{type=0,id=855,count=9000},{type=2,id=2,count=2600000},},
		attr = {{type=9,value=115},{type=11,value=335},{type=13,value=115},{type=15,value=335},{type=17,value=115},{type=19,value=335},},
	},
	[32] = {
		pos = 3,
		lv = 32,
		cost = {{type=0,id=855,count=10000},{type=2,id=2,count=2700000},},
		attr = {{type=9,value=118},{type=11,value=340},{type=13,value=118},{type=15,value=340},{type=17,value=118},{type=19,value=340},},
	},
	[33] = {
		pos = 3,
		lv = 33,
		cost = {{type=0,id=855,count=12000},{type=2,id=2,count=2800000},},
		attr = {{type=9,value=121},{type=11,value=345},{type=13,value=121},{type=15,value=345},{type=17,value=121},{type=19,value=345},},
	},
	[34] = {
		pos = 3,
		lv = 34,
		cost = {{type=0,id=855,count=14000},{type=2,id=2,count=2900000},},
		attr = {{type=9,value=124},{type=11,value=350},{type=13,value=124},{type=15,value=350},{type=17,value=124},{type=19,value=350},},
	},
	[35] = {
		pos = 3,
		lv = 35,
		cost = {{type=0,id=855,count=16000},{type=2,id=2,count=3000000},},
		attr = {{type=9,value=127},{type=11,value=355},{type=13,value=127},{type=15,value=355},{type=17,value=127},{type=19,value=355},},
	},
	[36] = {
		pos = 3,
		lv = 36,
		cost = {{type=0,id=855,count=18000},{type=2,id=2,count=3100000},},
		attr = {{type=9,value=130},{type=11,value=360},{type=13,value=130},{type=15,value=360},{type=17,value=130},{type=19,value=360},},
	},
	[37] = {
		pos = 3,
		lv = 37,
		cost = {{type=0,id=855,count=20000},{type=2,id=2,count=3200000},},
		attr = {{type=9,value=133},{type=11,value=365},{type=13,value=133},{type=15,value=365},{type=17,value=133},{type=19,value=365},},
	},
	[38] = {
		pos = 3,
		lv = 38,
		cost = {{type=0,id=855,count=22000},{type=2,id=2,count=3300000},},
		attr = {{type=9,value=136},{type=11,value=370},{type=13,value=136},{type=15,value=370},{type=17,value=136},{type=19,value=370},},
	},
	[39] = {
		pos = 3,
		lv = 39,
		cost = {{type=0,id=855,count=24000},{type=2,id=2,count=3400000},},
		attr = {{type=9,value=139},{type=11,value=375},{type=13,value=139},{type=15,value=375},{type=17,value=139},{type=19,value=375},},
	},
	[40] = {
		pos = 3,
		lv = 40,
		cost = {{type=0,id=855,count=26000},{type=2,id=2,count=3500000},},
		attr = {{type=9,value=142},{type=11,value=380},{type=13,value=142},{type=15,value=380},{type=17,value=142},{type=19,value=380},},
	},
},
[4] = {
	[0] = {
		pos = 4,
		lv = 0,
		cost = {},
		attr = {{type=54,value=0}},
	},
	[1] = {
		pos = 4,
		lv = 1,
		cost = {{type=0,id=856,count=5},{type=2,id=2,count=5000}},
		attr = {{type=54,value=50},},
	},
	[2] = {
		pos = 4,
		lv = 2,
		cost = {{type=0,id=856,count=10},{type=2,id=2,count=10000}},
		attr = {{type=54,value=100},},
	},
	[3] = {
		pos = 4,
		lv = 3,
		cost = {{type=0,id=856,count=30},{type=2,id=2,count=20000}},
		attr = {{type=54,value=150},},
	},
	[4] = {
		pos = 4,
		lv = 4,
		cost = {{type=0,id=856,count=60},{type=2,id=2,count=30000}},
		attr = {{type=54,value=200},},
	},
	[5] = {
		pos = 4,
		lv = 5,
		cost = {{type=0,id=856,count=100},{type=2,id=2,count=50000}},
		attr = {{type=54,value=250},},
	},
	[6] = {
		pos = 4,
		lv = 6,
		cost = {{type=0,id=856,count=140},{type=2,id=2,count=100000}},
		attr = {{type=54,value=300},},
	},
	[7] = {
		pos = 4,
		lv = 7,
		cost = {{type=0,id=856,count=200},{type=2,id=2,count=200000}},
		attr = {{type=54,value=350},},
	},
	[8] = {
		pos = 4,
		lv = 8,
		cost = {{type=0,id=856,count=260},{type=2,id=2,count=300000}},
		attr = {{type=54,value=400},},
	},
	[9] = {
		pos = 4,
		lv = 9,
		cost = {{type=0,id=856,count=300},{type=2,id=2,count=400000}},
		attr = {{type=54,value=450},},
	},
	[10] = {
		pos = 4,
		lv = 10,
		cost = {{type=0,id=856,count=400},{type=2,id=2,count=500000}},
		attr = {{type=54,value=500},},
	},
	[11] = {
		pos = 4,
		lv = 11,
		cost = {{type=0,id=856,count=600},{type=2,id=2,count=600000}},
		attr = {{type=54,value=550},},
	},
	[12] = {
		pos = 4,
		lv = 12,
		cost = {{type=0,id=856,count=800},{type=2,id=2,count=700000}},
		attr = {{type=54,value=600},},
	},
	[13] = {
		pos = 4,
		lv = 13,
		cost = {{type=0,id=856,count=1000},{type=2,id=2,count=800000}},
		attr = {{type=54,value=650},},
	},
	[14] = {
		pos = 4,
		lv = 14,
		cost = {{type=0,id=856,count=1200},{type=2,id=2,count=900000}},
		attr = {{type=54,value=700},},
	},
	[15] = {
		pos = 4,
		lv = 15,
		cost = {{type=0,id=856,count=1600},{type=2,id=2,count=1000000}},
		attr = {{type=54,value=750},},
	},
	[16] = {
		pos = 4,
		lv = 16,
		cost = {{type=0,id=856,count=2000},{type=2,id=2,count=1100000}},
		attr = {{type=54,value=800},},
	},
	[17] = {
		pos = 4,
		lv = 17,
		cost = {{type=0,id=856,count=2400},{type=2,id=2,count=1200000}},
		attr = {{type=54,value=850},},
	},
	[18] = {
		pos = 4,
		lv = 18,
		cost = {{type=0,id=856,count=3000},{type=2,id=2,count=1300000}},
		attr = {{type=54,value=900},},
	},
	[19] = {
		pos = 4,
		lv = 19,
		cost = {{type=0,id=856,count=3600},{type=2,id=2,count=1400000}},
		attr = {{type=54,value=950},},
	},
	[20] = {
		pos = 4,
		lv = 20,
		cost = {{type=0,id=856,count=4000},{type=2,id=2,count=1500000}},
		attr = {{type=54,value=1000},},
	},
	[21] = {
		pos = 4,
		lv = 21,
		cost = {{type=0,id=856,count=4400},{type=2,id=2,count=1600000}},
		attr = {{type=54,value=1050},},
	},
	[22] = {
		pos = 4,
		lv = 22,
		cost = {{type=0,id=856,count=4800},{type=2,id=2,count=1700000}},
		attr = {{type=54,value=1100},},
	},
	[23] = {
		pos = 4,
		lv = 23,
		cost = {{type=0,id=856,count=5200},{type=2,id=2,count=1800000}},
		attr = {{type=54,value=1150},},
	},
	[24] = {
		pos = 4,
		lv = 24,
		cost = {{type=0,id=856,count=5600},{type=2,id=2,count=1900000}},
		attr = {{type=54,value=1200},},
	},
	[25] = {
		pos = 4,
		lv = 25,
		cost = {{type=0,id=856,count=6000},{type=2,id=2,count=2000000}},
		attr = {{type=54,value=1250},},
	},
	[26] = {
		pos = 4,
		lv = 26,
		cost = {{type=0,id=856,count=6400},{type=2,id=2,count=2100000}},
		attr = {{type=54,value=1300},},
	},
	[27] = {
		pos = 4,
		lv = 27,
		cost = {{type=0,id=856,count=6800},{type=2,id=2,count=2200000}},
		attr = {{type=54,value=1350},},
	},
	[28] = {
		pos = 4,
		lv = 28,
		cost = {{type=0,id=856,count=7200},{type=2,id=2,count=2300000}},
		attr = {{type=54,value=1400},},
	},
	[29] = {
		pos = 4,
		lv = 29,
		cost = {{type=0,id=856,count=7600},{type=2,id=2,count=2400000}},
		attr = {{type=54,value=1450},},
	},
	[30] = {
		pos = 4,
		lv = 30,
		cost = {{type=0,id=856,count=8000},{type=2,id=2,count=2500000}},
		attr = {{type=54,value=1500},},
	},
	[31] = {
		pos = 4,
		lv = 31,
		cost = {{type=0,id=856,count=9000},{type=2,id=2,count=2600000},},
		attr = {{type=54,value=1520},},
	},
	[32] = {
		pos = 4,
		lv = 32,
		cost = {{type=0,id=856,count=10000},{type=2,id=2,count=2700000},},
		attr = {{type=54,value=1540},},
	},
	[33] = {
		pos = 4,
		lv = 33,
		cost = {{type=0,id=856,count=12000},{type=2,id=2,count=2800000},},
		attr = {{type=54,value=1560},},
	},
	[34] = {
		pos = 4,
		lv = 34,
		cost = {{type=0,id=856,count=14000},{type=2,id=2,count=2900000},},
		attr = {{type=54,value=1580},},
	},
	[35] = {
		pos = 4,
		lv = 35,
		cost = {{type=0,id=856,count=16000},{type=2,id=2,count=3000000},},
		attr = {{type=54,value=1600},},
	},
	[36] = {
		pos = 4,
		lv = 36,
		cost = {{type=0,id=856,count=18000},{type=2,id=2,count=3100000},},
		attr = {{type=54,value=1620},},
	},
	[37] = {
		pos = 4,
		lv = 37,
		cost = {{type=0,id=856,count=20000},{type=2,id=2,count=3200000},},
		attr = {{type=54,value=1640},},
	},
	[38] = {
		pos = 4,
		lv = 38,
		cost = {{type=0,id=856,count=22000},{type=2,id=2,count=3300000},},
		attr = {{type=54,value=1660},},
	},
	[39] = {
		pos = 4,
		lv = 39,
		cost = {{type=0,id=856,count=24000},{type=2,id=2,count=3400000},},
		attr = {{type=54,value=1680},},
	},
	[40] = {
		pos = 4,
		lv = 40,
		cost = {{type=0,id=856,count=26000},{type=2,id=2,count=3500000},},
		attr = {{type=54,value=1700},},
	},
},
}