--AC-强化配置.xlsx 麻痹戒指
RingBuyJobConfig = {
[2] = {
	[1] = {
		[1] = {
			pos = 2,
			lv = 1,
			job = 1,
			cost = {{type=0,id=823,count=1},},
			attr = { { type = 65, value = 1000,},{ type = 67, value = 2200,}, } ,
		},
		[2] = {
			pos = 2,
			lv = 1,
			job = 2,
			cost = {{type=0,id=823,count=1},},
			attr = { { type = 65, value = 1000,},{ type = 67, value = 2200,}, } ,
		},
		[3] = {
			pos = 2,
			lv = 1,
			job = 3,
			cost = {{type=0,id=823,count=1},},
			attr = { { type = 65, value = 1000,},{ type = 67, value = 2200,}, } ,
		},
	},
},
[3] = {
	[1] = {
		[1] = {
			pos = 3,
			lv = 1,
			job = 1,
			cost = {{type=0,id=824,count=1},},
			attr = { { type = 66, value = 1200,}, { type = 65, value = 200,},{ type = 67, value = 200,}, } ,
		},
		[2] = {
			pos = 3,
			lv = 1,
			job = 2,
			cost = {{type=0,id=824,count=1},},
			attr = { { type = 66, value = 1200,}, { type = 65, value = 200,},{ type = 67, value = 200,}, } ,
		},
		[3] = {
			pos = 3,
			lv = 1,
			job = 3,
			cost = {{type=0,id=824,count=1},},
			attr = { { type = 66, value = 1200,}, { type = 65, value = 200,},{ type = 67, value = 200,}, } ,
		},
	},
},
}