--Z-字诀配置.xlsx 字诀强化
WordFormulaConfig = {
[1] = {
	[0] = {
		pos = 1,
		lv = 0,
		cost = {},
		attr = {{type=76,value=0},{type=77,value=0},{type=25,value=0},{type=27,value=0},},
	},
	[1] = {
		pos = 1,
		lv = 1,
		cost = {{type=0,id=1335,count=1}},
		attr = {{type=76,value=0},{type=77,value=1},{type=25,value=0},{type=27,value=1},},
	},
	[2] = {
		pos = 1,
		lv = 2,
		cost = {{type=0,id=1335,count=2}},
		attr = {{type=76,value=1},{type=77,value=2},{type=25,value=0},{type=27,value=2},},
	},
	[3] = {
		pos = 1,
		lv = 3,
		cost = {{type=0,id=1335,count=3}},
		attr = {{type=76,value=2},{type=77,value=3},{type=25,value=0},{type=27,value=3},},
	},
	[4] = {
		pos = 1,
		lv = 4,
		cost = {{type=0,id=1335,count=4}},
		attr = {{type=76,value=3},{type=77,value=5},{type=25,value=0},{type=27,value=4},},
	},
	[5] = {
		pos = 1,
		lv = 5,
		cost = {{type=0,id=1335,count=5}},
		attr = {{type=76,value=5},{type=77,value=7},{type=25,value=0},{type=27,value=5},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:5级|",
	},
	[6] = {
		pos = 1,
		lv = 6,
		cost = {{type=0,id=1335,count=6}},
		attr = {{type=76,value=7},{type=77,value=9},{type=25,value=0},{type=27,value=6},},
	},
	[7] = {
		pos = 1,
		lv = 7,
		cost = {{type=0,id=1335,count=7}},
		attr = {{type=76,value=9},{type=77,value=11},{type=25,value=0},{type=27,value=7},},
	},
	[8] = {
		pos = 1,
		lv = 8,
		cost = {{type=0,id=1335,count=8}},
		attr = {{type=76,value=11},{type=77,value=13},{type=25,value=0},{type=27,value=8},},
	},
	[9] = {
		pos = 1,
		lv = 9,
		cost = {{type=0,id=1335,count=9}},
		attr = {{type=76,value=13},{type=77,value=15},{type=25,value=0},{type=27,value=9},},
	},
	[10] = {
		pos = 1,
		lv = 10,
		cost = {{type=0,id=1335,count=10}},
		attr = {{type=76,value=15},{type=77,value=18},{type=25,value=0},{type=27,value=10},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:10级|",
	},
	[11] = {
		pos = 1,
		lv = 11,
		cost = {{type=0,id=1335,count=12}},
		attr = {{type=76,value=18},{type=77,value=21},{type=25,value=0},{type=27,value=11},},
	},
	[12] = {
		pos = 1,
		lv = 12,
		cost = {{type=0,id=1335,count=14}},
		attr = {{type=76,value=21},{type=77,value=24},{type=25,value=0},{type=27,value=12},},
	},
	[13] = {
		pos = 1,
		lv = 13,
		cost = {{type=0,id=1335,count=16}},
		attr = {{type=76,value=24},{type=77,value=27},{type=25,value=0},{type=27,value=13},},
	},
	[14] = {
		pos = 1,
		lv = 14,
		cost = {{type=0,id=1335,count=18}},
		attr = {{type=76,value=27},{type=77,value=30},{type=25,value=0},{type=27,value=14},},
	},
	[15] = {
		pos = 1,
		lv = 15,
		cost = {{type=0,id=1335,count=20}},
		attr = {{type=76,value=30},{type=77,value=33},{type=25,value=0},{type=27,value=15},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:15级|",
	},
	[16] = {
		pos = 1,
		lv = 16,
		cost = {{type=0,id=1335,count=22}},
		attr = {{type=76,value=33},{type=77,value=36},{type=25,value=0},{type=27,value=16},},
	},
	[17] = {
		pos = 1,
		lv = 17,
		cost = {{type=0,id=1335,count=24}},
		attr = {{type=76,value=36},{type=77,value=40},{type=25,value=0},{type=27,value=17},},
	},
	[18] = {
		pos = 1,
		lv = 18,
		cost = {{type=0,id=1335,count=26}},
		attr = {{type=76,value=39},{type=77,value=44},{type=25,value=0},{type=27,value=18},},
	},
	[19] = {
		pos = 1,
		lv = 19,
		cost = {{type=0,id=1335,count=28}},
		attr = {{type=76,value=42},{type=77,value=48},{type=25,value=0},{type=27,value=19},},
	},
	[20] = {
		pos = 1,
		lv = 20,
		cost = {{type=0,id=1335,count=30}},
		attr = {{type=76,value=45},{type=77,value=52},{type=25,value=0},{type=27,value=20},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:20级|",
	},
	[21] = {
		pos = 1,
		lv = 21,
		cost = {{type=0,id=1335,count=32}},
		attr = {{type=76,value=48},{type=77,value=56},{type=25,value=0},{type=27,value=21},},
	},
	[22] = {
		pos = 1,
		lv = 22,
		cost = {{type=0,id=1335,count=34}},
		attr = {{type=76,value=51},{type=77,value=60},{type=25,value=0},{type=27,value=22},},
	},
	[23] = {
		pos = 1,
		lv = 23,
		cost = {{type=0,id=1335,count=36}},
		attr = {{type=76,value=54},{type=77,value=64},{type=25,value=0},{type=27,value=23},},
	},
	[24] = {
		pos = 1,
		lv = 24,
		cost = {{type=0,id=1335,count=38}},
		attr = {{type=76,value=57},{type=77,value=68},{type=25,value=0},{type=27,value=24},},
	},
	[25] = {
		pos = 1,
		lv = 25,
		cost = {{type=0,id=1335,count=40}},
		attr = {{type=76,value=60},{type=77,value=72},{type=25,value=0},{type=27,value=25},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:25级|",
	},
	[26] = {
		pos = 1,
		lv = 26,
		cost = {{type=0,id=1335,count=42}},
		attr = {{type=76,value=63},{type=77,value=76},{type=25,value=0},{type=27,value=26},},
	},
	[27] = {
		pos = 1,
		lv = 27,
		cost = {{type=0,id=1335,count=44}},
		attr = {{type=76,value=66},{type=77,value=80},{type=25,value=0},{type=27,value=27},},
	},
	[28] = {
		pos = 1,
		lv = 28,
		cost = {{type=0,id=1335,count=46}},
		attr = {{type=76,value=69},{type=77,value=84},{type=25,value=0},{type=27,value=28},},
	},
	[29] = {
		pos = 1,
		lv = 29,
		cost = {{type=0,id=1335,count=48}},
		attr = {{type=76,value=72},{type=77,value=88},{type=25,value=0},{type=27,value=29},},
	},
	[30] = {
		pos = 1,
		lv = 30,
		cost = {{type=0,id=1335,count=50}},
		attr = {{type=76,value=75},{type=77,value=92},{type=25,value=0},{type=27,value=30},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:30级|",
	},
	[31] = {
		pos = 1,
		lv = 31,
		cost = {{type=0,id=1335,count=52}},
		attr = {{type=76,value=78},{type=77,value=96},{type=25,value=0},{type=27,value=31},},
	},
	[32] = {
		pos = 1,
		lv = 32,
		cost = {{type=0,id=1335,count=54}},
		attr = {{type=76,value=81},{type=77,value=100},{type=25,value=0},{type=27,value=32},},
	},
	[33] = {
		pos = 1,
		lv = 33,
		cost = {{type=0,id=1335,count=56}},
		attr = {{type=76,value=84},{type=77,value=104},{type=25,value=0},{type=27,value=33},},
	},
	[34] = {
		pos = 1,
		lv = 34,
		cost = {{type=0,id=1335,count=58}},
		attr = {{type=76,value=87},{type=77,value=108},{type=25,value=0},{type=27,value=34},},
	},
	[35] = {
		pos = 1,
		lv = 35,
		cost = {{type=0,id=1335,count=60}},
		attr = {{type=76,value=90},{type=77,value=112},{type=25,value=0},{type=27,value=35},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:35级|",
	},
	[36] = {
		pos = 1,
		lv = 36,
		cost = {{type=0,id=1335,count=62}},
		attr = {{type=76,value=93},{type=77,value=116},{type=25,value=0},{type=27,value=36},},
	},
	[37] = {
		pos = 1,
		lv = 37,
		cost = {{type=0,id=1335,count=64}},
		attr = {{type=76,value=96},{type=77,value=120},{type=25,value=0},{type=27,value=37},},
	},
	[38] = {
		pos = 1,
		lv = 38,
		cost = {{type=0,id=1335,count=66}},
		attr = {{type=76,value=99},{type=77,value=124},{type=25,value=0},{type=27,value=38},},
	},
	[39] = {
		pos = 1,
		lv = 39,
		cost = {{type=0,id=1335,count=68}},
		attr = {{type=76,value=102},{type=77,value=128},{type=25,value=0},{type=27,value=39},},
	},
	[40] = {
		pos = 1,
		lv = 40,
		cost = {{type=0,id=1335,count=70}},
		attr = {{type=76,value=105},{type=77,value=132},{type=25,value=0},{type=27,value=40},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:40级|",
	},
	[41] = {
		pos = 1,
		lv = 41,
		cost = {{type=0,id=1335,count=72}},
		attr = {{type=76,value=108},{type=77,value=136},{type=25,value=0},{type=27,value=41},},
	},
	[42] = {
		pos = 1,
		lv = 42,
		cost = {{type=0,id=1335,count=74}},
		attr = {{type=76,value=111},{type=77,value=140},{type=25,value=0},{type=27,value=42},},
	},
	[43] = {
		pos = 1,
		lv = 43,
		cost = {{type=0,id=1335,count=76}},
		attr = {{type=76,value=114},{type=77,value=144},{type=25,value=0},{type=27,value=43},},
	},
	[44] = {
		pos = 1,
		lv = 44,
		cost = {{type=0,id=1335,count=78}},
		attr = {{type=76,value=117},{type=77,value=148},{type=25,value=0},{type=27,value=44},},
	},
	[45] = {
		pos = 1,
		lv = 45,
		cost = {{type=0,id=1335,count=80}},
		attr = {{type=76,value=120},{type=77,value=152},{type=25,value=0},{type=27,value=45},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:45级|",
	},
	[46] = {
		pos = 1,
		lv = 46,
		cost = {{type=0,id=1335,count=82}},
		attr = {{type=76,value=123},{type=77,value=156},{type=25,value=0},{type=27,value=46},},
	},
	[47] = {
		pos = 1,
		lv = 47,
		cost = {{type=0,id=1335,count=84}},
		attr = {{type=76,value=126},{type=77,value=160},{type=25,value=0},{type=27,value=47},},
	},
	[48] = {
		pos = 1,
		lv = 48,
		cost = {{type=0,id=1335,count=86}},
		attr = {{type=76,value=129},{type=77,value=164},{type=25,value=0},{type=27,value=48},},
	},
	[49] = {
		pos = 1,
		lv = 49,
		cost = {{type=0,id=1335,count=88}},
		attr = {{type=76,value=132},{type=77,value=168},{type=25,value=0},{type=27,value=49},},
	},
	[50] = {
		pos = 1,
		lv = 50,
		cost = {{type=0,id=1335,count=90}},
		attr = {{type=76,value=135},{type=77,value=172},{type=25,value=0},{type=27,value=50},},
		tips = "|C:0x1affff&T:%s|将天字诀提升到了|C:0xff1ac2&T:50级|",
	},
},
[2] = {
	[0] = {
		pos = 2,
		lv = 0,
		cost = {},
		attr = {{type=76,value=0},{type=77,value=0},{type=21,value=0},{type=23,value=0},},
	},
	[1] = {
		pos = 2,
		lv = 1,
		cost = {{type=0,id=1336,count=1}},
		attr = {{type=76,value=0},{type=77,value=1},{type=21,value=0},{type=23,value=1},},
	},
	[2] = {
		pos = 2,
		lv = 2,
		cost = {{type=0,id=1336,count=2}},
		attr = {{type=76,value=1},{type=77,value=2},{type=21,value=0},{type=23,value=2},},
	},
	[3] = {
		pos = 2,
		lv = 3,
		cost = {{type=0,id=1336,count=3}},
		attr = {{type=76,value=2},{type=77,value=3},{type=21,value=0},{type=23,value=3},},
	},
	[4] = {
		pos = 2,
		lv = 4,
		cost = {{type=0,id=1336,count=4}},
		attr = {{type=76,value=3},{type=77,value=5},{type=21,value=0},{type=23,value=4},},
	},
	[5] = {
		pos = 2,
		lv = 5,
		cost = {{type=0,id=1336,count=5}},
		attr = {{type=76,value=5},{type=77,value=7},{type=21,value=0},{type=23,value=5},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:5级|",
	},
	[6] = {
		pos = 2,
		lv = 6,
		cost = {{type=0,id=1336,count=6}},
		attr = {{type=76,value=7},{type=77,value=9},{type=21,value=0},{type=23,value=6},},
	},
	[7] = {
		pos = 2,
		lv = 7,
		cost = {{type=0,id=1336,count=7}},
		attr = {{type=76,value=9},{type=77,value=11},{type=21,value=0},{type=23,value=7},},
	},
	[8] = {
		pos = 2,
		lv = 8,
		cost = {{type=0,id=1336,count=8}},
		attr = {{type=76,value=11},{type=77,value=13},{type=21,value=0},{type=23,value=8},},
	},
	[9] = {
		pos = 2,
		lv = 9,
		cost = {{type=0,id=1336,count=9}},
		attr = {{type=76,value=13},{type=77,value=15},{type=21,value=0},{type=23,value=9},},
	},
	[10] = {
		pos = 2,
		lv = 10,
		cost = {{type=0,id=1336,count=10}},
		attr = {{type=76,value=15},{type=77,value=18},{type=21,value=0},{type=23,value=10},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:10级|",
	},
	[11] = {
		pos = 2,
		lv = 11,
		cost = {{type=0,id=1336,count=12}},
		attr = {{type=76,value=18},{type=77,value=21},{type=21,value=0},{type=23,value=11},},
	},
	[12] = {
		pos = 2,
		lv = 12,
		cost = {{type=0,id=1336,count=14}},
		attr = {{type=76,value=21},{type=77,value=24},{type=21,value=0},{type=23,value=12},},
	},
	[13] = {
		pos = 2,
		lv = 13,
		cost = {{type=0,id=1336,count=16}},
		attr = {{type=76,value=24},{type=77,value=27},{type=21,value=0},{type=23,value=13},},
	},
	[14] = {
		pos = 2,
		lv = 14,
		cost = {{type=0,id=1336,count=18}},
		attr = {{type=76,value=27},{type=77,value=30},{type=21,value=0},{type=23,value=14},},
	},
	[15] = {
		pos = 2,
		lv = 15,
		cost = {{type=0,id=1336,count=20}},
		attr = {{type=76,value=30},{type=77,value=33},{type=21,value=0},{type=23,value=15},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:15级|",
	},
	[16] = {
		pos = 2,
		lv = 16,
		cost = {{type=0,id=1336,count=22}},
		attr = {{type=76,value=33},{type=77,value=36},{type=21,value=0},{type=23,value=16},},
	},
	[17] = {
		pos = 2,
		lv = 17,
		cost = {{type=0,id=1336,count=24}},
		attr = {{type=76,value=36},{type=77,value=40},{type=21,value=0},{type=23,value=17},},
	},
	[18] = {
		pos = 2,
		lv = 18,
		cost = {{type=0,id=1336,count=26}},
		attr = {{type=76,value=39},{type=77,value=44},{type=21,value=0},{type=23,value=18},},
	},
	[19] = {
		pos = 2,
		lv = 19,
		cost = {{type=0,id=1336,count=28}},
		attr = {{type=76,value=42},{type=77,value=48},{type=21,value=0},{type=23,value=19},},
	},
	[20] = {
		pos = 2,
		lv = 20,
		cost = {{type=0,id=1336,count=30}},
		attr = {{type=76,value=45},{type=77,value=52},{type=21,value=0},{type=23,value=20},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:20级|",
	},
	[21] = {
		pos = 2,
		lv = 21,
		cost = {{type=0,id=1336,count=32}},
		attr = {{type=76,value=48},{type=77,value=56},{type=21,value=0},{type=23,value=21},},
	},
	[22] = {
		pos = 2,
		lv = 22,
		cost = {{type=0,id=1336,count=34}},
		attr = {{type=76,value=51},{type=77,value=60},{type=21,value=0},{type=23,value=22},},
	},
	[23] = {
		pos = 2,
		lv = 23,
		cost = {{type=0,id=1336,count=36}},
		attr = {{type=76,value=54},{type=77,value=64},{type=21,value=0},{type=23,value=23},},
	},
	[24] = {
		pos = 2,
		lv = 24,
		cost = {{type=0,id=1336,count=38}},
		attr = {{type=76,value=57},{type=77,value=68},{type=21,value=0},{type=23,value=24},},
	},
	[25] = {
		pos = 2,
		lv = 25,
		cost = {{type=0,id=1336,count=40}},
		attr = {{type=76,value=60},{type=77,value=72},{type=21,value=0},{type=23,value=25},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:25级|",
	},
	[26] = {
		pos = 2,
		lv = 26,
		cost = {{type=0,id=1336,count=42}},
		attr = {{type=76,value=63},{type=77,value=76},{type=21,value=0},{type=23,value=26},},
	},
	[27] = {
		pos = 2,
		lv = 27,
		cost = {{type=0,id=1336,count=44}},
		attr = {{type=76,value=66},{type=77,value=80},{type=21,value=0},{type=23,value=27},},
	},
	[28] = {
		pos = 2,
		lv = 28,
		cost = {{type=0,id=1336,count=46}},
		attr = {{type=76,value=69},{type=77,value=84},{type=21,value=0},{type=23,value=28},},
	},
	[29] = {
		pos = 2,
		lv = 29,
		cost = {{type=0,id=1336,count=48}},
		attr = {{type=76,value=72},{type=77,value=88},{type=21,value=0},{type=23,value=29},},
	},
	[30] = {
		pos = 2,
		lv = 30,
		cost = {{type=0,id=1336,count=50}},
		attr = {{type=76,value=75},{type=77,value=92},{type=21,value=0},{type=23,value=30},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:30级|",
	},
	[31] = {
		pos = 2,
		lv = 31,
		cost = {{type=0,id=1336,count=52}},
		attr = {{type=76,value=78},{type=77,value=96},{type=21,value=0},{type=23,value=31},},
	},
	[32] = {
		pos = 2,
		lv = 32,
		cost = {{type=0,id=1336,count=54}},
		attr = {{type=76,value=81},{type=77,value=100},{type=21,value=0},{type=23,value=32},},
	},
	[33] = {
		pos = 2,
		lv = 33,
		cost = {{type=0,id=1336,count=56}},
		attr = {{type=76,value=84},{type=77,value=104},{type=21,value=0},{type=23,value=33},},
	},
	[34] = {
		pos = 2,
		lv = 34,
		cost = {{type=0,id=1336,count=58}},
		attr = {{type=76,value=87},{type=77,value=108},{type=21,value=0},{type=23,value=34},},
	},
	[35] = {
		pos = 2,
		lv = 35,
		cost = {{type=0,id=1336,count=60}},
		attr = {{type=76,value=90},{type=77,value=112},{type=21,value=0},{type=23,value=35},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:35级|",
	},
	[36] = {
		pos = 2,
		lv = 36,
		cost = {{type=0,id=1336,count=62}},
		attr = {{type=76,value=93},{type=77,value=116},{type=21,value=0},{type=23,value=36},},
	},
	[37] = {
		pos = 2,
		lv = 37,
		cost = {{type=0,id=1336,count=64}},
		attr = {{type=76,value=96},{type=77,value=120},{type=21,value=0},{type=23,value=37},},
	},
	[38] = {
		pos = 2,
		lv = 38,
		cost = {{type=0,id=1336,count=66}},
		attr = {{type=76,value=99},{type=77,value=124},{type=21,value=0},{type=23,value=38},},
	},
	[39] = {
		pos = 2,
		lv = 39,
		cost = {{type=0,id=1336,count=68}},
		attr = {{type=76,value=102},{type=77,value=128},{type=21,value=0},{type=23,value=39},},
	},
	[40] = {
		pos = 2,
		lv = 40,
		cost = {{type=0,id=1336,count=70}},
		attr = {{type=76,value=105},{type=77,value=132},{type=21,value=0},{type=23,value=40},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:40级|",
	},
	[41] = {
		pos = 2,
		lv = 41,
		cost = {{type=0,id=1336,count=72}},
		attr = {{type=76,value=108},{type=77,value=136},{type=21,value=0},{type=23,value=41},},
	},
	[42] = {
		pos = 2,
		lv = 42,
		cost = {{type=0,id=1336,count=74}},
		attr = {{type=76,value=111},{type=77,value=140},{type=21,value=0},{type=23,value=42},},
	},
	[43] = {
		pos = 2,
		lv = 43,
		cost = {{type=0,id=1336,count=76}},
		attr = {{type=76,value=114},{type=77,value=144},{type=21,value=0},{type=23,value=43},},
	},
	[44] = {
		pos = 2,
		lv = 44,
		cost = {{type=0,id=1336,count=78}},
		attr = {{type=76,value=117},{type=77,value=148},{type=21,value=0},{type=23,value=44},},
	},
	[45] = {
		pos = 2,
		lv = 45,
		cost = {{type=0,id=1336,count=80}},
		attr = {{type=76,value=120},{type=77,value=152},{type=21,value=0},{type=23,value=45},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:45级|",
	},
	[46] = {
		pos = 2,
		lv = 46,
		cost = {{type=0,id=1336,count=82}},
		attr = {{type=76,value=123},{type=77,value=156},{type=21,value=0},{type=23,value=46},},
	},
	[47] = {
		pos = 2,
		lv = 47,
		cost = {{type=0,id=1336,count=84}},
		attr = {{type=76,value=126},{type=77,value=160},{type=21,value=0},{type=23,value=47},},
	},
	[48] = {
		pos = 2,
		lv = 48,
		cost = {{type=0,id=1336,count=86}},
		attr = {{type=76,value=129},{type=77,value=164},{type=21,value=0},{type=23,value=48},},
	},
	[49] = {
		pos = 2,
		lv = 49,
		cost = {{type=0,id=1336,count=88}},
		attr = {{type=76,value=132},{type=77,value=168},{type=21,value=0},{type=23,value=49},},
	},
	[50] = {
		pos = 2,
		lv = 50,
		cost = {{type=0,id=1336,count=90}},
		attr = {{type=76,value=135},{type=77,value=172},{type=21,value=0},{type=23,value=50},},
		tips = "|C:0x1affff&T:%s|将下字诀提升到了|C:0xff1ac2&T:50级|",
	},
},
[3] = {
	[0] = {
		pos = 3,
		lv = 0,
		cost = {},
		attr = {{type=76,value=0},{type=77,value=0},{type=5,value=0},},
	},
	[1] = {
		pos = 3,
		lv = 1,
		cost = {{type=0,id=1337,count=1}},
		attr = {{type=76,value=0},{type=77,value=1},{type=5,value=50},},
	},
	[2] = {
		pos = 3,
		lv = 2,
		cost = {{type=0,id=1337,count=2}},
		attr = {{type=76,value=1},{type=77,value=2},{type=5,value=100},},
	},
	[3] = {
		pos = 3,
		lv = 3,
		cost = {{type=0,id=1337,count=3}},
		attr = {{type=76,value=2},{type=77,value=3},{type=5,value=150},},
	},
	[4] = {
		pos = 3,
		lv = 4,
		cost = {{type=0,id=1337,count=4}},
		attr = {{type=76,value=3},{type=77,value=5},{type=5,value=200},},
	},
	[5] = {
		pos = 3,
		lv = 5,
		cost = {{type=0,id=1337,count=5}},
		attr = {{type=76,value=5},{type=77,value=7},{type=5,value=250},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:5级|",
	},
	[6] = {
		pos = 3,
		lv = 6,
		cost = {{type=0,id=1337,count=6}},
		attr = {{type=76,value=7},{type=77,value=9},{type=5,value=300},},
	},
	[7] = {
		pos = 3,
		lv = 7,
		cost = {{type=0,id=1337,count=7}},
		attr = {{type=76,value=9},{type=77,value=11},{type=5,value=350},},
	},
	[8] = {
		pos = 3,
		lv = 8,
		cost = {{type=0,id=1337,count=8}},
		attr = {{type=76,value=11},{type=77,value=13},{type=5,value=400},},
	},
	[9] = {
		pos = 3,
		lv = 9,
		cost = {{type=0,id=1337,count=9}},
		attr = {{type=76,value=13},{type=77,value=15},{type=5,value=450},},
	},
	[10] = {
		pos = 3,
		lv = 10,
		cost = {{type=0,id=1337,count=10}},
		attr = {{type=76,value=15},{type=77,value=18},{type=5,value=500},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:10级|",
	},
	[11] = {
		pos = 3,
		lv = 11,
		cost = {{type=0,id=1337,count=12}},
		attr = {{type=76,value=18},{type=77,value=21},{type=5,value=550},},
	},
	[12] = {
		pos = 3,
		lv = 12,
		cost = {{type=0,id=1337,count=14}},
		attr = {{type=76,value=21},{type=77,value=24},{type=5,value=600},},
	},
	[13] = {
		pos = 3,
		lv = 13,
		cost = {{type=0,id=1337,count=16}},
		attr = {{type=76,value=24},{type=77,value=27},{type=5,value=650},},
	},
	[14] = {
		pos = 3,
		lv = 14,
		cost = {{type=0,id=1337,count=18}},
		attr = {{type=76,value=27},{type=77,value=30},{type=5,value=700},},
	},
	[15] = {
		pos = 3,
		lv = 15,
		cost = {{type=0,id=1337,count=20}},
		attr = {{type=76,value=30},{type=77,value=33},{type=5,value=750},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:15级|",
	},
	[16] = {
		pos = 3,
		lv = 16,
		cost = {{type=0,id=1337,count=22}},
		attr = {{type=76,value=33},{type=77,value=36},{type=5,value=800},},
	},
	[17] = {
		pos = 3,
		lv = 17,
		cost = {{type=0,id=1337,count=24}},
		attr = {{type=76,value=36},{type=77,value=40},{type=5,value=850},},
	},
	[18] = {
		pos = 3,
		lv = 18,
		cost = {{type=0,id=1337,count=26}},
		attr = {{type=76,value=39},{type=77,value=44},{type=5,value=900},},
	},
	[19] = {
		pos = 3,
		lv = 19,
		cost = {{type=0,id=1337,count=28}},
		attr = {{type=76,value=42},{type=77,value=48},{type=5,value=950},},
	},
	[20] = {
		pos = 3,
		lv = 20,
		cost = {{type=0,id=1337,count=30}},
		attr = {{type=76,value=45},{type=77,value=52},{type=5,value=1000},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:20级|",
	},
	[21] = {
		pos = 3,
		lv = 21,
		cost = {{type=0,id=1337,count=32}},
		attr = {{type=76,value=48},{type=77,value=56},{type=5,value=1050},},
	},
	[22] = {
		pos = 3,
		lv = 22,
		cost = {{type=0,id=1337,count=34}},
		attr = {{type=76,value=51},{type=77,value=60},{type=5,value=1100},},
	},
	[23] = {
		pos = 3,
		lv = 23,
		cost = {{type=0,id=1337,count=36}},
		attr = {{type=76,value=54},{type=77,value=64},{type=5,value=1150},},
	},
	[24] = {
		pos = 3,
		lv = 24,
		cost = {{type=0,id=1337,count=38}},
		attr = {{type=76,value=57},{type=77,value=68},{type=5,value=1200},},
	},
	[25] = {
		pos = 3,
		lv = 25,
		cost = {{type=0,id=1337,count=40}},
		attr = {{type=76,value=60},{type=77,value=72},{type=5,value=1250},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:25级|",
	},
	[26] = {
		pos = 3,
		lv = 26,
		cost = {{type=0,id=1337,count=42}},
		attr = {{type=76,value=63},{type=77,value=76},{type=5,value=1300},},
	},
	[27] = {
		pos = 3,
		lv = 27,
		cost = {{type=0,id=1337,count=44}},
		attr = {{type=76,value=66},{type=77,value=80},{type=5,value=1350},},
	},
	[28] = {
		pos = 3,
		lv = 28,
		cost = {{type=0,id=1337,count=46}},
		attr = {{type=76,value=69},{type=77,value=84},{type=5,value=1400},},
	},
	[29] = {
		pos = 3,
		lv = 29,
		cost = {{type=0,id=1337,count=48}},
		attr = {{type=76,value=72},{type=77,value=88},{type=5,value=1450},},
	},
	[30] = {
		pos = 3,
		lv = 30,
		cost = {{type=0,id=1337,count=50}},
		attr = {{type=76,value=75},{type=77,value=92},{type=5,value=1500},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:30级|",
	},
	[31] = {
		pos = 3,
		lv = 31,
		cost = {{type=0,id=1337,count=52}},
		attr = {{type=76,value=78},{type=77,value=96},{type=5,value=1550},},
	},
	[32] = {
		pos = 3,
		lv = 32,
		cost = {{type=0,id=1337,count=54}},
		attr = {{type=76,value=81},{type=77,value=100},{type=5,value=1600},},
	},
	[33] = {
		pos = 3,
		lv = 33,
		cost = {{type=0,id=1337,count=56}},
		attr = {{type=76,value=84},{type=77,value=104},{type=5,value=1650},},
	},
	[34] = {
		pos = 3,
		lv = 34,
		cost = {{type=0,id=1337,count=58}},
		attr = {{type=76,value=87},{type=77,value=108},{type=5,value=1700},},
	},
	[35] = {
		pos = 3,
		lv = 35,
		cost = {{type=0,id=1337,count=60}},
		attr = {{type=76,value=90},{type=77,value=112},{type=5,value=1750},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:35级|",
	},
	[36] = {
		pos = 3,
		lv = 36,
		cost = {{type=0,id=1337,count=62}},
		attr = {{type=76,value=93},{type=77,value=116},{type=5,value=1800},},
	},
	[37] = {
		pos = 3,
		lv = 37,
		cost = {{type=0,id=1337,count=64}},
		attr = {{type=76,value=96},{type=77,value=120},{type=5,value=1850},},
	},
	[38] = {
		pos = 3,
		lv = 38,
		cost = {{type=0,id=1337,count=66}},
		attr = {{type=76,value=99},{type=77,value=124},{type=5,value=1900},},
	},
	[39] = {
		pos = 3,
		lv = 39,
		cost = {{type=0,id=1337,count=68}},
		attr = {{type=76,value=102},{type=77,value=128},{type=5,value=1950},},
	},
	[40] = {
		pos = 3,
		lv = 40,
		cost = {{type=0,id=1337,count=70}},
		attr = {{type=76,value=105},{type=77,value=132},{type=5,value=2000},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:40级|",
	},
	[41] = {
		pos = 3,
		lv = 41,
		cost = {{type=0,id=1337,count=72}},
		attr = {{type=76,value=108},{type=77,value=136},{type=5,value=2050},},
	},
	[42] = {
		pos = 3,
		lv = 42,
		cost = {{type=0,id=1337,count=74}},
		attr = {{type=76,value=111},{type=77,value=140},{type=5,value=2100},},
	},
	[43] = {
		pos = 3,
		lv = 43,
		cost = {{type=0,id=1337,count=76}},
		attr = {{type=76,value=114},{type=77,value=144},{type=5,value=2150},},
	},
	[44] = {
		pos = 3,
		lv = 44,
		cost = {{type=0,id=1337,count=78}},
		attr = {{type=76,value=117},{type=77,value=148},{type=5,value=2200},},
	},
	[45] = {
		pos = 3,
		lv = 45,
		cost = {{type=0,id=1337,count=80}},
		attr = {{type=76,value=120},{type=77,value=152},{type=5,value=2250},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:45级|",
	},
	[46] = {
		pos = 3,
		lv = 46,
		cost = {{type=0,id=1337,count=82}},
		attr = {{type=76,value=123},{type=77,value=156},{type=5,value=2300},},
	},
	[47] = {
		pos = 3,
		lv = 47,
		cost = {{type=0,id=1337,count=84}},
		attr = {{type=76,value=126},{type=77,value=160},{type=5,value=2350},},
	},
	[48] = {
		pos = 3,
		lv = 48,
		cost = {{type=0,id=1337,count=86}},
		attr = {{type=76,value=129},{type=77,value=164},{type=5,value=2400},},
	},
	[49] = {
		pos = 3,
		lv = 49,
		cost = {{type=0,id=1337,count=88}},
		attr = {{type=76,value=132},{type=77,value=168},{type=5,value=2450},},
	},
	[50] = {
		pos = 3,
		lv = 50,
		cost = {{type=0,id=1337,count=90}},
		attr = {{type=76,value=135},{type=77,value=172},{type=5,value=2500},},
		tips = "|C:0x1affff&T:%s|将无字诀提升到了|C:0xff1ac2&T:50级|",
	},
},
[4] = {
	[0] = {
		pos = 4,
		lv = 0,
		cost = {},
		attr = {{type=76,value=0},{type=77,value=0},{type=147,value=0},{type=149,value=0},{type=151,value=0},},
	},
	[1] = {
		pos = 4,
		lv = 1,
		cost = {{type=0,id=1338,count=1}},
		attr = {{type=76,value=0},{type=77,value=1},{type=147,value=60},{type=149,value=60},{type=151,value=60},},
	},
	[2] = {
		pos = 4,
		lv = 2,
		cost = {{type=0,id=1338,count=2}},
		attr = {{type=76,value=1},{type=77,value=2},{type=147,value=120},{type=149,value=120},{type=151,value=120},},
	},
	[3] = {
		pos = 4,
		lv = 3,
		cost = {{type=0,id=1338,count=3}},
		attr = {{type=76,value=2},{type=77,value=3},{type=147,value=180},{type=149,value=180},{type=151,value=180},},
	},
	[4] = {
		pos = 4,
		lv = 4,
		cost = {{type=0,id=1338,count=4}},
		attr = {{type=76,value=3},{type=77,value=5},{type=147,value=240},{type=149,value=240},{type=151,value=240},},
	},
	[5] = {
		pos = 4,
		lv = 5,
		cost = {{type=0,id=1338,count=5}},
		attr = {{type=76,value=5},{type=77,value=7},{type=147,value=300},{type=149,value=300},{type=151,value=300},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:5级|",
	},
	[6] = {
		pos = 4,
		lv = 6,
		cost = {{type=0,id=1338,count=6}},
		attr = {{type=76,value=7},{type=77,value=9},{type=147,value=360},{type=149,value=360},{type=151,value=360},},
	},
	[7] = {
		pos = 4,
		lv = 7,
		cost = {{type=0,id=1338,count=7}},
		attr = {{type=76,value=9},{type=77,value=11},{type=147,value=420},{type=149,value=420},{type=151,value=420},},
	},
	[8] = {
		pos = 4,
		lv = 8,
		cost = {{type=0,id=1338,count=8}},
		attr = {{type=76,value=11},{type=77,value=13},{type=147,value=480},{type=149,value=480},{type=151,value=480},},
	},
	[9] = {
		pos = 4,
		lv = 9,
		cost = {{type=0,id=1338,count=9}},
		attr = {{type=76,value=13},{type=77,value=15},{type=147,value=540},{type=149,value=540},{type=151,value=540},},
	},
	[10] = {
		pos = 4,
		lv = 10,
		cost = {{type=0,id=1338,count=10}},
		attr = {{type=76,value=15},{type=77,value=18},{type=147,value=600},{type=149,value=600},{type=151,value=600},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:10级|",
	},
	[11] = {
		pos = 4,
		lv = 11,
		cost = {{type=0,id=1338,count=12}},
		attr = {{type=76,value=18},{type=77,value=21},{type=147,value=660},{type=149,value=660},{type=151,value=660},},
	},
	[12] = {
		pos = 4,
		lv = 12,
		cost = {{type=0,id=1338,count=14}},
		attr = {{type=76,value=21},{type=77,value=24},{type=147,value=720},{type=149,value=720},{type=151,value=720},},
	},
	[13] = {
		pos = 4,
		lv = 13,
		cost = {{type=0,id=1338,count=16}},
		attr = {{type=76,value=24},{type=77,value=27},{type=147,value=780},{type=149,value=780},{type=151,value=780},},
	},
	[14] = {
		pos = 4,
		lv = 14,
		cost = {{type=0,id=1338,count=18}},
		attr = {{type=76,value=27},{type=77,value=30},{type=147,value=840},{type=149,value=840},{type=151,value=840},},
	},
	[15] = {
		pos = 4,
		lv = 15,
		cost = {{type=0,id=1338,count=20}},
		attr = {{type=76,value=30},{type=77,value=33},{type=147,value=900},{type=149,value=900},{type=151,value=900},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:15级|",
	},
	[16] = {
		pos = 4,
		lv = 16,
		cost = {{type=0,id=1338,count=22}},
		attr = {{type=76,value=33},{type=77,value=36},{type=147,value=960},{type=149,value=960},{type=151,value=960},},
	},
	[17] = {
		pos = 4,
		lv = 17,
		cost = {{type=0,id=1338,count=24}},
		attr = {{type=76,value=36},{type=77,value=40},{type=147,value=1020},{type=149,value=1020},{type=151,value=1020},},
	},
	[18] = {
		pos = 4,
		lv = 18,
		cost = {{type=0,id=1338,count=26}},
		attr = {{type=76,value=39},{type=77,value=44},{type=147,value=1080},{type=149,value=1080},{type=151,value=1080},},
	},
	[19] = {
		pos = 4,
		lv = 19,
		cost = {{type=0,id=1338,count=28}},
		attr = {{type=76,value=42},{type=77,value=48},{type=147,value=1140},{type=149,value=1140},{type=151,value=1140},},
	},
	[20] = {
		pos = 4,
		lv = 20,
		cost = {{type=0,id=1338,count=30}},
		attr = {{type=76,value=45},{type=77,value=52},{type=147,value=1200},{type=149,value=1200},{type=151,value=1200},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:20级|",
	},
	[21] = {
		pos = 4,
		lv = 21,
		cost = {{type=0,id=1338,count=32}},
		attr = {{type=76,value=48},{type=77,value=56},{type=147,value=1260},{type=149,value=1260},{type=151,value=1260},},
	},
	[22] = {
		pos = 4,
		lv = 22,
		cost = {{type=0,id=1338,count=34}},
		attr = {{type=76,value=51},{type=77,value=60},{type=147,value=1320},{type=149,value=1320},{type=151,value=1320},},
	},
	[23] = {
		pos = 4,
		lv = 23,
		cost = {{type=0,id=1338,count=36}},
		attr = {{type=76,value=54},{type=77,value=64},{type=147,value=1380},{type=149,value=1380},{type=151,value=1380},},
	},
	[24] = {
		pos = 4,
		lv = 24,
		cost = {{type=0,id=1338,count=38}},
		attr = {{type=76,value=57},{type=77,value=68},{type=147,value=1440},{type=149,value=1440},{type=151,value=1440},},
	},
	[25] = {
		pos = 4,
		lv = 25,
		cost = {{type=0,id=1338,count=40}},
		attr = {{type=76,value=60},{type=77,value=72},{type=147,value=1500},{type=149,value=1500},{type=151,value=1500},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:25级|",
	},
	[26] = {
		pos = 4,
		lv = 26,
		cost = {{type=0,id=1338,count=42}},
		attr = {{type=76,value=63},{type=77,value=76},{type=147,value=1560},{type=149,value=1560},{type=151,value=1560},},
	},
	[27] = {
		pos = 4,
		lv = 27,
		cost = {{type=0,id=1338,count=44}},
		attr = {{type=76,value=66},{type=77,value=80},{type=147,value=1620},{type=149,value=1620},{type=151,value=1620},},
	},
	[28] = {
		pos = 4,
		lv = 28,
		cost = {{type=0,id=1338,count=46}},
		attr = {{type=76,value=69},{type=77,value=84},{type=147,value=1680},{type=149,value=1680},{type=151,value=1680},},
	},
	[29] = {
		pos = 4,
		lv = 29,
		cost = {{type=0,id=1338,count=48}},
		attr = {{type=76,value=72},{type=77,value=88},{type=147,value=1740},{type=149,value=1740},{type=151,value=1740},},
	},
	[30] = {
		pos = 4,
		lv = 30,
		cost = {{type=0,id=1338,count=50}},
		attr = {{type=76,value=75},{type=77,value=92},{type=147,value=1800},{type=149,value=1800},{type=151,value=1800},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:30级|",
	},
	[31] = {
		pos = 4,
		lv = 31,
		cost = {{type=0,id=1338,count=52}},
		attr = {{type=76,value=78},{type=77,value=96},{type=147,value=1860},{type=149,value=1860},{type=151,value=1860},},
	},
	[32] = {
		pos = 4,
		lv = 32,
		cost = {{type=0,id=1338,count=54}},
		attr = {{type=76,value=81},{type=77,value=100},{type=147,value=1920},{type=149,value=1920},{type=151,value=1920},},
	},
	[33] = {
		pos = 4,
		lv = 33,
		cost = {{type=0,id=1338,count=56}},
		attr = {{type=76,value=84},{type=77,value=104},{type=147,value=1980},{type=149,value=1980},{type=151,value=1980},},
	},
	[34] = {
		pos = 4,
		lv = 34,
		cost = {{type=0,id=1338,count=58}},
		attr = {{type=76,value=87},{type=77,value=108},{type=147,value=2040},{type=149,value=2040},{type=151,value=2040},},
	},
	[35] = {
		pos = 4,
		lv = 35,
		cost = {{type=0,id=1338,count=60}},
		attr = {{type=76,value=90},{type=77,value=112},{type=147,value=2100},{type=149,value=2100},{type=151,value=2100},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:35级|",
	},
	[36] = {
		pos = 4,
		lv = 36,
		cost = {{type=0,id=1338,count=62}},
		attr = {{type=76,value=93},{type=77,value=116},{type=147,value=2160},{type=149,value=2160},{type=151,value=2160},},
	},
	[37] = {
		pos = 4,
		lv = 37,
		cost = {{type=0,id=1338,count=64}},
		attr = {{type=76,value=96},{type=77,value=120},{type=147,value=2220},{type=149,value=2220},{type=151,value=2220},},
	},
	[38] = {
		pos = 4,
		lv = 38,
		cost = {{type=0,id=1338,count=66}},
		attr = {{type=76,value=99},{type=77,value=124},{type=147,value=2280},{type=149,value=2280},{type=151,value=2280},},
	},
	[39] = {
		pos = 4,
		lv = 39,
		cost = {{type=0,id=1338,count=68}},
		attr = {{type=76,value=102},{type=77,value=128},{type=147,value=2340},{type=149,value=2340},{type=151,value=2340},},
	},
	[40] = {
		pos = 4,
		lv = 40,
		cost = {{type=0,id=1338,count=70}},
		attr = {{type=76,value=105},{type=77,value=132},{type=147,value=2400},{type=149,value=2400},{type=151,value=2400},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:40级|",
	},
	[41] = {
		pos = 4,
		lv = 41,
		cost = {{type=0,id=1338,count=72}},
		attr = {{type=76,value=108},{type=77,value=136},{type=147,value=2460},{type=149,value=2460},{type=151,value=2460},},
	},
	[42] = {
		pos = 4,
		lv = 42,
		cost = {{type=0,id=1338,count=74}},
		attr = {{type=76,value=111},{type=77,value=140},{type=147,value=2520},{type=149,value=2520},{type=151,value=2520},},
	},
	[43] = {
		pos = 4,
		lv = 43,
		cost = {{type=0,id=1338,count=76}},
		attr = {{type=76,value=114},{type=77,value=144},{type=147,value=2580},{type=149,value=2580},{type=151,value=2580},},
	},
	[44] = {
		pos = 4,
		lv = 44,
		cost = {{type=0,id=1338,count=78}},
		attr = {{type=76,value=117},{type=77,value=148},{type=147,value=2640},{type=149,value=2640},{type=151,value=2640},},
	},
	[45] = {
		pos = 4,
		lv = 45,
		cost = {{type=0,id=1338,count=80}},
		attr = {{type=76,value=120},{type=77,value=152},{type=147,value=2700},{type=149,value=2700},{type=151,value=2700},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:45级|",
	},
	[46] = {
		pos = 4,
		lv = 46,
		cost = {{type=0,id=1338,count=82}},
		attr = {{type=76,value=123},{type=77,value=156},{type=147,value=2760},{type=149,value=2760},{type=151,value=2760},},
	},
	[47] = {
		pos = 4,
		lv = 47,
		cost = {{type=0,id=1338,count=84}},
		attr = {{type=76,value=126},{type=77,value=160},{type=147,value=2820},{type=149,value=2820},{type=151,value=2820},},
	},
	[48] = {
		pos = 4,
		lv = 48,
		cost = {{type=0,id=1338,count=86}},
		attr = {{type=76,value=129},{type=77,value=164},{type=147,value=2880},{type=149,value=2880},{type=151,value=2880},},
	},
	[49] = {
		pos = 4,
		lv = 49,
		cost = {{type=0,id=1338,count=88}},
		attr = {{type=76,value=132},{type=77,value=168},{type=147,value=2940},{type=149,value=2940},{type=151,value=2940},},
	},
	[50] = {
		pos = 4,
		lv = 50,
		cost = {{type=0,id=1338,count=90}},
		attr = {{type=76,value=135},{type=77,value=172},{type=147,value=3000},{type=149,value=3000},{type=151,value=3000},},
		tips = "|C:0x1affff&T:%s|将双字诀提升到了|C:0xff1ac2&T:50级|",
	},
},
}