--N-内功.xlsx 内功升级
MeridiansConfig={
[0] = {
	level = 0,
	serveropenday = 1,
	levellimit = 1,
	circle = 5,
	attrs = {{type=47,value=0},{type=141,value=0},{type=5,value=0},{type=76,value=0},{type=77,value=0},},
},
[1] = {
	level = 1,
	serveropenday = 1,
	levellimit = 1,
	circle = 5,
	attrs = {{type=47,value=1},{type=141,value=0},{type=5,value=10},{type=76,value=0},{type=77,value=0},},
	cost = {{type=0,id=1015,count=2}},
},
[2] = {
	level = 2,
	serveropenday = 1,
	levellimit = 1,
	circle = 5,
	attrs = {{type=47,value=2},{type=141,value=0},{type=5,value=20},{type=76,value=0},{type=77,value=0},},
	cost = {{type=0,id=1015,count=2}},
},
[3] = {
	level = 3,
	serveropenday = 1,
	levellimit = 1,
	circle = 5,
	attrs = {{type=47,value=3},{type=141,value=0},{type=5,value=30},{type=76,value=0},{type=77,value=1},},
	cost = {{type=0,id=1015,count=3}},
},
[4] = {
	level = 4,
	serveropenday = 1,
	levellimit = 1,
	circle = 5,
	attrs = {{type=47,value=4},{type=141,value=0},{type=5,value=40},{type=76,value=0},{type=77,value=1},},
	cost = {{type=0,id=1015,count=3}},
},
[5] = {
	level = 5,
	serveropenday = 1,
	levellimit = 1,
	circle = 5,
	attrs = {{type=47,value=5},{type=141,value=300},{type=5,value=50},{type=76,value=0},{type=77,value=1},},
	cost = {{type=0,id=1015,count=4}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:5级|",
},
[6] = {
	level = 6,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=6},{type=141,value=300},{type=5,value=60},{type=76,value=0},{type=77,value=1},},
	cost = {{type=0,id=1015,count=4}},
},
[7] = {
	level = 7,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=7},{type=141,value=300},{type=5,value=70},{type=76,value=0},{type=77,value=1},},
	cost = {{type=0,id=1015,count=5}},
},
[8] = {
	level = 8,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=8},{type=141,value=300},{type=5,value=80},{type=76,value=0},{type=77,value=2},},
	cost = {{type=0,id=1015,count=5}},
},
[9] = {
	level = 9,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=9},{type=141,value=300},{type=5,value=90},{type=76,value=0},{type=77,value=2},},
	cost = {{type=0,id=1015,count=6}},
},
[10] = {
	level = 10,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=10},{type=141,value=600},{type=5,value=100},{type=76,value=0},{type=77,value=2},},
	cost = {{type=0,id=1015,count=6}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:10级|",
},
[11] = {
	level = 11,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=11},{type=141,value=600},{type=5,value=110},{type=76,value=0},{type=77,value=2},},
	cost = {{type=0,id=1015,count=7}},
},
[12] = {
	level = 12,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=12},{type=141,value=600},{type=5,value=120},{type=76,value=0},{type=77,value=2},},
	cost = {{type=0,id=1015,count=7}},
},
[13] = {
	level = 13,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=13},{type=141,value=600},{type=5,value=130},{type=76,value=0},{type=77,value=3},},
	cost = {{type=0,id=1015,count=8}},
},
[14] = {
	level = 14,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=14},{type=141,value=600},{type=5,value=140},{type=76,value=0},{type=77,value=3},},
	cost = {{type=0,id=1015,count=8}},
},
[15] = {
	level = 15,
	serveropenday = 1,
	levellimit = 1,
	circle = 6,
	attrs = {{type=47,value=15},{type=141,value=900},{type=5,value=150},{type=76,value=0},{type=77,value=3},},
	cost = {{type=0,id=1015,count=8}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:15级|",
},
[16] = {
	level = 16,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=16},{type=141,value=900},{type=5,value=160},{type=76,value=0},{type=77,value=3},},
	cost = {{type=0,id=1015,count=10}},
},
[17] = {
	level = 17,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=17},{type=141,value=900},{type=5,value=170},{type=76,value=0},{type=77,value=3},},
	cost = {{type=0,id=1015,count=10}},
},
[18] = {
	level = 18,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=18},{type=141,value=900},{type=5,value=180},{type=76,value=0},{type=77,value=4},},
	cost = {{type=0,id=1015,count=10}},
},
[19] = {
	level = 19,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=19},{type=141,value=900},{type=5,value=190},{type=76,value=0},{type=77,value=4},},
	cost = {{type=0,id=1015,count=10}},
},
[20] = {
	level = 20,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=20},{type=141,value=1200},{type=5,value=200},{type=76,value=0},{type=77,value=4},},
	cost = {{type=0,id=1015,count=10}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:20级|",
},
[21] = {
	level = 21,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=21},{type=141,value=1200},{type=5,value=210},{type=76,value=0},{type=77,value=4},},
	cost = {{type=0,id=1015,count=10}},
},
[22] = {
	level = 22,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=22},{type=141,value=1200},{type=5,value=220},{type=76,value=0},{type=77,value=4},},
	cost = {{type=0,id=1015,count=10}},
},
[23] = {
	level = 23,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=23},{type=141,value=1200},{type=5,value=230},{type=76,value=0},{type=77,value=5},},
	cost = {{type=0,id=1015,count=10}},
},
[24] = {
	level = 24,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=24},{type=141,value=1200},{type=5,value=240},{type=76,value=0},{type=77,value=5},},
	cost = {{type=0,id=1015,count=10}},
},
[25] = {
	level = 25,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=25},{type=141,value=1500},{type=5,value=250},{type=76,value=0},{type=77,value=5},},
	cost = {{type=0,id=1015,count=10}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:25级|",
},
[26] = {
	level = 26,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=26},{type=141,value=1500},{type=5,value=260},{type=76,value=0},{type=77,value=5},},
	cost = {{type=0,id=1015,count=15}},
},
[27] = {
	level = 27,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=27},{type=141,value=1500},{type=5,value=270},{type=76,value=0},{type=77,value=5},},
	cost = {{type=0,id=1015,count=15}},
},
[28] = {
	level = 28,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=28},{type=141,value=1500},{type=5,value=280},{type=76,value=0},{type=77,value=6},},
	cost = {{type=0,id=1015,count=15}},
},
[29] = {
	level = 29,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=29},{type=141,value=1500},{type=5,value=290},{type=76,value=0},{type=77,value=6},},
	cost = {{type=0,id=1015,count=15}},
},
[30] = {
	level = 30,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=30},{type=141,value=1800},{type=5,value=300},{type=76,value=0},{type=77,value=6},},
	cost = {{type=0,id=1015,count=15}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:30级|",
},
[31] = {
	level = 31,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=31},{type=141,value=1800},{type=5,value=310},{type=76,value=0},{type=77,value=6},},
	cost = {{type=0,id=1015,count=20}},
},
[32] = {
	level = 32,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=32},{type=141,value=1800},{type=5,value=320},{type=76,value=0},{type=77,value=6},},
	cost = {{type=0,id=1015,count=20}},
},
[33] = {
	level = 33,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=33},{type=141,value=1800},{type=5,value=330},{type=76,value=0},{type=77,value=7},},
	cost = {{type=0,id=1015,count=20}},
},
[34] = {
	level = 34,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=34},{type=141,value=1800},{type=5,value=340},{type=76,value=0},{type=77,value=7},},
	cost = {{type=0,id=1015,count=20}},
},
[35] = {
	level = 35,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=35},{type=141,value=2100},{type=5,value=350},{type=76,value=0},{type=77,value=7},},
	cost = {{type=0,id=1015,count=20}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:35级|",
},
[36] = {
	level = 36,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=36},{type=141,value=2100},{type=5,value=360},{type=76,value=0},{type=77,value=7},},
	cost = {{type=0,id=1015,count=25}},
},
[37] = {
	level = 37,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=37},{type=141,value=2100},{type=5,value=370},{type=76,value=0},{type=77,value=7},},
	cost = {{type=0,id=1015,count=25}},
},
[38] = {
	level = 38,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=38},{type=141,value=2100},{type=5,value=380},{type=76,value=0},{type=77,value=8},},
	cost = {{type=0,id=1015,count=25}},
},
[39] = {
	level = 39,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=39},{type=141,value=2100},{type=5,value=390},{type=76,value=0},{type=77,value=8},},
	cost = {{type=0,id=1015,count=25}},
},
[40] = {
	level = 40,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=40},{type=141,value=2400},{type=5,value=400},{type=76,value=0},{type=77,value=8},},
	cost = {{type=0,id=1015,count=25}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:40级|",
},
[41] = {
	level = 41,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=41},{type=141,value=2400},{type=5,value=410},{type=76,value=0},{type=77,value=8},},
	cost = {{type=0,id=1015,count=25}},
},
[42] = {
	level = 42,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=42},{type=141,value=2400},{type=5,value=420},{type=76,value=0},{type=77,value=8},},
	cost = {{type=0,id=1015,count=25}},
},
[43] = {
	level = 43,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=43},{type=141,value=2400},{type=5,value=430},{type=76,value=0},{type=77,value=9},},
	cost = {{type=0,id=1015,count=25}},
},
[44] = {
	level = 44,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=44},{type=141,value=2400},{type=5,value=440},{type=76,value=0},{type=77,value=9},},
	cost = {{type=0,id=1015,count=25}},
},
[45] = {
	level = 45,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=45},{type=141,value=2700},{type=5,value=450},{type=76,value=0},{type=77,value=9},},
	cost = {{type=0,id=1015,count=25}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:45级|",
},
[46] = {
	level = 46,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=46},{type=141,value=2700},{type=5,value=460},{type=76,value=0},{type=77,value=9},},
	cost = {{type=0,id=1015,count=30}},
},
[47] = {
	level = 47,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=47},{type=141,value=2700},{type=5,value=470},{type=76,value=0},{type=77,value=9},},
	cost = {{type=0,id=1015,count=30}},
},
[48] = {
	level = 48,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=48},{type=141,value=2700},{type=5,value=480},{type=76,value=1},{type=77,value=10},},
	cost = {{type=0,id=1015,count=30}},
},
[49] = {
	level = 49,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=49},{type=141,value=2700},{type=5,value=490},{type=76,value=1},{type=77,value=10},},
	cost = {{type=0,id=1015,count=30}},
},
[50] = {
	level = 50,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=50},{type=141,value=3000},{type=5,value=500},{type=76,value=1},{type=77,value=10},},
	cost = {{type=0,id=1015,count=30}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:50级|",
},
[51] = {
	level = 51,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=51},{type=141,value=3000},{type=5,value=510},{type=76,value=1},{type=77,value=10},},
	cost = {{type=0,id=1015,count=40}},
},
[52] = {
	level = 52,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=52},{type=141,value=3000},{type=5,value=520},{type=76,value=1},{type=77,value=10},},
	cost = {{type=0,id=1015,count=40}},
},
[53] = {
	level = 53,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=53},{type=141,value=3000},{type=5,value=530},{type=76,value=2},{type=77,value=11},},
	cost = {{type=0,id=1015,count=40}},
},
[54] = {
	level = 54,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=54},{type=141,value=3000},{type=5,value=540},{type=76,value=2},{type=77,value=11},},
	cost = {{type=0,id=1015,count=40}},
},
[55] = {
	level = 55,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=55},{type=141,value=3300},{type=5,value=550},{type=76,value=2},{type=77,value=11},},
	cost = {{type=0,id=1015,count=40}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:55级|",
},
[56] = {
	level = 56,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=56},{type=141,value=3300},{type=5,value=560},{type=76,value=2},{type=77,value=11},},
	cost = {{type=0,id=1015,count=50}},
},
[57] = {
	level = 57,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=57},{type=141,value=3300},{type=5,value=570},{type=76,value=2},{type=77,value=11},},
	cost = {{type=0,id=1015,count=50}},
},
[58] = {
	level = 58,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=58},{type=141,value=3300},{type=5,value=580},{type=76,value=3},{type=77,value=12},},
	cost = {{type=0,id=1015,count=50}},
},
[59] = {
	level = 59,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=59},{type=141,value=3300},{type=5,value=590},{type=76,value=3},{type=77,value=12},},
	cost = {{type=0,id=1015,count=50}},
},
[60] = {
	level = 60,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=60},{type=141,value=3600},{type=5,value=600},{type=76,value=3},{type=77,value=12},},
	cost = {{type=0,id=1015,count=50}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:60级|",
},
[61] = {
	level = 61,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=61},{type=141,value=3600},{type=5,value=610},{type=76,value=3},{type=77,value=12},},
	cost = {{type=0,id=1015,count=70}},
},
[62] = {
	level = 62,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=62},{type=141,value=3600},{type=5,value=620},{type=76,value=3},{type=77,value=12},},
	cost = {{type=0,id=1015,count=70}},
},
[63] = {
	level = 63,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=63},{type=141,value=3600},{type=5,value=630},{type=76,value=4},{type=77,value=13},},
	cost = {{type=0,id=1015,count=70}},
},
[64] = {
	level = 64,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=64},{type=141,value=3600},{type=5,value=640},{type=76,value=4},{type=77,value=13},},
	cost = {{type=0,id=1015,count=70}},
},
[65] = {
	level = 65,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=65},{type=141,value=3900},{type=5,value=650},{type=76,value=4},{type=77,value=13},},
	cost = {{type=0,id=1015,count=70}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:65级|",
},
[66] = {
	level = 66,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=66},{type=141,value=3900},{type=5,value=660},{type=76,value=4},{type=77,value=13},},
	cost = {{type=0,id=1015,count=90}},
},
[67] = {
	level = 67,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=67},{type=141,value=3900},{type=5,value=670},{type=76,value=4},{type=77,value=13},},
	cost = {{type=0,id=1015,count=90}},
},
[68] = {
	level = 68,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=68},{type=141,value=3900},{type=5,value=680},{type=76,value=5},{type=77,value=14},},
	cost = {{type=0,id=1015,count=90}},
},
[69] = {
	level = 69,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=69},{type=141,value=3900},{type=5,value=690},{type=76,value=5},{type=77,value=14},},
	cost = {{type=0,id=1015,count=90}},
},
[70] = {
	level = 70,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=70},{type=141,value=4200},{type=5,value=700},{type=76,value=5},{type=77,value=14},},
	cost = {{type=0,id=1015,count=90}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:70级|",
},
[71] = {
	level = 71,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=71},{type=141,value=4200},{type=5,value=710},{type=76,value=5},{type=77,value=14},},
	cost = {{type=0,id=1015,count=110}},
},
[72] = {
	level = 72,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=72},{type=141,value=4200},{type=5,value=720},{type=76,value=5},{type=77,value=14},},
	cost = {{type=0,id=1015,count=110}},
},
[73] = {
	level = 73,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=73},{type=141,value=4200},{type=5,value=730},{type=76,value=6},{type=77,value=15},},
	cost = {{type=0,id=1015,count=110}},
},
[74] = {
	level = 74,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=74},{type=141,value=4200},{type=5,value=740},{type=76,value=6},{type=77,value=15},},
	cost = {{type=0,id=1015,count=110}},
},
[75] = {
	level = 75,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=75},{type=141,value=4500},{type=5,value=750},{type=76,value=6},{type=77,value=15},},
	cost = {{type=0,id=1015,count=110}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:75级|",
},
[76] = {
	level = 76,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=76},{type=141,value=4500},{type=5,value=760},{type=76,value=6},{type=77,value=15},},
	cost = {{type=0,id=1015,count=150}},
},
[77] = {
	level = 77,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=77},{type=141,value=4500},{type=5,value=770},{type=76,value=6},{type=77,value=15},},
	cost = {{type=0,id=1015,count=150}},
},
[78] = {
	level = 78,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=78},{type=141,value=4500},{type=5,value=780},{type=76,value=7},{type=77,value=16},},
	cost = {{type=0,id=1015,count=150}},
},
[79] = {
	level = 79,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=79},{type=141,value=4500},{type=5,value=790},{type=76,value=7},{type=77,value=16},},
	cost = {{type=0,id=1015,count=150}},
},
[80] = {
	level = 80,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=80},{type=141,value=4800},{type=5,value=800},{type=76,value=7},{type=77,value=16},},
	cost = {{type=0,id=1015,count=150}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:80级|",
},
[81] = {
	level = 81,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=81},{type=141,value=4800},{type=5,value=810},{type=76,value=7},{type=77,value=16},},
	cost = {{type=0,id=1015,count=180}},
},
[82] = {
	level = 82,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=82},{type=141,value=4800},{type=5,value=820},{type=76,value=7},{type=77,value=16},},
	cost = {{type=0,id=1015,count=180}},
},
[83] = {
	level = 83,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=83},{type=141,value=4800},{type=5,value=830},{type=76,value=8},{type=77,value=17},},
	cost = {{type=0,id=1015,count=180}},
},
[84] = {
	level = 84,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=84},{type=141,value=4800},{type=5,value=840},{type=76,value=8},{type=77,value=17},},
	cost = {{type=0,id=1015,count=180}},
},
[85] = {
	level = 85,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=85},{type=141,value=5100},{type=5,value=850},{type=76,value=8},{type=77,value=17},},
	cost = {{type=0,id=1015,count=180}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:85级|",
},
[86] = {
	level = 86,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=86},{type=141,value=5100},{type=5,value=860},{type=76,value=8},{type=77,value=17},},
	cost = {{type=0,id=1015,count=220}},
},
[87] = {
	level = 87,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=87},{type=141,value=5100},{type=5,value=870},{type=76,value=8},{type=77,value=17},},
	cost = {{type=0,id=1015,count=220}},
},
[88] = {
	level = 88,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=88},{type=141,value=5100},{type=5,value=880},{type=76,value=9},{type=77,value=18},},
	cost = {{type=0,id=1015,count=220}},
},
[89] = {
	level = 89,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=89},{type=141,value=5100},{type=5,value=890},{type=76,value=9},{type=77,value=18},},
	cost = {{type=0,id=1015,count=220}},
},
[90] = {
	level = 90,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=90},{type=141,value=5400},{type=5,value=900},{type=76,value=9},{type=77,value=18},},
	cost = {{type=0,id=1015,count=220}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:90级|",
},
[91] = {
	level = 91,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=91},{type=141,value=5400},{type=5,value=910},{type=76,value=9},{type=77,value=18},},
	cost = {{type=0,id=1015,count=260}},
},
[92] = {
	level = 92,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=92},{type=141,value=5400},{type=5,value=920},{type=76,value=9},{type=77,value=18},},
	cost = {{type=0,id=1015,count=260}},
},
[93] = {
	level = 93,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=93},{type=141,value=5400},{type=5,value=930},{type=76,value=10},{type=77,value=19},},
	cost = {{type=0,id=1015,count=260}},
},
[94] = {
	level = 94,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=94},{type=141,value=5400},{type=5,value=940},{type=76,value=10},{type=77,value=19},},
	cost = {{type=0,id=1015,count=260}},
},
[95] = {
	level = 95,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=95},{type=141,value=5700},{type=5,value=950},{type=76,value=10},{type=77,value=19},},
	cost = {{type=0,id=1015,count=260}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:95级|",
},
[96] = {
	level = 96,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=96},{type=141,value=5700},{type=5,value=960},{type=76,value=10},{type=77,value=19},},
	cost = {{type=0,id=1015,count=300}},
},
[97] = {
	level = 97,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=97},{type=141,value=5700},{type=5,value=970},{type=76,value=10},{type=77,value=19},},
	cost = {{type=0,id=1015,count=300}},
},
[98] = {
	level = 98,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=98},{type=141,value=5700},{type=5,value=980},{type=76,value=11},{type=77,value=20},},
	cost = {{type=0,id=1015,count=300}},
},
[99] = {
	level = 99,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=99},{type=141,value=5700},{type=5,value=990},{type=76,value=11},{type=77,value=20},},
	cost = {{type=0,id=1015,count=300}},
},
[100] = {
	level = 100,
	serveropenday = 1,
	levellimit = 1,
	circle = 7,
	attrs = {{type=47,value=100},{type=141,value=6000},{type=5,value=1000},{type=76,value=11},{type=77,value=20},},
	cost = {{type=0,id=1015,count=300}},
	tips = "恭喜|C:0xf56f00&T:%s|用内功丹将内功提升至|C:0xfc21ed&T:100级|",
},
}