--AA-礼包码CDKey.xlsx 礼包码配置
CDKeyConf={
[1] = {
	Id = 1,
	awards = {{type=0,id=302,count=1},{type=0,id=421,count=3},{type=7,id=7,count=10},{type=2,id=2,count=10000}},
	limits = 1,
	mailtitle = "新手卡礼包",
	mailcontent = "礼包兑换成功，请领取以下道具，祝您游戏愉快！",
	switch = 1,
},
[2] = {
	Id = 2,
	awards = {{type=0,id=421,count=5},{type=0,id=261,count=5},{type=0,id=239,count=100},{type=2,id=2,count=20000}},
	limits = 1,
	mailtitle = "媒体卡礼包",
	mailcontent = "礼包兑换成功，请领取以下道具，祝您游戏愉快！",
	switch = 1,
},
[3] = {
	Id = 3,
	awards = {{type=0,id=261,count=8},{type=0,id=269,count=8},{type=7,id=7,count=30},{type=2,id=2,count=40000}},
	limits = 1,
	mailtitle = "白银礼包",
	mailcontent = "礼包兑换成功，请领取以下道具，祝您游戏愉快！",
	switch = 1,
},
[4] = {
	Id = 4,
	awards = {{type=0,id=421,count=10},{type=0,id=269,count=10},{type=0,id=246,count=100},{type=2,id=2,count=60000}},
	limits = 1,
	mailtitle = "黄金礼包",
	mailcontent = "礼包兑换成功，请领取以下道具，祝您游戏愉快！",
	switch = 1,
},
[5] = {
	Id = 5,
	awards = {{type=0,id=365,count=1},{type=0,id=300,count=1},{type=7,id=7,count=50},{type=2,id=2,count=80000}},
	limits = 1,
	mailtitle = "钻石礼包",
	mailcontent = "礼包兑换成功，请领取以下道具，祝您游戏愉快！",
	switch = 1,
},
[6] = {
	Id = 6,
	awards = {{type=0,id=367,count=1},{type=0,id=300,count=2},{type=0,id=1156,count=1},{type=2,id=2,count=100000}},
	limits = 1,
	mailtitle = "vip专属礼包",
	mailcontent = "礼包兑换成功，请领取以下道具，祝您游戏愉快！",
	switch = 1,
},
}