--AA-礼包码CDKey.xlsx 通码配置
CommonCDKeyConf={
["VIP666"] = {
	cdkey = "VIP666",
	awards = {{type=2,id=2,count=500000},{type=0,id=480,count=20},{type=0,id=970,count=5}},
	mailtitle = "系统邮件",
	mailcontent = "尊敬的玩家：感谢您的支持，请查收您的礼包奖励。",
	switch = 1,
},
["VIP888"] = {
	cdkey = "VIP888",
	awards = {{type=0,id=1018,count=3},{type=0,id=994,count=3},{type=0,id=269,count=5}},
	mailtitle = "系统邮件",
	mailcontent = "尊敬的玩家：感谢您的支持，请查收您的礼包奖励。",
	switch = 1,
},
["VIP999"] = {
	cdkey = "VIP999",
	awards = {{type=0,id=261,count=20},{type=0,id=421,count=5},{type=0,id=954,count=10}},
	mailtitle = "系统邮件",
	mailcontent = "尊敬的玩家：感谢您的支持，请查收您的礼包奖励。",
	switch = 1,
},
}