--S-设置.xlsx 基础设置
BasicsSettingmConfig={
	[1] = {tips="显示全部人物名字",value=1},
	[2] = {tips="显示全部怪物名字",value=1},
	[3] = {tips="显示他人展示的称号(自己称号在角色-称号中设置显示)",value=1},
	[4] = {tips="持续显示当前网络延迟",value=0},
	[5] = {tips="获得本职业属性更好的装备时，自动推荐并穿戴。5转后只提示，不自动穿戴",value=1},
	[6] = {tips="废弃1",value=0},
	[7] = {tips="勾选后，开启任务箭头提醒和自动做任务功能",value=1},
	[8] = {tips="勾选后，受到玩家攻击将出现反击列表，点击可自动反击",value=1},
	skills1 = {{pos=1,skillId=6,tips="自动使用烈火剑法技能",value=1},{pos=2,skillId=8,tips="自动使用逐日剑法技能",value=1}},
	skills2 = {{pos=1,skillId=17,tips="自动开启魔法盾",value=1}},
	skills3 = {{pos=1,skillId=28,tips="效果消失后，自动施放神圣战甲术",value=1}},
	previlege = {pos=4,name="智能回收",tips="装备包裹达100格自动触发一键回收。白卡会员可获得特权卡"},
	showPet = {tips="勾选后可显示全部他人宠物",value=1},
}