--S-设置.xlsx 挂机设置
HookSettingConfig={
	AutoSkillID = 50,
	Pet = 30,
	HpLess = 60,
	HpLessSkill = 22,
	MaxHpMonster = 1,
	DotPickItem = 0,
	PickItem = 1,
	Huofu = 1,
	CallPet = 1,
	HpMin = 1,
	Hemophagy = 1,
	RoFstorm = 1,
	Thunderbolt = 1,
	ThunderClap1 = 1,
	Poisoning = 0,
	ThunderClap2 = 1,
	Hailstorm = 0,
	ThunderClap3 = 1,
}