--S-设置.xlsx 物品设置类型
ItemTypeConfig={
[0] = {
	id = 0,
	pagename = "全部",
},
[1] = {
	id = 1,
	pagename = "药品材料",
},
[2] = {
	id = 2,
	pagename = "合成装备",
},
[3] = {
	id = 3,
	pagename = "基础装备",
},
[4] = {
	id = 4,
	pagename = "进阶装备",
},
[5] = {
	id = 5,
	pagename = "转生道具",
},
[6] = {
	id = 6,
	pagename = "跨服秘境",
},
}