--S-设置.xlsx 回收设置
RecyclingSettingConfig={
[1] = {
	[1] = {
		id = 1,
		idx = 1,
		optionid = 1,
		value = 0,
		name = "沃玛装备",
		tips = "回收背包中所有沃玛装备，推荐勾选",
		title = "装备回收",
		itemlevel = 101,
		showQuality = 0,
	},
	[2] = {
		id = 1,
		idx = 2,
		optionid = 2,
		value = 0,
		name = "祖玛装备",
		tips = "回收背包中所有祖玛装备，推荐勾选",
		title = "装备回收",
		itemlevel = 102,
		showQuality = 0,
	},
	[3] = {
		id = 1,
		idx = 3,
		optionid = 3,
		value = 0,
		name = "炎之祖玛",
		tips = "回收背包中所有炎之祖玛装备",
		title = "装备回收",
		itemlevel = 103,
		showQuality = 1,
	},
	[4] = {
		id = 1,
		idx = 4,
		optionid = 4,
		value = 0,
		name = "赤月装备",
		tips = "回收背包中所有赤月装备",
		title = "装备回收",
		itemlevel = 104,
		showQuality = 1,
	},
	[5] = {
		id = 1,
		idx = 5,
		optionid = 5,
		value = 0,
		name = "炎之赤月",
		tips = "回收背包中所有炎之赤月装备",
		title = "装备回收",
		itemlevel = 105,
		showQuality = 1,
	},
	[6] = {
		id = 1,
		idx = 6,
		optionid = 6,
		value = 0,
		name = "魔龙装备",
		tips = "回收背包中所有魔龙装备",
		title = "装备回收",
		itemlevel = 106,
		showQuality = 2,
	},
	[7] = {
		id = 1,
		idx = 7,
		optionid = 7,
		value = 0,
		name = "炎之魔龙",
		tips = "回收背包中所有炎之魔龙装备",
		title = "装备回收",
		itemlevel = 107,
		showQuality = 2,
	},
	[8] = {
		id = 1,
		idx = 8,
		optionid = 8,
		value = 0,
		name = "强化魔龙",
		tips = "回收背包中所有强化魔龙装备",
		title = "装备回收",
		itemlevel = 108,
		showQuality = 2,
	},
	[9] = {
		id = 1,
		idx = 9,
		optionid = 9,
		value = 0,
		name = "炎之强魔",
		tips = "回收背包中所有炎之强化魔龙装备",
		title = "装备回收",
		itemlevel = 109,
		showQuality = 2,
	},
	[10] = {
		id = 1,
		idx = 10,
		optionid = 10,
		value = 0,
		name = "战神装备",
		tips = "回收背包中所有战神装备",
		title = "装备回收",
		itemlevel = 110,
		showQuality = 3,
	},
	[11] = {
		id = 1,
		idx = 11,
		optionid = 11,
		value = 0,
		name = "炎之战神",
		tips = "回收背包中所有炎之战神装备",
		title = "装备回收",
		itemlevel = 111,
		showQuality = 3,
	},
	[12] = {
		id = 1,
		idx = 12,
		optionid = 12,
		value = 0,
		name = "1阶魔器",
		tips = "回收背包中所有1阶魔器",
		title = "装备回收",
		itemlevel = 97,
		showQuality = 3,
	},
	[13] = {
		id = 1,
		idx = 13,
		optionid = 58,
		value = 0,
		name = "星王首饰",
		tips = "回收背包中所有星王级首饰(不包括武器衣服)",
		title = "装备回收",
		itemlevel = 112,
		showQuality = 4,
	},
	[14] = {
		id = 1,
		idx = 14,
		optionid = 59,
		value = 0,
		name = "2阶魔器",
		tips = "回收背包中所有2阶魔器",
		title = "装备回收",
		itemlevel = 98,
		showQuality = 4,
	},
	[15] = {
		id = 1,
		idx = 15,
		optionid = 60,
		value = 0,
		name = "炎之星王",
		tips = "回收背包中所有炎之星王首饰(不包括武器衣服)",
		title = "装备回收",
		itemlevel = 113,
		showQuality = 4,
	},
	[16] = {
		id = 1,
		idx = 16,
		optionid = 61,
		value = 0,
		name = "3阶魔器",
		tips = "回收背包中所有3阶魔器",
		title = "装备回收",
		itemlevel = 99,
		showQuality = 4,
	},
},
[2] = {
	[1] = {
		id = 2,
		idx = 1,
		optionid = 13,
		value = 0,
		name = "30级神装",
		tips = "回收背包中所有30级神装",
		title = "神装",
		itemlevel = 65,
		showQuality = 0,
	},
	[2] = {
		id = 2,
		idx = 2,
		optionid = 14,
		value = 0,
		name = "40级神装",
		tips = "回收背包中所有40级神装",
		title = "神装",
		itemlevel = 66,
		showQuality = 0,
	},
	[3] = {
		id = 2,
		idx = 3,
		optionid = 15,
		value = 0,
		name = "50级神装",
		tips = "回收背包中所有50级神装",
		title = "神装",
		itemlevel = 67,
		showQuality = 1,
	},
	[4] = {
		id = 2,
		idx = 4,
		optionid = 16,
		value = 0,
		name = "1转神装",
		tips = "回收背包中所有1转神装",
		title = "神装",
		itemlevel = 68,
		showQuality = 1,
	},
	[5] = {
		id = 2,
		idx = 5,
		optionid = 17,
		value = 0,
		name = "2转神装",
		tips = "回收背包中所有2转神装",
		title = "神装",
		itemlevel = 69,
		showQuality = 2,
	},
	[6] = {
		id = 2,
		idx = 6,
		optionid = 18,
		value = 0,
		name = "3转神装",
		tips = "回收背包中所有3转神装",
		title = "神装",
		itemlevel = 70,
		showQuality = 2,
	},
	[7] = {
		id = 2,
		idx = 7,
		optionid = 19,
		value = 0,
		name = "4转神装",
		tips = "回收背包中所有4转神装",
		title = "神装",
		itemlevel = 71,
		showQuality = 2,
	},
	[8] = {
		id = 2,
		idx = 8,
		optionid = 20,
		value = 0,
		name = "5转神装",
		tips = "回收背包中所有5转神装",
		title = "神装",
		itemlevel = 72,
		showQuality = 3,
	},
	[9] = {
		id = 2,
		idx = 9,
		optionid = 55,
		value = 0,
		name = "一念内装",
		tips = "回收背包中所有一念内装(包括银针[一念]、心决[一念]、金印[一念]、檀珠[一念])",
		title = "神装",
		itemlevel = 200,
		showQuality = 3,
	},
	[10] = {
		id = 2,
		idx = 10,
		optionid = 56,
		value = 0,
		name = "无双内装",
		tips = "回收背包中所有无双内装(包括银针[无双]、心决[无双]、金印[无双]、檀珠[无双])",
		title = "神装",
		itemlevel = 201,
		showQuality = 3,
	},
	[11] = {
		id = 2,
		idx = 11,
		optionid = 57,
		value = 0,
		name = "三清内装",
		tips = "回收背包中所有三清内装(包括银针[三清]、心决[三清]、金印[三清]、檀珠[三清])",
		title = "神装",
		itemlevel = 202,
		showQuality = 4,
	},
},
[3] = {
	[1] = {
		id = 3,
		idx = 1,
		optionid = 22,
		value = 0,
		name = "1品魂玉",
		tips = "回收背包中所有1品魂玉",
		title = "合成装备",
		itemlevel = 33,
		showQuality = 1,
	},
	[2] = {
		id = 3,
		idx = 2,
		optionid = 23,
		value = 0,
		name = "2品魂玉",
		tips = "回收背包中所有2品魂玉",
		title = "合成装备",
		itemlevel = 34,
		showQuality = 1,
	},
	[3] = {
		id = 3,
		idx = 3,
		optionid = 24,
		value = 0,
		name = "3品魂玉",
		tips = "回收背包中所有3品魂玉",
		title = "合成装备",
		itemlevel = 35,
		showQuality = 2,
	},
	[4] = {
		id = 3,
		idx = 4,
		optionid = 25,
		value = 0,
		name = "4品魂玉",
		tips = "回收背包中所有4品魂玉",
		title = "合成装备",
		itemlevel = 36,
		showQuality = 2,
	},
	[5] = {
		id = 3,
		idx = 5,
		optionid = 26,
		value = 0,
		name = "1阶勋章",
		tips = "回收背包中所有1阶勋章",
		title = "合成装备",
		itemlevel = 44,
		showQuality = 1,
	},
	[6] = {
		id = 3,
		idx = 6,
		optionid = 27,
		value = 0,
		name = "2阶勋章",
		tips = "回收背包中所有2阶勋章",
		title = "合成装备",
		itemlevel = 45,
		showQuality = 1,
	},
	[7] = {
		id = 3,
		idx = 7,
		optionid = 28,
		value = 0,
		name = "3阶勋章",
		tips = "回收背包中所有3阶勋章",
		title = "合成装备",
		itemlevel = 46,
		showQuality = 2,
	},
	[8] = {
		id = 3,
		idx = 8,
		optionid = 29,
		value = 0,
		name = "4阶勋章",
		tips = "回收背包中所有4阶勋章",
		title = "合成装备",
		itemlevel = 47,
		showQuality = 2,
	},
	[9] = {
		id = 3,
		idx = 9,
		optionid = 30,
		value = 0,
		name = "1级宝珠",
		tips = "回收背包中所有1级治疗宝玉",
		title = "合成装备",
		itemlevel = 55,
		showQuality = 1,
	},
	[10] = {
		id = 3,
		idx = 10,
		optionid = 31,
		value = 0,
		name = "2级宝珠",
		tips = "回收背包中所有2级治疗宝玉",
		title = "合成装备",
		itemlevel = 56,
		showQuality = 1,
	},
	[11] = {
		id = 3,
		idx = 11,
		optionid = 32,
		value = 0,
		name = "3级宝珠",
		tips = "回收背包中所有3级治疗宝玉",
		title = "合成装备",
		itemlevel = 57,
		showQuality = 2,
	},
	[12] = {
		id = 3,
		idx = 12,
		optionid = 33,
		value = 0,
		name = "4级宝珠",
		tips = "回收背包中所有4级治疗宝玉",
		title = "合成装备",
		itemlevel = 58,
		showQuality = 2,
	},
	[13] = {
		id = 3,
		idx = 13,
		optionid = 34,
		value = 0,
		name = "普通佩饰",
		tips = "回收背包中所有普通佩饰",
		title = "合成装备",
		itemlevel = 85,
		showQuality = 2,
	},
	[14] = {
		id = 3,
		idx = 14,
		optionid = 35,
		value = 0,
		name = "两仪佩饰",
		tips = "回收背包中所有两仪佩饰",
		title = "合成装备",
		itemlevel = 86,
		showQuality = 3,
	},
	[15] = {
		id = 3,
		idx = 15,
		optionid = 36,
		value = 0,
		name = "四象佩饰",
		tips = "回收背包中所有四象佩饰",
		title = "合成装备",
		itemlevel = 87,
		showQuality = 4,
	},
},
[4] = {
	[1] = {
		id = 4,
		idx = 1,
		optionid = 37,
		value = 0,
		name = "太阳水",
		tips = "一键回收太阳水，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 29,
		showQuality = 0,
	},
	[2] = {
		id = 4,
		idx = 2,
		optionid = 38,
		value = 0,
		name = "强效金创药",
		tips = "一键回收强效金创药，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 23,
		showQuality = 0,
	},
	[3] = {
		id = 4,
		idx = 3,
		optionid = 39,
		value = 0,
		name = "强效太阳水",
		tips = "一键回收强效太阳水，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 30,
		showQuality = 0,
	},
	[4] = {
		id = 4,
		idx = 4,
		optionid = 40,
		value = 0,
		name = "万年雪霜",
		tips = "一键回收万年雪霜，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 31,
		showQuality = 0,
	},
	[5] = {
		id = 4,
		idx = 5,
		optionid = 41,
		value = 0,
		name = "1转材料",
		tips = "一键回收1转魂火和曜石，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 75,
		showQuality = 1,
	},
	[6] = {
		id = 4,
		idx = 6,
		optionid = 42,
		value = 0,
		name = "2转材料",
		tips = "一键回收2转魂火和曜石，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 76,
		showQuality = 1,
	},
	[7] = {
		id = 4,
		idx = 7,
		optionid = 43,
		value = 0,
		name = "3转材料",
		tips = "一键回收3转魂火和曜石，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 77,
		showQuality = 1,
	},
	[8] = {
		id = 4,
		idx = 8,
		optionid = 44,
		value = 0,
		name = "4转材料",
		tips = "一键回收4转魂火和曜石，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 78,
		showQuality = 2,
	},
	[9] = {
		id = 4,
		idx = 9,
		optionid = 45,
		value = 0,
		name = "5转材料",
		tips = "一键回收5转魂火和曜石，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 79,
		showQuality = 3,
	},
	[10] = {
		id = 4,
		idx = 10,
		optionid = 46,
		value = 0,
		name = "6转材料",
		tips = "一键回收6转魂火和曜石，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 80,
		showQuality = 4,
	},
	[11] = {
		id = 4,
		idx = 11,
		optionid = 47,
		value = 0,
		name = "9品证明",
		tips = "一键回收9品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 89,
		showQuality = 1,
	},
	[12] = {
		id = 4,
		idx = 12,
		optionid = 48,
		value = 0,
		name = "8品证明",
		tips = "一键回收8品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 90,
		showQuality = 1,
	},
	[13] = {
		id = 4,
		idx = 13,
		optionid = 49,
		value = 0,
		name = "7品证明",
		tips = "一键回收7品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 91,
		showQuality = 2,
	},
	[14] = {
		id = 4,
		idx = 14,
		optionid = 50,
		value = 0,
		name = "6品证明",
		tips = "一键回收6品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 92,
		showQuality = 2,
	},
	[15] = {
		id = 4,
		idx = 15,
		optionid = 51,
		value = 0,
		name = "5品证明",
		tips = "一键回收5品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 93,
		showQuality = 3,
	},
	[16] = {
		id = 4,
		idx = 16,
		optionid = 52,
		value = 0,
		name = "4品证明",
		tips = "一键回收4品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 94,
		showQuality = 3,
	},
	[17] = {
		id = 4,
		idx = 17,
		optionid = 53,
		value = 0,
		name = "3品证明",
		tips = "一键回收3品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 95,
		showQuality = 4,
	},
	[18] = {
		id = 4,
		idx = 18,
		optionid = 54,
		value = 0,
		name = "2品证明",
		tips = "一键回收2品证明，需要绿卡会员",
		title = "材料及药品(绿卡特权)",
		itemlevel = 96,
		showQuality = 5,
	},
},
}