--AA-称号.xlsx 称号表
TitleConfig={
[1] = {
	id = 1,
	titleTime = 0,
	titleName = "冰雪新秀",
	broadcast = false,
	active = 1,
	attr = {{type=5,value=100},{type=76,value=2},{type=77,value=2}},
},
[2] = {
	id = 2,
	titleTime = 0,
	titleName = "冰雪老铁",
	broadcast = false,
	active = 1,
	attr = {{type=5,value=100},{type=76,value=1},{type=77,value=1},{type=144,value=1800},{type=83,value=3000}},
},
[3] = {
	id = 3,
	titleTime = 0,
	titleName = "冰雪贵族",
	broadcast = true,
	active = 1,
	attr = {{type=5,value=100},{type=76,value=7},{type=77,value=7},{type=70,value=2000},{type=144,value=1800},{type=59,value=2000}},
	VIPnotice = 416,
	noticeLv = 1,
},
[4] = {
	id = 4,
	titleTime = 0,
	titleName = "大富豪",
	broadcast = true,
	active = 1,
	attr = {{type = 139, value = 18}},
},
[5] = {
	id = 5,
	titleTime = 0,
	titleName = "超玩专属",
	broadcast = false,
	active = 1,
	attr = {{type = 21, value = 0},{type = 23, value = 1},{type = 25, value = 0},{type = 27, value = 1}},
},
[6] = {
	id = 6,
	titleTime = 604800,
	titleName = "玩冰雪传奇上4366游戏",
	broadcast = false,
	setup = 1,
	active = 1,
	attr = {{type = 76, value = 0},{type = 77, value = 1}},
},
[7] = {
	id = 7,
	titleTime = 0,
	titleName = "红尘不朽",
	broadcast = false,
	active = 1,
	attr = {{type = 138, value = 15}},
},
[8] = {
	id = 8,
	titleTime = 0,
	titleName = "红鸾灭天",
	broadcast = false,
	active = 1,
	attr = {{type = 138, value = 20}},
},
[9] = {
	id = 9,
	titleTime = 0,
	titleName = "红颜绝地",
	broadcast = true,
	active = 1,
	attr = {{type = 138, value = 25}},
},
[10] = {
	id = 10,
	titleTime = 0,
	titleName = "江山无限",
	broadcast = true,
	active = 1,
	attr = {{type=76,value=45000},{type=77,value=45000},{type=45,value=7},{type=59,value=20000},{type=5,value=70000},},
	VIPnotice = 416,
	noticeLv = 2,
},
[11] = {
	id = 11,
	titleTime = 0,
	titleName = "天地唯我",
	broadcast = true,
	active = 1,
	attr = {{type=136,value=5000},{type=21,value=30},{type=23,value=30},{type=25,value=30},{type=27,value=30},{type=35,value=1000}},
	VIPnotice = 416,
	noticeLv = 3,
},
[12] = {
	id = 12,
	titleTime = 86400,
	titleName = "沙城之巅",
	broadcast = false,
	active = 1,
	attr = {{type=136,value=1000},{type=21,value=10},{type=23,value=10},{type=25,value=10},{type=27,value=10}},
	VIPnotice = 428,
	noticeLv = 5,
},
[13] = {
	id = 13,
	titleTime = 0,
	titleName = "独孤败天",
	broadcast = true,
	active = 1,
	attr = {{type=75,value=1000},{type=77,value=70},{type=76,value=70},{type=144,value=1500}},
	VIPnotice = 429,
	noticeLv = 4,
},
[14] = {
	id = 14,
	titleTime = 0,
	titleName = "第一战神",
	broadcast = false,
	attr = {{type = 5, value = 500}},
	offlinedelete = 1,
},
[15] = {
	id = 15,
	titleTime = 0,
	titleName = "第一法圣",
	broadcast = false,
	attr = {{type = 5, value = 500}},
	offlinedelete = 1,
},
[16] = {
	id = 16,
	titleTime = 0,
	titleName = "第一道尊",
	broadcast = false,
	attr = {{type = 5, value = 500}},
	offlinedelete = 1,
},
[17] = {
	id = 17,
	titleTime = 0,
	titleName = "第二战士",
	broadcast = false,
	attr = {{type = 5, value = 380}},
	offlinedelete = 1,
},
[18] = {
	id = 18,
	titleTime = 0,
	titleName = "第二法师",
	broadcast = false,
	attr = {{type = 5, value = 380}},
	offlinedelete = 1,
},
[19] = {
	id = 19,
	titleTime = 0,
	titleName = "第二道士",
	broadcast = false,
	attr = {{type = 5, value = 380}},
	offlinedelete = 1,
},
[20] = {
	id = 20,
	titleTime = 0,
	titleName = "第三战士",
	broadcast = false,
	attr = {{type = 5, value = 300}},
	offlinedelete = 1,
},
[21] = {
	id = 21,
	titleTime = 0,
	titleName = "第三法师",
	broadcast = false,
	attr = {{type = 5, value = 300}},
	offlinedelete = 1,
},
[22] = {
	id = 22,
	titleTime = 0,
	titleName = "第三道士",
	broadcast = false,
	attr = {{type = 5, value = 300}},
	offlinedelete = 1,
},
[23] = {
	id = 23,
	titleTime = 0,
	titleName = "第一物攻",
	broadcast = false,
	attr = {{type = 5, value = 500}},
	offlinedelete = 1,
},
[24] = {
	id = 24,
	titleTime = 0,
	titleName = "第一魔法",
	broadcast = false,
	attr = {{type = 5, value = 500}},
	offlinedelete = 1,
},
[25] = {
	id = 25,
	titleTime = 0,
	titleName = "第一道术",
	broadcast = false,
	attr = {{type = 5, value = 500}},
	offlinedelete = 1,
},
[26] = {
	id = 26,
	titleTime = 0,
	titleName = "第二物攻",
	broadcast = false,
	attr = {{type = 5, value = 380}},
	offlinedelete = 1,
},
[27] = {
	id = 27,
	titleTime = 0,
	titleName = "第二魔法",
	broadcast = false,
	attr = {{type = 5, value = 380}},
	offlinedelete = 1,
},
[28] = {
	id = 28,
	titleTime = 0,
	titleName = "第二道术",
	broadcast = false,
	attr = {{type = 5, value = 380}},
	offlinedelete = 1,
},
[29] = {
	id = 29,
	titleTime = 0,
	titleName = "第三物攻",
	broadcast = false,
	attr = {{type = 5, value = 300}},
	offlinedelete = 1,
},
[30] = {
	id = 30,
	titleTime = 0,
	titleName = "第三魔法",
	broadcast = false,
	attr = {{type = 5, value = 300}},
	offlinedelete = 1,
},
[31] = {
	id = 31,
	titleTime = 0,
	titleName = "第三道术",
	broadcast = false,
	attr = {{type = 5, value = 300}},
	offlinedelete = 1,
},
[32] = {
	id = 32,
	titleTime = 0,
	titleName = "怪物猎人",
	broadcast = true,
	attr = {{type = 116, value = 3}},
},
[33] = {
	id = 33,
	titleTime = 0,
	titleName = "巨人猎手",
	broadcast = true,
	attr = {{type = 101, value = 3}},
},
[34] = {
	id = 34,
	titleTime = 0,
	titleName = "打宝标兵",
	broadcast = true,
	attr = {{type = 5, value = 60}},
},
}