--J-技能配置.xlsx 手机版技能位置
SkillLocationConf={
[1] = {
	[2] = {
		job = 1,
		id = 2,
		skillName = "m_skillicon_zs2",
	},
	[3] = {
		job = 1,
		id = 3,
		skillName = "m_skillicon_zs3",
	},
	[4] = {
		job = 1,
		id = 4,
		skillName = "m_skillicon_zs4",
	},
	[5] = {
		job = 1,
		id = 5,
		skillName = "m_skillicon_zs5",
	},
	[6] = {
		job = 1,
		id = 6,
		skillName = "m_skillicon_zs6",
	},
	[7] = {
		job = 1,
		id = 8,
		skillName = "m_skillicon_zs8",
	},
	[8] = {
		job = 1,
		id = 89,
		skillName = "m_skillicon_fs14",
		isActive = 1,
	},
	[25] = {
		job = 25,
		id = 25,
		skillName = "m_skillicon_fs14",
		isActive = 1,
	}
},
[2] = {
	[2] = {
		job = 2,
		id = 10,
		skillName = "m_skillicon_fs2",
	},
	[3] = {
		job = 2,
		id = 12,
		skillName = "m_skillicon_fs4",
		isActive = 1,
	},
	[4] = {
		job = 2,
		id = 14,
		skillName = "m_skillicon_fs6",
	},
	[5] = {
		job = 2,
		id = 17,
		skillName = "m_skillicon_fs9",
	},
	[6] = {
		job = 2,
		id = 18,
		skillName = "m_skillicon_fs10",
		isActive = 1,
	},
	[7] = {
		job = 2,
		id = 21,
		skillName = "m_skillicon_fs13",
		isActive = 1,
	},
	[8] = {
		job = 2,
		id = 90,
		skillName = "m_skillicon_fs14",
		isActive = 1,
	},
},
[3] = {
	[2] = {
		job = 3,
		id = 23,
		skillName = "m_skillicon_ds2",
		isActive = 1,
	},
	[3] = {
		job = 3,
		id = 24,
		skillName = "m_skillicon_ds3",
		isActive = 1,
	},
	[4] = {
		job = 3,
		id = 26,
		skillName = "m_skillicon_ds5",
	},
	[5] = {
		job = 3,
		id = 28,
		skillName = "m_skillicon_ds7",
	},
	[6] = {
		job = 3,
		id = 30,
		skillName = "m_skillicon_ds9",
	},
	[7] = {
		job = 3,
		id = 31,
		skillName = "m_skillicon_ds10",
	},
	[8] = {
		job = 3,
		id = 33,
		skillName = "m_skillicon_ds12",
		isActive = 1,
	},
	[9] = {
		job = 3,
		id = 91,
		skillName = "m_skillicon_fs14",
		isActive = 1,
	},
},
}
