--J-技能配置.xlsx 技能配置总表
SkillConf={
[1] = {
	id = 1,
	name = "基本剑术",
	vocation = 1,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
	isDelete = true,
},
[2] = {
	id = 2,
	name = "攻杀剑术",
	vocation = 1,
	skillType = 0,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = false,
	priority = 3,
	isAutoLearn = true,
	autoLearnSkillLvl = 12,
	direction = 1,
	action = 1,
},
[3] = {
	id = 3,
	name = "刺杀剑术",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 0,
	isSwitch = true,
	specialBuffCond = 3,
	needCalPassiveProperty = true,
	priority = 1,
	isAutoLearn = true,
	autoLearnSkillLvl = 7,
	direction = 1,
	action = 1,
},
[4] = {
	id = 4,
	name = "半月弯刀",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 0,
	isSwitch = true,
	specialBuffCond = 3,
	needCalPassiveProperty = true,
	priority = 2,
	isAutoLearn = true,
	autoLearnSkillLvl = 23,
	direction = 1,
	action = 1,
},
[5] = {
	id = 5,
	name = "野蛮冲撞",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 1000,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 30,
	direction = 1,
	action = 1,
},
[6] = {
	id = 6,
	name = "烈火剑法",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 0,
	isSwitch = true,
	specialBuffCond = 3,
	needCalPassiveProperty = true,
	priority = 4,
	isAutoLearn = true,
	autoLearnSkillLvl = 35,
	direction = 0,
	action = 1,
},
[7] = {
	id = 7,
	name = "狮子吼",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 1000,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = false,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 43,
	direction = 0,
	action = 2,
	isDelete = true,
},
[8] = {
	id = 8,
	name = "逐日剑法",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 0,
	isSwitch = true,
	specialBuffCond = 3,
	needCalPassiveProperty = true,
	priority = 5,
	isAutoLearn = true,
	autoLearnSkillLvl = 47,
	direction = 0,
	action = 1,
},
[9] = {
	id = 9,
	name = "火球术",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 2,
	isDelete = true,
},
[10] = {
	id = 10,
	name = "抗拒火环",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 12,
	direction = 0,
	action = 2,
},
[11] = {
	id = 11,
	name = "诱惑宠物",
	vocation = 0,
	skillType = 2,
	skillClass = 3,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 2,
	isDelete = true,
},
[12] = {
	id = 12,
	name = "雷电术",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 7,
	direction = 1,
	action = 2,
},
[13] = {
	id = 13,
	name = "瞬息移动",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 18,
	direction = 0,
	action = 2,
	isDelete = true,
},
[14] = {
	id = 14,
	name = "火墙",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 24,
	direction = 1,
	action = 2,
	isdizzy = 0,
},
[15] = {
	id = 15,
	name = "疾光电影",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 2,
	isDelete = true,
},
[16] = {
	id = 16,
	name = "地狱雷光",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 2,
	isDelete = true,
},
[17] = {
	id = 17,
	name = "魔法盾",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 30,
	direction = 0,
	action = 2,
},
[18] = {
	id = 18,
	name = "冰咆哮",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 35,
	direction = 1,
	action = 2,
},
[19] = {
	id = 19,
	name = "寒冰掌",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 36,
	direction = 1,
	action = 2,
	isDelete = true,
},
[20] = {
	id = 20,
	name = "灭天火",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 2,
	isDelete = true,
},
[21] = {
	id = 21,
	name = "流星火雨",
	vocation = 2,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 47,
	direction = 1,
	action = 2,
},
[22] = {
	id = 22,
	name = "治愈术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 2,
	isDelete = true,
},
[23] = {
	id = 23,
	name = "施毒术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 13,
	direction = 0,
	action = 2,
	isdizzy = 0,
},
[24] = {
	id = 24,
	name = "灵魂火符",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 11,
	direction = 0,
	action = 2,
},
[25] = {
	id = 25,
	name = "召唤骷髅",
	vocation = 0,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 19,
	direction = 0,
	action = 2,
},
[26] = {
	id = 26,
	name = "隐身术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 20,
	direction = 0,
	action = 2,
},
[27] = {
	id = 27,
	name = "集体隐身术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 2,
	isDelete = true,
},
[28] = {
	id = 28,
	name = "神圣战甲术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 25,
	direction = 0,
	action = 2,
},
[29] = {
	id = 29,
	name = "群体治愈术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 33,
	direction = 0,
	action = 2,
	isDelete = true,
},
[30] = {
	id = 30,
	name = "召唤神兽",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 35,
	direction = 0,
	action = 2,
},
[31] = {
	id = 31,
	name = "气功波",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 38,
	direction = 0,
	action = 2,
},
[32] = {
	id = 32,
	name = "无极真气",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 2,
	isDelete = true,
},
[33] = {
	id = 33,
	name = "噬血术",
	vocation = 3,
	skillType = 2,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 47,
	direction = 0,
	action = 2,
},
[34] = {
	id = 34,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[35] = {
	id = 35,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[36] = {
	id = 36,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[37] = {
	id = 37,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[38] = {
	id = 38,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[39] = {
	id = 39,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[40] = {
	id = 40,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[41] = {
	id = 41,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[42] = {
	id = 42,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[43] = {
	id = 43,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[44] = {
	id = 44,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[45] = {
	id = 45,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[46] = {
	id = 46,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[47] = {
	id = 47,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[48] = {
	id = 48,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[49] = {
	id = 49,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[50] = {
	id = 50,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[51] = {
	id = 51,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[52] = {
	id = 52,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[53] = {
	id = 53,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[54] = {
	id = 54,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[55] = {
	id = 55,
	name = "回城",
	vocation = 0,
	skillType = 3,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 0,
},
[56] = {
	id = 56,
	name = "盟重回城",
	vocation = 0,
	skillType = 3,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 0,
	isDelete = true,
},
[57] = {
	id = 57,
	name = "比奇回城",
	vocation = 0,
	skillType = 3,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 0,
	isDelete = true,
},
[58] = {
	id = 58,
	name = "随机",
	vocation = 0,
	skillType = 3,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = true,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 0,
},
[59] = {
	id = 59,
	name = "安全回复",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 0,
},
[60] = {
	id = 60,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[61] = {
	id = 61,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 1,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[62] = {
	id = 62,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[63] = {
	id = 63,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[64] = {
	id = 64,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 3,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[65] = {
	id = 65,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[66] = {
	id = 66,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[67] = {
	id = 67,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[68] = {
	id = 68,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[69] = {
	id = 69,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 2,
},
[70] = {
	id = 70,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[71] = {
	id = 71,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[72] = {
	id = 72,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[73] = {
	id = 73,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[74] = {
	id = 74,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[75] = {
	id = 75,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[76] = {
	id = 76,
	name = "",
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[77] = {
	id = 77,
	name = "灵巧",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 0,
},
[78] = {
	id = 78,
	name = "血牛",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 0,
},
[79] = {
	id = 79,
	name = "",
	vocation = 4,
	skillType = 2,
	skillClass = 2,
	commonCd = 0,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[80] = {
	id = 80,
	vocation = 4,
	skillType = 1,
	skillClass = 2,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	priority = 0,
	isAutoLearn = false,
	direction = 1,
	action = 1,
},
[81] = {
	id = 81,
	name = "怒之半月",
	vocation = 1,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[82] = {
	id = 82,
	name = "怒之烈火",
	vocation = 1,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[83] = {
	id = 83,
	name = "怒之逐日",
	vocation = 1,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[84] = {
	id = 84,
	name = "怒之雷电",
	vocation = 2,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[85] = {
	id = 85,
	name = "怒之冰咆",
	vocation = 2,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[86] = {
	id = 86,
	name = "怒之火雨",
	vocation = 2,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[87] = {
	id = 87,
	name = "怒之火符",
	vocation = 3,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[88] = {
	id = 88,
	name = "怒之噬血",
	vocation = 3,
	skillType = 0,
	skillClass = 1,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	direction = 0,
	action = 1,
},
[89] = {
	id = 89,
	name = "雷霆一击",
	vocation = 1,
	skillType = 1,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 2,
},
[90] = {
	id = 90,
	name = "雷霆一击",
	vocation = 2,
	skillType = 1,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 2,
},
[91] = {
	id = 91,
	name = "雷霆一击",
	vocation = 3,
	skillType = 1,
	skillClass = 1,
	commonCd = 750,
	singleEffect = true,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 2,
},
[92] = {
	id = 92,
	name = "静之半月",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[93] = {
	id = 93,
	name = "静之烈火",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[94] = {
	id = 94,
	name = "静之逐日",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[95] = {
	id = 95,
	name = "静之雷电",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[96] = {
	id = 96,
	name = "静之冰咆",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[97] = {
	id = 97,
	name = "静之火雨",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[98] = {
	id = 98,
	name = "静之火符",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
[99] = {
	id = 99,
	name = "静之噬血",
	vocation = 0,
	skillType = 0,
	skillClass = 3,
	commonCd = 0,
	isSwitch = false,
	specialBuffCond = 0,
	needCalPassiveProperty = true,
	priority = 0,
	isAutoLearn = false,
	autoLearnSkillLvl = 0,
	direction = 0,
	action = 1,
},
}
