--B-Boss配置.xlsx boss成长
BossGrowConfig = {
[92] = {
	entityid = 92,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[93] = {
	entityid = 93,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[96] = {
	entityid = 96,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[97] = {
	entityid = 97,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[98] = {
	entityid = 98,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[99] = {
	entityid = 99,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[101] = {
	entityid = 101,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[102] = {
	entityid = 102,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[107] = {
	entityid = 107,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[144] = {
	entityid = 144,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 4,
	fPropB = 30,
	fPropC = 0,
},
[145] = {
	entityid = 145,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[146] = {
	entityid = 146,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[147] = {
	entityid = 147,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[148] = {
	entityid = 148,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[149] = {
	entityid = 149,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[150] = {
	entityid = 150,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
[151] = {
	entityid = 151,
	nMaxHardLevel = 
{
 type = 1,
 level = {
 {limit = 5,limitnum = 20, level = 1},
 {limit = 6,limitnum = 20, level = 2},
 {limit = 7,limitnum = 20, level = 3},
 {limit = 8,limitnum = 20, level = 4},
 {limit = 9,limitnum = 20, level = 5},
 {limit = 10,limitnum = 20, level = 6},
 {limit = 10,limitnum = 30, level = 7},
 {limit = 10,limitnum = 40, level = 8},
 {limit = 10,limitnum = 50, level = 9},
 {limit = 10,limitnum = 60, level = 10},
 }
},
	fPropA = 5,
	fPropB = 40,
	fPropC = 0,
},
}