--B-Boss配置.xlsx 禁地
ForbiddenAreaConfig = {
[151] = {
	mapid = 151,
	openserverday = 10,
	drop = {{type=0,id=112,count=1},{type=0,id=113,count=1},{type=0,id=114,count=1}},
	desc = "石墓禁地聚集着大量极品白野猪，快去打败它们。每人每天只有3次进入机会！",
	limitlv = 30,
	limitcircle = 0,
	jiontime = 1800,
	limittimes = 3,
	cost = {{type=1,id = 1,count=50000}},
	xpoint = 28,
	ypoint = 28,
	range = 3,
	monsterName = "极品白野猪",
	mold = 4,
},
}