--P-平台福利鲁大师.xlsx 会员礼包
LudashimemberConfig={
[1] = {
	id = 1,
	type = 1,
	memberLevel = 1,
	titleReward = {{type=0,id=1282,count=1}},
	giftReward = {{type=0,id=261,count=3},{type=0,id=853,count=3},{type=2,id=2,count=10000}},
},
[2] = {
	id = 2,
	type = 1,
	memberLevel = 3,
	titleReward = {{type=0,id=1283,count=1}},
	giftReward = {{type=0,id=261,count=5},{type=0,id=854,count=5},{type=2,id=2,count=10000}},
},
[3] = {
	id = 3,
	type = 2,
	memberLevel = 1,
	titleReward = {},
	giftReward = {{type=0,id=269,count=1},{type=0,id=247,count=3},{type=7,id=7,count=5},{type=2,id=2,count=10000}},
},
}