--P-平台福利鲁大师.xlsx 鲁大师
PlatformludashiConfig={
	host = "wan.ludashi.com",
	port = "80",
	api = "/openApi/platformVipInfo",
	SPID = "17",
	limit = 15000,
	type = 2,
	downloadBoxReward = {{type=0,id=247,count=10},{type=7,id=7,count=5},{type=0,id=261,count=10},{type=2,id=2,count=20000}},
	bindPhoneReward = {{type=0,id=351,count=1},{type=0,id=421,count=5},{type=0,id=302,count=1},{type=2,id=2,count=30000}},
	FcmReward = {{type=0,id=365,count=1},{type=0,id=261,count=10},{type=0,id=300,count=1},{type=2,id=2,count=50000}},
	boxdailyGift = {{type=0,id=269,count=1},{type=0,id=247,count=2},{type=7,id=7,count=3}},
	levelGift = {
[1]={lvl=50,awards={{type=2,id=2,count=5000},{type=0,id=421,count=1}}},
[2]={lvl=60,awards={{type=2,id=2,count=10000},{type=0,id=421,count=2}}},
[3]={lvl=70,awards={{type=2,id=2,count=15000},{type=0,id=421,count=3}}},
[4]={lvl=80,awards={{type=2,id=2,count=20000},{type=0,id=853,count=5}}},
[5]={lvl=90,awards={{type=2,id=2,count=25000},{type=0,id=854,count=5}}},
[6]={lvl=100,awards={{type=2,id=2,count=30000},{type=0,id=365,count=1}}},
},
}