--AB-特权.xlsx 元宝回收表
YBrecoverConfig = {
[1] = {
	id = 1,
	item = {{type=2,id=2,count=500000}},
	displaylimit = {level=1,zsLevel=0,openDay=1},
	recoverlimit = {level=1,zsLevel=0,openDay=1},
	timeslimit = 1,
	daylimit = 2,
	privilegelimit = 0,
	privilegeaward = {[0]={{type=3,id=3,count=20}},[1]={{type=3,id=3,count=20}},[2]={{type=3,id=3,count=20}},[3]={{type=3,id=3,count=20}},[4]={{type=3,id=3,count=20}},[5]={{type=3,id=3,count=20}},[6]={{type=3,id=3,count=20}},[7]={{type=3,id=3,count=20}}},
	dayclear = 1,
},
[2] = {
	id = 2,
	item = {{type=2,id=2,count=250000}},
	displaylimit = {level=1,zsLevel=0,openDay=1},
	recoverlimit = {level=1,zsLevel=0,openDay=1},
	timeslimit = 1,
	daylimit = 2,
	privilegelimit = 1,
	privilegeaward = {[1]={{type=3,id=3,count=10}},[2]={{type=3,id=3,count=10}},[3]={{type=3,id=3,count=10}},[4]={{type=3,id=3,count=10}},[5]={{type=3,id=3,count=10}},[6]={{type=3,id=3,count=10}},[7]={{type=3,id=3,count=10}}},
	dayclear = 1,
},
[3] = {
	id = 3,
	item = {{type=2,id=2,count=2000000}},
	displaylimit = {level=1,zsLevel=0,openDay=3},
	recoverlimit = {level=1,zsLevel=0,openDay=3},
	timeslimit = 1,
	daylimit = 5,
	privilegelimit = 0,
	privilegeaward = {[0]={{type=3,id=3,count=30}},[1]={{type=3,id=3,count=30}},[2]={{type=3,id=3,count=30}},[3]={{type=3,id=3,count=30}},[4]={{type=3,id=3,count=30}},[5]={{type=3,id=3,count=30}},[6]={{type=3,id=3,count=30}},[7]={{type=3,id=3,count=30}}},
	dayclear = 1,
},
[4] = {
	id = 4,
	item = {{type=2,id=2,count=1000000}},
	displaylimit = {level=1,zsLevel=0,openDay=3},
	recoverlimit = {level=1,zsLevel=0,openDay=3},
	timeslimit = 1,
	daylimit = 5,
	privilegelimit = 1,
	privilegeaward = {[1]={{type=3,id=3,count=15}},[2]={{type=3,id=3,count=15}},[3]={{type=3,id=3,count=15}},[4]={{type=3,id=3,count=15}},[5]={{type=3,id=3,count=15}},[6]={{type=3,id=3,count=15}},[7]={{type=3,id=3,count=15}}},
	dayclear = 1,
},
[5] = {
	id = 5,
	item = {{type=2,id=2,count=5000000}},
	displaylimit = {level=1,zsLevel=0,openDay=7},
	recoverlimit = {level=1,zsLevel=0,openDay=7},
	timeslimit = 1,
	daylimit = -1,
	privilegelimit = 0,
	privilegeaward = {[0]={{type=3,id=3,count=50}},[1]={{type=3,id=3,count=50}},[2]={{type=3,id=3,count=50}},[3]={{type=3,id=3,count=50}},[4]={{type=3,id=3,count=50}},[5]={{type=3,id=3,count=50}},[6]={{type=3,id=3,count=50}},[7]={{type=3,id=3,count=50}}},
	dayclear = 1,
},
[6] = {
	id = 6,
	item = {{type=2,id=2,count=2500000}},
	displaylimit = {level=1,zsLevel=0,openDay=7},
	recoverlimit = {level=1,zsLevel=0,openDay=7},
	timeslimit = 1,
	daylimit = -1,
	privilegelimit = 1,
	privilegeaward = {[1]={{type=3,id=3,count=25}},[2]={{type=3,id=3,count=25}},[3]={{type=3,id=3,count=25}},[4]={{type=3,id=3,count=25}},[5]={{type=3,id=3,count=25}},[6]={{type=3,id=3,count=25}},[7]={{type=3,id=3,count=25}}},
	dayclear = 1,
},
[11] = {
	id = 11,
	item = {{type=2,id=2,count=260000}},
	displaylimit = {level=1,zsLevel=0,openDay=1},
	recoverlimit = {level=1,zsLevel=0,openDay=1},
	timeslimit = -1,
	daylimit = -1,
	privilegelimit = 2,
	privilegeaward = {[2]={{type=0,id=236,count=1}},[3]={{type=0,id=236,count=1}},[4]={{type=0,id=236,count=1}},[5]={{type=0,id=236,count=1}},[6]={{type=0,id=236,count=1}},[7]={{type=0,id=236,count=1}}},
},
[12] = {
	id = 12,
	item = {{type=2,id=2,count=1050000}},
	displaylimit = {level=1,zsLevel=0,openDay=1},
	recoverlimit = {level=1,zsLevel=0,openDay=1},
	timeslimit = -1,
	daylimit = -1,
	privilegelimit = 2,
	privilegeaward = {[2]={{type=0,id=249,count=1}},[3]={{type=0,id=249,count=1}},[4]={{type=0,id=249,count=1}},[5]={{type=0,id=249,count=1}},[6]={{type=0,id=249,count=1}},[7]={{type=0,id=249,count=1}}},
},
[13] = {
	id = 13,
	item = {{type=2,id=2,count=5200000}},
	displaylimit = {level=1,zsLevel=0,openDay=1},
	recoverlimit = {level=1,zsLevel=0,openDay=1},
	timeslimit = -1,
	daylimit = -1,
	privilegelimit = 2,
	privilegeaward = {[2]={{type=0,id=250,count=1}},[3]={{type=0,id=250,count=1}},[4]={{type=0,id=250,count=1}},[5]={{type=0,id=250,count=1}},[6]={{type=0,id=250,count=1}},[7]={{type=0,id=250,count=1}}},
},
}