--P-平台福利4366.xlsx 手机、微信、认证礼包
Platform4366Config={
	reward1 = {{type=0,id=1019,count=1}},
	reward2 = {{type=0,id=261,count=10},{type=0,id=269,count=1},{type=0,id=246,count=100},{type=2,id=2,count=30000}},
	reward3 = {{type=0,id=421,count=10},{type=0,id=269,count=1},{type=0,id=246,count=100},{type=2,id=2,count=30000}},
	type = 4,
	bagtype = 16,
	rewardClient = {{type=0,id=247,count=10},{type=7,id=7,count=5},{type=0,id=261,count=10},{type=2,id=2,count=20000}},
	tips = "|C:0xeee104&T:%s|领取微端登录礼包，端游操作PK更爽快",
	tips2 = "|C:0xeee104&T:%s|领取微端登录礼包，端游操作PK更爽快|E:-2,21,&U:&C:0x28ee01&T:[我也要礼包]|",
	SPID = "4",
}