--P-平台福利迅玩.xlsx 迅玩
PlatformxunwanConfig={
	dailyGift = {
[1]={viplvl=1,awards={{type=0,id=269,count=1},{type=0,id=247,count=2},{type=7,id=7,count=3}}},
[2]={viplvl=2,awards={{type=0,id=269,count=2},{type=0,id=247,count=3},{type=7,id=7,count=4}}},
[3]={viplvl=3,awards={{type=0,id=269,count=3},{type=0,id=247,count=4},{type=7,id=7,count=5}}},
[4]={viplvl=4,awards={{type=0,id=269,count=4},{type=0,id=247,count=5},{type=7,id=7,count=6}}},
},
	SPID = "37",
	vipGift = {
[1]={vip=1,awards={{type=0,id=302,count=1},{type=0,id=421,count=5},{type=7,id=7,count=10},{type=2,id=2,count=10000}}},
[2]={vip=2,awards={{type=0,id=421,count=5},{type=0,id=261,count=5},{type=7,id=7,count=20},{type=2,id=2,count=20000}}},
[3]={vip=3,awards={{type=0,id=261,count=8},{type=0,id=269,count=8},{type=7,id=7,count=30},{type=2,id=2,count=30000}}},
[4]={vip=4,awards={{type=0,id=421,count=10},{type=0,id=269,count=10},{type=7,id=7,count=40},{type=2,id=2,count=40000}}},
},
}