--P-平台福利迅玩.xlsx 称号
XunwantitleConfig={
[1] = {
	id = 1,
	vipLevel = 1,
	titleReward = {{type=0,id=1331,count=1}},
},
[2] = {
	id = 2,
	vipLevel = 2,
	titleReward = {{type=0,id=1332,count=1}},
},
[3] = {
	id = 3,
	vipLevel = 3,
	titleReward = {{type=0,id=1333,count=1}},
},
[4] = {
	id = 4,
	vipLevel = 4,
	titleReward = {{type=0,id=1334,count=1}},
},
}