--AA-交易行配置.xlsx 交易系统基本配置
taxconfig={
	cost = 1000,
	tax = 3,
	duty = 3,
	dues = 3,
	minSellPrice = 10,
	maxSellPrice = 999999,
	maxShelfCount = 1,
	maxSeverCount = 9999,
	openlv = 1,
	sellTime = 24,
	cd = 30,
	Jiaodemand = {3,3},
	distance = 0,
	sellTitleDesc = "角色达到|C:0x2eb52d&T:3|转或|C:0x318aff&T:蓝|卡特权以上可上架交易行\n各特权总共上架数量：|C:0xffffff&T:非会员|1件 |C:0xffffff&T:白卡|1件 |C:0x2eb52d&T:绿卡|1件 |C:0x318aff&T:蓝卡|2件 |C:0xfc21ed&T:紫卡|3件 |C:0xf56f00&T:橙卡|4件",
	minlevel = 1,
	tips = "|C:0xf56f00&T:达到3转或蓝卡会员才能出售道具|",
	Auctiondemand = {3,3},
}