--H-后台自动激活码.xlsx 礼包码后台生成服务配置
AutoCdkeyServiceConfig={
["10"] = {
	PfId = "10",
	host = "fireguilddevops.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["11"] = {
	PfId = "11",
	host = "fgtest.biggerking.cn",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["12"] = {
	PfId = "12",
	host = "newhoutai.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["13"] = {
	PfId = "13",
	host = "fgtest.biggerking.cn",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["14"] = {
	PfId = "14",
	host = "yyhunfurepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["15"] = {
	PfId = "15",
	host = "yyhunfurepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["16"] = {
	PfId = "16",
	host = "yyhunfurepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["17"] = {
	PfId = "17",
	host = "ldsrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["18"] = {
	PfId = "18",
	host = "yyhunfurepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["2"] = {
	PfId = "2",
	host = "devopssq.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["21"] = {
	PfId = "21",
	host = "ldsrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["22"] = {
	PfId = "22",
	host = "ldsrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["23"] = {
	PfId = "23",
	host = "ldsrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["24"] = {
	PfId = "24",
	host = "fireguilddevops.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["25"] = {
	PfId = "25",
	host = "tudourepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["27"] = {
	PfId = "27",
	host = "tanwanrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["28"] = {
	PfId = "28",
	host = "ldsrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["29"] = {
	PfId = "29",
	host = "tudourepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["3"] = {
	PfId = "3",
	host = "devops.191game.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["30"] = {
	PfId = "30",
	host = "tanwanrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["4"] = {
	PfId = "4",
	host = "dbdevops.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["5"] = {
	PfId = "5",
	host = "fireguilddevops.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["55"] = {
	PfId = "55",
	host = "fireguilddevops.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["6"] = {
	PfId = "6",
	host = "dbdevops.tqydgame.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["62"] = {
	PfId = "62",
	host = "tudouxwbxrepeat.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["7"] = {
	PfId = "7",
	host = "devops.freetop1.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["8"] = {
	PfId = "8",
	host = "devops.freetop1.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["9"] = {
	PfId = "9",
	host = "fireguilddevops.bigrnet.com",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["dudu"] = {
	PfId = "dudu",
	host = "devops.biggerking.cn",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
["wyi2"] = {
	PfId = "wyi2",
	host = "fgtest.biggerking.cn",
	port = "80",
	url = "/Service/CheckGiftCodeYXM.php",
},
}