--G-公告.xlsx 活动公告
NSNNoticeConfig={
[1] = {
	Noticeid = 1,
	content = "购买白卡特权，开启智能自动回收！",
	starttime = 1,
	stoptime = 33,  
	noticeInterval = 2700,
	trundle = 1,
	chatting = 1,
},
[2] = {
	Noticeid = 2,
	content = "购买绿卡特权，",
	starttime = 0,
	stoptime = 33,  
	noticeInterval = 100,
	trundle = 1,
	chatting = 1,
},
[3] = {
	Noticeid = 3,
	content = "购买蓝卡特权",
	starttime = 3, 
	stoptime = 33,  
	noticeInterval = 3600,
	trundle = 1,
	chatting = 1,
},
[4] = {
	Noticeid = 4,
	content = "QQ搜索群号",
	starttime = 0, 
	stoptime = 33,  
	noticeInterval = 7200,
	trundle = 1,
	chatting = 1,
}, 
}