--AA-全服公告.xlsx 全服系统公告
NSNoticeConfig={
[1] = {
	Noticeid = 1,
	content = "购买|E:-2,19,&U:&C:0x28ee01&T:白卡特权|，开启智能自动回收，挂机打金必备，购买后打金效率翻倍！更有大量转生材料和经验，助你快速1转，不容错过！",
	starttime = 1,
	stoptime = 2,
	noticeInterval = 2700,
	trundle = 0,
	chatting = 1,
},
[2] = {
	Noticeid = 2,
	content = "购买|E:-2,19,&U:&C:0x28ee01&T:绿卡特权|，即刻获取大量转生材料、专属麻痹，急速飞升3转！升级打怪快人一步！同时开启大额金币回收！",
	starttime = 1,
	stoptime = 2,
	noticeInterval = 1800,
	trundle = 0,
	chatting = 1,
},
[3] = {
	Noticeid = 3,
	content = "购买|E:-2,19,&U:&C:0x28ee01&T:蓝卡特权|，晋升冰雪贵族，额外金币收益、切割，属性、打金效率大幅提升，秒升六转不是梦！即刻开启寄售行道具上架，赚取你的第一桶金！",
	starttime = 1,
	stoptime = 5,
	noticeInterval = 3600,
	trundle = 0,
	chatting = 1,
},
[4] = {
	Noticeid = 4,
	content = "|E:-2,25,&U:&C:0x28ee01&T:开启狂暴|，攻魔道大幅加成，增加10%伤害加成，输出秒天秒地。打怪回收装备金币+15%，打金效率瞬间提高！",
	starttime = 1,
	noticeInterval = 3600,
	trundle = 0,
	chatting = 1,
},
}