--G-公告.xlsx 活动公告
WholeNoticeConfig={
[1] = {
	Noticeid = 1,
	content = "竞技大乱斗将于19:45开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="2-19:36:00",EndTime="2-19:44:00"},
[2]={StartTime="6-19:36:00",EndTime="6-19:44:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[2] = {
	Noticeid = 2,
	content = "地下夺宝即将开始，请勇士们踊跃参与",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-10:57:00",EndTime="0-10:59:00"},
[2]={StartTime="0-13:57:00",EndTime="0-13:59:00"},
[3]={StartTime="0-22:57:00",EndTime="0-22:59:00"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[3] = {
	Noticeid = 3,
	content = "石墓夺宝即将开始，请勇士们踊跃参与",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-20:57:00",EndTime="0-20:59:00"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[4] = {
	Noticeid = 4,
	content = "强大的首领级怪物将于19:30出现，请勇士们参战",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-19:25:00",EndTime="0-19:29:00"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[5] = {
	Noticeid = 5,
	content = "独闯天涯即将在19:45开放，前50名冲到底层的玩家更可获得先锋礼包！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="4-19:36:00",EndTime="4-19:44:00"},
[2]={StartTime="7-19:36:00",EndTime="7-19:44:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[6] = {
	Noticeid = 6,
	content = "沙巴克攻城将于20:10开始，请勇士们做好准备！",
	starttime = 3,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="3-20:01:00",EndTime="3-20:09:00"},
[2]={StartTime="6-20:01:00",EndTime="6-20:09:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[7] = {
	Noticeid = 7,
	content = "夜战沃玛三将于19:45开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="1-19:36:00",EndTime="1-19:44:00"},
[2]={StartTime="3-19:36:00",EndTime="3-19:44:00"},
[3]={StartTime="5-19:36:00",EndTime="5-19:44:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[9] = {
	Noticeid = 9,
	content = "地下夺宝:藏宝库宝物120秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-11:02:00",EndTime="0-11:03:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[10] = {
	Noticeid = 10,
	content = "地下夺宝:藏宝库宝物60秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-11:03:00",EndTime="0-11:04:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[11] = {
	Noticeid = 11,
	content = "地下夺宝:藏宝库宝物120秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-14:02:00",EndTime="0-14:03:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[12] = {
	Noticeid = 12,
	content = "地下夺宝:藏宝库宝物60秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-14:03:00",EndTime="0-14:04:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[13] = {
	Noticeid = 13,
	content = "地下夺宝:藏宝库宝物120秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-23:02:00",EndTime="0-23:03:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[14] = {
	Noticeid = 14,
	content = "地下夺宝:藏宝库宝物60秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-23:03:00",EndTime="0-23:04:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[15] = {
	Noticeid = 15,
	content = "石墓夺宝:石墓七层宝物120秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-21:02:00",EndTime="0-21:03:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[16] = {
	Noticeid = 16,
	content = "石墓夺宝:石墓七层宝物60秒后可以拾取",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-21:03:00",EndTime="0-21:04:00"},
},
	noticeInterval = 61,
	trundle = 1,
	chatting = 1,
},
[17] = {
	Noticeid = 17,
	content = "【跨服】跨服领主将于12:30开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-12:25",EndTime="0-12:29"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[18] = {
	Noticeid = 18,
	content = "【跨服】跨服大乱斗将于20:10开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="1-20:05",EndTime="1-20:09"},
[2]={StartTime="4-20:05",EndTime="4-20:09"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[19] = {
	Noticeid = 19,
	content = "【跨服】次元首领将于10:30开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-10:25",EndTime="0-10:29"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[20] = {
	Noticeid = 20,
	content = "【跨服】次元首领将于14:30开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-14:25",EndTime="0-14:29"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[21] = {
	Noticeid = 21,
	content = "【跨服】次元首领将于20:30开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-20:25",EndTime="0-20:29"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[22] = {
	Noticeid = 22,
	content = "【跨服】跨服沙巴克将于20:10开始，请勇士们做好准备！",
	starttime = 24,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="7-20:05",EndTime="7-20:09"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[23] = {
	Noticeid = 23,
	content = "【跨服】跨服夜战沃玛三将于20:10开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="2-20:05",EndTime="2-20:09"},
[2]={StartTime="5-20:05",EndTime="5-20:09"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[24] = {
	Noticeid = 24,
	content = "【跨服】逃脱试炼将于20:10开始，请勇士们做好准备！",
	starttime = 0,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="3-20:05",EndTime="3-20:09"},
[2]={StartTime="6-20:05",EndTime="6-20:09"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[25] = {
	Noticeid = 25,
	content = "首沙将于20:10开始，请勇士们做好准备！",
	starttime = 2,
	stoptime = 3,
	TimeType = 0,
	TimeDetail = {
[1]={StartTime="2-20:01:00",EndTime="2-20:09:00"},
},
	noticeInterval = 120,
	trundle = 1,
	chatting = 1,
},
[26] = {
	Noticeid = 26,
	content = "【跨服】秘境打宝将于12:45开始，请勇士们做好准备！",
	starttime = 24,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-12:40",EndTime="0-12:44"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
[27] = {
	Noticeid = 27,
	content = "【跨服】秘境打宝将于20:50开始，请勇士们做好准备！",
	starttime = 24,
	TimeType = 3,
	TimeDetail = {
[1]={StartTime="0-20:45",EndTime="0-20:49"},
},
	noticeInterval = 60,
	trundle = 1,
	chatting = 1,
},
}