--AB-锻造合成表.xlsx 展示界面
ForgeConfig={
[1] = {
	id = 1,
	showRewards = {
{type=0,id=25,count=1},
{type=0,id=26,count=1},
{type=0,id=40,count=1},
{type=0,id=28,count=1},
{type=0,id=27,count=1},
{type=0,id=29,count=1},
{type=0,id=20,count=1},
{type=0,id=24,count=1},
{type=0,id=21,count=1},
{type=0,id=15,count=1},
{type=0,id=19,count=1},
{type=0,id=17,count=1},
{type=0,id=9,count=1},
{type=0,id=10,count=1},
{type=0,id=6,count=1},
{type=0,id=5,count=1},
{type=0,id=16,count=1},
{type=0,id=14,count=1},
{type=0,id=12,count=1},
},
	dropid = 110001,
	level = 1,
},
[2] = {
	id = 2,
	showRewards = {
{type=0,id=22,count=1},
{type=0,id=23,count=1},
{type=0,id=33,count=1},
{type=0,id=25,count=1},
{type=0,id=26,count=1},
{type=0,id=40,count=1},
{type=0,id=28,count=1},
{type=0,id=27,count=1},
{type=0,id=29,count=1},
{type=0,id=20,count=1},
{type=0,id=24,count=1},
{type=0,id=21,count=1},
{type=0,id=15,count=1},
{type=0,id=19,count=1},
{type=0,id=17,count=1},
{type=0,id=9,count=1},
{type=0,id=10,count=1},
{type=0,id=6,count=1},
{type=0,id=5,count=1},
{type=0,id=16,count=1},
{type=0,id=14,count=1},
{type=0,id=12,count=1},
},
	dropid = 110002,
	level = 51,
},
[3] = {
	id = 3,
	showRewards = {
{type=0,id=30,count=1},
{type=0,id=31,count=1},
{type=0,id=32,count=1},
{type=0,id=22,count=1},
{type=0,id=23,count=1},
{type=0,id=33,count=1},
{type=0,id=25,count=1},
{type=0,id=26,count=1},
{type=0,id=40,count=1},
{type=0,id=28,count=1},
{type=0,id=27,count=1},
{type=0,id=29,count=1},
{type=0,id=20,count=1},
{type=0,id=24,count=1},
{type=0,id=21,count=1},
{type=0,id=15,count=1},
{type=0,id=19,count=1},
{type=0,id=17,count=1},
{type=0,id=9,count=1},
{type=0,id=10,count=1},
{type=0,id=6,count=1},
{type=0,id=5,count=1},
{type=0,id=16,count=1},
{type=0,id=14,count=1},
{type=0,id=12,count=1},
},
	dropid = 110003,
	level = 63,
},
}