--S-神魔之体.xlsx 神魔之体属性加成
demonsbodyConfig = {
[1] = {
	[0] = {
		pos = 1,
		level = 0,
		name = "嗜血",
		attr = {{type=79,value=0}} ,
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[1] = {
		pos = 1,
		level = 1,
		name = "嗜血",
		attr = {{type=79,value=100}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[2] = {
		pos = 1,
		level = 2,
		name = "嗜血",
		attr = {{type=79,value=200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[3] = {
		pos = 1,
		level = 3,
		name = "嗜血",
		attr = {{type=79,value=300}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[4] = {
		pos = 1,
		level = 4,
		name = "嗜血",
		attr = {{type=79,value=400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[5] = {
		pos = 1,
		level = 5,
		name = "嗜血",
		attr = {{type=79,value=500}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[6] = {
		pos = 1,
		level = 6,
		name = "嗜血",
		attr = {{type=79,value=600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[7] = {
		pos = 1,
		level = 7,
		name = "嗜血",
		attr = {{type=79,value=700}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[8] = {
		pos = 1,
		level = 8,
		name = "嗜血",
		attr = {{type=79,value=800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[9] = {
		pos = 1,
		level = 9,
		name = "嗜血",
		attr = {{type=79,value=900}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[10] = {
		pos = 1,
		level = 10,
		name = "嗜血",
		attr = {{type=79,value=1000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		tipsid = 413,
		opelimit = {zsLevel=4},
	},
},
[2] = {
	[0] = {
		pos = 2,
		level = 0,
		name = "穿杨",
		attr = {{type=82,value=0}} ,
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[1] = {
		pos = 2,
		level = 1,
		name = "穿杨",
		attr = {{type=82,value=200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[2] = {
		pos = 2,
		level = 2,
		name = "穿杨",
		attr = {{type=82,value=400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[3] = {
		pos = 2,
		level = 3,
		name = "穿杨",
		attr = {{type=82,value=600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[4] = {
		pos = 2,
		level = 4,
		name = "穿杨",
		attr = {{type=82,value=800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[5] = {
		pos = 2,
		level = 5,
		name = "穿杨",
		attr = {{type=82,value=1000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[6] = {
		pos = 2,
		level = 6,
		name = "穿杨",
		attr = {{type=82,value=1200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[7] = {
		pos = 2,
		level = 7,
		name = "穿杨",
		attr = {{type=82,value=1400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[8] = {
		pos = 2,
		level = 8,
		name = "穿杨",
		attr = {{type=82,value=1600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[9] = {
		pos = 2,
		level = 9,
		name = "穿杨",
		attr = {{type=82,value=1800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[10] = {
		pos = 2,
		level = 10,
		name = "穿杨",
		attr = {{type=82,value=2000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		tipsid = 413,
		opelimit = {zsLevel=4},
	},
},
[3] = {
	[0] = {
		pos = 3,
		level = 0,
		name = "怒斩",
		attr = {{type=75,value=0}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[1] = {
		pos = 3,
		level = 1,
		name = "怒斩",
		attr = {{type=75,value=100}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[2] = {
		pos = 3,
		level = 2,
		name = "怒斩",
		attr = {{type=75,value=200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[3] = {
		pos = 3,
		level = 3,
		name = "怒斩",
		attr = {{type=75,value=300}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[4] = {
		pos = 3,
		level = 4,
		name = "怒斩",
		attr = {{type=75,value=400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[5] = {
		pos = 3,
		level = 5,
		name = "怒斩",
		attr = {{type=75,value=500}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[6] = {
		pos = 3,
		level = 6,
		name = "怒斩",
		attr = {{type=75,value=600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[7] = {
		pos = 3,
		level = 7,
		name = "怒斩",
		attr = {{type=75,value=700}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[8] = {
		pos = 3,
		level = 8,
		name = "怒斩",
		attr = {{type=75,value=800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[9] = {
		pos = 3,
		level = 9,
		name = "怒斩",
		attr = {{type=75,value=900}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[10] = {
		pos = 3,
		level = 10,
		name = "怒斩",
		attr = {{type=75,value=1000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		tipsid = 413,
		opelimit = {zsLevel=4},
	},
},
[4] = {
	[0] = {
		pos = 4,
		level = 0,
		name = "激斗",
		attr = {{type=136,value=0}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[1] = {
		pos = 4,
		level = 1,
		name = "激斗",
		attr = {{type=136,value=200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[2] = {
		pos = 4,
		level = 2,
		name = "激斗",
		attr = {{type=136,value=400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[3] = {
		pos = 4,
		level = 3,
		name = "激斗",
		attr = {{type=136,value=600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[4] = {
		pos = 4,
		level = 4,
		name = "激斗",
		attr = {{type=136,value=800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[5] = {
		pos = 4,
		level = 5,
		name = "激斗",
		attr = {{type=136,value=1000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[6] = {
		pos = 4,
		level = 6,
		name = "激斗",
		attr = {{type=136,value=1200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[7] = {
		pos = 4,
		level = 7,
		name = "激斗",
		attr = {{type=136,value=1400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[8] = {
		pos = 4,
		level = 8,
		name = "激斗",
		attr = {{type=136,value=1600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[9] = {
		pos = 4,
		level = 9,
		name = "激斗",
		attr = {{type=136,value=1800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[10] = {
		pos = 4,
		level = 10,
		name = "激斗",
		attr = {{type=136,value=2000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		tipsid = 413,
		opelimit = {zsLevel=4},
	},
},
[5] = {
	[0] = {
		pos = 5,
		level = 0,
		name = "强身",
		attr = {{type=6,value=0}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[1] = {
		pos = 5,
		level = 1,
		name = "强身",
		attr = {{type=6,value=200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[2] = {
		pos = 5,
		level = 2,
		name = "强身",
		attr = {{type=6,value=400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[3] = {
		pos = 5,
		level = 3,
		name = "强身",
		attr = {{type=6,value=600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[4] = {
		pos = 5,
		level = 4,
		name = "强身",
		attr = {{type=6,value=800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[5] = {
		pos = 5,
		level = 5,
		name = "强身",
		attr = {{type=6,value=1000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[6] = {
		pos = 5,
		level = 6,
		name = "强身",
		attr = {{type=6,value=1200}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[7] = {
		pos = 5,
		level = 7,
		name = "强身",
		attr = {{type=6,value=1400}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[8] = {
		pos = 5,
		level = 8,
		name = "强身",
		attr = {{type=6,value=1600}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[9] = {
		pos = 5,
		level = 9,
		name = "强身",
		attr = {{type=6,value=1800}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		opelimit = {zsLevel=4},
	},
	[10] = {
		pos = 5,
		level = 10,
		name = "强身",
		attr = {{type=6,value=2000}},
		cost = {{type=0,id=970,count=1},{type=2,id=2,count=100}},
		probability = 10000,
		tipsid = 413,
		opelimit = {zsLevel=4},
	},
},
}