--S-神魔之体.xlsx const
demonsconstConfig={
	blessadd = 5,
	maxbless = 10000,
	blessup = 100,
	probabilityup = 10,
	maxlevel = 10,
	awards = {{type=0,id=979,count=1}},
	mailtitle = "神魔之体满级获得奖励",
	mailtext = "您的神魔之体全部达到了10级，获得了稀有称号",
	titleattr = {"吸血+1%","无视双防+1%","暴击率+1%","攻魔道加成+1%","体力加成+1%","双防加成+1%"},
	maxcount = 5,
}