--S-神魔之体.xlsx 神魔共鸣
demonslevelConfig = {
[0] = {
	[1] = {
		pos = 0,
		level = 1,
		attr = {{type=77,value=2}} ,
	},
	[2] = {
		pos = 0,
		level = 2,
		attr = {{type=77,value=5}},
	},
	[3] = {
		pos = 0,
		level = 3,
		attr = {{type=77,value=8}},
	},
	[4] = {
		pos = 0,
		level = 4,
		attr = {{type=77,value=11}},
	},
	[5] = {
		pos = 0,
		level = 5,
		attr = {{type=77,value=15}},
	},
	[6] = {
		pos = 0,
		level = 6,
		attr = {{type=77,value=20}},
	},
	[7] = {
		pos = 0,
		level = 7,
		attr = {{type=77,value=26}},
	},
	[8] = {
		pos = 0,
		level = 8,
		attr = {{type=77,value=33}},
	},
	[9] = {
		pos = 0,
		level = 9,
		attr = {{type=77,value=41}},
	},
	[10] = {
		pos = 0,
		level = 10,
		attr = {{type=77,value=50}},
	},
},
[1] = {
	[1] = {
		pos = 1,
		level = 1,
		attr = {{type=77,value=5}},
	},
	[2] = {
		pos = 1,
		level = 2,
		attr = {{type=77,value=10}},
	},
	[3] = {
		pos = 1,
		level = 3,
		attr = {{type=77,value=15}},
	},
	[4] = {
		pos = 1,
		level = 4,
		attr = {{type=77,value=20}},
	},
	[5] = {
		pos = 1,
		level = 5,
		attr = {{type=77,value=25}},
	},
	[6] = {
		pos = 1,
		level = 6,
		attr = {{type=77,value=30}},
	},
	[7] = {
		pos = 1,
		level = 7,
		attr = {{type=77,value=35}},
	},
	[8] = {
		pos = 1,
		level = 8,
		attr = {{type=77,value=40}},
	},
	[9] = {
		pos = 1,
		level = 9,
		attr = {{type=77,value=45}},
	},
	[10] = {
		pos = 1,
		level = 10,
		attr = {{type=77,value=50}},
	},
},
}