--K-开服累计在线.xlsx 达标奖励
OnlineTimeRewardConfig = {
[1] = {
	[1] = {
		type = 1,
		id = 1,
		reward = {{type=0,id=261,count=1}},
		onlineTimes = 600,
	},
	[2] = {
		type = 1,
		id = 2,
		reward = {{type=2,id=2,count=5000}},
		onlineTimes = 1800,
	},
	[3] = {
		type = 1,
		id = 3,
		reward = {{type=0,id=269,count=1}},
		onlineTimes = 3600,
	},
	[4] = {
		type = 1,
		id = 4,
		reward = {{type=2,id=2,count=5000}},
		onlineTimes = 5400,
	},
	[5] = {
		type = 1,
		id = 5,
		reward = {{type=0,id=421,count=1}},
		onlineTimes = 7200,
	},
	[6] = {
		type = 1,
		id = 6,
		reward = {{type=2,id=2,count=5000}},
		onlineTimes = 9000,
	},
	[7] = {
		type = 1,
		id = 7,
		reward = {{type=0,id=302,count=2}},
		onlineTimes = 10800,
	},
},
[2] = {
	[10] = {
		type = 2,
		id = 10,
		reward = {{type=0,id=984,count=1}},
		onlineTimes = 2,
	},
},
}