--H-活动玩法(固定).xlsx 27-首沙活动
Activity27Config={
	Id = 41,
	name = "沙巴克",
	openParam = {openDay=3,level=1},
	starttime = 0,
	wartime = 300,
	wartimestr = Lang.Activity.h00016,
	winmap = 47,
	areaattr = 
 {
  notips = 0,
  attri = 
  {
    {type=13,value=""},
  }
 },
	sbknotic = Lang.Activity.h00017,
	endsbk = Lang.Activity.h00018,
	idx = 1,
}