--H-活动玩法(固定).xlsx 20-次元首领
Activity20Config={
[25] = {
	Id = 25,
	name = "次元首领",
	openParam = {openday=35,level=28},
	fbId = 23,
	ascription = {{type=0,id=1085,count=1}},
	brave = {{type=0,id=1086,count=1}},
	partake = {{type=0,id=1087,count=1}},
	Duration = 290,
	cd = 10,
	starttime = 0,
	inspire = {
 [1] = {type = 1, value = 10, times = 5,costs = {{type= 2,id = 2,count = 500000}}},
 [2] = {type = 2, value = 10, times = 5,costs = {{type= 4,id = 4,count = 10}}}
},
	lastattack = {{type=0,id=346,count=1}},
	growlist = 
{
 {time = 60, addlv = 10},
 {time = 180, addlv = 2},
 {time = 360, addlv = 1},
 {time = 720, addlv = 0},
 {time = 900, addlv = -1},
},
	bossinfo = { bossid = 171, mapid = 175, x= 13, y = 9, range =3},
	buffid = {
 {times = 1, buffid = {107,117,127,137,147,157}},
 {times = 2, buffid = {108,118,128,138,148,158}},
 {times = 3, buffid = {109,119,129,139,149,159}},
 {times = 4, buffid = {110,120,130,140,150,160}},
 {times = 5, buffid = {111,121,131,141,151,161}},
 {times = 6, buffid = {112,122,132,142,152,162}},
 {times = 7, buffid = {113,123,133,143,153,163}},
 {times = 8, buffid = {114,124,134,144,154,164}},
 {times = 9, buffid = {115,125,135,145,155,165}},
 {times = 10, buffid = {116,126,136,146,156,166}},
},
},
}