--AB-活动付费.xlsx 10038-在线奖励
Activity10038Config={
[10394] = {
	Id = 10394,
	name = "神秘福袋",
	reward = {
[1]={time=60,awards={{type=0,id=953,count=1}}},
[2]={time=60,awards={{type=0,id=1029,count=1}}},
[3]={time=60,awards={{type=0,id=1031,count=1}}},
[4]={time=60,awards={{type=0,id=1032,count=1}}},
[5]={time=60,awards={{type=0,id=1147,count=1}}},
},
},
}