--H-活动玩法(固定).xlsx 12-材料副本
Activity12Config={
[0] = {
	Id = 0,
	openParam = {level=999,openDay=999},
	Persongift = {{type=0,id=411,count=0},{type=0,id=415,count=0}},
	countstart = 1,
},
[15] = {
	Id = 15,
	openParam = {level=999,openDay=999},
	fbId = 14,
	enterExpends = {},
	saodangExpends = {
{type=0,id=436,count=1},
},
	count = 2,
	isFromOpenSrv = true,
	IsAdd = true,
	Persongift = {{type=0,id=411,count=6}},
	countstart = 1,
},
[16] = {
	Id = 16,
	openParam = {level=999,openDay=999},
	fbId = 15,
	enterExpends = {},
	saodangExpends = {
{type=0,id=436,count=1},
},
	count = 2,
	isFromOpenSrv = true,
	IsAdd = true,
	Persongift = {{type=0,id=415,count=5}},
	countstart = 4,
},
}