--AB-活动付费.xlsx 10021-二充活动
Activity10021Config={
[10274] = {
	[1] = {
		[1] = {
			Id = 10274,
			jobs = 1,
			days = 1,
			name = "首充",
			Count = 1,
			GiftTable = {{type=0,id=40,count=1},{type=0,id=1242,count=3},{type=0,id=902,count=1},{type=0,id=912,count=1},},
			tips = "|C:0xeee104&T:%s|领取了二充豪礼，白卡会员、切割时装，从此走向巅峰",
		},
	},
	[2] = {
		[1] = {
			Id = 10274,
			jobs = 2,
			days = 1,
			name = "首充",
			Count = 1,
			GiftTable = {{type=0,id=40,count=1},{type=0,id=1242,count=3},{type=0,id=902,count=1},{type=0,id=912,count=1},},
		},
	},
	[3] = {
		[1] = {
			Id = 10274,
			jobs = 3,
			days = 1,
			name = "首充",
			Count = 1,
			GiftTable = {{type=0,id=40,count=1},{type=0,id=1242,count=3},{type=0,id=902,count=1},{type=0,id=912,count=1},},
		},
	},
},
}