--AB-活动付费.xlsx 10039-消费排行榜
Activity10039Config={
[10395] = {
	Id = 10395,
	reward = {
[1]={{type=4,id=4,count=1000000},{type=2,id=2,count=1000000},{type=0,id=1146,count=1}},
[2]={{type=4,id=4,count=500000},{type=2,id=2,count=500000},{type=0,id=1147,count=1}},
[3]={{type=4,id=4,count=200000},{type=2,id=2,count=200000},{type=0,id=1144,count=1}},
[4]={{type=4,id=4,count=50000},{type=2,id=2,count=50000},{type=0,id=1145,count=1}},
},
	mailTitle1 = "消费排行榜奖励",
	mailTitle2 = "消费排行榜奖励",
	mailContent1 = "恭喜您荣获消费排行榜第%d名，以下是您获得的奖励，请查收。",
	mailContent2 = "恭喜您荣获消费排行榜进榜奖励，以下是您获得的奖励，请查收。",
},
}