--H-活动玩法(固定).xlsx 13-驻守任务
Activity13Config={
[17] = {
	Id = 17,
	openParam = {level=32,openDay=999},
	enterExpends = {
{type=2,id=2,count=20000},
},
	saodangExpends = {
{type=0,id=436,count=1},
},
	count = 1,
	isFromOpenSrv = true,
	countstart = 2,
	Persongift = {{type=0,id=421,count=5}},
	durationTime = {count=5,
Table={
[1]=60,
[2]=120,
[3]=180,
[4]=240,
[5]=300,}
},
	sceneTable = {count=6,
Table={
[1]={mapid=13,x=115,y=196},
[2]={mapid=26,x=19,y=7},
[3]={mapid=87,x=16,y=12},
[4]={mapid=105,x=19,y=10},
[5]={mapid=122,x=15,y=10},
[6]={mapid=69,x=38,y=30}
}},
},
[19] = {
	Id = 19,
	openParam = {level=999,openDay=999},
	saodangExpends = {
{type=0,id=436,count=1},
},
	count = 1,
	isFromOpenSrv = false,
	countstart = 1,
	Persongift = {{type=0,id=421,count=5}},
	durationTime = {count=5,
Table={
[1]=60,
[2]=120,
[3]=180,
[4]=240,
[5]=300,}
},
	sceneTable = {count=6,
Table={
[1]={mapid=13,x=115,y=196},
[2]={mapid=26,x=19,y=7},
[3]={mapid=87,x=16,y=12},
[4]={mapid=105,x=19,y=10},
[5]={mapid=122,x=15,y=10},
[6]={mapid=69,x=38,y=30}
}},
},
}