--AB-活动付费.xlsx 10002-特惠礼包
Activity10002Config={
[10023] = {
	[1] = {
		Id = 10023,
		GiftBoxNum = 1,
		award = {{type=0,id=300,count=10},{type=0,id=298,count=5}},
		BuyDayLmt = 1,
		price = {{type=4,id=4,count=498}},
		redType = 0,
		BuyLimit = 1,
	},
	[2] = {
		Id = 10023,
		GiftBoxNum = 2,
		award = {{type=0,id=261,count=168},{type=0,id=249,count=1}},
		BuyDayLmt = 1,
		price = {{type=4,id=4,count=680}},
		redType = 0,
		BuyLimit = 1,
	},
	[3] = {
		Id = 10023,
		GiftBoxNum = 3,
		award = {{type=0,id=269,count=49},},
		BuyDayLmt = 1,
		price = {{type=4,id=4,count=518}},
		redType = 0,
		BuyLimit = 1,
	},
	[4] = {
		Id = 10023,
		GiftBoxNum = 4,
		award = {{type=0,id=411,count=268},}  ,
		BuyDayLmt = 2,
		price = {{type=4,id=4,count=388}},
		redType = 0,
		BuyLimit = 1,
	},
	[5] = {
		Id = 10023,
		GiftBoxNum = 5,
		award = {{type=0,id=421,count=188},},
		BuyDayLmt = 3,
		price = {{type=4,id=4,count=999}},
		redType = 0,
		BuyLimit = 1,
	},
	[6] = {
		Id = 10023,
		GiftBoxNum = 6,
		award = {{type=0,id=415,count=188}},
		BuyDayLmt = 4,
		price = {{type=4,id=4,count=999}},
		redType = 0,
		BuyLimit = 1,
	},
},
}