--AB-战令.xlsx 15-战令任务
Activity15Config={
[51] = {
	[1] = {
		[1] = {
			ID = 51,
			number = 1,
			taskID = 1,
			name = "膜拜",
			describe = "完成1次膜拜",
			type = 17,
			subtype = 5,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=50}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[2] = {
			ID = 51,
			number = 1,
			taskID = 2,
			name = "击败怪物",
			describe = "击败500个怪物",
			type = 7,
			subtype = 1,
			ValueType = 1,
			value = 500,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[3] = {
			ID = 51,
			number = 1,
			taskID = 3,
			name = "夺宝",
			describe = "完成1次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[4] = {
			ID = 51,
			number = 1,
			taskID = 4,
			name = "使用祝福油",
			describe = "使用300瓶祝福油",
			type = 21,
			subtype = 269,
			ValueType = 1,
			value = 300,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[5] = {
			ID = 51,
			number = 1,
			taskID = 5,
			name = "击杀妖兽",
			describe = "击杀1次妖兽",
			type = 7,
			subtype = 3,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[6] = {
			ID = 51,
			number = 1,
			taskID = 6,
			name = "击杀怪物",
			describe = "击败20只十三陵陵中盗贼",
			type = 22,
			subtype = 203,
			ValueType = 1,
			value = 20,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[7] = {
			ID = 51,
			number = 1,
			taskID = 7,
			name = "击杀怪物",
			describe = "击败10只山海关1层雪谷猛兽",
			type = 22,
			subtype = 287,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[8] = {
			ID = 51,
			number = 1,
			taskID = 8,
			name = "击杀怪物",
			describe = "击败1只孤独之路三层[经典]祖玛雕像",
			type = 22,
			subtype = 333,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[9] = {
			ID = 51,
			number = 1,
			taskID = 9,
			name = "捐献物品",
			describe = "捐献5个洗炼石",
			type = 30,
			subtype = 480,
			ValueType = 1,
			value = 5,
			data = {{type=0,id=480,count=5}},
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
	},
},
[53] = {
	[1] = {
		[1] = {
			ID = 53,
			number = 1,
			taskID = 1,
			name = "独闯天涯",
			describe = "完成1次独闯天涯(在7层领取独闯天涯礼包完成)",
			type = 27,
			subtype = 12,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[2] = {
			ID = 53,
			number = 1,
			taskID = 2,
			name = "独闯天涯",
			describe = "完成3次独闯天涯",
			type = 27,
			subtype = 12,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[3] = {
			ID = 53,
			number = 1,
			taskID = 3,
			name = "夜战沃玛三",
			describe = "参加1次夜战沃玛三(获得50积分完成)",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[4] = {
			ID = 53,
			number = 1,
			taskID = 4,
			name = "夜战沃玛三",
			describe = "参加3次夜战沃玛三",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[5] = {
			ID = 53,
			number = 1,
			taskID = 5,
			name = "夜战沃玛三",
			describe = "参加5次夜战沃玛三",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[6] = {
			ID = 53,
			number = 1,
			taskID = 6,
			name = "竞技大乱斗",
			describe = "参加1次竞技大乱斗(获得50积分完成)",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[7] = {
			ID = 53,
			number = 1,
			taskID = 7,
			name = "竞技大乱斗",
			describe = "参加3次竞技大乱斗",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[8] = {
			ID = 53,
			number = 1,
			taskID = 8,
			name = "竞技大乱斗",
			describe = "参加5次竞技大乱斗",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[9] = {
			ID = 53,
			number = 1,
			taskID = 9,
			name = "沙巴克攻城",
			describe = "沙巴克泡点累积1万经验",
			type = 5,
			subtype = 5,
			ValueType = 1,
			value = 10000,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 7,
			UpperLimit = {[1]=3700},
		},
		[10] = {
			ID = 53,
			number = 1,
			taskID = 10,
			name = "沙巴克攻城",
			describe = "成为沙巴克成员",
			type = 25,
			subtype = 1,
			ValueType = 2,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 7,
			UpperLimit = {[1]=3700},
		},
		[11] = {
			ID = 53,
			number = 1,
			taskID = 11,
			name = "世界BOSS",
			describe = "参加3次世界BOSS(累积伤害1000完成)",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[12] = {
			ID = 53,
			number = 1,
			taskID = 12,
			name = "世界BOSS",
			describe = "参加5次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[13] = {
			ID = 53,
			number = 1,
			taskID = 13,
			name = "世界BOSS",
			describe = "参加10次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[14] = {
			ID = 53,
			number = 1,
			taskID = 14,
			name = "世界BOSS",
			describe = "参加15次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 15,
			GiftTable = {[1]={type=17,id=17,count=500}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[15] = {
			ID = 53,
			number = 1,
			taskID = 15,
			name = "夺宝",
			describe = "完成10次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[16] = {
			ID = 53,
			number = 1,
			taskID = 16,
			name = "夺宝",
			describe = "完成30次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 30,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
	},
},
[54] = {
	[1] = {
		[1] = {
			ID = 54,
			number = 1,
			taskID = 1,
			name = "击杀BOSS",
			describe = "击杀2次野外或重装BOSS",
			type = 7,
			subtype = 4,
			ValueType = 1,
			value = 2,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[2] = {
			ID = 54,
			number = 1,
			taskID = 2,
			name = "击杀BOSS",
			describe = "击杀5次野外或重装BOSS",
			type = 7,
			subtype = 4,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[3] = {
			ID = 54,
			number = 1,
			taskID = 3,
			name = "参与活动",
			describe = "击杀1次散财鹿",
			type = 22,
			subtype = 161,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[4] = {
			ID = 54,
			number = 1,
			taskID = 4,
			name = "参与活动",
			describe = "击杀3次散财鹿",
			type = 22,
			subtype = 161,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[5] = {
			ID = 54,
			number = 1,
			taskID = 5,
			name = "捐献物品",
			describe = "捐献300张炎战神凭证",
			type = 21,
			subtype = 838,
			ValueType = 1,
			value = 300,
			data = {{type=0,id=838,count=300}},
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[6] = {
			ID = 54,
			number = 1,
			taskID = 6,
			name = "捐献物品",
			describe = "捐献1000张炎战神凭证",
			type = 30,
			subtype = 838,
			ValueType = 1,
			value = 1000,
			data = {{type=0,id=838,count=1000}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[7] = {
			ID = 54,
			number = 1,
			taskID = 7,
			name = "捐献物品",
			describe = "捐献3000张炎战神凭证",
			type = 31,
			subtype = 838,
			ValueType = 1,
			value = 3000,
			data = {{type=0,id=838,count=3000}},
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[8] = {
			ID = 54,
			number = 1,
			taskID = 8,
			name = "捐献物品",
			describe = "捐献3张星王凭证",
			type = 21,
			subtype = 840,
			ValueType = 1,
			value = 3,
			data = {{type=0,id=840,count=3}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[9] = {
			ID = 54,
			number = 1,
			taskID = 9,
			name = "捐献物品",
			describe = "捐献8张星王凭证",
			type = 30,
			subtype = 840,
			ValueType = 1,
			value = 8,
			data = {{type=0,id=840,count=8}},
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[10] = {
			ID = 54,
			number = 1,
			taskID = 10,
			name = "捐献物品",
			describe = "捐献2张炎星王凭证",
			type = 21,
			subtype = 841,
			ValueType = 1,
			value = 2,
			data = {{type=0,id=841,count=2}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[11] = {
			ID = 54,
			number = 1,
			taskID = 11,
			name = "捐献物品",
			describe = "捐献5张炎星王凭证",
			type = 30,
			subtype = 841,
			ValueType = 1,
			value = 5,
			data = {{type=0,id=841,count=5}},
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
	},
},
[56] = {
	[1] = {
		[1] = {
			ID = 56,
			number = 1,
			taskID = 1,
			name = "膜拜",
			describe = "完成1次膜拜",
			type = 17,
			subtype = 5,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=50}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[2] = {
			ID = 56,
			number = 1,
			taskID = 2,
			name = "击败怪物",
			describe = "击败500个怪物",
			type = 7,
			subtype = 1,
			ValueType = 1,
			value = 500,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[3] = {
			ID = 56,
			number = 1,
			taskID = 3,
			name = "夺宝",
			describe = "完成1次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[4] = {
			ID = 56,
			number = 1,
			taskID = 4,
			name = "使用祝福油",
			describe = "使用300瓶祝福油",
			type = 21,
			subtype = 269,
			ValueType = 1,
			value = 300,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[5] = {
			ID = 56,
			number = 1,
			taskID = 5,
			name = "击杀妖兽",
			describe = "击杀1次妖兽",
			type = 7,
			subtype = 3,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[6] = {
			ID = 56,
			number = 1,
			taskID = 6,
			name = "击杀怪物",
			describe = "击败20只十三陵陵中盗贼",
			type = 22,
			subtype = 203,
			ValueType = 1,
			value = 20,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[7] = {
			ID = 56,
			number = 1,
			taskID = 7,
			name = "击杀怪物",
			describe = "击败10只山海关1层雪谷猛兽",
			type = 22,
			subtype = 287,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[8] = {
			ID = 56,
			number = 1,
			taskID = 8,
			name = "击杀怪物",
			describe = "击败1只孤独之路三层[经典]祖玛雕像",
			type = 22,
			subtype = 333,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[9] = {
			ID = 56,
			number = 1,
			taskID = 9,
			name = "捐献物品",
			describe = "捐献5个洗炼石",
			type = 30,
			subtype = 480,
			ValueType = 1,
			value = 5,
			data = {{type=0,id=480,count=5}},
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
	},
},
[57] = {
	[1] = {
		[1] = {
			ID = 57,
			number = 1,
			taskID = 1,
			name = "独闯天涯",
			describe = "完成1次独闯天涯(在7层领取独闯天涯礼包完成)",
			type = 27,
			subtype = 12,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[2] = {
			ID = 57,
			number = 1,
			taskID = 2,
			name = "独闯天涯",
			describe = "完成3次独闯天涯",
			type = 27,
			subtype = 12,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[3] = {
			ID = 57,
			number = 1,
			taskID = 3,
			name = "夜战沃玛三",
			describe = "参加1次夜战沃玛三(获得50积分完成)",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[4] = {
			ID = 57,
			number = 1,
			taskID = 4,
			name = "夜战沃玛三",
			describe = "参加3次夜战沃玛三",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[5] = {
			ID = 57,
			number = 1,
			taskID = 5,
			name = "夜战沃玛三",
			describe = "参加5次夜战沃玛三",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[6] = {
			ID = 57,
			number = 1,
			taskID = 6,
			name = "竞技大乱斗",
			describe = "参加1次竞技大乱斗(获得50积分完成)",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[7] = {
			ID = 57,
			number = 1,
			taskID = 7,
			name = "竞技大乱斗",
			describe = "参加3次竞技大乱斗",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[8] = {
			ID = 57,
			number = 1,
			taskID = 8,
			name = "竞技大乱斗",
			describe = "参加5次竞技大乱斗",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[9] = {
			ID = 57,
			number = 1,
			taskID = 9,
			name = "沙巴克攻城",
			describe = "沙巴克泡点累积1万经验",
			type = 5,
			subtype = 5,
			ValueType = 1,
			value = 10000,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 7,
			UpperLimit = {[1]=3700},
		},
		[10] = {
			ID = 57,
			number = 1,
			taskID = 10,
			name = "沙巴克攻城",
			describe = "成为沙巴克成员",
			type = 25,
			subtype = 1,
			ValueType = 2,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 7,
			UpperLimit = {[1]=3700},
		},
		[11] = {
			ID = 57,
			number = 1,
			taskID = 11,
			name = "世界BOSS",
			describe = "参加3次世界BOSS(累积伤害1000完成)",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[12] = {
			ID = 57,
			number = 1,
			taskID = 12,
			name = "世界BOSS",
			describe = "参加5次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[13] = {
			ID = 57,
			number = 1,
			taskID = 13,
			name = "世界BOSS",
			describe = "参加10次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[14] = {
			ID = 57,
			number = 1,
			taskID = 14,
			name = "世界BOSS",
			describe = "参加15次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 15,
			GiftTable = {[1]={type=17,id=17,count=500}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[15] = {
			ID = 57,
			number = 1,
			taskID = 15,
			name = "夺宝",
			describe = "完成10次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[16] = {
			ID = 57,
			number = 1,
			taskID = 16,
			name = "夺宝",
			describe = "完成30次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 30,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
	},
},
[58] = {
	[1] = {
		[1] = {
			ID = 58,
			number = 1,
			taskID = 1,
			name = "击杀BOSS",
			describe = "击杀2次野外或重装BOSS",
			type = 7,
			subtype = 4,
			ValueType = 1,
			value = 2,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[2] = {
			ID = 58,
			number = 1,
			taskID = 2,
			name = "击杀BOSS",
			describe = "击杀5次野外或重装BOSS",
			type = 7,
			subtype = 4,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[3] = {
			ID = 58,
			number = 1,
			taskID = 3,
			name = "参与活动",
			describe = "击杀1次散财鹿",
			type = 22,
			subtype = 161,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[4] = {
			ID = 58,
			number = 1,
			taskID = 4,
			name = "参与活动",
			describe = "击杀3次散财鹿",
			type = 22,
			subtype = 161,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[5] = {
			ID = 58,
			number = 1,
			taskID = 5,
			name = "捐献物品",
			describe = "捐献300张炎战神凭证",
			type = 21,
			subtype = 838,
			ValueType = 1,
			value = 300,
			data = {{type=0,id=838,count=300}},
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[6] = {
			ID = 58,
			number = 1,
			taskID = 6,
			name = "捐献物品",
			describe = "捐献1000张炎战神凭证",
			type = 30,
			subtype = 838,
			ValueType = 1,
			value = 1000,
			data = {{type=0,id=838,count=1000}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[7] = {
			ID = 58,
			number = 1,
			taskID = 7,
			name = "捐献物品",
			describe = "捐献3000张炎战神凭证",
			type = 31,
			subtype = 838,
			ValueType = 1,
			value = 3000,
			data = {{type=0,id=838,count=3000}},
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[8] = {
			ID = 58,
			number = 1,
			taskID = 8,
			name = "捐献物品",
			describe = "捐献3张星王凭证",
			type = 21,
			subtype = 840,
			ValueType = 1,
			value = 3,
			data = {{type=0,id=840,count=3}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[9] = {
			ID = 58,
			number = 1,
			taskID = 9,
			name = "捐献物品",
			describe = "捐献8张星王凭证",
			type = 30,
			subtype = 840,
			ValueType = 1,
			value = 8,
			data = {{type=0,id=840,count=8}},
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[10] = {
			ID = 58,
			number = 1,
			taskID = 10,
			name = "捐献物品",
			describe = "捐献2张炎星王凭证",
			type = 21,
			subtype = 841,
			ValueType = 1,
			value = 2,
			data = {{type=0,id=841,count=2}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[11] = {
			ID = 58,
			number = 1,
			taskID = 11,
			name = "捐献物品",
			describe = "捐献5张炎星王凭证",
			type = 30,
			subtype = 841,
			ValueType = 1,
			value = 5,
			data = {{type=0,id=841,count=5}},
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
	},
},
[60] = {
	[1] = {
		[1] = {
			ID = 60,
			number = 1,
			taskID = 1,
			name = "膜拜",
			describe = "完成1次膜拜",
			type = 17,
			subtype = 5,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=50}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[2] = {
			ID = 60,
			number = 1,
			taskID = 2,
			name = "击败怪物",
			describe = "击败500个怪物",
			type = 7,
			subtype = 1,
			ValueType = 1,
			value = 500,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[3] = {
			ID = 60,
			number = 1,
			taskID = 3,
			name = "夺宝",
			describe = "完成1次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[4] = {
			ID = 60,
			number = 1,
			taskID = 4,
			name = "使用祝福油",
			describe = "使用300瓶祝福油",
			type = 21,
			subtype = 269,
			ValueType = 1,
			value = 300,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[5] = {
			ID = 60,
			number = 1,
			taskID = 5,
			name = "击杀妖兽",
			describe = "击杀1次妖兽",
			type = 7,
			subtype = 3,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[6] = {
			ID = 60,
			number = 1,
			taskID = 6,
			name = "击杀怪物",
			describe = "击败20只十三陵陵中盗贼",
			type = 22,
			subtype = 203,
			ValueType = 1,
			value = 20,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[7] = {
			ID = 60,
			number = 1,
			taskID = 7,
			name = "击杀怪物",
			describe = "击败10只山海关1层雪谷猛兽",
			type = 22,
			subtype = 287,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[8] = {
			ID = 60,
			number = 1,
			taskID = 8,
			name = "击杀怪物",
			describe = "击败1只孤独之路三层[经典]祖玛雕像",
			type = 22,
			subtype = 333,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
		[9] = {
			ID = 60,
			number = 1,
			taskID = 9,
			name = "捐献物品",
			describe = "捐献5个洗炼石",
			type = 30,
			subtype = 480,
			ValueType = 1,
			value = 5,
			data = {{type=0,id=480,count=5}},
			GiftTable = {[1]={type=17,id=17,count=70}},
			openday = 1,
			UpperLimit = {[1]=400},
		},
	},
},
[61] = {
	[1] = {
		[1] = {
			ID = 61,
			number = 1,
			taskID = 1,
			name = "独闯天涯",
			describe = "完成1次独闯天涯(在7层领取独闯天涯礼包完成)",
			type = 27,
			subtype = 12,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[2] = {
			ID = 61,
			number = 1,
			taskID = 2,
			name = "独闯天涯",
			describe = "完成3次独闯天涯",
			type = 27,
			subtype = 12,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[3] = {
			ID = 61,
			number = 1,
			taskID = 3,
			name = "夜战沃玛三",
			describe = "参加1次夜战沃玛三(获得50积分完成)",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[4] = {
			ID = 61,
			number = 1,
			taskID = 4,
			name = "夜战沃玛三",
			describe = "参加3次夜战沃玛三",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[5] = {
			ID = 61,
			number = 1,
			taskID = 5,
			name = "夜战沃玛三",
			describe = "参加5次夜战沃玛三",
			type = 17,
			subtype = 14,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[6] = {
			ID = 61,
			number = 1,
			taskID = 6,
			name = "竞技大乱斗",
			describe = "参加1次竞技大乱斗(获得50积分完成)",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[7] = {
			ID = 61,
			number = 1,
			taskID = 7,
			name = "竞技大乱斗",
			describe = "参加3次竞技大乱斗",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[8] = {
			ID = 61,
			number = 1,
			taskID = 8,
			name = "竞技大乱斗",
			describe = "参加5次竞技大乱斗",
			type = 17,
			subtype = 4,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 2,
			UpperLimit = {[1]=3700},
		},
		[9] = {
			ID = 61,
			number = 1,
			taskID = 9,
			name = "沙巴克攻城",
			describe = "沙巴克泡点累积1万经验",
			type = 5,
			subtype = 5,
			ValueType = 1,
			value = 10000,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 7,
			UpperLimit = {[1]=3700},
		},
		[10] = {
			ID = 61,
			number = 1,
			taskID = 10,
			name = "沙巴克攻城",
			describe = "成为沙巴克成员",
			type = 25,
			subtype = 1,
			ValueType = 2,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 7,
			UpperLimit = {[1]=3700},
		},
		[11] = {
			ID = 61,
			number = 1,
			taskID = 11,
			name = "世界BOSS",
			describe = "参加3次世界BOSS(累积伤害1000完成)",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[12] = {
			ID = 61,
			number = 1,
			taskID = 12,
			name = "世界BOSS",
			describe = "参加5次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[13] = {
			ID = 61,
			number = 1,
			taskID = 13,
			name = "世界BOSS",
			describe = "参加10次世界BOSS",
			type = 17,
			subtype = 11,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[14] = {
			ID = 61,
			number = 1,
			taskID = 14,
			name = "夺宝",
			describe = "完成10次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 10,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
		[15] = {
			ID = 61,
			number = 1,
			taskID = 15,
			name = "夺宝",
			describe = "完成30次夺宝",
			type = 17,
			subtype = 7,
			ValueType = 1,
			value = 30,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=3700},
		},
	},
},
[62] = {
	[1] = {
		[1] = {
			ID = 62,
			number = 1,
			taskID = 1,
			name = "击杀BOSS",
			describe = "击杀2次野外或重装BOSS",
			type = 7,
			subtype = 4,
			ValueType = 1,
			value = 2,
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[2] = {
			ID = 62,
			number = 1,
			taskID = 2,
			name = "击杀BOSS",
			describe = "击杀5次野外或重装BOSS",
			type = 7,
			subtype = 4,
			ValueType = 1,
			value = 5,
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[3] = {
			ID = 62,
			number = 1,
			taskID = 3,
			name = "参与活动",
			describe = "击杀1次散财鹿",
			type = 22,
			subtype = 161,
			ValueType = 1,
			value = 1,
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[4] = {
			ID = 62,
			number = 1,
			taskID = 4,
			name = "参与活动",
			describe = "击杀3次散财鹿",
			type = 22,
			subtype = 161,
			ValueType = 1,
			value = 3,
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[5] = {
			ID = 62,
			number = 1,
			taskID = 5,
			name = "捐献物品",
			describe = "捐献300张炎战神凭证",
			type = 21,
			subtype = 838,
			ValueType = 1,
			value = 300,
			data = {{type=0,id=838,count=300}},
			GiftTable = {[1]={type=17,id=17,count=100}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[6] = {
			ID = 62,
			number = 1,
			taskID = 6,
			name = "捐献物品",
			describe = "捐献1000张炎战神凭证",
			type = 30,
			subtype = 838,
			ValueType = 1,
			value = 1000,
			data = {{type=0,id=838,count=1000}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[7] = {
			ID = 62,
			number = 1,
			taskID = 7,
			name = "捐献物品",
			describe = "捐献3000张炎战神凭证",
			type = 31,
			subtype = 838,
			ValueType = 1,
			value = 3000,
			data = {{type=0,id=838,count=3000}},
			GiftTable = {[1]={type=17,id=17,count=300}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[8] = {
			ID = 62,
			number = 1,
			taskID = 8,
			name = "捐献物品",
			describe = "捐献3张星王凭证",
			type = 21,
			subtype = 840,
			ValueType = 1,
			value = 3,
			data = {{type=0,id=840,count=3}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[9] = {
			ID = 62,
			number = 1,
			taskID = 9,
			name = "捐献物品",
			describe = "捐献8张星王凭证",
			type = 30,
			subtype = 840,
			ValueType = 1,
			value = 8,
			data = {{type=0,id=840,count=8}},
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[10] = {
			ID = 62,
			number = 1,
			taskID = 10,
			name = "捐献物品",
			describe = "捐献2张炎星王凭证",
			type = 21,
			subtype = 841,
			ValueType = 1,
			value = 2,
			data = {{type=0,id=841,count=2}},
			GiftTable = {[1]={type=17,id=17,count=200}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
		[11] = {
			ID = 62,
			number = 1,
			taskID = 11,
			name = "捐献物品",
			describe = "捐献5张炎星王凭证",
			type = 30,
			subtype = 841,
			ValueType = 1,
			value = 5,
			data = {{type=0,id=841,count=5}},
			GiftTable = {[1]={type=17,id=17,count=400}},
			openday = 1,
			UpperLimit = {[1]=2800},
		},
	},
},
}