--H-活动玩法(固定).xlsx 16-捐献榜
Activity16Config={
	Id = 20,
	name = "捐献榜",
	openParam = {level=1,openDay=1},
	costtype = 4,
	costid = 4,
	showRank = 6,
	rankList = {
 [1] = {187,193,199},
 [2] = {188,194,200},
 [3] = {189,195,201},
 [4] = {190,196,202},
 [5] = {191,197,203},
 [6] = {192,198},
 [7] = {192,198},
 [8] = {192,198},
 [9] = {192,198},
 [10] = {192,198},
},
	minValue = 10,
	content = "|C:0xeee104&T:当前捐献榜数据已经重置，属性奖励重登后收回|",
	inrank = "|C:0xeee104&T:您已进入捐献榜第 %d 名|",
	tips = {
 [1] = "恭喜|C:0xfc21ed&T:%s|获得了捐献榜|C:0xda1e00&T:第一名|",
 [2] = "恭喜|C:0xfc21ed&T:%s|获得了捐献榜|C:0xda1e00&T:第二名|",
 [3] = "恭喜|C:0xfc21ed&T:%s|获得了捐献榜|C:0xda1e00&T:第三名|",
},
}