--H-活动玩法(固定).xlsx 28-秘境打宝
Activity28Config={
[43] = {
	Id = 43,
	name = "秘境打宝",
	openParam = {zsLevel=3,level=30},
	fbId = 25,
	AwardA = {{type=0,id=1346,count=1}},
	AwardB = {{type=0,id=1347,count=1}},
	AwardC = {{type=0,id=1348,count=1}},
	Duration = 1800,
	noticeFirstHalf = "秘境打宝已经开始，尽情的挑战自己吧",
	mailTitle1 = "秘境宝箱奖励",
	mailContent1 = "以下是您参与秘境打宝活动获得的秘境宝箱，请查收",
	mailTitle2 = "字诀宝箱奖励",
	mailContent2 = "以下是您参与秘境打宝活动获得的字诀宝箱，请查收",
	mailTitle3 = "材料宝箱奖励",
	mailContent3 = "以下是您参与秘境打宝活动获得的材料宝箱，请查收",
},
}