--Z-战令.xlsx 战令商店
Activity14shopConfig={
[1] = {
	shopid = 1,
	shop = {{type=2,id=2,count=50000}},
	price = {{type=4,id=4,count=10}},
	showlimit = {level=1},
},
[2] = {
	shopid = 2,
	shop = {{type=2,id=2,count=500000}},
	price = {{type=4,id=4,count=100}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[3] = {
	shopid = 3,
	shop = {{type=0,id=350,count=1}},
	price = {{type=3,id=3,count=999}},
	showlimit = {level=1},
},
[4] = {
	shopid = 4,
	shop = {{type=0,id=350,count=1}},
	price = {{type=2,id=2,count=30000000}},
	showlimit = {level=1},
},
[5] = {
	shopid = 5,
	shop = {{type=0,id=307,count=1}},
	price = {{type=3,id=0,count=20}},
	showlimit = {level=1},
},
[6] = {
	shopid = 6,
	shop = {{type=0,id=307,count=1}},
	price = {{type=2,id=2,count=200000}},
	showlimit = {level=1},
},
[9] = {
	shopid = 9,
	shop = {{type=0,id=41,count=1}},
	price = {{type=3,id=3,count=288}},
	showlimit = {level=1},
},
[10] = {
	shopid = 10,
	shop = {{type=0,id=41,count=1}},
	price = {{type=2,id=2,count=8880000}},
	showlimit = {level=1},
},
[11] = {
	shopid = 11,
	shop = {{type=0,id=491,count=1}},
	price = {{type=3,id=3,count=288}},
	showlimit = {level=1},
},
[12] = {
	shopid = 12,
	shop = {{type=0,id=491,count=1}},
	price = {{type=2,id=2,count=8880000}},
	showlimit = {level=1},
},
[13] = {
	shopid = 13,
	shop = {{type=0,id=507,count=1}},
	price = {{type=3,id=3,count=2999}},
	showlimit = {level=1},
},
[14] = {
	shopid = 14,
	shop = {{type=0,id=269,count=1}},
	price = {{type=3,id=0,count=10}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[15] = {
	shopid = 15,
	shop = {{type=0,id=269,count=1}},
	price = {{type=2,id=2,count=100000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[16] = {
	shopid = 16,
	shop = {{type=0,id=421,count=1}},
	price = {{type=3,id=3,count=10}},
	showlimit = {level=1},
},
[17] = {
	shopid = 17,
	shop = {{type=0,id=421,count=1}},
	price = {{type=2,id=2,count=200000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[18] = {
	shopid = 18,
	shop = {{type=0,id=300,count=1}},
	price = {{type=3,id=3,count=50}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[19] = {
	shopid = 19,
	shop = {{type=0,id=853,count=1}},
	price = {{type=3,id=3,count=5}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[20] = {
	shopid = 20,
	shop = {{type=0,id=854,count=1}},
	price = {{type=3,id=3,count=5}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[21] = {
	shopid = 21,
	shop = {{type=0,id=855,count=1}},
	price = {{type=4,id=4,count=5}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[22] = {
	shopid = 22,
	shop = {{type=0,id=856,count=1}},
	price = {{type=4,id=4,count=5}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[23] = {
	shopid = 23,
	shop = {{type=0,id=852,count=1}},
	price = {{type=4,id=4,count=50}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[24] = {
	shopid = 24,
	shop = {{type=0,id=954,count=1}},
	price = {{type=3,id=3,count=10}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[25] = {
	shopid = 25,
	shop = {{type=0,id=480,count=1}},
	price = {{type=3,id=3,count=10}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[26] = {
	shopid = 26,
	shop = {{type=0,id=970,count=1}},
	price = {{type=3,id=3,count=50}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[27] = {
	shopid = 27,
	shop = {{type=0,id=248,count=10}},
	price = {{type=4,id=4,count=3}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[28] = {
	shopid = 28,
	shop = {{type=0,id=248,count=10}},
	price = {{type=2,id=2,count=33000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[29] = {
	shopid = 29,
	shop = {{type=0,id=245,count=10}},
	price = {{type=2,id=2,count=550}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[30] = {
	shopid = 30,
	shop = {{type=0,id=246,count=10}},
	price = {{type=2,id=2,count=1100}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[31] = {
	shopid = 31,
	shop = {{type=0,id=247,count=10}},
	price = {{type=2,id=2,count=3300}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[32] = {
	shopid = 32,
	shop = {{type=0,id=239,count=10}},
	price = {{type=2,id=2,count=1000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[33] = {
	shopid = 33,
	shop = {{type=0,id=982,count=1}},
	price = {{type=4,id=4,count=50}},
	showlimit = {level=1},
},
[34] = {
	shopid = 34,
	shop = {{type=0,id=983,count=1}},
	price = {{type=4,id=4,count=100}},
	showlimit = {level=1},
},
[35] = {
	shopid = 35,
	shop = {{type=0,id=952,count=1}},
	price = {{type=4,id=4,count=200}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[36] = {
	shopid = 36,
	shop = {{type=0,id=851,count=1}},
	price = {{type=2,id=2,count=200000}},
	showlimit = {level=1},
},
[37] = {
	shopid = 37,
	shop = {{type=0,id=901,count=1}},
	price = {{type=2,id=2,count=300000}},
	showlimit = {level=1},
},
[38] = {
	shopid = 38,
	shop = {{type=0,id=902,count=1}},
	price = {{type=2,id=2,count=500000}},
	showlimit = {level=1},
},
[39] = {
	shopid = 39,
	shop = {{type=0,id=903,count=1}},
	price = {{type=2,id=2,count=800000}},
	showlimit = {level=1},
},
[40] = {
	shopid = 40,
	shop = {{type=0,id=904,count=1}},
	price = {{type=2,id=2,count=1200000}},
	showlimit = {level=1},
},
[41] = {
	shopid = 41,
	shop = {{type=0,id=905,count=1}},
	price = {{type=2,id=2,count=1600000}},
	showlimit = {level=1},
},
[42] = {
	shopid = 42,
	shop = {{type=0,id=1039,count=1}},
	price = {{type=2,id=2,count=18880000}},
	showlimit = {level=1},
},
[43] = {
	shopid = 43,
	shop = {{type=0,id=910,count=1}},
	price = {{type=2,id=2,count=200000}},
	showlimit = {level=1},
},
[44] = {
	shopid = 44,
	shop = {{type=0,id=911,count=1}},
	price = {{type=2,id=2,count=300000}},
	showlimit = {level=1},
},
[45] = {
	shopid = 45,
	shop = {{type=0,id=912,count=1}},
	price = {{type=2,id=2,count=500000}},
	showlimit = {level=1},
},
[46] = {
	shopid = 46,
	shop = {{type=0,id=913,count=1}},
	price = {{type=2,id=2,count=800000}},
	showlimit = {level=1},
},
[47] = {
	shopid = 47,
	shop = {{type=0,id=914,count=1}},
	price = {{type=2,id=2,count=1200000}},
	showlimit = {level=1},
},
[48] = {
	shopid = 48,
	shop = {{type=0,id=915,count=1}},
	price = {{type=2,id=2,count=1600000}},
	showlimit = {level=1},
},
[49] = {
	shopid = 49,
	shop = {{type=0,id=1039,count=1}},
	price = {{type=4,id=4,count=138}},
	showlimit = {level=1},
},
[50] = {
	shopid = 50,
	shop = {{type=0,id=261,count=1}},
	price = {{type=2,id=2,count=200000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[51] = {
	shopid = 51,
	shop = {{type=0,id=1002,count=1}},
	price = {{type=2,id=2,count=10000000}},
	showlimit = {level=1},
},
[54] = {
	shopid = 54,
	shop = {{type=0,id=261,count=1}},
	price = {{type=10,id=0,count=30}},
	showlimit = {level=1},
},
[55] = {
	shopid = 55,
	shop = {{type=0,id=421,count=1}},
	price = {{type=10,id=0,count=40}},
	showlimit = {level=1},
},
[56] = {
	shopid = 56,
	shop = {{type=0,id=251,count=1}},
	price = {{type=2,id=0,count=110}},
	showlimit = {level=1},
},
[57] = {
	shopid = 57,
	shop = {{type=0,id=251,count=6}},
	price = {{type=2,id=0,count=700}},
	showlimit = {level=1},
},
[58] = {
	shopid = 58,
	shop = {{type=0,id=245,count=10}},
	price = {{type=2,id=2,count=500}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[59] = {
	shopid = 59,
	shop = {{type=0,id=246,count=10}},
	price = {{type=2,id=2,count=1000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[60] = {
	shopid = 60,
	shop = {{type=0,id=247,count=10}},
	price = {{type=2,id=2,count=3000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[61] = {
	shopid = 61,
	shop = {{type=0,id=248,count=10}},
	price = {{type=2,id=2,count=30000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[62] = {
	shopid = 62,
	shop = {{type=0,id=239,count=10}},
	price = {{type=2,id=2,count=1000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[63] = {
	shopid = 63,
	shop = {{type=0,id=251,count=1}},
	price = {{type=2,id=0,count=110}},
	showlimit = {level=1},
},
[64] = {
	shopid = 64,
	shop = {{type=0,id=251,count=6}},
	price = {{type=2,id=0,count=700}},
	showlimit = {level=1},
},
[65] = {
	shopid = 65,
	shop = {{type=0,id=245,count=10}},
	price = {{type=2,id=2,count=500}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[66] = {
	shopid = 66,
	shop = {{type=0,id=246,count=10}},
	price = {{type=2,id=2,count=1000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[67] = {
	shopid = 67,
	shop = {{type=0,id=247,count=10}},
	price = {{type=2,id=2,count=3000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[68] = {
	shopid = 68,
	shop = {{type=0,id=248,count=10}},
	price = {{type=2,id=2,count=30000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[69] = {
	shopid = 69,
	shop = {{type=0,id=239,count=10}},
	price = {{type=2,id=2,count=1000}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[70] = {
	shopid = 70,
	shop = {{type=0,id=1004,count=1}},
	price = {{type=3,id=3,count=99}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[71] = {
	shopid = 71,
	shop = {{type=0,id=1005,count=1}},
	price = {{type=3,id=3,count=99}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[72] = {
	shopid = 72,
	shop = {{type=0,id=1006,count=1}},
	price = {{type=3,id=3,count=99}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[73] = {
	shopid = 73,
	shop = {{type=0,id=1007,count=1}},
	price = {{type=3,id=3,count=99}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 99,
},
[74] = {
	shopid = 74,
	shop = {{type=0,id=1008,count=1}},
	price = {{type=4,id=4,count=3880}},
	showlimit = {level=1},
},
[75] = {
	shopid = 75,
	shop = {{type=0,id=1012,count=1}},
	price = {{type=4,id=4,count=888}},
	showlimit = {level=1},
},
[76] = {
	shopid = 76,
	shop = {{type=0,id=1013,count=1}},
	price = {{type=3,id=3,count=50}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[77] = {
	shopid = 77,
	shop = {{type=0,id=1018,count=1}},
	price = {{type=4,id=4,count=30}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[78] = {
	shopid = 78,
	shop = {{type=0,id=1022,count=1}},
	price = {{type=4,id=4,count=50}},
	showlimit = {level=1},
	batchbuy = 1,
	Maxbatchbuy = 999,
},
[79] = {
	shopid = 79,
	shop = {{type=0,id=1051,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|购买了%s，开服第8天领取五倍元宝返还，还能参加超级大抽奖|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[80] = {
	shopid = 80,
	shop = {{type=0,id=214,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[81] = {
	shopid = 81,
	shop = {{type=0,id=1039,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[82] = {
	shopid = 82,
	shop = {{type=0,id=851,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[83] = {
	shopid = 83,
	shop = {{type=0,id=634,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[84] = {
	shopid = 84,
	shop = {{type=0,id=625,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[85] = {
	shopid = 85,
	shop = {{type=0,id=629,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[86] = {
	shopid = 86,
	shop = {{type=0,id=633,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[87] = {
	shopid = 87,
	shop = {{type=0,id=638,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[88] = {
	shopid = 88,
	shop = {{type=0,id=642,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[89] = {
	shopid = 89,
	shop = {{type=0,id=646,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[90] = {
	shopid = 90,
	shop = {{type=0,id=911,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[91] = {
	shopid = 91,
	shop = {{type=0,id=659,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[92] = {
	shopid = 92,
	shop = {{type=0,id=648,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[93] = {
	shopid = 93,
	shop = {{type=0,id=652,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[94] = {
	shopid = 94,
	shop = {{type=0,id=653,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[95] = {
	shopid = 95,
	shop = {{type=0,id=661,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[96] = {
	shopid = 96,
	shop = {{type=0,id=665,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[97] = {
	shopid = 97,
	shop = {{type=0,id=666,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[98] = {
	shopid = 98,
	shop = {{type=0,id=1048,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[99] = {
	shopid = 99,
	shop = {{type=0,id=678,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[100] = {
	shopid = 100,
	shop = {{type=0,id=679,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[101] = {
	shopid = 101,
	shop = {{type=0,id=680,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[102] = {
	shopid = 102,
	shop = {{type=0,id=684,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[103] = {
	shopid = 103,
	shop = {{type=0,id=685,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[104] = {
	shopid = 104,
	shop = {{type=0,id=689,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[105] = {
	shopid = 105,
	shop = {{type=0,id=1049,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[106] = {
	shopid = 106,
	shop = {{type=0,id=701,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[107] = {
	shopid = 107,
	shop = {{type=0,id=702,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[108] = {
	shopid = 108,
	shop = {{type=0,id=703,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[109] = {
	shopid = 109,
	shop = {{type=0,id=693,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[110] = {
	shopid = 110,
	shop = {{type=0,id=695,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[111] = {
	shopid = 111,
	shop = {{type=0,id=697,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[112] = {
	shopid = 112,
	shop = {{type=0,id=1050,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[113] = {
	shopid = 113,
	shop = {{type=0,id=722,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[114] = {
	shopid = 114,
	shop = {{type=0,id=934,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[115] = {
	shopid = 115,
	shop = {{type=0,id=726,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[116] = {
	shopid = 116,
	shop = {{type=0,id=730,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
[117] = {
	shopid = 117,
	shop = {{type=0,id=734,count=1}},
	price = {{type=4,id=4,count=1}},
	showlimit = {level=1},
	tips = "|C:0xeee104&T:%s|只花壹元宝买到了心仪许久的宝物。传奇1毛店件件只要一毛钱，“十分”合算。仅限开服七天内，走过路过，千万不要错过！|E:-2,24,&U:&C:0x28ee01&T:[我也去看看]|",
},
}