--H-活动玩法(固定).xlsx 21-跨服沙巴克
Activity21Config={
	Id = 26,
	name = "跨服沙巴克",
	openParam = {zsLevel=3,level=30},
	czrewards = {{type=0,id=1111,count=1}},
	czrewardsMailTT = "跨服沙巴克城主",
	czrewardsMailCT = "恭喜你获得沙巴克城主奖励",
	starttime = 0,
	wartime = 300,
	wartimestr = Lang.Activity.h00016,
	winmap = 47,
	areaattr = 
 {
  notips = 0,
  attri = 
  {
    {type=13,value=""},
  }
 },
	sbknotic = Lang.Activity.h00017,
	endsbk = Lang.Activity.h00018,
	idx = 1,
	autoTime = 10,
	addScoreAuto = 5,
	addScoreKill = 20,
	addScoreHelpKill = 8,
	helpTime = 10,
	addScoreBeKill = 8,
	addScoreGuard = 20,
	phaseAward = {
[1]={ value=50, awards={{type=0,id=1107,count=1}} },
[2]={ value=150, awards={{type=0,id=1108,count=1}} },
[3]={ value=300, awards={{type=0,id=1109,count=1}} },
[4]={ value=500, awards={{type=0,id=1110,count=1}} },
},
	phaseAwardMailTT = "跨服沙巴克积分",
	phaseAwardMailCT = "恭喜你在跨服沙巴克中获得%d积分的奖励",
	rankAward = {
[1] = { rank="1",value=1, awards={{type=0,id=1112,count=1}} },
[2] = { rank="2",value=2, awards={{type=0,id=1112,count=1}} },
[3] = { rank="3",value=3, awards={{type=0,id=1112,count=1}} },
},
	rankAwardMailTT = "跨服沙巴克荣耀奖励",
	rankAwardMailCT = "恭喜你在跨服沙巴克优秀会长奖励",
}