--AB-战令.xlsx 战令页签
Activity14tabConfig={
[51] = {
	ID = 51,
	tabname = "每日任务",
	describe = "今日任务积分",
},
[53] = {
	ID = 53,
	tabname = "活动达人",
	describe = "本期任务积分",
},
[54] = {
	ID = 54,
	tabname = "斩妖除魔",
	describe = "本期任务积分",
},
[56] = {
	ID = 56,
	tabname = "每日任务",
	describe = "今日任务积分",
},
[57] = {
	ID = 57,
	tabname = "活动达人",
	describe = "本期任务积分",
},
[58] = {
	ID = 58,
	tabname = "斩妖除魔",
	describe = "本期任务积分",
},
[60] = {
	ID = 60,
	tabname = "每日任务",
	describe = "今日任务积分",
},
[61] = {
	ID = 61,
	tabname = "活动达人",
	describe = "本期任务积分",
},
[62] = {
	ID = 62,
	tabname = "斩妖除魔",
	describe = "本期任务积分",
},
}