--H-活动玩法(固定).xlsx 6-散财鹿
Activity6Config={
[9] = {
	Id = 9,
	name = "散财鹿",
	openParam = {level=1,openDay=1},
	refertime = 300,
	pos = {
{id=1,map=1,x=112,y=79,range=10},
{id=2,map=1,x=141,y=216,range=10},
{id=3,map=1,x=405,y=150,range=10},
{id=4,map=1,x=314,y=266,range=10},
{id=5,map=3,x=103,y=97,range=10},
{id=6,map=3,x=106,y=233,range=10},
{id=7,map=3,x=362,y=62,range=10},
{id=8,map=3,x=300,y=255,range=10},
{id=9,map=3,x=500,y=238,range=10},
},
	same = 0,
	notice = 1,
	content = Lang.Activity.ad00004,
	monsterid = 161,
},
[21] = {
	Id = 21,
	name = "BOSS狂刷",
	openParam = {level=1,openDay=1},
	refertime = 3600,
	pos = {{id=8,map=3,x=256,y=174,range=2},},
	same = 1,
	notice = 1,
	content = Lang.Activity.ad00006,
	monsterid = 190,
},
[37] = {
	Id = 37,
	name = "BOSS狂刷",
	openParam = {level=1,openDay=1},
	refertime = 3600,
	pos = {{id=8,map=3,x=256,y=174,range=2},},
	same = 1,
	notice = 1,
	content = Lang.Activity.ad00006,
	monsterid = 190,
},
[40] = {
	Id = 40,
	name = "BOSS狂刷",
	openParam = {level=1,openDay=1},
	refertime = 3600,
	pos = {{id=8,map=3,x=256,y=174,range=2},},
	same = 1,
	notice = 1,
	content = Lang.Activity.ad00006,
	monsterid = 190,
},
[42] = {
	Id = 42,
	name = "BOSS狂刷",
	openParam = {level=1,openDay=1},
	refertime = 3600,
	pos = {{id=8,map=3,x=270,y=180,range=2},},
	same = 1,
	notice = 1,
	content = Lang.Activity.ad00007,
	monsterid = 436,
},
[45] = {
	Id = 45,
	name = "BOSS狂刷",
	openParam = {level=1,openDay=1},
	refertime = 3600,
	pos = {{id=8,map=3,x=270,y=180,range=2},},
	same = 1,
	notice = 1,
	content = Lang.Activity.ad00007,
	monsterid = 436,
},
}