--AB-活动付费.xlsx 10005-每日签到
Activity10005Config={
[10005] = {
	[1] = {
		Id = 10005,
		index = 1,
		GiftNums = 2,
		name = "每日签到",
		GiftTable = {{type=0,id=302,count=1},{type=0,id=421,count=1},{type=2,id=2,count=10000},{type=0,id=396,count=2},{type=0,id=261,count=2}, {type=0,id=853,count=2}},
	},
	[2] = {
		Id = 10005,
		index = 2,
		GiftNums = 5,
		name = "每日签到",
		GiftTable = {{type=0,id=302,count=1},{type=0,id=421,count=1},{type=2,id=2,count=10000}, {type=0,id=396,count=5},{type=0,id=261,count=2}, {type=0,id=854,count=2}},
	},
	[3] = {
		Id = 10005,
		index = 3,
		GiftNums = 10,
		name = "每日签到",
		GiftTable = {{type=0,id=302,count=1},{type=0,id=421,count=2},{type=2,id=2,count=10000},{type=0,id=396,count=10},{type=0,id=261,count=2},{type=0,id=269,count=1}},
	},
	[4] = {
		Id = 10005,
		index = 4,
		GiftNums = 18,
		name = "每日签到",
		GiftTable = {{type=0,id=302,count=1},{type=0,id=421,count=3},{type=2,id=2,count=10000}, {type=0,id=396,count=18},{type=0,id=261,count=3}, {type=0,id=269,count=1}},
	},
	[5] = {
		Id = 10005,
		index = 5,
		GiftNums = 26,
		name = "每日签到",
		GiftTable = {{type=0,id=302,count=1},{type=0,id=421,count=3},{type=2,id=2,count=10000}, {type=0,id=396,count=26},{type=0,id=261,count=3}, {type=3,id=3,count=10}},
	},
},
}