--H-活动玩法(固定).xlsx 26-逃脱试炼
Activity26Config={
[38] = {
	Id = 38,
	name = "逃脱试炼",
	openParam = {zsLevel=5,level=30},
	fbId = 24,
	autoTime = 1,
	addScoreAuto = 1,
	addScoreKill = 12,
	addScoreHelpKill = 8,
	addScoreGuard = 10,
	Standardscore = 300,
	partakeAward = {{type=0,id=1239,count=1}},
	rankAward = {
[1] = { rank="1",value=1, awards={{type=0,id=1234,count=1}} },
[2] = { rank="2-3",value=3, awards={{type=0,id=1235,count=1}} },
[3] = { rank="4-10",value=10, awards={{type=0,id=1236,count=1}} },
[4] = { rank="11-30",value=30, awards={{type=0,id=1237,count=1}} },
[5] = { rank="31-200",value=200, awards={{type=0,id=1238,count=1}} },
},
	Duration = 1200,
	noticeFirstHalf = "逃脱试炼已经开始，请勇士们踊跃参与",
	mailTitle1 = "逃脱试炼排名奖励",
	mailContent1 = "恭喜你在逃脱试炼中取得了第%d名",
	mailTitle2 = "逃脱试炼参与奖",
	mailContent2 = "恭喜你在逃脱试炼中获得了参与奖",
},
}