--AB-活动付费.xlsx 10020-寻宝全局
Activity10020Config={
[10225] = {
	[1] = {
		Id = 10225,
		OpenDays = 1,
		NormalRewards = {{type=0,id=261,count=3},{type=0,id=421,count=3},{type=0,id=1060,count=1},{type=2,id=0,count=150000},{type=13,id=0,count=800000},{type=13,id=0,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=5},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1067,count=2},{type=0,id=1144,count=1},{type=0,id=1145,count=1},{type=0,id=40,count=1},{type=0,id=491,count=1},{type=0,id=507,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=1}},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余时刻高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125019,
		SpecialDropId = 125018,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1067]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[491]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[507]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10225,
		OpenDays = 2,
		NormalRewards = {{type=0,id=261,count=3},{type=0,id=421,count=3},{type=0,id=1060,count=1},{type=2,id=0,count=150000},{type=13,id=0,count=800000},{type=13,id=0,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=5},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1067,count=2},{type=0,id=1144,count=1},{type=0,id=1145,count=1},{type=0,id=40,count=1},{type=0,id=491,count=1},{type=0,id=507,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=1}},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余时刻高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125019,
		SpecialDropId = 125018,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1067]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[491]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[507]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[3] = {
		Id = 10225,
		OpenDays = 3,
		NormalRewards = {{type=0,id=261,count=3},{type=0,id=421,count=3},{type=0,id=1060,count=1},{type=2,id=0,count=150000},{type=13,id=0,count=800000},{type=13,id=0,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=5},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1067,count=2},{type=0,id=1144,count=1},{type=0,id=1145,count=1},{type=0,id=40,count=1},{type=0,id=491,count=1},{type=0,id=507,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=1}},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余时刻高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125019,
		SpecialDropId = 125018,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1067]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[491]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[507]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
[10226] = {
	[1] = {
		Id = 10226,
		OpenDays = 1,
		NormalRewards = {{type=0,id=1018,count=1},{type=0,id=1067,count=1},{type=0,id=1060,count=1},{type=2,id=0,count=380000},{type=13,id=0,count=1000000},{type=13,id=0,count=1500000},{type=0,id=302,count=10},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=998,count=1},{type=0,id=853,count=3},{type=0,id=854,count=3},{type=0,id=855,count=3},{type=0,id=856,count=3},{type=0,id=269,count=10},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1022,count=3},{type=0,id=1144,count=1},{type=0,id=1145,count=1},{type=0,id=1012,count=1},{type=0,id=40,count=1},{type=0,id=1127,count=1},{type=0,id=1001,count=1}},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余时刻高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125021,
		SpecialDropId = 125020,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1022]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1012]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1001]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10226,
		OpenDays = 2,
		NormalRewards = {{type=0,id=1018,count=1},{type=0,id=1067,count=1},{type=0,id=1060,count=1},{type=2,id=0,count=380000},{type=13,id=0,count=1000000},{type=13,id=0,count=1500000},{type=0,id=302,count=10},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=998,count=1},{type=0,id=853,count=3},{type=0,id=854,count=3},{type=0,id=855,count=3},{type=0,id=856,count=3},{type=0,id=269,count=10},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1022,count=3},{type=0,id=1144,count=1},{type=0,id=1145,count=1},{type=0,id=1012,count=1},{type=0,id=40,count=1},{type=0,id=1127,count=1},{type=0,id=1001,count=1}},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余时刻高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125021,
		SpecialDropId = 125020,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1022]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1012]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1001]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[3] = {
		Id = 10226,
		OpenDays = 3,
		NormalRewards = {{type=0,id=1018,count=1},{type=0,id=1067,count=1},{type=0,id=1060,count=1},{type=2,id=0,count=380000},{type=13,id=0,count=1000000},{type=13,id=0,count=1500000},{type=0,id=302,count=10},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=998,count=1},{type=0,id=853,count=3},{type=0,id=854,count=3},{type=0,id=855,count=3},{type=0,id=856,count=3},{type=0,id=269,count=10},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1022,count=3},{type=0,id=1144,count=1},{type=0,id=1145,count=1},{type=0,id=1012,count=1},{type=0,id=40,count=1},{type=0,id=1127,count=1},{type=0,id=1001,count=1}},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余时刻高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125021,
		SpecialDropId = 125020,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1022]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1012]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1001]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
[10227] = {
	[1] = {
		Id = 10227,
		OpenDays = 1,
		NormalRewards = {{type=0,id=261,count=3},{type=0,id=421,count=3},{type=0,id=1060,count=1},{type=2,id=0,count=150000},{type=13,id=0,count=800000},{type=13,id=0,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=5},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1067,count=2},{type=0,id=970,count=3},{type=0,id=1144,count=1},{type=0,id=491,count=1},{type=0,id=507,count=1},{type=0,id=1155,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=2},},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余次数高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125019,
		SpecialDropId = 125018,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1067]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[970]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*3|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*3||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[491]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[507]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1155]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10227,
		OpenDays = 2,
		NormalRewards = {{type=0,id=261,count=3},{type=0,id=421,count=3},{type=0,id=1060,count=1},{type=2,id=0,count=150000},{type=13,id=0,count=800000},{type=13,id=0,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=5},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1067,count=2},{type=0,id=970,count=3},{type=0,id=1145,count=1},{type=0,id=41,count=1},{type=0,id=1012,count=1},{type=0,id=1155,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=2},},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余次数高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125023,
		SpecialDropId = 125022,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1067]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:救主之灵*2||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[970]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*3|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*3||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[41]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:紫玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:紫玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1012]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:五品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1155]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
[10228] = {
	[1] = {
		Id = 10228,
		OpenDays = 1,
		NormalRewards = {{type=0,id=1018,count=1},{type=0,id=1067,count=1},{type=0,id=1060,count=1},{type=2,id=0,count=380000},{type=13,id=0,count=1000000},{type=13,id=0,count=1500000},{type=0,id=302,count=10},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=998,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=10},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1022,count=3},{type=0,id=970,count=4},{type=0,id=1144,count=1},{type=0,id=1012,count=1},{type=0,id=41,count=1},{type=0,id=40,count=1},{type=0,id=1155,count=1},{type=0,id=1127,count=1},{type=0,id=1001,count=1},},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余次数高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125021,
		SpecialDropId = 125020,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1022]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:虹魔碎片*3||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级散件自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[970]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*4|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*4||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1012]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:西装狂徒||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[41]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:紫玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:紫玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1001]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1155]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10228,
		OpenDays = 2,
		NormalRewards = {{type=0,id=1022,count=1},{type=0,id=1067,count=1},{type=0,id=1060,count=1},{type=2,id=0,count=380000},{type=13,id=0,count=1000000},{type=13,id=0,count=1500000},{type=0,id=302,count=10},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=1157,count=1},{type=0,id=998,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=10},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=1018,count=5},{type=0,id=970,count=4},{type=0,id=1145,count=1},{type=0,id=507,count=1},{type=0,id=491,count=1},{type=0,id=40,count=1},{type=0,id=1155,count=1},{type=0,id=1127,count=1},{type=0,id=1001,count=1},},
		Description = "幸运寻宝限时开启，10元宝即可参加！达到指定次数必出高级奖励，其余次数高级奖励几率为5%，机会有限祝你好运！",
		Maxcount = 199,
		SpecialCount = {20,40},
		NormalDropId = 125025,
		SpecialDropId = 125024,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[1018]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:狂风碎片*5|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:狂风碎片*5||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:高级神装自选箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[970]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*4|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:神魔结晶*4||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[40]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:红玫瑰||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[507]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:黄金时装宝箱||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[491]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:蓝色欧罗巴||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:大眼鹰3天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1001]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:二品证明||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
[1155]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天|", tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:幸运寻宝|中使用10元宝抽中了|C:0xe50000&T:小火灵1天||E:-2,28,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
[10241] = {
	[1] = {
		Id = 10241,
		OpenDays = 1,
		NormalRewards = {{type=0,id=1188,count=1},{type=0,id=1198,count=1},{type=0,id=1208,count=1},{type=0,id=853,count=1},{type=0,id=854,count=1},{type=0,id=855,count=1},{type=0,id=856,count=1},{type=0,id=265,count=2},{type=0,id=265,count=3},{type=0,id=265,count=5},{type=0,id=265,count=8}},
		SpecialRewards = {{type=0,id=1189,count=1},{type=0,id=1199,count=1},{type=0,id=1209,count=1},{type=0,id=1218,count=1},{type=0,id=1015,count=2},{type=0,id=1015,count=3},{type=0,id=1015,count=4},{type=0,id=1015,count=5}},
		Description = "藏经阁限时开启，每次使用20元宝即可参与，各类内功好礼等你来拿！获得高级奖励几率为8%",
		Maxcount = 999,
		SpecialCount = {},
		NormalDropId = 125027,
		SpecialDropId = 125026,
		DrawPrice = {{type=4,id=4,count=20},},
		FirstCost = {{type=0,id=1228,count=2}},
		tips = {[1189]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1199]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1209]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1218]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1015]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10241,
		OpenDays = 2,
		NormalRewards = {{type=0,id=1188,count=1},{type=0,id=1198,count=1},{type=0,id=1208,count=1},{type=0,id=853,count=1},{type=0,id=854,count=1},{type=0,id=855,count=1},{type=0,id=856,count=1},{type=0,id=265,count=2},{type=0,id=265,count=3},{type=0,id=265,count=5},{type=0,id=265,count=8}},
		SpecialRewards = {{type=0,id=1189,count=1},{type=0,id=1199,count=1},{type=0,id=1209,count=1},{type=0,id=1218,count=1},{type=0,id=1015,count=2},{type=0,id=1015,count=3},{type=0,id=1015,count=4},{type=0,id=1015,count=5}},
		Description = "藏经阁限时开启，每次使用20元宝即可参与，各类内功好礼等你来拿！获得高级奖励几率为8%",
		Maxcount = 999,
		SpecialCount = {},
		NormalDropId = 125027,
		SpecialDropId = 125026,
		DrawPrice = {{type=4,id=4,count=20},},
		FirstCost = {{type=0,id=1228,count=2}},
		tips = {[1189]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1199]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1209]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1218]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1015]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
[10242] = {
	[1] = {
		Id = 10242,
		OpenDays = 1,
		NormalRewards = {{type=0,id=1188,count=1},{type=0,id=1198,count=1},{type=0,id=1208,count=1},{type=0,id=853,count=1},{type=0,id=854,count=1},{type=0,id=855,count=1},{type=0,id=856,count=1},{type=0,id=265,count=2},{type=0,id=265,count=3},{type=0,id=265,count=5},{type=0,id=265,count=8}},
		SpecialRewards = {{type=0,id=1189,count=1},{type=0,id=1199,count=1},{type=0,id=1209,count=1},{type=0,id=1218,count=1},{type=0,id=1015,count=2},{type=0,id=1015,count=3},{type=0,id=1015,count=4},{type=0,id=1015,count=5}},
		Description = "藏经阁限时开启，每次使用20元宝即可参与，各类内功好礼等你来拿！获得高级奖励几率为8%",
		Maxcount = 999,
		SpecialCount = {},
		NormalDropId = 125027,
		SpecialDropId = 125026,
		DrawPrice = {{type=4,id=4,count=20},},
		FirstCost = {{type=0,id=1228,count=2}},
		tips = {[1189]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1199]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1209]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1218]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1015]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10242,
		OpenDays = 2,
		NormalRewards = {{type=0,id=1188,count=1},{type=0,id=1198,count=1},{type=0,id=1208,count=1},{type=0,id=853,count=1},{type=0,id=854,count=1},{type=0,id=855,count=1},{type=0,id=856,count=1},{type=0,id=265,count=2},{type=0,id=265,count=3},{type=0,id=265,count=5},{type=0,id=265,count=8}},
		SpecialRewards = {{type=0,id=1189,count=1},{type=0,id=1199,count=1},{type=0,id=1209,count=1},{type=0,id=1218,count=1},{type=0,id=1015,count=2},{type=0,id=1015,count=3},{type=0,id=1015,count=4},{type=0,id=1015,count=5}},
		Description = "藏经阁限时开启，每次使用20元宝即可参与，各类内功好礼等你来拿！获得高级奖励几率为8%",
		Maxcount = 999,
		SpecialCount = {},
		NormalDropId = 125027,
		SpecialDropId = 125026,
		DrawPrice = {{type=4,id=4,count=20},},
		FirstCost = {{type=0,id=1228,count=2}},
		tips = {[1189]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品银花簪||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1199]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品养心玉||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1209]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品金曜珠||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1218]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:1品黑檀石||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1015]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
[10243] = {
	[1] = {
		Id = 10243,
		OpenDays = 1,
		NormalRewards = {{type=0,id=1188,count=1},{type=0,id=1198,count=1},{type=0,id=1208,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=265,count=3},{type=0,id=265,count=5},{type=0,id=265,count=8},{type=0,id=265,count=10}},
		SpecialRewards = {{type=0,id=1190,count=1},{type=0,id=1200,count=1},{type=0,id=1210,count=1},{type=0,id=1219,count=1},{type=0,id=1015,count=2},{type=0,id=1015,count=3},{type=0,id=1015,count=5},{type=0,id=267,count=1}},
		Description = "藏经阁限时开启，每次使用20元宝即可参与，各类内功好礼等你来拿！获得高级奖励几率为8%",
		Maxcount = 999,
		SpecialCount = {},
		NormalDropId = 125029,
		SpecialDropId = 125028,
		DrawPrice = {{type=4,id=4,count=20},},
		FirstCost = {{type=0,id=1228,count=2}},
		tips = {[1190]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品银花簪|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品银花簪||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1200]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品养心玉|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品养心玉||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1210]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品金曜珠|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品金曜珠||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1219]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品黑檀石|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品黑檀石||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1015]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[267]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:易筋经|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:易筋经||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
	[2] = {
		Id = 10243,
		OpenDays = 2,
		NormalRewards = {{type=0,id=1188,count=1},{type=0,id=1198,count=1},{type=0,id=1208,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=265,count=3},{type=0,id=265,count=5},{type=0,id=265,count=8},{type=0,id=265,count=10}},
		SpecialRewards = {{type=0,id=1190,count=1},{type=0,id=1200,count=1},{type=0,id=1210,count=1},{type=0,id=1219,count=1},{type=0,id=1015,count=2},{type=0,id=1015,count=3},{type=0,id=1015,count=5},{type=0,id=267,count=1}},
		Description = "藏经阁限时开启，每次使用20元宝即可参与，各类内功好礼等你来拿！获得高级奖励几率为8%",
		Maxcount = 999,
		SpecialCount = {},
		NormalDropId = 125029,
		SpecialDropId = 125028,
		DrawPrice = {{type=4,id=4,count=20},},
		FirstCost = {{type=0,id=1228,count=2}},
		tips = {[1190]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品银花簪|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品银花簪||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1200]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品养心玉|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品养心玉||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1210]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品金曜珠|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:3品金曜珠||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1219]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品黑檀石|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:2品黑檀石||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[1015]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:大量内功丹||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
[267]={tips="|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:易筋经|" ,tips_ = "|C:0x318aff&T:%s|在|C:0xffffff&T:藏经阁|中使用20元宝获得了|C:0xe50000&T:易筋经||E:-2,30,&U:&C:0x28ee01&T:[我也去看看]|"},
},
		freeNum = {},
	},
},
}