--AB-战令.xlsx 14-战令
Activity14Config={
[50] = {
	[1] = {
		[1] = {
			Id = 50,
			number = 1,
			tokenlevel = 1,
			rewardA = {{type=0,id=302,count=1}},
			rewardB = {{type=0,id=299,count=1}},
			exp = 200,
			accumulate = 200,
			levellimit = 100,
		},
		[2] = {
			Id = 50,
			number = 1,
			tokenlevel = 2,
			rewardA = {{type=0,id=261,count=10}},
			rewardB = {{type=20,id=20,count=5}},
			exp = 200,
			accumulate = 400,
			levellimit = 100,
		},
		[3] = {
			Id = 50,
			number = 1,
			tokenlevel = 3,
			rewardA = {{type=2,id=2,count=15000}},
			rewardB = {{type=0,id=299,count=2}},
			exp = 200,
			accumulate = 600,
			levellimit = 100,
		},
		[4] = {
			Id = 50,
			number = 1,
			tokenlevel = 4,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 800,
			levellimit = 100,
		},
		[5] = {
			Id = 50,
			number = 1,
			tokenlevel = 5,
			rewardA = {{type=0,id=261,count=20}},
			rewardB = {{type=0,id=421,count=50}},
			exp = 200,
			accumulate = 1000,
			levellimit = 100,
		},
		[6] = {
			Id = 50,
			number = 1,
			tokenlevel = 6,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=25}},
			exp = 200,
			accumulate = 1200,
			levellimit = 100,
		},
		[7] = {
			Id = 50,
			number = 1,
			tokenlevel = 7,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=25}},
			exp = 200,
			accumulate = 1400,
			levellimit = 100,
		},
		[8] = {
			Id = 50,
			number = 1,
			tokenlevel = 8,
			rewardA = {{type=0,id=421,count=30}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 1600,
			levellimit = 100,
		},
		[9] = {
			Id = 50,
			number = 1,
			tokenlevel = 9,
			rewardA = {{type=2,id=2,count=15000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 200,
			accumulate = 1800,
			levellimit = 100,
		},
		[10] = {
			Id = 50,
			number = 1,
			tokenlevel = 10,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=30}},
			exp = 200,
			accumulate = 2000,
			levellimit = 100,
		},
		[11] = {
			Id = 50,
			number = 1,
			tokenlevel = 11,
			rewardB = {{type=20,id=20,count=10}},
			exp = 200,
			accumulate = 2200,
			levellimit = 100,
		},
		[12] = {
			Id = 50,
			number = 1,
			tokenlevel = 12,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=1018,count=1}},
			exp = 200,
			accumulate = 2400,
			levellimit = 100,
		},
		[13] = {
			Id = 50,
			number = 1,
			tokenlevel = 13,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=30}},
			exp = 200,
			accumulate = 2600,
			levellimit = 100,
		},
		[14] = {
			Id = 50,
			number = 1,
			tokenlevel = 14,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=40}},
			exp = 200,
			accumulate = 2800,
			levellimit = 100,
		},
		[15] = {
			Id = 50,
			number = 1,
			tokenlevel = 15,
			rewardA = {{type=2,id=2,count=16000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 200,
			accumulate = 3000,
			levellimit = 100,
		},
		[16] = {
			Id = 50,
			number = 1,
			tokenlevel = 16,
			rewardA = {{type=0,id=261,count=40}},
			rewardB = {{type=0,id=1022,count=1}},
			exp = 200,
			accumulate = 3200,
			levellimit = 100,
		},
		[17] = {
			Id = 50,
			number = 1,
			tokenlevel = 17,
			rewardA = {{type=2,id=2,count=17000}},
			rewardB = {{type=0,id=261,count=40}},
			exp = 200,
			accumulate = 3400,
			levellimit = 100,
		},
		[18] = {
			Id = 50,
			number = 1,
			tokenlevel = 18,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=55}},
			exp = 200,
			accumulate = 3600,
			levellimit = 100,
		},
		[19] = {
			Id = 50,
			number = 1,
			tokenlevel = 19,
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 3800,
			levellimit = 100,
		},
		[20] = {
			Id = 50,
			number = 1,
			tokenlevel = 20,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=110}},
			exp = 200,
			accumulate = 4000,
			levellimit = 100,
		},
		[21] = {
			Id = 50,
			number = 1,
			tokenlevel = 21,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 4300,
			levellimit = 100,
		},
		[22] = {
			Id = 50,
			number = 1,
			tokenlevel = 22,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=55}},
			exp = 300,
			accumulate = 4600,
			levellimit = 100,
		},
		[23] = {
			Id = 50,
			number = 1,
			tokenlevel = 23,
			rewardA = {{type=2,id=2,count=18000}},
			rewardB = {{type=0,id=261,count=75}},
			exp = 300,
			accumulate = 4900,
			levellimit = 100,
		},
		[24] = {
			Id = 50,
			number = 1,
			tokenlevel = 24,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=150}},
			exp = 300,
			accumulate = 5200,
			levellimit = 100,
		},
		[25] = {
			Id = 50,
			number = 1,
			tokenlevel = 25,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=1072,count=1}},
			exp = 300,
			accumulate = 5500,
			levellimit = 100,
		},
		[26] = {
			Id = 50,
			number = 1,
			tokenlevel = 26,
			rewardA = {{type=0,id=421,count=50}},
			rewardB = {{type=0,id=261,count=75}},
			exp = 300,
			accumulate = 5800,
			levellimit = 100,
		},
		[27] = {
			Id = 50,
			number = 1,
			tokenlevel = 27,
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 6100,
			levellimit = 100,
		},
		[28] = {
			Id = 50,
			number = 1,
			tokenlevel = 28,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=200}},
			exp = 300,
			accumulate = 6400,
			levellimit = 100,
		},
		[29] = {
			Id = 50,
			number = 1,
			tokenlevel = 29,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=100}},
			exp = 300,
			accumulate = 6700,
			levellimit = 100,
		},
		[30] = {
			Id = 50,
			number = 1,
			tokenlevel = 30,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=100}},
			exp = 300,
			accumulate = 7000,
			levellimit = 100,
		},
		[31] = {
			Id = 50,
			number = 1,
			tokenlevel = 31,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 7300,
			levellimit = 100,
		},
		[32] = {
			Id = 50,
			number = 1,
			tokenlevel = 32,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=260}},
			exp = 300,
			accumulate = 7600,
			levellimit = 100,
		},
		[33] = {
			Id = 50,
			number = 1,
			tokenlevel = 33,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=261,count=130}},
			exp = 300,
			accumulate = 7900,
			levellimit = 100,
		},
		[34] = {
			Id = 50,
			number = 1,
			tokenlevel = 34,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 8200,
			levellimit = 100,
		},
		[35] = {
			Id = 50,
			number = 1,
			tokenlevel = 35,
			rewardA = {{type=0,id=421,count=60}},
			rewardB = {{type=0,id=261,count=130}},
			exp = 300,
			accumulate = 8500,
			levellimit = 100,
		},
		[36] = {
			Id = 50,
			number = 1,
			tokenlevel = 36,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=1018,count=1}},
			exp = 300,
			accumulate = 8800,
			levellimit = 100,
		},
		[37] = {
			Id = 50,
			number = 1,
			tokenlevel = 37,
			rewardB = {{type=0,id=261,count=165}},
			exp = 300,
			accumulate = 9100,
			levellimit = 100,
		},
		[38] = {
			Id = 50,
			number = 1,
			tokenlevel = 38,
			rewardA = {{type=0,id=261,count=70}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 300,
			accumulate = 9400,
			levellimit = 100,
		},
		[39] = {
			Id = 50,
			number = 1,
			tokenlevel = 39,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=421,count=330}},
			exp = 300,
			accumulate = 9700,
			levellimit = 100,
		},
		[40] = {
			Id = 50,
			number = 1,
			tokenlevel = 40,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 10000,
			levellimit = 100,
		},
		[41] = {
			Id = 50,
			number = 1,
			tokenlevel = 41,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 10300,
			levellimit = 100,
		},
		[42] = {
			Id = 50,
			number = 1,
			tokenlevel = 42,
			rewardB = {{type=0,id=261,count=165}},
			exp = 300,
			accumulate = 10600,
			levellimit = 100,
		},
		[43] = {
			Id = 50,
			number = 1,
			tokenlevel = 43,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 10900,
			levellimit = 100,
		},
		[44] = {
			Id = 50,
			number = 1,
			tokenlevel = 44,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=970,count=1}},
			exp = 300,
			accumulate = 11200,
			levellimit = 100,
		},
		[45] = {
			Id = 50,
			number = 1,
			tokenlevel = 45,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 11500,
			levellimit = 100,
		},
		[46] = {
			Id = 50,
			number = 1,
			tokenlevel = 46,
			rewardB = {{type=0,id=261,count=205}},
			exp = 300,
			accumulate = 11800,
			levellimit = 100,
		},
		[47] = {
			Id = 50,
			number = 1,
			tokenlevel = 47,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 12100,
			levellimit = 100,
		},
		[48] = {
			Id = 50,
			number = 1,
			tokenlevel = 48,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 12400,
			levellimit = 100,
		},
		[49] = {
			Id = 50,
			number = 1,
			tokenlevel = 49,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 12700,
			levellimit = 100,
		},
		[50] = {
			Id = 50,
			number = 1,
			tokenlevel = 50,
			rewardA = {{type=0,id=421,count=80}},
			rewardB = {{type=0,id=261,count=205}},
			exp = 300,
			accumulate = 13000,
			levellimit = 100,
		},
		[51] = {
			Id = 50,
			number = 1,
			tokenlevel = 51,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=1022,count=1}},
			exp = 300,
			accumulate = 13300,
			levellimit = 100,
		},
		[52] = {
			Id = 50,
			number = 1,
			tokenlevel = 52,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 13600,
			levellimit = 100,
		},
		[53] = {
			Id = 50,
			number = 1,
			tokenlevel = 53,
			rewardA = {{type=0,id=421,count=90}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 13900,
			levellimit = 100,
		},
		[54] = {
			Id = 50,
			number = 1,
			tokenlevel = 54,
			rewardB = {{type=0,id=261,count=250}},
			exp = 300,
			accumulate = 14200,
			levellimit = 100,
		},
		[55] = {
			Id = 50,
			number = 1,
			tokenlevel = 55,
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 14500,
			levellimit = 100,
		},
		[56] = {
			Id = 50,
			number = 1,
			tokenlevel = 56,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 14800,
			levellimit = 100,
		},
		[57] = {
			Id = 50,
			number = 1,
			tokenlevel = 57,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=970,count=2}},
			exp = 300,
			accumulate = 15100,
			levellimit = 100,
		},
		[58] = {
			Id = 50,
			number = 1,
			tokenlevel = 58,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 15400,
			levellimit = 100,
		},
		[59] = {
			Id = 50,
			number = 1,
			tokenlevel = 59,
			rewardB = {{type=2,id=2,count=500000}},
			exp = 300,
			accumulate = 15700,
			levellimit = 100,
		},
		[60] = {
			Id = 50,
			number = 1,
			tokenlevel = 60,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 16000,
			levellimit = 100,
		},
	},
},
[55] = {
	[1] = {
		[1] = {
			Id = 55,
			number = 1,
			tokenlevel = 1,
			rewardA = {{type=0,id=302,count=1}},
			rewardB = {{type=0,id=299,count=1}},
			exp = 200,
			accumulate = 200,
			levellimit = 100,
		},
		[2] = {
			Id = 55,
			number = 1,
			tokenlevel = 2,
			rewardA = {{type=0,id=261,count=10}},
			rewardB = {{type=20,id=20,count=5}},
			exp = 200,
			accumulate = 400,
			levellimit = 100,
		},
		[3] = {
			Id = 55,
			number = 1,
			tokenlevel = 3,
			rewardA = {{type=2,id=2,count=15000}},
			rewardB = {{type=0,id=299,count=2}},
			exp = 200,
			accumulate = 600,
			levellimit = 100,
		},
		[4] = {
			Id = 55,
			number = 1,
			tokenlevel = 4,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 800,
			levellimit = 100,
		},
		[5] = {
			Id = 55,
			number = 1,
			tokenlevel = 5,
			rewardA = {{type=0,id=261,count=20}},
			rewardB = {{type=0,id=421,count=50}},
			exp = 200,
			accumulate = 1000,
			levellimit = 100,
		},
		[6] = {
			Id = 55,
			number = 1,
			tokenlevel = 6,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=25}},
			exp = 200,
			accumulate = 1200,
			levellimit = 100,
		},
		[7] = {
			Id = 55,
			number = 1,
			tokenlevel = 7,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=25}},
			exp = 200,
			accumulate = 1400,
			levellimit = 100,
		},
		[8] = {
			Id = 55,
			number = 1,
			tokenlevel = 8,
			rewardA = {{type=0,id=421,count=30}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 1600,
			levellimit = 100,
		},
		[9] = {
			Id = 55,
			number = 1,
			tokenlevel = 9,
			rewardA = {{type=2,id=2,count=15000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 200,
			accumulate = 1800,
			levellimit = 100,
		},
		[10] = {
			Id = 55,
			number = 1,
			tokenlevel = 10,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=30}},
			exp = 200,
			accumulate = 2000,
			levellimit = 100,
		},
		[11] = {
			Id = 55,
			number = 1,
			tokenlevel = 11,
			rewardB = {{type=20,id=20,count=10}},
			exp = 200,
			accumulate = 2200,
			levellimit = 100,
		},
		[12] = {
			Id = 55,
			number = 1,
			tokenlevel = 12,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=1018,count=1}},
			exp = 200,
			accumulate = 2400,
			levellimit = 100,
		},
		[13] = {
			Id = 55,
			number = 1,
			tokenlevel = 13,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=30}},
			exp = 200,
			accumulate = 2600,
			levellimit = 100,
		},
		[14] = {
			Id = 55,
			number = 1,
			tokenlevel = 14,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=40}},
			exp = 200,
			accumulate = 2800,
			levellimit = 100,
		},
		[15] = {
			Id = 55,
			number = 1,
			tokenlevel = 15,
			rewardA = {{type=2,id=2,count=16000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 200,
			accumulate = 3000,
			levellimit = 100,
		},
		[16] = {
			Id = 55,
			number = 1,
			tokenlevel = 16,
			rewardA = {{type=0,id=261,count=40}},
			rewardB = {{type=0,id=1022,count=1}},
			exp = 200,
			accumulate = 3200,
			levellimit = 100,
		},
		[17] = {
			Id = 55,
			number = 1,
			tokenlevel = 17,
			rewardA = {{type=2,id=2,count=17000}},
			rewardB = {{type=0,id=261,count=40}},
			exp = 200,
			accumulate = 3400,
			levellimit = 100,
		},
		[18] = {
			Id = 55,
			number = 1,
			tokenlevel = 18,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=55}},
			exp = 200,
			accumulate = 3600,
			levellimit = 100,
		},
		[19] = {
			Id = 55,
			number = 1,
			tokenlevel = 19,
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 3800,
			levellimit = 100,
		},
		[20] = {
			Id = 55,
			number = 1,
			tokenlevel = 20,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=110}},
			exp = 200,
			accumulate = 4000,
			levellimit = 100,
		},
		[21] = {
			Id = 55,
			number = 1,
			tokenlevel = 21,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 4300,
			levellimit = 100,
		},
		[22] = {
			Id = 55,
			number = 1,
			tokenlevel = 22,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=55}},
			exp = 300,
			accumulate = 4600,
			levellimit = 100,
		},
		[23] = {
			Id = 55,
			number = 1,
			tokenlevel = 23,
			rewardA = {{type=2,id=2,count=18000}},
			rewardB = {{type=0,id=261,count=75}},
			exp = 300,
			accumulate = 4900,
			levellimit = 100,
		},
		[24] = {
			Id = 55,
			number = 1,
			tokenlevel = 24,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=150}},
			exp = 300,
			accumulate = 5200,
			levellimit = 100,
		},
		[25] = {
			Id = 55,
			number = 1,
			tokenlevel = 25,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=1072,count=1}},
			exp = 300,
			accumulate = 5500,
			levellimit = 100,
		},
		[26] = {
			Id = 55,
			number = 1,
			tokenlevel = 26,
			rewardA = {{type=0,id=421,count=50}},
			rewardB = {{type=0,id=261,count=75}},
			exp = 300,
			accumulate = 5800,
			levellimit = 100,
		},
		[27] = {
			Id = 55,
			number = 1,
			tokenlevel = 27,
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 6100,
			levellimit = 100,
		},
		[28] = {
			Id = 55,
			number = 1,
			tokenlevel = 28,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=200}},
			exp = 300,
			accumulate = 6400,
			levellimit = 100,
		},
		[29] = {
			Id = 55,
			number = 1,
			tokenlevel = 29,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=100}},
			exp = 300,
			accumulate = 6700,
			levellimit = 100,
		},
		[30] = {
			Id = 55,
			number = 1,
			tokenlevel = 30,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=100}},
			exp = 300,
			accumulate = 7000,
			levellimit = 100,
		},
		[31] = {
			Id = 55,
			number = 1,
			tokenlevel = 31,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 7300,
			levellimit = 100,
		},
		[32] = {
			Id = 55,
			number = 1,
			tokenlevel = 32,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=260}},
			exp = 300,
			accumulate = 7600,
			levellimit = 100,
		},
		[33] = {
			Id = 55,
			number = 1,
			tokenlevel = 33,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=261,count=130}},
			exp = 300,
			accumulate = 7900,
			levellimit = 100,
		},
		[34] = {
			Id = 55,
			number = 1,
			tokenlevel = 34,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 8200,
			levellimit = 100,
		},
		[35] = {
			Id = 55,
			number = 1,
			tokenlevel = 35,
			rewardA = {{type=0,id=421,count=60}},
			rewardB = {{type=0,id=261,count=130}},
			exp = 300,
			accumulate = 8500,
			levellimit = 100,
		},
		[36] = {
			Id = 55,
			number = 1,
			tokenlevel = 36,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=1018,count=1}},
			exp = 300,
			accumulate = 8800,
			levellimit = 100,
		},
		[37] = {
			Id = 55,
			number = 1,
			tokenlevel = 37,
			rewardB = {{type=0,id=261,count=165}},
			exp = 300,
			accumulate = 9100,
			levellimit = 100,
		},
		[38] = {
			Id = 55,
			number = 1,
			tokenlevel = 38,
			rewardA = {{type=0,id=261,count=70}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 300,
			accumulate = 9400,
			levellimit = 100,
		},
		[39] = {
			Id = 55,
			number = 1,
			tokenlevel = 39,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=421,count=330}},
			exp = 300,
			accumulate = 9700,
			levellimit = 100,
		},
		[40] = {
			Id = 55,
			number = 1,
			tokenlevel = 40,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 10000,
			levellimit = 100,
		},
		[41] = {
			Id = 55,
			number = 1,
			tokenlevel = 41,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 10300,
			levellimit = 100,
		},
		[42] = {
			Id = 55,
			number = 1,
			tokenlevel = 42,
			rewardB = {{type=0,id=261,count=165}},
			exp = 300,
			accumulate = 10600,
			levellimit = 100,
		},
		[43] = {
			Id = 55,
			number = 1,
			tokenlevel = 43,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 10900,
			levellimit = 100,
		},
		[44] = {
			Id = 55,
			number = 1,
			tokenlevel = 44,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=970,count=1}},
			exp = 300,
			accumulate = 11200,
			levellimit = 100,
		},
		[45] = {
			Id = 55,
			number = 1,
			tokenlevel = 45,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 11500,
			levellimit = 100,
		},
		[46] = {
			Id = 55,
			number = 1,
			tokenlevel = 46,
			rewardB = {{type=0,id=261,count=205}},
			exp = 300,
			accumulate = 11800,
			levellimit = 100,
		},
		[47] = {
			Id = 55,
			number = 1,
			tokenlevel = 47,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 12100,
			levellimit = 100,
		},
		[48] = {
			Id = 55,
			number = 1,
			tokenlevel = 48,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 12400,
			levellimit = 100,
		},
		[49] = {
			Id = 55,
			number = 1,
			tokenlevel = 49,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 12700,
			levellimit = 100,
		},
		[50] = {
			Id = 55,
			number = 1,
			tokenlevel = 50,
			rewardA = {{type=0,id=421,count=80}},
			rewardB = {{type=0,id=261,count=205}},
			exp = 300,
			accumulate = 13000,
			levellimit = 100,
		},
		[51] = {
			Id = 55,
			number = 1,
			tokenlevel = 51,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=1022,count=1}},
			exp = 300,
			accumulate = 13300,
			levellimit = 100,
		},
		[52] = {
			Id = 55,
			number = 1,
			tokenlevel = 52,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 13600,
			levellimit = 100,
		},
		[53] = {
			Id = 55,
			number = 1,
			tokenlevel = 53,
			rewardA = {{type=0,id=421,count=90}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 13900,
			levellimit = 100,
		},
		[54] = {
			Id = 55,
			number = 1,
			tokenlevel = 54,
			rewardB = {{type=0,id=261,count=250}},
			exp = 300,
			accumulate = 14200,
			levellimit = 100,
		},
		[55] = {
			Id = 55,
			number = 1,
			tokenlevel = 55,
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 14500,
			levellimit = 100,
		},
		[56] = {
			Id = 55,
			number = 1,
			tokenlevel = 56,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 14800,
			levellimit = 100,
		},
		[57] = {
			Id = 55,
			number = 1,
			tokenlevel = 57,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=970,count=2}},
			exp = 300,
			accumulate = 15100,
			levellimit = 100,
		},
		[58] = {
			Id = 55,
			number = 1,
			tokenlevel = 58,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 15400,
			levellimit = 100,
		},
		[59] = {
			Id = 55,
			number = 1,
			tokenlevel = 59,
			rewardB = {{type=2,id=2,count=500000}},
			exp = 300,
			accumulate = 15700,
			levellimit = 100,
		},
		[60] = {
			Id = 55,
			number = 1,
			tokenlevel = 60,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 16000,
			levellimit = 100,
		},
	},
},
[59] = {
	[1] = {
		[1] = {
			Id = 59,
			number = 1,
			tokenlevel = 1,
			rewardA = {{type=0,id=302,count=1}},
			rewardB = {{type=0,id=299,count=1}},
			exp = 200,
			accumulate = 200,
			levellimit = 100,
		},
		[2] = {
			Id = 59,
			number = 1,
			tokenlevel = 2,
			rewardA = {{type=0,id=261,count=10}},
			rewardB = {{type=20,id=20,count=5}},
			exp = 200,
			accumulate = 400,
			levellimit = 100,
		},
		[3] = {
			Id = 59,
			number = 1,
			tokenlevel = 3,
			rewardA = {{type=2,id=2,count=15000}},
			rewardB = {{type=0,id=299,count=2}},
			exp = 200,
			accumulate = 600,
			levellimit = 100,
		},
		[4] = {
			Id = 59,
			number = 1,
			tokenlevel = 4,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 800,
			levellimit = 100,
		},
		[5] = {
			Id = 59,
			number = 1,
			tokenlevel = 5,
			rewardA = {{type=0,id=261,count=20}},
			rewardB = {{type=0,id=421,count=50}},
			exp = 200,
			accumulate = 1000,
			levellimit = 100,
		},
		[6] = {
			Id = 59,
			number = 1,
			tokenlevel = 6,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=25}},
			exp = 200,
			accumulate = 1200,
			levellimit = 100,
		},
		[7] = {
			Id = 59,
			number = 1,
			tokenlevel = 7,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=25}},
			exp = 200,
			accumulate = 1400,
			levellimit = 100,
		},
		[8] = {
			Id = 59,
			number = 1,
			tokenlevel = 8,
			rewardA = {{type=0,id=421,count=30}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 1600,
			levellimit = 100,
		},
		[9] = {
			Id = 59,
			number = 1,
			tokenlevel = 9,
			rewardA = {{type=2,id=2,count=15000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 200,
			accumulate = 1800,
			levellimit = 100,
		},
		[10] = {
			Id = 59,
			number = 1,
			tokenlevel = 10,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=30}},
			exp = 200,
			accumulate = 2000,
			levellimit = 100,
		},
		[11] = {
			Id = 59,
			number = 1,
			tokenlevel = 11,
			rewardB = {{type=20,id=20,count=10}},
			exp = 200,
			accumulate = 2200,
			levellimit = 100,
		},
		[12] = {
			Id = 59,
			number = 1,
			tokenlevel = 12,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=1018,count=1}},
			exp = 200,
			accumulate = 2400,
			levellimit = 100,
		},
		[13] = {
			Id = 59,
			number = 1,
			tokenlevel = 13,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=30}},
			exp = 200,
			accumulate = 2600,
			levellimit = 100,
		},
		[14] = {
			Id = 59,
			number = 1,
			tokenlevel = 14,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=40}},
			exp = 200,
			accumulate = 2800,
			levellimit = 100,
		},
		[15] = {
			Id = 59,
			number = 1,
			tokenlevel = 15,
			rewardA = {{type=2,id=2,count=16000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 200,
			accumulate = 3000,
			levellimit = 100,
		},
		[16] = {
			Id = 59,
			number = 1,
			tokenlevel = 16,
			rewardA = {{type=0,id=261,count=40}},
			rewardB = {{type=0,id=1022,count=1}},
			exp = 200,
			accumulate = 3200,
			levellimit = 100,
		},
		[17] = {
			Id = 59,
			number = 1,
			tokenlevel = 17,
			rewardA = {{type=2,id=2,count=17000}},
			rewardB = {{type=0,id=261,count=40}},
			exp = 200,
			accumulate = 3400,
			levellimit = 100,
		},
		[18] = {
			Id = 59,
			number = 1,
			tokenlevel = 18,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=55}},
			exp = 200,
			accumulate = 3600,
			levellimit = 100,
		},
		[19] = {
			Id = 59,
			number = 1,
			tokenlevel = 19,
			rewardB = {{type=2,id=2,count=30000}},
			exp = 200,
			accumulate = 3800,
			levellimit = 100,
		},
		[20] = {
			Id = 59,
			number = 1,
			tokenlevel = 20,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=110}},
			exp = 200,
			accumulate = 4000,
			levellimit = 100,
		},
		[21] = {
			Id = 59,
			number = 1,
			tokenlevel = 21,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 4300,
			levellimit = 100,
		},
		[22] = {
			Id = 59,
			number = 1,
			tokenlevel = 22,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=55}},
			exp = 300,
			accumulate = 4600,
			levellimit = 100,
		},
		[23] = {
			Id = 59,
			number = 1,
			tokenlevel = 23,
			rewardA = {{type=2,id=2,count=18000}},
			rewardB = {{type=0,id=261,count=75}},
			exp = 300,
			accumulate = 4900,
			levellimit = 100,
		},
		[24] = {
			Id = 59,
			number = 1,
			tokenlevel = 24,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=150}},
			exp = 300,
			accumulate = 5200,
			levellimit = 100,
		},
		[25] = {
			Id = 59,
			number = 1,
			tokenlevel = 25,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=1072,count=1}},
			exp = 300,
			accumulate = 5500,
			levellimit = 100,
		},
		[26] = {
			Id = 59,
			number = 1,
			tokenlevel = 26,
			rewardA = {{type=0,id=421,count=50}},
			rewardB = {{type=0,id=261,count=75}},
			exp = 300,
			accumulate = 5800,
			levellimit = 100,
		},
		[27] = {
			Id = 59,
			number = 1,
			tokenlevel = 27,
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 6100,
			levellimit = 100,
		},
		[28] = {
			Id = 59,
			number = 1,
			tokenlevel = 28,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=200}},
			exp = 300,
			accumulate = 6400,
			levellimit = 100,
		},
		[29] = {
			Id = 59,
			number = 1,
			tokenlevel = 29,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=261,count=100}},
			exp = 300,
			accumulate = 6700,
			levellimit = 100,
		},
		[30] = {
			Id = 59,
			number = 1,
			tokenlevel = 30,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=261,count=100}},
			exp = 300,
			accumulate = 7000,
			levellimit = 100,
		},
		[31] = {
			Id = 59,
			number = 1,
			tokenlevel = 31,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 7300,
			levellimit = 100,
		},
		[32] = {
			Id = 59,
			number = 1,
			tokenlevel = 32,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=421,count=260}},
			exp = 300,
			accumulate = 7600,
			levellimit = 100,
		},
		[33] = {
			Id = 59,
			number = 1,
			tokenlevel = 33,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=261,count=130}},
			exp = 300,
			accumulate = 7900,
			levellimit = 100,
		},
		[34] = {
			Id = 59,
			number = 1,
			tokenlevel = 34,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 8200,
			levellimit = 100,
		},
		[35] = {
			Id = 59,
			number = 1,
			tokenlevel = 35,
			rewardA = {{type=0,id=421,count=60}},
			rewardB = {{type=0,id=261,count=130}},
			exp = 300,
			accumulate = 8500,
			levellimit = 100,
		},
		[36] = {
			Id = 59,
			number = 1,
			tokenlevel = 36,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=0,id=1018,count=1}},
			exp = 300,
			accumulate = 8800,
			levellimit = 100,
		},
		[37] = {
			Id = 59,
			number = 1,
			tokenlevel = 37,
			rewardB = {{type=0,id=261,count=165}},
			exp = 300,
			accumulate = 9100,
			levellimit = 100,
		},
		[38] = {
			Id = 59,
			number = 1,
			tokenlevel = 38,
			rewardA = {{type=0,id=261,count=70}},
			rewardB = {{type=2,id=2,count=30000}},
			exp = 300,
			accumulate = 9400,
			levellimit = 100,
		},
		[39] = {
			Id = 59,
			number = 1,
			tokenlevel = 39,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=421,count=330}},
			exp = 300,
			accumulate = 9700,
			levellimit = 100,
		},
		[40] = {
			Id = 59,
			number = 1,
			tokenlevel = 40,
			rewardA = {{type=0,id=302,count=2}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 10000,
			levellimit = 100,
		},
		[41] = {
			Id = 59,
			number = 1,
			tokenlevel = 41,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 10300,
			levellimit = 100,
		},
		[42] = {
			Id = 59,
			number = 1,
			tokenlevel = 42,
			rewardB = {{type=0,id=261,count=165}},
			exp = 300,
			accumulate = 10600,
			levellimit = 100,
		},
		[43] = {
			Id = 59,
			number = 1,
			tokenlevel = 43,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 10900,
			levellimit = 100,
		},
		[44] = {
			Id = 59,
			number = 1,
			tokenlevel = 44,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=970,count=1}},
			exp = 300,
			accumulate = 11200,
			levellimit = 100,
		},
		[45] = {
			Id = 59,
			number = 1,
			tokenlevel = 45,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 11500,
			levellimit = 100,
		},
		[46] = {
			Id = 59,
			number = 1,
			tokenlevel = 46,
			rewardB = {{type=0,id=261,count=205}},
			exp = 300,
			accumulate = 11800,
			levellimit = 100,
		},
		[47] = {
			Id = 59,
			number = 1,
			tokenlevel = 47,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 12100,
			levellimit = 100,
		},
		[48] = {
			Id = 59,
			number = 1,
			tokenlevel = 48,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 12400,
			levellimit = 100,
		},
		[49] = {
			Id = 59,
			number = 1,
			tokenlevel = 49,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 12700,
			levellimit = 100,
		},
		[50] = {
			Id = 59,
			number = 1,
			tokenlevel = 50,
			rewardA = {{type=0,id=421,count=80}},
			rewardB = {{type=0,id=261,count=205}},
			exp = 300,
			accumulate = 13000,
			levellimit = 100,
		},
		[51] = {
			Id = 59,
			number = 1,
			tokenlevel = 51,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=1022,count=1}},
			exp = 300,
			accumulate = 13300,
			levellimit = 100,
		},
		[52] = {
			Id = 59,
			number = 1,
			tokenlevel = 52,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 13600,
			levellimit = 100,
		},
		[53] = {
			Id = 59,
			number = 1,
			tokenlevel = 53,
			rewardA = {{type=0,id=421,count=90}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 13900,
			levellimit = 100,
		},
		[54] = {
			Id = 59,
			number = 1,
			tokenlevel = 54,
			rewardB = {{type=0,id=261,count=250}},
			exp = 300,
			accumulate = 14200,
			levellimit = 100,
		},
		[55] = {
			Id = 59,
			number = 1,
			tokenlevel = 55,
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 14500,
			levellimit = 100,
		},
		[56] = {
			Id = 59,
			number = 1,
			tokenlevel = 56,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 14800,
			levellimit = 100,
		},
		[57] = {
			Id = 59,
			number = 1,
			tokenlevel = 57,
			rewardA = {{type=0,id=302,count=3}},
			rewardB = {{type=0,id=970,count=2}},
			exp = 300,
			accumulate = 15100,
			levellimit = 100,
		},
		[58] = {
			Id = 59,
			number = 1,
			tokenlevel = 58,
			rewardA = {{type=20,id=20,count=5}},
			rewardB = {{type=0,id=299,count=3}},
			exp = 300,
			accumulate = 15400,
			levellimit = 100,
		},
		[59] = {
			Id = 59,
			number = 1,
			tokenlevel = 59,
			rewardB = {{type=2,id=2,count=500000}},
			exp = 300,
			accumulate = 15700,
			levellimit = 100,
		},
		[60] = {
			Id = 59,
			number = 1,
			tokenlevel = 60,
			rewardA = {{type=2,id=2,count=20000}},
			rewardB = {{type=20,id=20,count=10}},
			exp = 300,
			accumulate = 16000,
			levellimit = 100,
		},
	},
},
}