--AB-活动付费.xlsx 10010-寻宝个人
Activity10010Config={
[10025] = {
	[1] = {
		Id = 10025,
		OpenDays = 1,
		NormalRewards = {{type=0,id=261,count=1},{type=0,id=261,count=5},{type=0,id=421,count=2},{type=0,id=421,count=3},{type=13,id=13,count=500000},{type=13,id=13,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=994,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=3},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=970,count=2},{type=0,id=1144,count=1},{type=0,id=41,count=1},{type=0,id=1155,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=2},},
		Description = "限时寻宝开启！使用10元宝即可寻宝，达到每日次数必出高级奖励。如果有抽奖券会优先替代使用",
		Maxcount = 300,
		SpecialCount = {20,40},
		NormalDropId = 125015,
		SpecialDropId = 125014,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[970]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了神魔结晶*2", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了神魔结晶*2|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[1144]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了高级散件自选箱", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了高级散件自选箱|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[41]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了紫玫瑰", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了紫玫瑰|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了大眼鹰3天", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了大眼鹰3天|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了五品证明", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了五品证明|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[1155]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了小火灵1天", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了小火灵1天|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"}
},
		freeNum = {},
	},
	[2] = {
		Id = 10025,
		OpenDays = 2,
		NormalRewards = {{type=0,id=261,count=1},{type=0,id=261,count=5},{type=0,id=421,count=2},{type=0,id=421,count=3},{type=13,id=13,count=500000},{type=13,id=13,count=1000000},{type=0,id=302,count=5},{type=0,id=300,count=1},{type=0,id=1156,count=1},{type=0,id=994,count=1},{type=0,id=996,count=1},{type=0,id=853,count=2},{type=0,id=854,count=2},{type=0,id=855,count=2},{type=0,id=856,count=2},{type=0,id=269,count=3},{type=0,id=236,count=1}},
		SpecialRewards = {{type=0,id=970,count=2},{type=0,id=1145,count=1},{type=0,id=41,count=1},{type=0,id=1155,count=1},{type=0,id=1127,count=1},{type=0,id=998,count=2},},
		Description = "限时寻宝开启！使用10元宝即可寻宝，达到每日次数必出高级奖励。如果有抽奖券会优先替代使用",
		Maxcount = 300,
		SpecialCount = {20,40},
		NormalDropId = 125017,
		SpecialDropId = 125016,
		DrawPrice = {{type=4,id=4,count=10},},
		FirstCost = {{type=0,id=1165,count=2}},
		tips = {
[970]={tips="|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了神魔结晶*2", tips_ = "|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了神魔结晶*2|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[1145]={tips="|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了高级神装自选箱", tips_ = "|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了高级神装自选箱|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[41]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了紫玫瑰", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了紫玫瑰|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[1127]={tips="|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了大眼鹰3天", tips_ = "|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了大眼鹰3天|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[998]={tips="|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了五品证明", tips_ = "|C:0x318aff&T:%s|在在幸运寻宝中使用10元宝抽中了五品证明|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"},
[1155]={tips="|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了小火灵1天", tips_ = "|C:0x318aff&T:%s|在幸运寻宝中使用10元宝抽中了小火灵1天|E:-2,29,&U:&C:0x28ee01&T:[我也去看看]|"}
},
		freeNum = {},
	},
},
}