--AB-战令.xlsx 战令设置
ActivitysetConfig={
[50] = {
	[1] = {
		ID = 50,
		number = 1,
		openday = 8,
		mergelimit = {vip=1},
		vipnotips = 513,
		rewardBPrice = {type=4,id=4,count=3000},
		rewardCPrice = {type=4,id=4,count=1800},
		proportion = 0.1,
		bagremain = 10,
		tips = 369,
		VIPbagremain = 10,
		VIPtips = 369,
		pointsbagremain = 7,
		VIPintegral = 369,
		VIPintegral = 0,
		timer = 17,
	},
},
[51] = {
	[1] = {
		ID = 51,
		number = 1,
		openday = 8,
	},
},
[53] = {
	[1] = {
		ID = 53,
		number = 1,
		openday = 8,
	},
},
[54] = {
	[1] = {
		ID = 54,
		number = 1,
		openday = 8,
	},
},
[55] = {
	[1] = {
		ID = 55,
		number = 1,
		openday = 8,
		mergelimit = {vip=1},
		vipnotips = 513,
		rewardBPrice = {type=4,id=4,count=3000},
		rewardCPrice = {type=4,id=4,count=1800},
		proportion = 0.1,
		bagremain = 10,
		tips = 369,
		VIPbagremain = 10,
		VIPtips = 369,
		pointsbagremain = 7,
		VIPintegral = 369,
		VIPintegral = 0,
		timer = 17,
	},
},
[56] = {
	[1] = {
		ID = 56,
		number = 1,
		openday = 8,
	},
},
[57] = {
	[1] = {
		ID = 57,
		number = 1,
		openday = 8,
	},
},
[58] = {
	[1] = {
		ID = 58,
		number = 1,
		openday = 8,
	},
},
[59] = {
	[1] = {
		ID = 59,
		number = 1,
		openday = 8,
		mergelimit = {vip=1},
		vipnotips = 513,
		rewardBPrice = {type=4,id=4,count=3000},
		rewardCPrice = {type=4,id=4,count=1800},
		proportion = 0.1,
		bagremain = 10,
		tips = 369,
		VIPbagremain = 10,
		VIPtips = 369,
		pointsbagremain = 7,
		VIPintegral = 369,
		VIPintegral = 0,
		timer = 17,
	},
},
[60] = {
	[1] = {
		ID = 60,
		number = 1,
		openday = 8,
	},
},
[61] = {
	[1] = {
		ID = 61,
		number = 1,
		openday = 8,
	},
},
[62] = {
	[1] = {
		ID = 62,
		number = 1,
		openday = 8,
	},
},
}