--H-活动玩法(固定).xlsx 1-个人副本
Activity1Config={
[1] = {
	Id = 1,
	openParam = {level=999},
	fbId = 1,
	count = 2,
	isFromOpenSrv = true,
	IsAdd = true,
	Persongift = {{type=5,id=5,count=250000}},
},
[2] = {
	Id = 2,
	openParam = {level=999},
	fbId = 1,
	enterExpends = {{type=0,id=298,count=1}},
	count = 2,
	isFromOpenSrv = false,
	IsAdd = false,
	Persongift = {{type=5,id=5,count=250000}},
},
}