--AB-每日活动.xlsx 30-每日福利
Activity30Config={
[47] = {
	Id = 47,
	showParam = {level=999,openDay=999},
	openParam = {level=999,openDay=999,zsLevel=1},
	VipJiandingPrice = {[1]={{type=4,id=4,count=100}},[2]={{type=4,id=4,count=200}},[3]={{type=4,id=4,count=300}},[4]={{type=4,id=4,count=400}},[5]={{type=4,id=4,count=500}},[6]={{type=4,id=4,count=600}},[7]={{type=4,id=4,count=700}},[8]={{type=4,id=4,count=800}},[9]={{type=4,id=4,count=900}},[10]={{type=4,id=4,count=1000}},[11]={{type=4,id=4,count=1100}},[12]={{type=4,id=4,count=1200}},},
	vipBuyCount = {[0]=5,[1]=6,[2]=7,[3]=8,[4]=9,[5]=10,[6]=11,[7]=12},
	reward = {{type=4,id=4,count=100}},
	SetTime = 376012800,
	counterid = 1800,
	tips = "|C:0xf56f00&T:需要1转50级|",
},
}