--AB-活动付费.xlsx 10006-开服投资
Activity10006Config={
[10006] = {
	[1] = {
		Id = 10006,
		needDays = 1,
		name = "开服投资",
		GiftTable = {{type=0,id=261,count=200},{type=2,id=2,count=580000},{type=0,id=1012,count=1},{type=0,id=855,count=10}},
		consume = { {type=4,id=4,count=1000},} ,
		buyDayLmt = 7,
	},
	[2] = {
		Id = 10006,
		needDays = 2,
		name = "开服投资",
		GiftTable = {{type=0,id=421,count=250},{type=2,id=2,count=580000},{type=0,id=362,count=1},{type=0,id=856,count=10}},
		consume = { {type=4,id=4,count=1000},} ,
		buyDayLmt = 7,
	},
	[3] = {
		Id = 10006,
		needDays = 3,
		name = "开服投资",
		GiftTable = {{type=0,id=261,count=300},{type=2,id=2,count=580000},{type=0,id=376,count=1},{type=0,id=996,count=3}},
		consume = { {type=4,id=4,count=1000},} ,
		buyDayLmt = 7,
	},
	[4] = {
		Id = 10006,
		needDays = 4,
		name = "开服投资",
		GiftTable = {{type=0,id=421,count=350},{type=2,id=2,count=580000},{type=0,id=1018,count=2},{type=0,id=997,count=3}},
		consume = { {type=4,id=4,count=1000},} ,
		buyDayLmt = 7,
	},
	[5] = {
		Id = 10006,
		needDays = 5,
		name = "开服投资",
		GiftTable = {{type=0,id=261,count=400},{type=2,id=2,count=580000},{type=0,id=42,count=1},{type=0,id=368,count=1}},
		consume = { {type=4,id=4,count=1000},} ,
		buyDayLmt = 7,
	},
},
}