--H-活动玩法(固定).xlsx 8-世界BOSS
Activity8Config={
[11] = {
	Id = 11,
	name = "世界BOSS(夜场)",
	openParam = {openday=1,level=28},
	fbId = 5,
	addScoreKill = 5,
	rankAward = {
[1] = { rank="1",value=1, awards={{type=0,id=339,count=1}} },
[2] = { rank="2",value=2, awards={{type=0,id=340,count=1}} },
[3] = { rank="3",value=3, awards={{type=0,id=341,count=1}} },
[4] = { rank="4-5",value=5, awards={{type=0,id=342,count=1}} },
[5] = { rank="6-10",value=10, awards={{type=0,id=343,count=1}} },
[6] = { rank="11-30",value=30, awards={{type=0,id=344,count=1}} },
[7] = { rank="31-500",value=500, awards={{type=0,id=345,count=1}} },
},
	killaward = {
[1] = { value=1, awards={{type=3,id=3,count=28},{type=0,id=390,count=1},{type=2,id=2,count=500000}}}
},
	starttime = 0,
	inspire = {
 [1] = {type = 1, value = 10, times = 5,costs = {{type= 2,id = 2,count = 500000}}},
 [2] = {type = 2, value = 10, times = 5,costs = {{type= 4,id = 4,count = 10}}}
},
	lastattack = {{type=0,id=346,count=1},{type=0,id=380,count=1}},
	growlist = 
{
 {time = 60, addlv = 10},
 {time = 180, addlv = 3},
 {time = 480, addlv = 1},
 {time = 720, addlv = 0},
 {time = 800, addlv = -1},
 {time = 900, addlv = -2},
},
	bossinfo = { bossid = 171, mapid = 175, x= 13, y = 9, range =3},
	buffid = {
 {times = 1, buffid = {107,117,127,137,147,157}},
 {times = 2, buffid = {108,118,128,138,148,158}},
 {times = 3, buffid = {109,119,129,139,149,159}},
 {times = 4, buffid = {110,120,130,140,150,160}},
 {times = 5, buffid = {111,121,131,141,151,161}},
 {times = 6, buffid = {112,122,132,142,152,162}},
 {times = 7, buffid = {113,123,133,143,153,163}},
 {times = 8, buffid = {114,124,134,144,154,164}},
 {times = 9, buffid = {115,125,135,145,155,165}},
 {times = 10, buffid = {116,126,136,146,156,166}},
},
},
}