--H-活动玩法(固定).xlsx 22-跨服入口
Activity22Config={
[28] = {
	Id = 28,
	name = "跨服竞技大乱斗",
	openParam = {openDay=1,level=30,zsLevel=5},
},
[29] = {
	Id = 29,
	name = "跨服夜战沃玛三",
	openParam = {openDay=1,level=30,zsLevel=5},
},
[30] = {
	Id = 30,
	name = "跨服领主",
	openParam = {openDay=1,level=30,zsLevel=3},
},
[31] = {
	Id = 31,
	name = "次元首领",
	openParam = {openDay=1,level=30,zsLevel=3},
},
[32] = {
	Id = 32,
	name = "跨服沙巴克",
	openParam = {openDay=25,level=30,zsLevel=3},
},
[39] = {
	Id = 39,
	name = "逃脱试炼",
	openParam = {openDay=1,level=30,zsLevel=5},
},
[44] = {
	Id = 44,
	name = "秘境打宝",
	openParam = {openDay=25,level=30,zsLevel=3},
},
}