--AC-活动付费.xlsx 10022-区服冠名
Activity10022Config={
[10357] = {
	index = 10357,
	pay = 50000,
	awardList = {
[1] = { rank="1",value=1, awards={{type=0,id=1262,count=1}} },
[2] = { rank="2-100",value=100, awards={{type=0,id=1261,count=1}} },
},
	mailTitle1 = "冠名权活动奖励",
	mailContent1 = "恭喜您获得冠名权，请联系客服提供你们冠名名称。",
	mailTitle2 = "冠名权活动奖励",
	mailContent2 = "很遗憾您未获得冠名权，感谢您的积极参与。",
},
}