--AA-活动(差异).xlsx 10016-物品兑换
Activity10016Config={
[1] = {
	id = 1,
	compose = {type=0,id=1,count=1},
	table = {{type=0,id=1,count=1}},
	times = 1,
	timesclear = 1,
	level = 1,
	circle = 0,
	openserverday = 10,
	mergelimit = {zsLevel=6},
},
[2] = {
	id = 2,
	compose = {type=0,id=1,count=2},
	table = {{type=4,id=4,count=2}},
	times = 2,
	timesclear = 1,
	level = 1,
	circle = 2,
	openserverday = 1,
	mergelimit = {level=7},
},
[3] = {
	id = 3,
	compose = {type=0,id=1,count=3},
	table = {{type=0,id=853,count=3}},
	times = 3,
	timesclear = 1,
	level = 1,
	circle = 0,
	openserverday = 1,
},
[4] = {
	id = 4,
	compose = {type=0,id=1,count=4},
	table = {{type=0,id=1,count=4}},
	level = 1,
	circle = 0,
	openserverday = 1,
},
[5] = {
	id = 5,
	compose = {type=0,id=1,count=5},
	table = {{type=0,id=1,count=5}},
	level = 22,
	circle = 0,
	openserverday = 1,
},
[6] = {
	id = 6,
	compose = {type=0,id=1,count=6},
	table = {{type=0,id=1,count=6}},
	level = 1,
	circle = 0,
	openserverday = 1,
},
[7] = {
	id = 7,
	compose = {type=0,id=1,count=7},
	table = {{type=0,id=1,count=7}},
	level = 1,
	circle = 0,
	openserverday = 1,
},
[8] = {
	id = 8,
	compose = {type=2,id=2,count=8},
	table = {{type=0,id=1,count=8}},
	level = 1,
	circle = 0,
	openserverday = 1,
},
[9] = {
	id = 9,
	compose = {type=0,id=854,count=9},
	table = {{type=0,id=1,count=9}},
	level = 1,
	circle = 0,
	openserverday = 1,
},
}