--H-活动玩法(固定).xlsx 17-跨服大乱斗
Activity17Config={
[22] = {
	Id = 22,
	name = "跨服竞技大乱斗",
	openParam = {zsLevel=5,level=30},
	fbId = 20,
	autoTime = 10,
	addScoreAuto = 5,
	addScoreKill = 20,
	addScoreHelpKill = 8,
	helpTime = 10,
	addScoreBeKill = 8,
	addScoreGuard = 20,
	phaseAward = {
[1]={ value=100, awards={{type=0,id=1074,count=1}} },
[2]={ value=200, awards={{type=0,id=1075,count=1}} },
[3]={ value=300, awards={{type=0,id=1076,count=1}} },
[4]={ value=400, awards={{type=0,id=1077,count=1}} },
[5]={ value=500, awards={{type=0,id=1078,count=1}} },
[6]={ value=700, awards={{type=0,id=1079,count=1}} },
[7]={ value=1000, awards={{type=0,id=1080,count=1}} },
},
	rankAward = {
[1] = { rank="1-3",value=3, awards={{type=0,id=1081,count=1}} },
[2] = {rank="4-10",value=10, awards={{type=0,id=1082,count=1}} },
[3] = { rank="11-30",value=30, awards={{type=0,id=1083,count=1}} },
[4] = { rank="31-100",value=100, awards={{type=0,id=1084,count=1}} },
},
	firstHalfTime = 600,
	noticeFirstHalf = "跨服竞技大乱斗已经开始，20:20前都可以进入",
	secondHalfTime = 600,
	noticeSecondHalf = "跨服竞技大乱斗下半场开始，场内玩家每人有4次复活机会",
	Rebirthsecond = 4,
	mailtitle = "跨服大乱斗活动提醒",
	mailcontent = "跨服大乱斗复活次数已用完，自动离开活动。稍后活动结束会邮件发放奖励，请及时领取。",
	mailTitle1 = "跨服大乱斗排名奖励",
	mailContent1 = "恭喜你在跨服大乱斗中取得了第%d名",
	mailTitle2 = "跨服大乱斗积分奖励",
	mailContent2 = "以下是你获得的所有积分奖励",
},
}