--AB-每日活动.xlsx 29-每日BOSS
Activity29Config={
[46] = {
	Id = 46,
	showParam = {level=999,openDay=999},
	openParam = {level=999,openDay=999,zsLevel=1},
	SaoRequire = {vip=5},
	VipSaodangPrice = {[1]={{type=4,id=4,count=10}},[2]={{type=4,id=4,count=10}},[3]={{type=4,id=4,count=10}},[4]={{type=4,id=4,count=10}},[5]={{type=4,id=4,count=10}}},
	vipBuyCount = {[0]=5,[1]=5,[2]=5,[3]=5,[4]=5,[5]=5,[6]=5,[7]=5},
	fbId = 1,
	reward = {{type=0,id=411,count=5}},
	SetTime = 376012800,
	counterid = 1700,
	tips = "|C:0xf56f00&T:30级才可以挑战|",
},
}