--H-活动玩法(固定).xlsx 3-大乱斗
Activity3Config={
[4] = {
	Id = 4,
	name = "竞技大乱斗",
	openParam = {openDay=1,level=30},
	fbId = 2,
	autoTime = 10,
	addScoreAuto = 5,
	addScoreKill = 20,
	addScoreHelpKill = 8,
	helpTime = 10,
	addScoreBeKill = 8,
	addScoreGuard = 20,
	phaseAward = {
[1]={ value=50, awards={{type=0,id=314,count=1}} },
[2]={ value=100, awards={{type=0,id=315,count=1}} },
[3]={ value=200, awards={{type=0,id=316,count=1}} },
[4]={ value=300, awards={{type=0,id=317,count=1}} },
[5]={ value=450, awards={{type=0,id=318,count=1}} },
[6]={ value=600, awards={{type=0,id=319,count=1}} },
[7]={ value=800, awards={{type=0,id=320,count=1}} },
[8]={ value=1000, awards={{type=0,id=321,count=1}} },
},
	rankAward = {
[1] = { rank="1",value=1, awards={{type=0,id=322,count=1}} },
[2] = {rank="2-5",value=5, awards={{type=0,id=323,count=1}} },
[3] = { rank="6-20",value=20, awards={{type=0,id=324,count=1}} },
[4] = { rank="21-50",value=50, awards={{type=0,id=325,count=1}} },
},
	firstHalfTime = 600,
	noticeFirstHalf = "竞技大乱斗已经开始，19:55前都可以进入",
	secondHalfTime = 600,
	noticeSecondHalf = "竞技大乱斗下半场开始，场内玩家每人有4次复活机会",
	Rebirthsecond = 4,
	mailtitle = "大乱斗活动提醒",
	mailcontent = "大乱斗复活次数已用完，自动离开活动。稍后活动结束会邮件发放奖励，请及时领取。",
},
}