--H-活动玩法(固定).xlsx 5-夺宝
Activity5Config={
[7] = {
	Id = 7,
	name = "地下夺宝",
	openParam = {openDay=1,level=1},
	areaattr = 
 {
  notips = 0,
  attri = 
  {
    {type=13,value=""},
  }
 },
	Persongift = {{type=0,id=312,count=1}},
	bigTreasure = 200044,
	sceneId = 164,
	npcPosx = 24,
	npcPosy = 24,
	picktime = 180,
	tipsid = 397,
	idx = 1,
},
[8] = {
	Id = 8,
	name = "石墓夺宝",
	openParam = {openDay=1,level=1},
	areaattr = 
 {
  notips = 0,
  attri = 
  {
    {type=13,value=""},
  }
 },
	Persongift = {{type=0,id=313,count=1}},
	bigTreasure = 200044,
	sceneId = 108,
	npcPosx = 26,
	npcPosy = 32,
	picktime = 180,
	tipsid = 398,
	idx = 1,
},
}