--AB-活动付费.xlsx 10001-累计充值
Activity10001Config={
[10001] = {
	Id = 10001,
	name = "累计充值",
	LevelNum = 4,
	GiftTable = {
[1] = { value=1, awards={{type=0,id=322,count=1},{type=0,id=228,count=1}} },
[2] = { value=5, awards={{type=0,id=323,count=1}} },
[3] = { value=20, awards={{type=0,id=324,count=1}} },
[4] = { value=50, awards={{type=0,id=325,count=1}} },
},
},
}