--AC-个人活动总表.xlsx 个人活动总表
PActivitiesConf={
[1] = {
	Id = 1,
	ActivityType = 1,
	Level = 999,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[2] = {
	Id = 2,
	ActivityType = 1,
	Level = 999,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[3] = {
	Id = 3,
	ActivityType = 2,
	Level = 999,
	ZSLevel = 9,
	isClosed = 1,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[5] = {
	Id = 5,
	ActivityType = 4,
	Level = 25,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[15] = {
	Id = 15,
	ActivityType = 12,
	Level = 999,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[16] = {
	Id = 16,
	ActivityType = 12,
	Level = 999,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[17] = {
	Id = 17,
	ActivityType = 13,
	Level = 999,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[36] = {
	Id = 36,
	ActivityType = 23,
	Level = 1,
	ZSLevel = 5,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
	SetTime = 360201600,
},
[10001] = {
	Id = 10001,
	ActivityType = 10001,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10003] = {
	Id = 10003,
	ActivityType = 10003,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10004] = {
	Id = 10004,
	ActivityType = 10004,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = 10,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10005] = {
	Id = 10005,
	ActivityType = 10005,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10006] = {
	Id = 10006,
	ActivityType = 10006,
	Level = 1,
	ZSLevel = 2,
	OpenSrvDate = 4,
	Duration = 9,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10007] = {
	Id = 10007,
	ActivityType = 10007,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = -1,
	Popup = false,
	IsActivity = 0,
	TimeType = 5,
},
[10008] = {
	Id = 10008,
	ActivityType = 10007,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = -1,
	Popup = false,
	IsActivity = 0,
	TimeType = 5,
},
[10009] = {
	Id = 10009,
	ActivityType = 10007,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = -1,
	Popup = false,
	IsActivity = 0,
	TimeType = 5,
},
[10010] = {
	Id = 10010,
	ActivityType = 10007,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = -1,
	Popup = false,
	IsActivity = 0,
	TimeType = 5,
},
[10011] = {
	Id = 10011,
	ActivityType = 10008,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 0,
	TimeType = 5,
},
[10012] = {
	Id = 10012,
	ActivityType = 10019,
	Level = 35,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10016] = {
	Id = 10016,
	ActivityType = 10019,
	Level = 35,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10020] = {
	Id = 10020,
	ActivityType = 10019,
	Level = 35,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10023] = {
	Id = 10023,
	ActivityType = 10002,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10025] = {
	Id = 10025,
	ActivityType = 10010,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = 2,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10026] = {
	Id = 10026,
	ActivityType = 10011,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 0,
	TimeType = 5,
},
[10027] = {
	Id = 10027,
	ActivityType = 10014,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10039] = {
	Id = 10039,
	ActivityType = 10004,
	Level = 1,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 9999,
	Duration = 10,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
[10076] = {
	Id = 10076,
	ActivityType = 10019,
	Level = 0,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 0,
	TimeDetail = {
[1]={StartTime="0-00:00",EndTime="-1"},
},
	isReset = 1,
},
[10077] = {
	Id = 10077,
	ActivityType = 10019,
	Level = 45,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10147] = {
	Id = 10147,
	ActivityType = 10019,
	Level = 48,
	ZSLevel = 0,
	isClosed = 1,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10148] = {
	Id = 10148,
	ActivityType = 10019,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 0,
	TimeDetail = {
[1]={StartTime="0-00:00",EndTime="-1"},
},
},
[10149] = {
	Id = 10149,
	ActivityType = 10019,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 0,
	TimeDetail = {
[1]={StartTime="0-00:00",EndTime="-1"},
},
},
[10213] = {
	Id = 10213,
	ActivityType = 10019,
	Level = 48,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10214] = {
	Id = 10214,
	ActivityType = 10019,
	Level = 35,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10215] = {
	Id = 10215,
	ActivityType = 10019,
	Level = 45,
	ZSLevel = 0,
	OpenSrvDate = 1,
	Duration = 7,
	Popup = false,
	IsActivity = 1,
	TimeType = 4,
},
[10274] = {
	Id = 10274,
	ActivityType = 10021,
	Level = 1,
	ZSLevel = 0,
	OpenSrvDate = 999,
	Duration = -1,
	Popup = false,
	IsActivity = 1,
	TimeType = 5,
},
}