--Q-签到奖励.xlsx 每日签到奖励
SignPrizeConfig = {
[1] = {
	day = 1,
	prz = {{type=0,id=396,count=1},},
},
[2] = {
	day = 2,
	prz = {{type=0,id=396,count=1},},
},
[3] = {
	day = 3,
	prz = {{type=0,iid=396,count=1},},
},
[4] = {
	day = 4,
	prz = {{type=0,id=396,count=1},},
},
[5] = {
	day = 5,
	prz = {{type=0,id=396,count=1},},
},
[6] = {
	day = 6,
	prz = {{type=0,id=396,count=1},},
},
[7] = {
	day = 7,
	prz = {{type=0,id=396,count=1},},
},
[8] = {
	day = 8,
	prz = {{type=0,id=396,count=1},},
},
[9] = {
	day = 9,
	prz = {{type=0,id=396,count=1},},
},
[10] = {
	day = 10,
	prz = {{type=0,id=396,count=1},},
},
[11] = {
	day = 11,
	prz = {{type=0,id=396,count=1},},
},
[12] = {
	day = 12,
	prz = {{type=0,id=396,count=1},},
},
[13] = {
	day = 13,
	prz = {{type=0,id=396,count=1},},
},
[14] = {
	day = 14,
	prz = {{type=0,id=396,count=1},},
},
[15] = {
	day = 15,
	prz = {{type=0,id=396,count=1},},
},
[16] = {
	day = 16,
	prz = {{type=0,id=396,count=1},},
},
[17] = {
	day = 17,
	prz = {{type=0,id=396,count=1},},
},
[18] = {
	day = 18,
	prz = {{type=0,id=396,count=1},},
},
[19] = {
	day = 19,
	prz = {{type=0,id=396,count=1},},
},
[20] = {
	day = 20,
	prz = {{type=0,id=396,count=1},},
},
[21] = {
	day = 21,
	prz = {{type=0,id=396,count=1},},
},
[22] = {
	day = 22,
	prz = {{type=0,id=396,count=1},},
},
[23] = {
	day = 23,
	prz = {{type=0,id=396,count=1},},
},
[24] = {
	day = 24,
	prz = {{type=0,id=396,count=1},},
},
[25] = {
	day = 25,
	prz = {{type=0,id=396,count=1},},
},
[26] = {
	day = 26,
	prz = {{type=0,id=396,count=1},},
},
[27] = {
	day = 27,
	prz = {{type=0,id=396,count=1},},
},
[28] = {
	day = 28,
	prz = {{type=0,id=396,count=1},},
},
[29] = {
	day = 29,
	prz = {{type=0,id=396,count=1},},
},
[30] = {
	day = 30,
	prz = {{type=0,id=396,count=1},},
},
[31] = {
	day = 31,
	prz = {{type=0,id=396,count=1},},
},
}