--D-等级表.xlsx 转生等级经验衰减
ZSLevelExpPercentConfig={
[1] = {
	ZSlv = 1,
	ExpPercent = 100,
},
[2] = {
	ZSlv = 2,
	ExpPercent = 100,
},
[3] = {
	ZSlv = 3,
	ExpPercent = 85,
},
[4] = {
	ZSlv = 4,
	ExpPercent = 70,
},
[5] = {
	ZSlv = 5,
	ExpPercent = 55,
},
[6] = {
	ZSlv = 6,
	ExpPercent = 40,
},
[7] = {
	ZSlv = 7,
	ExpPercent = 25,
},
[8] = {
	ZSlv = 8,
	ExpPercent = 10,
},
[9] = {
	ZSlv = 9,
	ExpPercent = 10,
},
[10] = {
	ZSlv = 10,
	ExpPercent = 10,
},
[11] = {
	ZSlv = 11,
	ExpPercent = 10,
},
[12] = {
	ZSlv = 12,
	ExpPercent = 10,
},
}