--C-充值配置.xlsx 元宝充值表
RechargeConf={
[1] = {
	ItemId = 1,
	Num = 20000,
},
[2] = {
	ItemId = 2,
	Num = 60000,
},
[3] = {
	ItemId = 3,
	Num = 100000,
},
[4] = {
	ItemId = 4,
	Num = 200000,
},
[5] = {
	ItemId = 5,
	Num = 600000,
},
[6] = {
	ItemId = 6,
	Num = 1000000,
},
[7] = {
	ItemId = 7,
	Num = 2000000,
},
[8] = {
	ItemId = 8,
	Num = 10000000,
},
[9] = {
	ItemId = 9,
	Num = 10000,
},
[10] = {
	ItemId = 10,
	Num = 20000,
},
[11] = {
	ItemId = 11,
	Num = 50000,
},
[12] = {
	ItemId = 12,
	Num = 100000,
},
[13] = {
	ItemId = 13,
	Num = 500000,
},
[14] = {
	ItemId = 14,
	Num = 1000000,
},
[15] = {
	ItemId = 15,
	Num = 2000000,
},
[16] = {
	ItemId = 16,
	Num = 5000000,
},
[17] = {
	ItemId = 17,
	Num = 20000000,
},
[18] = {
	ItemId = 18,
	Num = 40000000,
},
[19] = {
	ItemId = 19,
	Num = 6000000,
},
[20] = {
	ItemId = 20,
	Num = 60000000,
},
[21] = {
	ItemId = 21,
	Num = 100000000,
},
[22] = {
	ItemId = 22,
	Num = 200000000,
},
[23] = {
	ItemId = 23,
	Num = 1000000000,
},
[24] = {
	ItemId = 24,
	Num = 400000,
},
[25] = {
	ItemId = 25,
	Num = 4000000,
},
[26] = {
	ItemId = 26,
	Num = 1200000,
},
[27] = {
	ItemId = 27,
	Num = 12000000,
},
[28] = {
	ItemId = 28,
	Num = 40000,
},
[29] = {
	ItemId = 29,
	Num = 3000000,
},
[30] = {
	ItemId = 30,
	Num = 30000000,
},
[31] = {
	ItemId = 31,
	Num = 50000000,
},
[32] = {
	ItemId = 32,
	Num = 500000000,
},
[33] = {
	ItemId = 33,
	Num = 120000,
},
}