--AB-狂暴系统.xlsx 狂暴状态
RageconstConfig={
	RageAttr = { { type = 76, value = 70,},{ type = 77, value = 70,}, { type = 75, value = 1000,}, { type = 144, value = 1500,}, } ,
	RagePrice = {{type=4,id=4,count=200}},
	condition = {CardLv=1  },
	KillerRewards = {{type=4,id=4,count=100}},
	KillerMailTitle = "击败狂暴玩家奖励",
	KillerMailText = "您击败了处于狂暴状态下的玩家，获得了100元宝奖励",
}