--N-NPC配置.xlsx NPC功能分类
NpcFunctions={
[1] = {
	id = 1,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[2] = {
	id = 2,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[3] = {
	id = 3,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[4] = {
	id = 4,
	funcType = 1,
	param1 = 3,
	param2 = 1,
},
[5] = {
	id = 5,
	funcType = 1,
	param1 = 4,
	param2 = 1,
},
[6] = {
	id = 6,
	funcType = 3,
	param1 = {1},
},
[7] = {
	id = 7,
	funcType = 3,
	param1 = {14,11,12,3,4,5,6,8,9,10,7},
},
[8] = {
	id = 8,
	funcType = 3,
	param1 = {13,14,15},
},
[9] = {
	id = 9,
	funcType = 3,
	param1 = {13,16,18,17,20,19,21},
},
[10] = {
	id = 10,
	funcType = 3,
	param1 = {22,23},
},
[11] = {
	id = 11,
	funcType = 3,
	param1 = {14},
},
[12] = {
	id = 12,
	funcType = 3,
	param1 = {13,31},
},
[13] = {
	id = 13,
	funcType = 3,
	param1 = {13,30},
},
[14] = {
	id = 14,
	funcType = 3,
	param1 = {14,32,33,34},
},
[15] = {
	id = 15,
	funcType = 2,
	param1 = 16,
	param2 = 1,
	param3 = {
{consume={type=2, count=100000}, pkval=30, limitday=2},
{consume={type=4, count=20}, pkval=100, limitday=-1},
},
},
[16] = {
	id = 16,
	funcType = 3,
	param1 = {35,36,37},
},
[17] = {
	id = 17,
	funcType = 3,
	param1 = {38,39},
},
[18] = {
	id = 18,
	funcType = 3,
	param1 = {40,41,42,43,44,45,46},
},
[19] = {
	id = 19,
	funcType = 3,
	param1 = {47,48,49,50,51,52,53,54,55},
},
[20] = {
	id = 20,
	funcType = 3,
	param1 = {56,57,58},
},
[21] = {
	id = 21,
	funcType = 3,
	param1 = {59,60,61},
},
[22] = {
	id = 22,
	funcType = 3,
	param1 = {62,63,64,65,66,67},
},
[23] = {
	id = 23,
	funcType = 3,
	param1 = {68,69,70,71,72,73,74,75,76,77,78,79,80},
},
[24] = {
	id = 24,
	funcType = 3,
	param1 = {81,82,83,84,85,86,87,88,89,90,91},
},
[25] = {
	id = 25,
	funcType = 3,
	param1 = {92,93,94,95,96,97,98,99,100,101,102,103},
},
[26] = {
	id = 26,
	funcType = 3,
	param1 = {104,105,106},
},
[27] = {
	id = 27,
	funcType = 3,
	param1 = {107,108,109,110,111},
},
[28] = {
	id = 28,
	funcType = 3,
	param1 = {112,113,114,115,116,117},
},
[29] = {
	id = 29,
	funcType = 2,
	param1 = {18},
},
[30] = {
	id = 30,
	funcType = 3,
	param1 = {121,122},
},
[31] = {
	id = 31,
	funcType = 3,
	param1 = {122},
},
[32] = {
	id = 32,
	funcType = 5,
	param1 = 1,
	param2 = 6,
},
[33] = {
	id = 33,
	funcType = 5,
	param1 = 2,
	param2 = 5,
},
[34] = {
	id = 34,
	funcType = 5,
	param1 = 3,
	param2 = 6,
},
[35] = {
	id = 35,
	funcType = 5,
	param1 = 4,
	param2 = 5,
},
[36] = {
	id = 36,
	funcType = 4,
	param1 = 1,
	param2 = 101,
},
[37] = {
	id = 37,
	funcType = 4,
	param1 = 1,
	param2 = 102,
},
[38] = {
	id = 38,
	funcType = 4,
	param1 = 2,
	param2 = 201,
},
[39] = {
	id = 39,
	funcType = 4,
	param1 = 2,
	param2 = 202,
},
[40] = {
	id = 40,
	funcType = 4,
	param1 = 3,
	param2 = 301,
},
[41] = {
	id = 41,
	funcType = 4,
	param1 = 10003,
	param2 = 303,
},
[42] = {
	id = 42,
	funcType = 4,
	param1 = 10004,
	param2 = 401,
},
[43] = {
	id = 43,
	funcType = 4,
	param1 = 10004,
	param2 = 403,
},
[44] = {
	id = 44,
	funcType = 4,
	param1 = 10005,
	param2 = 501,
},
[45] = {
	id = 45,
	funcType = 4,
	param1 = 10005,
	param2 = 502,
},
[46] = {
	id = 46,
	funcType = 4,
	param1 = 10006,
	param2 = 601,
},
[47] = {
	id = 47,
	funcType = 4,
	param1 = 10006,
	param2 = 602,
},
[48] = {
	id = 48,
	funcType = 4,
	param1 = 10007,
	param2 = 701,
},
[49] = {
	id = 49,
	funcType = 4,
	param1 = 10007,
	param2 = 702,
},
[50] = {
	id = 50,
	funcType = 4,
	param1 = 10008,
	param2 = 801,
},
[51] = {
	id = 51,
	funcType = 4,
	param1 = 10008,
	param2 = 802,
},
[52] = {
	id = 52,
	funcType = 4,
	param1 = 10009,
	param2 = 901,
},
[53] = {
	id = 53,
	funcType = 4,
	param1 = 10009,
	param2 = 903,
},
[54] = {
	id = 54,
	funcType = 4,
	param1 = 10010,
	param2 = 1001,
},
[55] = {
	id = 55,
	funcType = 4,
	param1 = 10010,
	param2 = 1003,
},
[56] = {
	id = 56,
	funcType = 4,
	param1 = 10011,
	param2 = 1101,
},
[57] = {
	id = 57,
	funcType = 4,
	param1 = 10011,
	param2 = 1103,
},
[58] = {
	id = 58,
	funcType = 4,
	param1 = 10012,
	param2 = 1201,
},
[59] = {
	id = 59,
	funcType = 4,
	param1 = 10012,
	param2 = 1203,
},
[60] = {
	id = 60,
	funcType = 4,
	param1 = 10017,
	param2 = 1701,
},
[61] = {
	id = 61,
	funcType = 4,
	param1 = 10017,
	param2 = 1703,
},
[66] = {
	id = 66,
	funcType = 3,
	param1 = {123,124,125,126},
},
[67] = {
	id = 67,
	funcType = 3,
	param1 = {127,128,129,130},
},
[68] = {
	id = 68,
	funcType = 3,
	param1 = {131,132,133,134},
},
[69] = {
	id = 69,
	funcType = 3,
	param1 = {135,136,137,138},
},
[70] = {
	id = 70,
	funcType = 3,
	param1 = {139,140,141,142},
},
[71] = {
	id = 71,
	funcType = 3,
	param1 = {143},
},
[72] = {
	id = 72,
	funcType = 5,
	param1 = 5,
	param2 = 5,
},
[73] = {
	id = 73,
	funcType = 5,
	param1 = 6,
	param2 = 6,
},
[74] = {
	id = 74,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[75] = {
	id = 75,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[76] = {
	id = 76,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[77] = {
	id = 77,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[78] = {
	id = 78,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[79] = {
	id = 79,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[80] = {
	id = 80,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[81] = {
	id = 81,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[82] = {
	id = 82,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[83] = {
	id = 83,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[84] = {
	id = 84,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[85] = {
	id = 85,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[86] = {
	id = 86,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[87] = {
	id = 87,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[88] = {
	id = 88,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[89] = {
	id = 89,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[90] = {
	id = 90,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[91] = {
	id = 91,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[92] = {
	id = 92,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[93] = {
	id = 93,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[94] = {
	id = 94,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[95] = {
	id = 95,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[96] = {
	id = 96,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[97] = {
	id = 97,
	funcType = 1,
	param1 = 6,
	param2 = 1,
},
[98] = {
	id = 98,
	funcType = 4,
	param1 = 4,
	param2 = 401,
},
[99] = {
	id = 99,
	funcType = 3,
	param1 = {144,145,146,147},
},
[100] = {
	id = 100,
	funcType = 3,
	param1 = {148,149,150,151},
},
[101] = {
	id = 101,
	funcType = 3,
	param1 = {152,153,154,176},
},
[102] = {
	id = 102,
	funcType = 3,
	param1 = {155,156,157,177},
},
[103] = {
	id = 103,
	funcType = 3,
	param1 = {158,159,160,178,188,189,192},
},
[104] = {
	id = 104,
	funcType = 3,
	param1 = {161,162,179,190,212,213,214},
},
[105] = {
	id = 105,
	funcType = 3,
	param1 = {204,163,180,191,219,220},
},
[106] = {
	id = 106,
	funcType = 3,
	param1 = {205,164,181,221,222,223},
},
[107] = {
	id = 107,
	funcType = 3,
	param1 = {165},
},
[108] = {
	id = 108,
	funcType = 3,
	param1 = {166},
},
[109] = {
	id = 109,
	funcType = 3,
	param1 = {167},
},
[110] = {
	id = 110,
	funcType = 3,
	param1 = {168,169},
},
[111] = {
	id = 111,
	funcType = 3,
	param1 = {170,171},
},
[112] = {
	id = 112,
	funcType = 3,
	param1 = {172,173},
},
[113] = {
	id = 113,
	funcType = 3,
	param1 = {174},
},
[114] = {
	id = 114,
	funcType = 6,
	param1 = "装备洗炼",
	param2 = "app.BaptismWin",
	param3 = 1,
},
[115] = {
	id = 115,
	funcType = 6,
	param1 = "装备升星",
	param2 = "app.ForgeWin",
	param3 = 1,
},
[116] = {
	id = 116,
	funcType = 6,
	param1 = "膜拜英雄",
	param2 = "app.WorshipWin",
},
[117] = {
	id = 117,
	funcType = 6,
	param1 = "金币回收",
	param2 = "app.RecycleWin",
	param3 = 0,
},
[118] = {
	id = 118,
	funcType = 6,
	param1 = "四象神兽",
	param2 = "app.FourImageLevelUpWin",
},
[119] = {
	id = 119,
	funcType = 3,
	param1 = {182},
},
[120] = {
	id = 120,
	funcType = 3,
	param1 = {184,185},
},
[121] = {
	id = 121,
	funcType = 3,
	param1 = {186,187},
},
[122] = {
	id = 122,
	funcType = 6,
	param1 = "城主奖励",
	param2 = "app.ShabakRewardsWin",
},
[123] = {
	id = 123,
	funcType = 3,
	param1 = {201},
},
[124] = {
	id = 124,
	funcType = 3,
	param1 = {193,194,195,196},
},
[125] = {
	id = 125,
	funcType = 3,
	param1 = {197,198,199,200},
},
[126] = {
	id = 126,
	funcType = 6,
	param1 = "狂暴之力",
	param2 = "app.ViolentStateWin",
},
[127] = {
	id = 127,
	funcType = 3,
	param1 = {202,224,225},
},
[128] = {
	id = 128,
	funcType = 3,
	param1 = {203},
},
[129] = {
	id = 129,
	funcType = 6,
	param1 = "捐献排行榜",
	param2 = "app.DonationRankWin",
},
[130] = {
	id = 130,
	funcType = 6,
	param1 = "加官进爵",
	param2 = "app.GuanZhiView",
},
[131] = {
	id = 131,
	funcType = 3,
	param1 = {206,207},
},
[132] = {
	id = 132,
	funcType = 3,
	param1 = {208,232},
},
[133] = {
	id = 133,
	funcType = 3,
	param1 = {209},
},
[134] = {
	id = 134,
	funcType = 3,
	param1 = {210,216,226,227},
},
[135] = {
	id = 135,
	funcType = 3,
	param1 = {211,217,228,229},
},
[136] = {
	id = 136,
	funcType = 3,
	param1 = {215},
},
[137] = {
	id = 137,
	funcType = 6,
	param1 = "了解更多版本信息",
	param2 = "app.MainServerInfoWin",
},
[138] = {
	id = 138,
	funcType = 3,
	param1 = {118},
},
[139] = {
	id = 139,
	funcType = 3,
	param1 = {218},
},
[140] = {
	id = 140,
	funcType = 3,
	param1 = {230},
},
[141] = {
	id = 141,
	funcType = 3,
	param1 = {231},
},
[142] = {
	id = 142,
	funcType = 3,
	param1 = {235,233,234},
},
}