--N-NPC配置.xlsx Npc
Npc={
[1] = {
	id = 1,
	name = "",
	modelid = 1000,
	icon = 0,
	idleInterval = 1200,
},
[2] = {
	id = 2,
	name = "",
	modelid = 1001,
},
[3] = {
	id = 3,
	name = "",
	modelid = 1002,
},
[4] = {
	id = 4,
	name = "",
	modelid = 1003,
},
[5] = {
	id = 5,
	name = "",
	modelid = 1004,
},
[6] = {
	id = 6,
	name = "",
	modelid = 1005,
},
[7] = {
	id = 7,
	name = "",
	modelid = 1006,
},
[8] = {
	id = 8,
	name = "",
	modelid = 1007,
},
[9] = {
	id = 9,
	name = "",
	modelid = 1008,
},
[10] = {
	id = 10,
	name = "",
	modelid = 1009,
},
[11] = {
	id = 11,
	name = "",
	modelid = 1010,
},
[12] = {
	id = 12,
	name = "",
	modelid = 1011,
},
[13] = {
	id = 13,
	name = "",
	modelid = 1012,
},
[14] = {
	id = 14,
	name = "",
	modelid = 1013,
},
[15] = {
	id = 15,
	name = "",
	modelid = 1014,
},
[16] = {
	id = 16,
	name = "",
	modelid = 1015,
},
[17] = {
	id = 17,
	name = "",
	modelid = 1016,
},
[18] = {
	id = 18,
	name = "",
	modelid = 1017,
},
[19] = {
	id = 19,
	name = "",
	modelid = 1018,
},
[20] = {
	id = 20,
	name = "",
	modelid = 1019,
},
[21] = {
	id = 21,
	name = "",
	modelid = 1020,
},
[22] = {
	id = 22,
	name = "",
	modelid = 1021,
},
[23] = {
	id = 23,
	name = "",
	modelid = 1022,
},
[24] = {
	id = 24,
	name = "",
	modelid = 1023,
},
[25] = {
	id = 25,
	name = "",
	modelid = 1024,
},
[26] = {
	id = 26,
	name = "",
	modelid = 1025,
},
[27] = {
	id = 27,
	name = "",
	modelid = 1026,
},
[28] = {
	id = 28,
	name = "",
	modelid = 1027,
},
[29] = {
	id = 29,
	name = "",
	modelid = 1028,
},
[30] = {
	id = 30,
	name = "",
	modelid = 1029,
},
[31] = {
	id = 31,
	name = "",
	modelid = 1030,
},
[32] = {
	id = 32,
	name = "",
	modelid = 1031,
},
[33] = {
	id = 33,
	name = "",
	modelid = 1032,
},
[34] = {
	id = 34,
	name = "",
	modelid = 1033,
},
[35] = {
	id = 35,
	name = "",
	modelid = 1034,
},
[36] = {
	id = 36,
	name = "",
	modelid = 1035,
},
[37] = {
	id = 37,
	name = "",
	modelid = 1036,
},
[38] = {
	id = 38,
	name = "",
	modelid = 1037,
},
[39] = {
	id = 39,
	name = "",
	modelid = 1038,
},
[40] = {
	id = 40,
	name = "",
	modelid = 1039,
},
[41] = {
	id = 41,
	name = "",
	modelid = 1040,
},
[42] = {
	id = 42,
	name = "",
	modelid = 1041,
},
[43] = {
	id = 43,
	name = "",
	modelid = 1042,
},
[44] = {
	id = 44,
	name = "",
	modelid = 1043,
},
[45] = {
	id = 45,
	name = "",
	modelid = 1044,
},
[46] = {
	id = 46,
	name = "",
	modelid = 1045,
},
[47] = {
	id = 47,
	name = "",
	modelid = 1046,
},
[48] = {
	id = 48,
	name = "",
	modelid = 1047,
},
[49] = {
	id = 49,
	name = "",
	modelid = 1048,
},
[50] = {
	id = 50,
	name = "",
	modelid = 1049,
},
[51] = {
	id = 51,
	name = "",
	modelid = 1050,
},
[52] = {
	id = 52,
	name = "",
	modelid = 1051,
},
[53] = {
	id = 53,
	name = "",
	modelid = 1052,
},
[54] = {
	id = 54,
	name = "",
	modelid = 1053,
},
[55] = {
	id = 55,
	name = "",
	modelid = 1054,
},
[56] = {
	id = 56,
	name = "",
	modelid = 1055,
},
[57] = {
	id = 57,
	name = "",
	modelid = 1056,
},
[58] = {
	id = 58,
	name = "",
	modelid = 1057,
},
[59] = {
	id = 59,
	name = "",
	modelid = 1058,
},
[60] = {
	id = 60,
	name = "",
	modelid = 1059,
},
[61] = {
	id = 61,
	name = "",
	modelid = 1060,
},
[62] = {
	id = 62,
	name = "",
	modelid = 1061,
},
[63] = {
	id = 63,
	name = "",
	modelid = 1062,
},
[64] = {
	id = 64,
	name = "",
	modelid = 1063,
},
[65] = {
	id = 65,
	name = "",
	modelid = 1064,
},
[66] = {
	id = 66,
	name = "",
	modelid = 1065,
},
[67] = {
	id = 67,
	name = "",
	modelid = 1066,
},
[68] = {
	id = 68,
	name = "",
	modelid = 1067,
},
[69] = {
	id = 69,
	name = "",
	modelid = 1068,
},
[70] = {
	id = 70,
	name = "",
	modelid = 1069,
},
[71] = {
	id = 71,
	name = "",
	modelid = 1070,
},
[72] = {
	id = 72,
	name = "",
	modelid = 1071,
},
[73] = {
	id = 73,
	name = "",
	modelid = 1072,
},
[74] = {
	id = 74,
	name = "",
	modelid = 1073,
},
[75] = {
	id = 75,
	name = "",
	modelid = 1074,
},
[76] = {
	id = 76,
	name = "",
	modelid = 1075,
},
[77] = {
	id = 77,
	name = "",
	modelid = 1076,
},
[78] = {
	id = 78,
	name = "",
	modelid = 1077,
},
[79] = {
	id = 79,
	name = "",
	modelid = 1078,
},
[80] = {
	id = 80,
	name = "",
	modelid = 1079,
},
[81] = {
	id = 81,
	name = "",
	modelid = 1080,
},
[82] = {
	id = 82,
	name = "",
	modelid = 1081,
},
[83] = {
	id = 83,
	name = "",
	modelid = 1082,
},
[84] = {
	id = 84,
	name = "",
	modelid = 1083,
},
[85] = {
	id = 85,
	name = "",
	modelid = 1084,
},
[86] = {
	id = 86,
	name = "",
	modelid = 1085,
},
[87] = {
	id = 87,
	name = "",
	modelid = 1086,
},
[88] = {
	id = 88,
	name = "",
	modelid = 1087,
},
[89] = {
	id = 89,
	name = "",
	modelid = 1088,
},
[90] = {
	id = 90,
	name = "银杏老兵",
	talk = "想去比奇城吗？我可以送你一程。",
	modelid = 1005,
	funcGroup = {36},
},
[91] = {
	id = 91,
	name = "陈家铺老板",
	talk = "欢迎来到银杏山谷，我可以为你做什么吗？",
	modelid = 1009,
	funcGroup = {5},
},
[92] = {
	id = 92,
	name = "高家店老板",
	talk = "你好，你需要点什么？",
	modelid = 1023,
	funcGroup = {38},
},
[93] = {
	id = 93,
	name = "精武馆老板",
	talk = "欢迎，这儿还不错吧",
	modelid = 1000,
	funcGroup = {37},
},
[94] = {
	id = 94,
	name = "边界老兵",
	talk = "想去比奇城吗？我可以送你一程。",
	modelid = 1003,
	funcGroup = {6},
},
[95] = {
	id = 95,
	name = "小店老板",
	talk = "欢迎，我能为你做点什么？",
	modelid = 1027,
	funcGroup = {5},
},
[96] = {
	id = 96,
	name = "铁匠铺老板",
	talk = "欢迎，感谢你来这里。",
	modelid = 1001,
},
[97] = {
	id = 97,
	name = "屠夫",
	talk = "您想卖肉吗？",
	modelid = 1032,
},
[98] = {
	id = 98,
	name = "白家服装老板",
	talk = "欢迎，你需要点什么？",
	modelid = 1022,
	funcGroup = {2},
},
[99] = {
	id = 99,
	name = "杂货铺老板",
	talk = "欢迎光临，有什么事情吗？",
	modelid = 1011,
	funcGroup = {5},
},
[100] = {
	id = 100,
	name = "卫家店",
	talk = "看看我这里的家伙有多称手。",
	modelid = 1002,
	funcGroup = {47,111},
},
[101] = {
	id = 101,
	name = "安家布衣",
	talk = "欢迎光临，有什么需要我帮忙吗？",
	modelid = 1021,
	funcGroup = {2,49,113},
},
[102] = {
	id = 102,
	name = "夏家店老板",
	talk = "欢迎，在这里你可以买一些常见的药品。",
	modelid = 1017,
	funcGroup = {5},
},
[103] = {
	id = 103,
	name = "首饰店老板",
	talk = "你看，这些都是A级的。",
	modelid = 1018,
	funcGroup = {3,51,115},
},
[104] = {
	id = 104,
	name = "仓库保管员",
	talk = "目前不收保管费，请多利用。",
	modelid = 1018,
},
[105] = {
	id = 105,
	name = "屠夫",
	talk = "是来卖肉吗？",
	modelid = 1032,
},
[106] = {
	id = 106,
	name = "比奇老兵",
	talk = "比奇城是玛法大路上最繁华的城市，我有很多有趣的事，你想不想听啊？",
	modelid = 1004,
	funcGroup = {7,40},
},
[107] = {
	id = 107,
	name = "书店老板",
	talk = "读书破万卷，下笔如有神。",
	modelid = 1029,
},
[108] = {
	id = 108,
	name = "国王",
	talk = "这里是比奇皇宫，我就是这里的国王。",
	modelid = 1024,
},
[109] = {
	id = 109,
	name = "药店老板",
	talk = "欢迎，你需要点什么？",
	modelid = 1005,
	funcGroup = {5},
},
[110] = {
	id = 110,
	name = "皇家肉店老板",
	talk = "是来卖肉吗？",
	modelid = 1032,
},
[111] = {
	id = 111,
	name = "",
	talk = "|C:0xfc21ed&T:流浪汉|\n别看老夫衣着邋遢，其实我也是个有梦想的人，从小我就梦想做玛法第一的祝福油大亨，而现在梦想显然已经实现了！",
	modelid = 1010,
	funcGroup = {4,15},
},
[112] = {
	id = 112,
	name = "",
	talk = "|C:0xfc21ed&T:公告牌|\n最新通告：沙城有密道！",
	modelid = 1077,
	funcGroup = {10,122},
},
[113] = {
	id = 113,
	name = "土城小贩",
	talk = "看来你需要我的帮助。",
	modelid = 1009,
},
[114] = {
	id = 114,
	name = "盟重老兵",
	talk = "沙巴克就在盟重，你想去一睹沙巴克城主的风采吗？",
	modelid = 1004,
	funcGroup = {9},
},
[115] = {
	id = 115,
	name = "",
	talk = "|C:0xfc21ed&T:铁匠老板|\n欢迎光临我的铁匠铺。升星除了大量基础属性，7星之后还有特殊属性加成。等你有了好的装备，不妨来试一试。",
	modelid = 1000,
	funcGroup = {115},
},
[116] = {
	id = 116,
	name = "张家布店老板",
	talk = "欢迎，这里有你想要的。",
	modelid = 1022,
	funcGroup = {2},
},
[117] = {
	id = 117,
	name = "首饰店老板",
	talk = "这里的东西都是货真价实的。",
	modelid = 1015,
	funcGroup = {3},
},
[118] = {
	id = 118,
	name = "悦来客栈老板",
	talk = "需要帮什么忙？目前不收保管费，请多利用。",
	modelid = 1018,
},
[119] = {
	id = 119,
	name = "书店老板",
	talk = "书中自有黄金屋。",
	modelid = 1028,
},
[120] = {
	id = 120,
	name = "老人",
	talk = "你还记得当年沙城的故事吗？",
	modelid = 1004,
},
[121] = {
	id = 121,
	name = "兵器店老板",
	talk = "在这里你就得听沙巴克主人的命令！",
	modelid = 1000,
},
[122] = {
	id = 122,
	name = "药店老板",
	talk = "我这儿可没有禁售的药品！",
	modelid = 1003,
	funcGroup = {5},
},
[123] = {
	id = 123,
	name = "防具店老板",
	talk = "欢迎，我们有各种各样的衣服。",
	modelid = 1023,
	funcGroup = {2},
},
[124] = {
	id = 124,
	name = "首饰店老板",
	talk = "你是沙巴克行会的成员吗？我可以给你个特惠价哦。",
	modelid = 1014,
	funcGroup = {3},
},
[125] = {
	id = 125,
	name = "武器店老板",
	talk = "也许你已经不认识我了，但没有关系，我手艺还在。只要你给钱，我还是能满足你的所有要求！",
	modelid = 1002,
},
[126] = {
	id = 126,
	name = "杂货铺老板",
	talk = "你好啊，快来买点东西，现在我生意好得很，完了你就买不到了！",
	modelid = 1010,
	funcGroup = {5},
},
[127] = {
	id = 127,
	name = "海岛老兵",
	talk = "只要有勇气接受挑战，总有一天我们一定能够回家。",
	modelid = 1004,
	funcGroup = {14},
},
[128] = {
	id = 128,
	name = "苍月小贩",
	talk = "这岛上只有我一家，别怪我坐地起价。",
	modelid = 1009,
	funcGroup = {4},
},
[129] = {
	id = 129,
	name = "服装店老板",
	talk = "欢迎光临，有什么事情需要我帮忙吗？",
	modelid = 1022,
	funcGroup = {2},
},
[130] = {
	id = 130,
	name = "首饰店老板",
	talk = "手镯、戒指、项链都让我来帮你处理好了",
	modelid = 1016,
	funcGroup = {3},
},
[131] = {
	id = 131,
	name = "药铺老板",
	talk = "你想买什么药？",
	modelid = 1003,
	funcGroup = {5},
},
[132] = {
	id = 132,
	name = "白日门小贩",
	talk = "要不是为了钱，我也不会到这么危险的地方来做买卖。",
	modelid = 1010,
	funcGroup = {4},
},
[133] = {
	id = 133,
	name = "武术教头",
	talk = "我的功夫你应该不会怀疑吧。那群徒弟嘛也算是学有所成了。唉，要不是这把老骨头，我也真想同他们一道去闯荡闯荡！",
	modelid = 1043,
},
[134] = {
	id = 134,
	name = "武术学员",
	talk = "站在这里浑身僵得像石头。师傅老说北方有蜘蛛，不让我们出去，可我只见过一些半兽人什么的，蜘蛛到底在哪里？",
	modelid = 1065,
},
[135] = {
	id = 135,
	name = "武术学员",
	talk = "我表妹在比奇开首饰店，天天站着等我。听说老有人和她搭讪，问七问八的，真不放心啊。",
	modelid = 1065,
},
[136] = {
	id = 136,
	name = "武术学员",
	talk = "披上盔甲，我还是天下最好的战士！我要去赤月峡谷找上次那个血巨人再拼一次！上次好险，辛亏师傅救我，这次我肯定成功！",
	modelid = 1065,
},
[137] = {
	id = 137,
	name = "武术学员",
	talk = "啊，又有人来了！真难为情……人家练功不习惯被人看着嘛。",
	modelid = 1065,
},
[138] = {
	id = 138,
	name = "武术学员",
	talk = "看什么看？没见过帅哥啊！你再看……你再看……在看我打你！我可会野蛮冲撞啊！",
	modelid = 1066,
},
[139] = {
	id = 139,
	name = "武术学员",
	talk = "蜘蛛算什么！我家里有的是！",
	modelid = 1067,
},
[140] = {
	id = 140,
	name = "向导",
	talk = "年轻人，你也和我一样坚信我们终有一天能回家吗？只要有勇气接受挑战，什么困难都能征服！你想去什么地方接受锤炼呢，也许我可以送你一程！",
	modelid = 1040,
	funcGroup = {13},
},
[141] = {
	id = 141,
	name = "药剂师",
	talk = "我们道士啊，就是心灵手巧。想当年我是有名的药师呢！对了你要点什么啊？",
	modelid = 1053,
	funcGroup = {5},
},
[142] = {
	id = 142,
	name = "服装店老板",
	talk = "欢迎，我是老板兼裁缝。需要我做点什么吗？",
	modelid = 1057,
	funcGroup = {2},
},
[143] = {
	id = 143,
	name = "首饰店老板",
	talk = "欢迎，我们经营精美首饰。",
	modelid = 1053,
	funcGroup = {3},
},
[144] = {
	id = 144,
	name = "杂货店老板",
	talk = "你好啊，快来买点东西，现在我生意好的很，晚了你就买不到了。",
	modelid = 1046,
	funcGroup = {5},
},
[145] = {
	id = 145,
	name = "道术教头",
	talk = "道可道，非常道。",
	modelid = 1060,
},
[146] = {
	id = 146,
	name = "天尊",
	talk = "赤月恶魔的势力正在扩展，罪恶正在临近。年轻人，你已经处在危险的边缘，你愿意远征赤月峡谷吗？我无法传授你任何武功，但我可以透露给你一个秘密：赤月恶魔的唯一弱点就是……听见了吗？好了，你去吧。",
	modelid = 1036,
},
[147] = {
	id = 147,
	name = "山谷老兵",
	talk = "此路是比奇通往盟重的必经之路，但若实力不足，就会成为一条不归路。",
	modelid = 1003,
	funcGroup = {8},
},
[148] = {
	id = 148,
	name = "罗家铺子老板",
	talk = "欢迎，过了这个村，可就再没这个店了啊。",
	modelid = 1011,
	funcGroup = {4},
},
[149] = {
	id = 149,
	name = "药铺老板",
	talk = "欢迎，你需要点什么？以前金矿值钱的时候，这里可是人山人海。",
	modelid = 1005,
	funcGroup = {5},
},
[150] = {
	id = 150,
	name = "铁匠",
	talk = "欢迎，欢迎光临。",
	modelid = 1002,
},
[151] = {
	id = 151,
	name = "米家服装老板",
	talk = "欢迎光临，有什么需要我帮忙吗？",
	modelid = 1023,
	funcGroup = {2},
},
[152] = {
	id = 152,
	name = "封魔老兵",
	talk = "听封魔谷这个名字就知道这儿是多么危险的地方，你有勇气去接受挑战吗？",
	modelid = 1090,
	funcGroup = {4,12},
},
[153] = {
	id = 153,
	name = "魔龙老兵",
	talk = "这里太危险了，你不要到处乱逛！",
	modelid = 1003,
	funcGroup = {11},
},
[154] = {
	id = 154,
	name = "魔龙小贩",
	talk = "看来你需要我的帮助，因为这里只有我一家卖东西。",
	modelid = 1011,
	funcGroup = {4},
},
[155] = {
	id = 155,
	name = "魔龙城守卫",
	talk = "以你的实力目前还不能进入此地，请回吧！",
	modelid = 1040,
},
[156] = {
	id = 156,
	name = "反省的老兵",
	talk = "待人以宽，处事随和才是做人的方式，你都到这里了，应该明白这个道理了吧。",
	modelid = 1004,
	funcGroup = {11,15},
},
[157] = {
	id = 157,
	name = "古墓传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,16},
},
[158] = {
	id = 158,
	name = "洞穴送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,17},
},
[159] = {
	id = 159,
	name = "祖玛传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,18},
},
[160] = {
	id = 160,
	name = "废矿传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,19},
},
[161] = {
	id = 161,
	name = "山谷矿区传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,20},
},
[162] = {
	id = 162,
	name = "沃玛寺庙传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,21},
},
[163] = {
	id = 163,
	name = "石墓洞穴传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,22},
},
[164] = {
	id = 164,
	name = "地牢传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,23},
},
[165] = {
	id = 165,
	name = "丛林迷宫传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,24},
},
[166] = {
	id = 166,
	name = "封魔矿区传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,25},
},
[167] = {
	id = 167,
	name = "尸魔洞传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,26},
},
[168] = {
	id = 168,
	name = "骨魔洞传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,27},
},
[169] = {
	id = 169,
	name = "牛魔寺庙传送员",
	talk = "我可以将你传送到指定地图，不过费用可不低。洞穴的怪物异常凶险，最好带足了药品再进去。",
	modelid = 1004,
	funcGroup = {4,28},
},
[170] = {
	id = 170,
	name = "",
	talk = "|C:0xfc21ed&T:仓库|\n仓库格子有限，请好好利用\n白卡会员可开启仓库，紫卡会员专属随身仓库在【背包-回收-随身仓库】使用",
	modelid = 1041,
	funcGroup = {29},
},
[171] = {
	id = 171,
	name = "地下城守卫",
	talk = "宫殿长廊异常凶险，如果一个人，还是不去为好……",
	modelid = 1041,
	funcGroup = {30},
},
[172] = {
	id = 172,
	name = "藏宝库引导员",
	talk = "每天的11:00-11:30，14:00-14:30，23:00-23:30，都可以通过我进入夺宝地图，再地图中的送宝人偶处就可以获得宝物。只有有实力的勇士才能夺得宝藏！",
	modelid = 1025,
	funcGroup = {31},
},
[173] = {
	id = 173,
	name = "送宝人偶",
	talk = "每天11:01、14:01、23:01，宝藏将会自动散落在我的周围，这些散落的宝藏将锁定180秒，180秒后才能进行捡取。所以你一定要眼明手快。",
	modelid = 1025,
	funcGroup = {33},
},
[174] = {
	id = 174,
	name = "送宝人偶",
	talk = "每天21:01，宝藏将会自动散落在我的周围，这些散落的宝藏将锁定180秒，180秒后才能进行捡取。所以你一定要眼明手快。",
	modelid = 1025,
	funcGroup = {35},
},
[175] = {
	id = 175,
	name = "看守人",
	talk = "消灭10只怪物，我可以送你前往下一层。",
	modelid = 1025,
	funcGroup = {66},
},
[176] = {
	id = 176,
	name = "看守人",
	talk = "消灭10只怪物，我可以送你前往下一层。",
	modelid = 1025,
	funcGroup = {67},
},
[177] = {
	id = 177,
	name = "看守人",
	talk = "消灭10只怪物，我可以送你前往下一层。",
	modelid = 1025,
	funcGroup = {68},
},
[178] = {
	id = 178,
	name = "看守人",
	talk = "消灭10只怪物，我可以送你前往下一层。",
	modelid = 1025,
	funcGroup = {69},
},
[179] = {
	id = 179,
	name = "看守人",
	talk = "消灭10只怪物，我可以送你前往下一层。",
	modelid = 1025,
	funcGroup = {70},
},
[180] = {
	id = 180,
	name = "看守人",
	talk = "消灭10只怪物，我可以送你前往下一层。",
	modelid = 1025,
	funcGroup = {71},
},
[181] = {
	id = 181,
	name = "送宝人偶",
	talk = "恭喜勇士克服重重困难，到达秘境顶层，所有到到达这里的勇士我都准备了一份奖励，前50名领取的勇士还可以领取神速礼包。先到先得。\n神速礼包剩余数量：%s",
	modelid = 1025,
	funcGroup = {72,73},
},
[182] = {
	id = 182,
	name = "村长",
	talk = "我是银杏村的村长，欢迎各位勇士",
	modelid = 1041,
	funcGroup = {39},
},
[183] = {
	id = 183,
	name = "游戏介绍",
	talk = "游戏特色：|C:0xfc21ed&T:全部装备打怪爆|\n郑重承诺：|C:0xfc21ed&T:金币永久保值，可买商城所有道具|\n激情体验：|C:0xfc21ed&T:升级快、爆率高、PK爽|",
	modelid = 1084,
},
[184] = {
	id = 184,
	name = "",
	talk = "|C:0xfc21ed&T:老虎滩|\n|C:0x1be200&T:[地图难度]|新手阶段\n|C:0x1be200&T:[进入条件]|25级",
	modelid = 1149,
	funcGroup = {99},
},
[185] = {
	id = 185,
	name = "",
	talk = "|C:0xfc21ed&T:秦始皇陵|\n|C:0x1be200&T:[地图难度]|新手进阶\n|C:0x1be200&T:[稀有装备]|炎之祖玛级、祖玛级\n|C:0x1be200&T:[进入条件]|30级",
	modelid = 1150,
	funcGroup = {100},
},
[186] = {
	id = 186,
	name = "",
	talk = "|C:0xfc21ed&T:十三陵|\n|C:0x1be200&T:[地图难度]|中等难度\n|C:0x1be200&T:[稀有装备]|赤月级、炎之祖玛级\n|C:0x1be200&T:[进入条件]|40级",
	modelid = 1151,
	funcGroup = {101},
},
[187] = {
	id = 187,
	name = "",
	talk = "|C:0xfc21ed&T:太阳岛|\n|C:0x1be200&T:[地图难度]|中等难度\n|C:0x1be200&T:[稀有装备]|炎之赤月级、赤月级\n|C:0x1be200&T:[进入条件]|45级",
	modelid = 1147,
	funcGroup = {102},
},
[188] = {
	id = 188,
	name = "",
	talk = "|C:0xfc21ed&T:木兰围场|\n|C:0x1be200&T:[地图难度]|中等难度\n|C:0x1be200&T:[稀有装备]|魔龙级、炎之赤月级\n|C:0x1be200&T:[进入条件]|1转\n|C:0x1be200&T:[门票消耗]|300绑金",
	modelid = 1148,
	funcGroup = {103},
},
[189] = {
	id = 189,
	name = "",
	talk = "|C:0xfc21ed&T:兔耳岭|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[稀有装备]|炎之魔龙级、魔龙级\n|C:0x1be200&T:[进入条件]|2转\n|C:0x1be200&T:[门票消耗]|300绑金",
	modelid = 1146,
	funcGroup = {104},
},
[190] = {
	id = 190,
	name = "",
	talk = "|C:0xfc21ed&T:落凤坡|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[稀有装备]|强化魔龙级、炎之魔龙级\n|C:0x1be200&T:[进入条件]|3转\n|C:0x1be200&T:[门票消耗]|300绑金",
	modelid = 1146,
	funcGroup = {105},
},
[191] = {
	id = 191,
	name = "",
	talk = "|C:0xfc21ed&T:剑门关|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[稀有装备]|战神级、炎之强化魔龙级、强化魔龙级\n|C:0x1be200&T:[进入条件]|4转\n|C:0x1be200&T:[门票消耗]|800绑金",
	modelid = 1146,
	funcGroup = {106},
},
[192] = {
	id = 192,
	name = "",
	talk = "|C:0xfc21ed&T:石头城|\n|C:0x1be200&T:[地图难度]|高难度\n|C:0x1be200&T:[进入条件]|5转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	funcGroup = {107},
},
[193] = {
	id = 193,
	name = "",
	talk = "|C:0xfc21ed&T:沧浪亭|\n|C:0x1be200&T:[地图难度]|高难度\n|C:0x1be200&T:[进入条件]|6转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	funcGroup = {108},
},
[194] = {
	id = 194,
	name = "",
	talk = "|C:0xfc21ed&T:太行山|\n|C:0x1be200&T:[地图难度]|超高难度\n|C:0x1be200&T:[进入条件]|7转、神魔总等级15级\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1132,
	funcGroup = {109},
},
[195] = {
	id = 195,
	name = "",
	talk = "|C:0xfc21ed&T:天涯海角|\n|C:0x1be200&T:[地图难度]|中等难度\n|C:0x1be200&T:[地图产出]|暴击碎片爆率提升，其他材料下降\n|C:0x1be200&T:[进入条件]|2转，门票5千绑金",
	modelid = 1068,
	funcGroup = {110},
},
[196] = {
	id = 196,
	name = "",
	talk = "|C:0xfc21ed&T:玉门关|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[地图产出]|初阶秘籍爆率提升，其他材料下降\n|C:0x1be200&T:[进入条件]|3转，门票5千绑金",
	modelid = 1049,
	funcGroup = {111},
},
[197] = {
	id = 197,
	name = "",
	talk = "|C:0xfc21ed&T:山海关|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[地图产出]|一层1-4转材料，二层5-6转材料\n|C:0x1be200&T:[进入条件]|一层3转，门票5千绑金；二层4转，门票1万绑金",
	modelid = 1025,
	funcGroup = {112},
},
[198] = {
	id = 198,
	name = "",
	talk = "|C:0xfc21ed&T:天空之城|\n4转之后就可以前往天空之城了！那是一片新的天地，只有经受过考验的勇士才被允许前往挑战可怕的敌人。",
	modelid = 1110,
	funcGroup = {113},
},
[199] = {
	id = 199,
	name = "",
	talk = "|C:0xfc21ed&T:荒凉之地|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[稀有装备]|普通佩饰、两仪佩饰\n|C:0x1be200&T:[进入条件]|4转\n|C:0x1be200&T:[门票消耗]|2万绑金",
	modelid = 1041,
	funcGroup = {119},
},
[200] = {
	id = 200,
	name = "",
	talk = "|C:0xfc21ed&T:膜拜英雄|\n玛法大陆数得上号的人都在这里了，好好瞻仰他们吧",
	modelid = 1133,
	funcGroup = {116},
},
[201] = {
	id = 201,
	name = "",
	talk = "|C:0xfc21ed&T:金币回收|\n你有多余的绑定金币吗？那可是很珍贵的东西，我这里可以拿元宝/银两和你换",
	modelid = 1125,
	funcGroup = {117},
},
[202] = {
	id = 202,
	name = "",
	talk = "|C:0xfc21ed&T:四象神兽|\n四象是指青龙、白虎、朱雀、玄武四大神兽，如果你有对应的四象丹，我就能帮你大幅提升能力。据说40级以上地图的精英和领主都藏了很多四象丹。",
	modelid = 1145,
	funcGroup = {118},
},
[203] = {
	id = 203,
	name = "",
	talk = "|C:0xfc21ed&T:东西关|\n|C:0x1be200&T:[地图难度]|中高难度\n|C:0x1be200&T:[稀有装备]|战神级、炎之战神级、星王级\n|C:0x1be200&T:[地图产出]|5-6转材料、各类道具\n|C:0x1be200&T:[进入条件]|4转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1025,
	funcGroup = {121},
},
[204] = {
	id = 204,
	name = "",
	talk = "|C:0xfc21ed&T:冰封之境、冰封雪域|\n|C:0x1be200&T:[地图说明]|冰封之境怪物攻速超快，双防不够去了就送；\n雪域持续每秒100点伤害，怪物破防，提升了回血能力再去\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:冰封之境 |5转，开启狂暴之力，神魔总等级10级\n|C:0x1be200&T:冰封雪域 |5转，开启狂暴之力，神魔总等级15级\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	funcGroup = {120},
},
[205] = {
	id = 205,
	name = "",
	talk = "|C:0xfc21ed&T:洗炼神炉|\n洗炼可以给中高级装备随机附加属性，运气好的时候增加的属性值非常惊人。",
	modelid = 1122,
	funcGroup = {114},
},
[206] = {
	id = 206,
	name = "",
	talk = "|C:0xfc21ed&T:雪山陵墓|\n|C:0x1be200&T:[地图说明]|此图怪物密度较低，双防超高\n|C:0x1be200&T:[进入条件]|6转\n|C:0x1be200&T:[门票消耗]|无",
	modelid = 1146,
	funcGroup = {123},
},
[207] = {
	id = 207,
	name = "",
	talk = "|C:0xfc21ed&T:孤独之路|\n|C:0x1be200&T:[地图难度]|难度逐层提升\n|C:0x1be200&T:[地图产出]|所有顶级装备、道具、高转材料爆率逐层提升\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:一层 |4转 神魔总等级23级\n|C:0x1be200&T:二层 |5转 神魔总等级32级\n|C:0x1be200&T:三层 |6转 神魔总等级42级\n|C:0x1be200&T:四层 |7转 神魔总等级42级\n",
	modelid = 1134,
	funcGroup = {124},
},
[208] = {
	id = 208,
	name = "",
	talk = "|C:0xfc21ed&T:沉睡之地|\n|C:0x1be200&T:[地图难度]|难度逐层提升\n|C:0x1be200&T:[地图产出]|所有顶级装备、道具、高转材料爆率逐层提升\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:一层| 4转 拥有绿卡特权\n|C:0x1be200&T:二层| 5转 拥有蓝卡特权\n|C:0x1be200&T:三层| 6转 拥有蓝卡特权\n|C:0x1be200&T:四层| 7转 拥有蓝卡特权\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1117,
	funcGroup = {125},
},
[209] = {
	id = 209,
	name = "",
	talk = "|C:0xfc21ed&T:狂暴之力|\n向这把妖刀祈祷吧，唤醒你体内沉睡着的狂暴之力",
	modelid = 1107,
	funcGroup = {126},
},
[210] = {
	id = 210,
	name = "",
	talk = "|C:0xfc21ed&T:捐献排行榜|\n欢迎使用元宝捐献，获得名次后可获得超强属性，记住每个月1号0点或合区会重置榜单！",
	modelid = 1142,
	funcGroup = {129},
},
[211] = {
	id = 211,
	name = "",
	talk = "|C:0xfc21ed&T:潼关|\n|C:0x1be200&T:[地图难度]|高难度\n|C:0x1be200&T:[进入条件]|4转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1025,
	funcGroup = {127},
},
[212] = {
	id = 212,
	name = "",
	talk = "|C:0xfc21ed&T:祖玛道|\n|C:0x1be200&T:[地图说明]|领主大招2万伤害，CD3分钟，能抗住就行\n|C:0x1be200&T:[进入条件]|5转 神魔总等级10级\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	funcGroup = {128},
},
[213] = {
	id = 213,
	name = "",
	talk = "勇士来从军报国吧，苟利国家生死以，岂因祸福避趋之？",
	modelid = 1152,
	funcGroup = {130},
},
[214] = {
	id = 214,
	name = "",
	talk = "|C:0xfc21ed&T:雪山之巅|\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:马卡鲁峰 |5转 开服16天\n|C:0x1be200&T:干城章嘉峰 |6转 开服60天\n|C:0x1be200&T:[门票消耗]|无",
	modelid = 1132,
	funcGroup = {131},
},
[215] = {
	id = 215,
	name = "",
	talk = "|C:0xfc21ed&T:迷失之城|\n迷失之城！那是一片新的天地，只有经受过考验的勇士才被允许前往挑战可怕的敌人。开服50天7转以上玩家可以前往，如果你对自己实在有自信，也可以去试试，好让你知道自己的差距。",
	modelid = 1126,
	openday = 25,
	funcGroup = {132},
},
[216] = {
	id = 216,
	name = "",
	talk = "|C:0xfc21ed&T:楼兰|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、所有王者首饰\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|8转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	funcGroup = {133},
},
[217] = {
	id = 217,
	name = "",
	talk = "|C:0xfc21ed&T:沉默之路|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、所有王者首饰\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:一层 |8转 神魔总等级42级\n|C:0x1be200&T:二层 |9转 神魔总等级42级\n|C:0x1be200&T:三层 |11转 神魔总等级45级\n|C:0x1be200&T:四层 |13转 神魔总等级45级\n",
	modelid = 1073,
	funcGroup = {134},
},
[218] = {
	id = 218,
	name = "",
	talk = "|C:0xfc21ed&T:昏睡之地|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、所有王者首饰\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:一层| 8转 拥有蓝卡特权\n|C:0x1be200&T:二层| 9转 拥有蓝卡特权\n|C:0x1be200&T:三层| 11转 拥有紫卡特权\n|C:0x1be200&T:四层| 13转 拥有紫卡特权\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1053,
	funcGroup = {135},
},
[219] = {
	id = 219,
	name = "",
	talk = "瞧一瞧，看一看，重要的消息都在这里啊。屠魔先要认清自己的实力，勇士先去练功房熟悉自己的身体吧！",
	modelid = 1007,
	funcGroup = {137,136},
},
[220] = {
	id = 220,
	name = "盟重老兵",
	talk = "沙巴克就在盟重，你想去一睹沙巴克城主的风采吗？",
	modelid = 1004,
	funcGroup = {138},
},
[221] = {
	id = 221,
	name = "比奇老兵",
	talk = "比奇城是玛法大路上最繁华的城市，我有很多有趣的事，你想不想听啊？",
	modelid = 1004,
	funcGroup = {138},
},
[222] = {
	id = 222,
	name = "",
	talk = "|C:0xfc21ed&T:龙门窟|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、所有王者首饰\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|9转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	funcGroup = {139},
},
[223] = {
	id = 223,
	name = "",
	talk = "|C:0xfc21ed&T:玉龙山|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、炎王者首饰\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|11转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	openday = 35,
	funcGroup = {140},
},
[224] = {
	id = 224,
	name = "",
	talk = "|C:0xfc21ed&T:风陵渡|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、炎王者装备\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|13转\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	openday = 50,
	funcGroup = {141},
},
[225] = {
	id = 225,
	name = "",
	talk = "|C:0xfc21ed&T:天池|\n|C:0x1be200&T:[地图难度]|极高\n|C:0x1be200&T:[稀有装备]|内功装备、金牛首饰\n|C:0x1be200&T:[地图产出]|高转材料、各类道具\n|C:0x1be200&T:[进入条件]|\n|C:0x1be200&T:天池1层| 15转\n|C:0x1be200&T:沉默之路五层 |15转 神魔总等级45级\n|C:0x1be200&T:昏睡之地五层| 15转 拥有橙卡特权\n|C:0x1be200&T:[门票消耗]|5万绑金",
	modelid = 1146,
	openday = 95,
	funcGroup = {142},
},
}