--N-NPC配置.xlsx 移动传送
NpcTransConf={
[1] = {
	id = 1,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 2,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[2] = {
	id = 2,
	nSceneId = 1,
	nX = 203,
	nY = 306,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[3] = {
	id = 3,
	nSceneId = 1,
	nX = 467,
	nY = 307,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[4] = {
	id = 4,
	nSceneId = 1,
	nX = 485,
	nY = 45,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[5] = {
	id = 5,
	nSceneId = 8,
	nX = 371,
	nY = 233,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[6] = {
	id = 6,
	nSceneId = 1,
	nX = 229,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[7] = {
	id = 7,
	nSceneId = 5,
	nX = 56,
	nY = 137,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[8] = {
	id = 8,
	nSceneId = 1,
	nX = 23,
	nY = 56,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[9] = {
	id = 9,
	nSceneId = 1,
	nX = 91,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[10] = {
	id = 10,
	nSceneId = 1,
	nX = 478,
	nY = 109,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[11] = {
	id = 11,
	nSceneId = 6,
	nX = 126,
	nY = 156,
	nLevel = 30,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[12] = {
	id = 12,
	nSceneId = 9,
	nX = 167,
	nY = 90,
	nLevel = 32,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[13] = {
	id = 13,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[14] = {
	id = 14,
	nSceneId = 3,
	nX = 219,
	nY = 149,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[15] = {
	id = 15,
	nSceneId = 8,
	nX = 413,
	nY = 81,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[16] = {
	id = 16,
	nSceneId = 4,
	nX = 43,
	nY = 143,
	nLevel = 35,
	openDay = 4,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[17] = {
	id = 17,
	nSceneId = 8,
	nX = 371,
	nY = 233,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[18] = {
	id = 18,
	nSceneId = 10,
	nX = 86,
	nY = 73,
	nLevel = 45,
	openDay = 15,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[19] = {
	id = 19,
	nSceneId = 3,
	nX = 192,
	nY = 154,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[20] = {
	id = 20,
	nSceneId = 3,
	nX = 78,
	nY = 33,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[21] = {
	id = 21,
	nSceneId = 3,
	nX = 612,
	nY = 76,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[22] = {
	id = 22,
	nSceneId = 3,
	nX = 487,
	nY = 157,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[23] = {
	id = 23,
	nSceneId = 98,
	nX = 68,
	nY = 50,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[24] = {
	id = 24,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[25] = {
	id = 25,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[26] = {
	id = 26,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[27] = {
	id = 27,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[28] = {
	id = 28,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[29] = {
	id = 29,
	nSceneId = 1,
	nX = 235,
	nY = 131,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[30] = {
	id = 30,
	nSceneId = 6,
	nX = 263,
	nY = 120,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[31] = {
	id = 31,
	nSceneId = 9,
	nX = 37,
	nY = 29,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[32] = {
	id = 32,
	nSceneId = 4,
	nX = 340,
	nY = 43,
	nLevel = 35,
	openDay = 4,
	zsLevel = 0,
	Consumelist = {},
},
[33] = {
	id = 33,
	nSceneId = 4,
	nX = 323,
	nY = 286,
	nLevel = 35,
	openDay = 4,
	zsLevel = 0,
	Consumelist = {},
},
[34] = {
	id = 34,
	nSceneId = 4,
	nX = 436,
	nY = 210,
	nLevel = 35,
	openDay = 4,
	zsLevel = 0,
	Consumelist = {},
},
[35] = {
	id = 35,
	nSceneId = 11,
	nX = 140,
	nY = 67,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=300},},
},
[36] = {
	id = 36,
	nSceneId = 12,
	nX = 142,
	nY = 100,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=500},},
},
[37] = {
	id = 37,
	nSceneId = 13,
	nX = 115,
	nY = 96,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[38] = {
	id = 38,
	nSceneId = 14,
	nX = 153,
	nY = 85,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=300},},
},
[39] = {
	id = 39,
	nSceneId = 15,
	nX = 156,
	nY = 105,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=500},},
},
[40] = {
	id = 40,
	nSceneId = 16,
	nX = 157,
	nY = 54,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[41] = {
	id = 41,
	nSceneId = 17,
	nX = 84,
	nY = 35,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[42] = {
	id = 42,
	nSceneId = 18,
	nX = 153,
	nY = 59,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[43] = {
	id = 43,
	nSceneId = 19,
	nX = 213,
	nY = 80,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[44] = {
	id = 44,
	nSceneId = 20,
	nX = 118,
	nY = 85,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[45] = {
	id = 45,
	nSceneId = 22,
	nX = 11,
	nY = 8,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=6000},},
},
[46] = {
	id = 46,
	nSceneId = 23,
	nX = 22,
	nY = 11,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=7000},},
},
[47] = {
	id = 47,
	nSceneId = 62,
	nX = 68,
	nY = 48,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=500},},
},
[48] = {
	id = 48,
	nSceneId = 63,
	nX = 75,
	nY = 50,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[49] = {
	id = 49,
	nSceneId = 64,
	nX = 68,
	nY = 50,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=500},},
},
[50] = {
	id = 50,
	nSceneId = 65,
	nX = 75,
	nY = 50,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=500},},
},
[51] = {
	id = 51,
	nSceneId = 66,
	nX = 95,
	nY = 50,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1500},},
},
[52] = {
	id = 52,
	nSceneId = 67,
	nX = 74,
	nY = 56,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1500},},
},
[53] = {
	id = 53,
	nSceneId = 68,
	nX = 40,
	nY = 30,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1500},},
},
[54] = {
	id = 54,
	nSceneId = 70,
	nX = 30,
	nY = 20,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[55] = {
	id = 55,
	nSceneId = 71,
	nX = 30,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[56] = {
	id = 56,
	nSceneId = 74,
	nX = 150,
	nY = 80,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=800},},
},
[57] = {
	id = 57,
	nSceneId = 75,
	nX = 145,
	nY = 109,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1500},},
},
[58] = {
	id = 58,
	nSceneId = 75,
	nX = 170,
	nY = 31,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=8000},},
},
[59] = {
	id = 59,
	nSceneId = 76,
	nX = 50,
	nY = 14,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[60] = {
	id = 60,
	nSceneId = 77,
	nX = 178,
	nY = 95,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[61] = {
	id = 61,
	nSceneId = 78,
	nX = 157,
	nY = 97,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[62] = {
	id = 62,
	nSceneId = 100,
	nX = 155,
	nY = 93,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[63] = {
	id = 63,
	nSceneId = 101,
	nX = 155,
	nY = 93,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[64] = {
	id = 64,
	nSceneId = 102,
	nX = 157,
	nY = 94,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[65] = {
	id = 65,
	nSceneId = 103,
	nX = 154,
	nY = 93,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[66] = {
	id = 66,
	nSceneId = 104,
	nX = 152,
	nY = 95,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[67] = {
	id = 67,
	nSceneId = 106,
	nX = 19,
	nY = 9,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=6000},},
},
[68] = {
	id = 68,
	nSceneId = 80,
	nX = 56,
	nY = 53,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[69] = {
	id = 69,
	nSceneId = 81,
	nX = 42,
	nY = 48,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[70] = {
	id = 70,
	nSceneId = 82,
	nX = 95,
	nY = 33,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[71] = {
	id = 71,
	nSceneId = 83,
	nX = 26,
	nY = 60,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2500},},
},
[72] = {
	id = 72,
	nSceneId = 84,
	nX = 72,
	nY = 21,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[73] = {
	id = 73,
	nSceneId = 85,
	nX = 138,
	nY = 57,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[74] = {
	id = 74,
	nSceneId = 91,
	nX = 45,
	nY = 21,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[75] = {
	id = 75,
	nSceneId = 92,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[76] = {
	id = 76,
	nSceneId = 93,
	nX = 48,
	nY = 39,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[77] = {
	id = 77,
	nSceneId = 94,
	nX = 38,
	nY = 27,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[78] = {
	id = 78,
	nSceneId = 95,
	nX = 56,
	nY = 23,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[79] = {
	id = 79,
	nSceneId = 96,
	nX = 39,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[80] = {
	id = 80,
	nSceneId = 97,
	nX = 57,
	nY = 11,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[81] = {
	id = 81,
	nSceneId = 109,
	nX = 112,
	nY = 80,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[82] = {
	id = 82,
	nSceneId = 110,
	nX = 73,
	nY = 83,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[83] = {
	id = 83,
	nSceneId = 111,
	nX = 115,
	nY = 99,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[84] = {
	id = 84,
	nSceneId = 112,
	nX = 125,
	nY = 69,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[85] = {
	id = 85,
	nSceneId = 113,
	nX = 74,
	nY = 62,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[86] = {
	id = 86,
	nSceneId = 114,
	nX = 100,
	nY = 72,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[87] = {
	id = 87,
	nSceneId = 115,
	nX = 118,
	nY = 66,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=8000},},
},
[88] = {
	id = 88,
	nSceneId = 116,
	nX = 77,
	nY = 47,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=15000},},
},
[89] = {
	id = 89,
	nSceneId = 117,
	nX = 67,
	nY = 45,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=15000},},
},
[90] = {
	id = 90,
	nSceneId = 116,
	nX = 132,
	nY = 26,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=30000},},
},
[91] = {
	id = 91,
	nSceneId = 117,
	nX = 97,
	nY = 9,
	nLevel = 40,
	openDay = 6,
	zsLevel = 0,
	Consumelist = {{type=2, count=30000},},
},
[92] = {
	id = 92,
	nSceneId = 120,
	nX = 68,
	nY = 48,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[93] = {
	id = 93,
	nSceneId = 121,
	nX = 125,
	nY = 72,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1500},},
},
[94] = {
	id = 94,
	nSceneId = 122,
	nX = 15,
	nY = 10,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[95] = {
	id = 95,
	nSceneId = 123,
	nX = 33,
	nY = 17,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2500},},
},
[96] = {
	id = 96,
	nSceneId = 124,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[97] = {
	id = 97,
	nSceneId = 125,
	nX = 30,
	nY = 20,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3500},},
},
[98] = {
	id = 98,
	nSceneId = 126,
	nX = 65,
	nY = 48,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[99] = {
	id = 99,
	nSceneId = 127,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4500},},
},
[100] = {
	id = 100,
	nSceneId = 128,
	nX = 40,
	nY = 30,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[101] = {
	id = 101,
	nSceneId = 129,
	nX = 85,
	nY = 60,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5500},},
},
[102] = {
	id = 102,
	nSceneId = 130,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=6000},},
},
[103] = {
	id = 103,
	nSceneId = 131,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=6500},},
},
[104] = {
	id = 104,
	nSceneId = 134,
	nX = 86,
	nY = 79,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=1000},},
},
[105] = {
	id = 105,
	nSceneId = 135,
	nX = 136,
	nY = 17,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[106] = {
	id = 106,
	nSceneId = 136,
	nX = 52,
	nY = 20,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[107] = {
	id = 107,
	nSceneId = 137,
	nX = 58,
	nY = 29,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[108] = {
	id = 108,
	nSceneId = 138,
	nX = 102,
	nY = 48,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[109] = {
	id = 109,
	nSceneId = 139,
	nX = 39,
	nY = 61,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[110] = {
	id = 110,
	nSceneId = 140,
	nX = 18,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[111] = {
	id = 111,
	nSceneId = 141,
	nX = 121,
	nY = 21,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=6000},},
},
[112] = {
	id = 112,
	nSceneId = 143,
	nX = 80,
	nY = 66,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=2000},},
},
[113] = {
	id = 113,
	nSceneId = 144,
	nX = 85,
	nY = 49,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=3000},},
},
[114] = {
	id = 114,
	nSceneId = 145,
	nX = 128,
	nY = 79,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=4000},},
},
[115] = {
	id = 115,
	nSceneId = 146,
	nX = 115,
	nY = 48,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=5000},},
},
[116] = {
	id = 116,
	nSceneId = 147,
	nX = 67,
	nY = 35,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=6000},},
},
[117] = {
	id = 117,
	nSceneId = 148,
	nX = 103,
	nY = 67,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, count=7000},},
},
[118] = {
	id = 118,
	nSceneId = 150,
	nX = 53,
	nY = 36,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[119] = {
	id = 119,
	nSceneId = 162,
	nX = 17,
	nY = 12,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, id=2, count=20000},},
},
[120] = {
	id = 120,
	nSceneId = 162,
	nX = 17,
	nY = 12,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=12, count=2},},
	staticType = 25,
	limittimes = 3,
},
[121] = {
	id = 121,
	nSceneId = 163,
	nX = 90,
	nY = 6,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[122] = {
	id = 122,
	nSceneId = 164,
	nX = 33,
	nY = 17,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {  
opentime = { { id = 1 , openMinute = 11*3600, closeMinute = 11*3600+1800 },  
{ id = 2 , openMinute = 14*3600, closeMinute = 14*3600+1800 }, 
 { id = 3 , openMinute = 23*3600, closeMinute = 23*3600+1800 }, 
 }, 
distanceLimit = 15},
},
[123] = {
	id = 123,
	nSceneId = 169,
	nX = 36,
	nY = 29,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[124] = {
	id = 124,
	nSceneId = 169,
	nX = 60,
	nY = 30,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[125] = {
	id = 125,
	nSceneId = 169,
	nX = 34,
	nY = 54,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[126] = {
	id = 126,
	nSceneId = 169,
	nX = 60,
	nY = 52,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[127] = {
	id = 127,
	nSceneId = 170,
	nX = 18,
	nY = 29,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[128] = {
	id = 128,
	nSceneId = 170,
	nX = 121,
	nY = 17,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[129] = {
	id = 129,
	nSceneId = 170,
	nX = 37,
	nY = 70,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[130] = {
	id = 130,
	nSceneId = 170,
	nX = 116,
	nY = 77,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[131] = {
	id = 131,
	nSceneId = 171,
	nX = 13,
	nY = 9,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[132] = {
	id = 132,
	nSceneId = 171,
	nX = 55,
	nY = 14,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[133] = {
	id = 133,
	nSceneId = 171,
	nX = 24,
	nY = 39,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[134] = {
	id = 134,
	nSceneId = 171,
	nX = 45,
	nY = 42,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[135] = {
	id = 135,
	nSceneId = 172,
	nX = 13,
	nY = 8,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[136] = {
	id = 136,
	nSceneId = 172,
	nX = 64,
	nY = 9,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[137] = {
	id = 137,
	nSceneId = 172,
	nX = 15,
	nY = 40,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[138] = {
	id = 138,
	nSceneId = 172,
	nX = 64,
	nY = 40,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[139] = {
	id = 139,
	nSceneId = 173,
	nX = 16,
	nY = 9,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[140] = {
	id = 140,
	nSceneId = 173,
	nX = 56,
	nY = 9,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[141] = {
	id = 141,
	nSceneId = 173,
	nX = 14,
	nY = 37,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[142] = {
	id = 142,
	nSceneId = 173,
	nX = 59,
	nY = 37,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[143] = {
	id = 143,
	nSceneId = 174,
	nX = 40,
	nY = 14,
	nLevel = 30,
	openDay = 1,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {activityId=12  },
},
[144] = {
	id = 144,
	nSceneId = 216,
	nX = 103,
	nY = 67,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[145] = {
	id = 145,
	nSceneId = 217,
	nX = 103,
	nY = 67,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[146] = {
	id = 146,
	nSceneId = 218,
	nX = 103,
	nY = 67,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[147] = {
	id = 147,
	nSceneId = 219,
	nX = 103,
	nY = 67,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[148] = {
	id = 148,
	nSceneId = 220,
	nX = 11,
	nY = 8,
	nLevel = 30,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[149] = {
	id = 149,
	nSceneId = 221,
	nX = 11,
	nY = 8,
	nLevel = 30,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[150] = {
	id = 150,
	nSceneId = 222,
	nX = 11,
	nY = 8,
	nLevel = 30,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[151] = {
	id = 151,
	nSceneId = 223,
	nX = 11,
	nY = 8,
	nLevel = 30,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[152] = {
	id = 152,
	nSceneId = 224,
	nX = 33,
	nY = 17,
	nLevel = 40,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[153] = {
	id = 153,
	nSceneId = 225,
	nX = 33,
	nY = 17,
	nLevel = 40,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[154] = {
	id = 154,
	nSceneId = 226,
	nX = 33,
	nY = 17,
	nLevel = 40,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[155] = {
	id = 155,
	nSceneId = 227,
	nX = 52,
	nY = 20,
	nLevel = 45,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[156] = {
	id = 156,
	nSceneId = 228,
	nX = 52,
	nY = 20,
	nLevel = 45,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[157] = {
	id = 157,
	nSceneId = 229,
	nX = 52,
	nY = 20,
	nLevel = 45,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[158] = {
	id = 158,
	nSceneId = 230,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[159] = {
	id = 159,
	nSceneId = 231,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {{type=2, count=300},},
},
[160] = {
	id = 160,
	nSceneId = 232,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {{type=2, count=300},},
},
[161] = {
	id = 161,
	nSceneId = 233,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[162] = {
	id = 162,
	nSceneId = 234,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=300},},
},
[163] = {
	id = 163,
	nSceneId = 235,
	nX = 38,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {},
	activityRequirement = {CardLv=2  },
},
[164] = {
	id = 164,
	nSceneId = 236,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=800},},
},
[165] = {
	id = 165,
	nSceneId = 237,
	nX = 37,
	nY = 13,
	nLevel = 0,
	openDay = 0,
	zsLevel = 5,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[166] = {
	id = 166,
	nSceneId = 238,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 6,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[167] = {
	id = 167,
	nSceneId = 239,
	nX = 35,
	nY = 17,
	nLevel = 0,
	openDay = 0,
	zsLevel = 7,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {demonsconstLv=15},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[168] = {
	id = 168,
	nSceneId = 240,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=5000},},
},
[169] = {
	id = 169,
	nSceneId = 241,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=5000},},
},
[170] = {
	id = 170,
	nSceneId = 242,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=5000},},
},
[171] = {
	id = 171,
	nSceneId = 243,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=5000},},
},
[172] = {
	id = 172,
	nSceneId = 244,
	nX = 35,
	nY = 17,
	nLevel = 45,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=5000},},
},
[173] = {
	id = 173,
	nSceneId = 245,
	nX = 35,
	nY = 17,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=10000},},
},
[174] = {
	id = 174,
	nSceneId = 256,
	nX = 38,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {},
},
[175] = {
	id = 175,
	nSceneId = 105,
	nX = 19,
	nY = 7,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {{type=2, id=2, count=20000},},
},
[176] = {
	id = 176,
	nSceneId = 257,
	nX = 33,
	nY = 17,
	nLevel = 40,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[177] = {
	id = 177,
	nSceneId = 258,
	nX = 52,
	nY = 20,
	nLevel = 45,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[178] = {
	id = 178,
	nSceneId = 259,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {{type=2, count=300},},
},
[179] = {
	id = 179,
	nSceneId = 260,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=300},},
},
[180] = {
	id = 180,
	nSceneId = 261,
	nX = 38,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=300},},
},
[181] = {
	id = 181,
	nSceneId = 262,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=800},},
},
[182] = {
	id = 182,
	nSceneId = 263,
	nX = 17,
	nY = 34,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=20000},},
},
[183] = {
	id = 183,
	nSceneId = 264,
	nX = 54,
	nY = 41,
	nLevel = 0,
	openDay = 0,
	zsLevel = 6,
	activityRequirement = {CardLv=3  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[184] = {
	id = 184,
	nSceneId = 255,
	nX = 15,
	nY = 34,
	nLevel = 0,
	openDay = 0,
	zsLevel = 5,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {isRageconst=1,demonsconstLv=10  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[185] = {
	id = 185,
	nSceneId = 253,
	nX = 55,
	nY = 38,
	nLevel = 0,
	openDay = 0,
	zsLevel = 5,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {isRageconst=1,demonsconstLv=15 },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[186] = {
	id = 186,
	nSceneId = 265,
	nX = 27,
	nY = 29,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=50000},},
},
[187] = {
	id = 187,
	nSceneId = 266,
	nX = 105,
	nY = 79,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=50000},},
},
[188] = {
	id = 188,
	nSceneId = 267,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {{type=2, count=300},},
},
[189] = {
	id = 189,
	nSceneId = 268,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {{type=2, count=300},},
},
[190] = {
	id = 190,
	nSceneId = 269,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=300},},
},
[191] = {
	id = 191,
	nSceneId = 270,
	nX = 38,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=300},},
},
[192] = {
	id = 192,
	nSceneId = 271,
	nX = 48,
	nY = 19,
	nLevel = 0,
	openDay = 0,
	zsLevel = 1,
	Consumelist = {{type=2, count=300},},
},
[193] = {
	id = 193,
	nSceneId = 272,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {},
	activityRequirement = {demonsconstLv=23},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[194] = {
	id = 194,
	nSceneId = 273,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 5,
	Consumelist = {},
	activityRequirement = {demonsconstLv=32},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[195] = {
	id = 195,
	nSceneId = 274,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 6,
	Consumelist = {},
	activityRequirement = {demonsconstLv=42},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[196] = {
	id = 196,
	nSceneId = 275,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 7,
	Consumelist = {},
	activityRequirement = {demonsconstLv=42},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[197] = {
	id = 197,
	nSceneId = 276,
	nX = 37,
	nY = 56,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=2  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[198] = {
	id = 198,
	nSceneId = 277,
	nX = 37,
	nY = 56,
	nLevel = 0,
	openDay = 0,
	zsLevel = 5,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=3  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[199] = {
	id = 199,
	nSceneId = 278,
	nX = 37,
	nY = 56,
	nLevel = 0,
	openDay = 0,
	zsLevel = 6,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=3  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[200] = {
	id = 200,
	nSceneId = 279,
	nX = 37,
	nY = 56,
	nLevel = 0,
	openDay = 0,
	zsLevel = 7,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=3  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[201] = {
	id = 201,
	nSceneId = 264,
	nX = 54,
	nY = 41,
	nLevel = 0,
	openDay = 0,
	zsLevel = 6,
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[202] = {
	id = 202,
	nSceneId = 299,
	nX = 66,
	nY = 39,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[203] = {
	id = 203,
	nSceneId = 300,
	nX = 54,
	nY = 38,
	nLevel = 0,
	openDay = 0,
	zsLevel = 5,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {demonsconstLv=10},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[204] = {
	id = 204,
	nSceneId = 301,
	nX = 38,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {},
	activityRequirement = {CardLv=3  },
},
[205] = {
	id = 205,
	nSceneId = 302,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {},
	activityRequirement = {CardLv=3  },
},
[206] = {
	id = 206,
	nSceneId = 250,
	nX = 32,
	nY = 16,
	nLevel = 0,
	openDay = 16,
	zsLevel = 5,
	Consumelist = {},
},
[207] = {
	id = 207,
	nSceneId = 251,
	nX = 15,
	nY = 34,
	nLevel = 0,
	openDay = 60,
	zsLevel = 6,
	Consumelist = {},
},
[208] = {
	id = 208,
	nSceneId = 303,
	nX = 27,
	nY = 16,
	nLevel = 0,
	openDay = 50,
	zsLevel = 7,
	Consumelist = {},
},
[209] = {
	id = 209,
	nSceneId = 304,
	nX = 11,
	nY = 17,
	nLevel = 0,
	openDay = 0,
	zsLevel = 8,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[210] = {
	id = 210,
	nSceneId = 306,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 8,
	Consumelist = {},
	activityRequirement = {demonsconstLv=42},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[211] = {
	id = 211,
	nSceneId = 307,
	nX = 65,
	nY = 31,
	nLevel = 0,
	openDay = 0,
	zsLevel = 8,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=3  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[212] = {
	id = 212,
	nSceneId = 308,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=300},},
},
[213] = {
	id = 213,
	nSceneId = 309,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=300},},
},
[214] = {
	id = 214,
	nSceneId = 310,
	nX = 33,
	nY = 32,
	nLevel = 0,
	openDay = 0,
	zsLevel = 2,
	Consumelist = {{type=2, count=300},},
},
[215] = {
	id = 215,
	nSceneId = 313,
	nX = 15,
	nY = 13,
	nLevel = 0,
	openDay = 0,
	zsLevel = 0,
	Consumelist = {},
},
[216] = {
	id = 216,
	nSceneId = 320,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 9,
	Consumelist = {},
	activityRequirement = {demonsconstLv=42},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[217] = {
	id = 217,
	nSceneId = 321,
	nX = 65,
	nY = 31,
	nLevel = 0,
	openDay = 0,
	zsLevel = 9,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=3  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[218] = {
	id = 218,
	nSceneId = 318,
	nX = 74,
	nY = 10,
	nLevel = 0,
	openDay = 0,
	zsLevel = 9,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[219] = {
	id = 219,
	nSceneId = 327,
	nX = 38,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=300},},
},
[220] = {
	id = 220,
	nSceneId = 328,
	nX = 38,
	nY = 22,
	nLevel = 0,
	openDay = 0,
	zsLevel = 3,
	Consumelist = {{type=2, count=300},},
},
[221] = {
	id = 221,
	nSceneId = 329,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=800},},
},
[222] = {
	id = 222,
	nSceneId = 330,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=800},},
},
[223] = {
	id = 223,
	nSceneId = 331,
	nX = 35,
	nY = 25,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=800},},
},
[224] = {
	id = 224,
	nSceneId = 332,
	nX = 66,
	nY = 39,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[225] = {
	id = 225,
	nSceneId = 333,
	nX = 66,
	nY = 39,
	nLevel = 0,
	openDay = 0,
	zsLevel = 4,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[226] = {
	id = 226,
	nSceneId = 334,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 11,
	Consumelist = {},
	activityRequirement = {demonsconstLv=45},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[227] = {
	id = 227,
	nSceneId = 335,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 0,
	zsLevel = 13,
	Consumelist = {},
	activityRequirement = {demonsconstLv=45},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[228] = {
	id = 228,
	nSceneId = 336,
	nX = 65,
	nY = 31,
	nLevel = 0,
	openDay = 0,
	zsLevel = 11,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=4  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[229] = {
	id = 229,
	nSceneId = 337,
	nX = 65,
	nY = 31,
	nLevel = 0,
	openDay = 0,
	zsLevel = 13,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=4  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[230] = {
	id = 230,
	nSceneId = 338,
	nX = 55,
	nY = 38,
	nLevel = 0,
	openDay = 0,
	zsLevel = 11,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[231] = {
	id = 231,
	nSceneId = 342,
	nX = 105,
	nY = 79,
	nLevel = 0,
	openDay = 0,
	zsLevel = 13,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[232] = {
	id = 232,
	nSceneId = 303,
	nX = 27,
	nY = 16,
	nLevel = 0,
	openDay = 25,
	zsLevel = 9,
	Consumelist = {},
},
[233] = {
	id = 233,
	nSceneId = 347,
	nX = 23,
	nY = 18,
	nLevel = 0,
	openDay = 95,
	zsLevel = 15,
	Consumelist = {},
	activityRequirement = {demonsconstLv=45},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[234] = {
	id = 234,
	nSceneId = 348,
	nX = 65,
	nY = 31,
	nLevel = 0,
	openDay = 95,
	zsLevel = 15,
	Consumelist = {{type=2, count=50000},},
	activityRequirement = {CardLv=5  },
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
[235] = {
	id = 235,
	nSceneId = 349,
	nX = 23,
	nY = 15,
	nLevel = 0,
	openDay = 95,
	zsLevel = 15,
	Consumelist = {{type=2, count=50000},},
	jionmsg = "|C:0x0066ff&T:%s|进入地图|C:0xff7700&T:%s|",
},
}