--S-神炉属性(废弃).xlsx 衍生属性
GodStoveDeriveConfig={
[5] = {
	level = 5,
	prop = {
                {type = 21, value = 13},    --最小物理防御
                {type = 23, value = 21},    --最大物理防御
                {type = 25, value = 13},    --最小魔法防御
                {type = 27, value = 21},    --最大魔法防御
                {type = 5,  value = 407},    --最大生命
            },
},
[10] = {
	level = 10,
	prop = {
                {type = 21, value = 40},    --最小物理防御
                {type = 23, value = 66},    --最大物理防御
                {type = 25, value = 40},    --最小魔法防御
                {type = 27, value = 66},    --最大魔法防御
                {type = 5,  value = 1130},    --最大生命
            },
},
},