--S-神炉属性(废弃).xlsx 神炉道具升级
ItemLevel={
[15] = {
	[1] = {
		ItemType = 15,
		level = 1,
		itemid = {469,569,669},
		upgradeConsume = {
                        {type = 26, id =0, count =200},
                    },
	},
	[2] = {
		ItemType = 15,
		level = 2,
		itemid = {470,570,670},
		upgradeConsume = {
                        {type = 26, id =0, count =400},
                    },
	},
},
[16] = {
	[1] = {
		ItemType = 16,
		level = 1,
		itemid = {769,769,769},
		upgradeConsume =  {
                        {type = 25, id =0, count =300},
                    },
	},
},
},