--D-道具表配置.xlsx 锻造
ItemForgeConfig={
[1] = {
	id = 1,
	level = 45,
	outputrate = 10,
	forge = {{rate = 10, type = 0, count = 1, id = 10}},
},
[2] = {
	id = 2,
	level = 45,
	outputrate = 10,
	forge = {{rate = 10, type = 0, count = 1, id = 10}},
},
[3] = {
	id = 3,
	level = 45,
	outputrate = 10,
	forge = {
{rate = 10, type = 0, count = 1, id = 10},
{rate = 10, type = 0, count = 1, id = 11}
},
},
}