--D-锻造合成表.xlsx 合成公式
ItemMergeConfig={
[1] = {
	Eid = 1,
	id = 112,
	count = 1,
	table = {
{id=109,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[2] = {
	Eid = 2,
	id = 113,
	count = 1,
	table = {
{id=110,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[3] = {
	Eid = 3,
	id = 114,
	count = 1,
	table = {
{id=111,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[4] = {
	Eid = 4,
	id = 140,
	count = 1,
	table = {
{id=137,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[5] = {
	Eid = 5,
	id = 141,
	count = 1,
	table = {
{id=138,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[6] = {
	Eid = 6,
	id = 142,
	count = 1,
	table = {
{id=139,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[7] = {
	Eid = 7,
	id = 78,
	count = 1,
	table = {
{id=90,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[8] = {
	Eid = 8,
	id = 79,
	count = 1,
	table = {
{id=90,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[9] = {
	Eid = 9,
	id = 81,
	count = 1,
	table = {
{id=90,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[10] = {
	Eid = 10,
	id = 170,
	count = 1,
	table = {
{id=167,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[11] = {
	Eid = 11,
	id = 171,
	count = 1,
	table = {
{id=168,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[12] = {
	Eid = 12,
	id = 172,
	count = 1,
	table = {
{id=169,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[13] = {
	Eid = 13,
	id = 204,
	count = 1,
	table = {
{id=203,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[14] = {
	Eid = 14,
	id = 188,
	count = 1,
	table = {
{id=187,type=0,count=1},
{id=253,type=0,count=4},
{id=0,type=2,count=300000}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[15] = {
	Eid = 15,
	id = 254,
	count = 1,
	table = {
{id=253,type=0,count=6}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[16] = {
	Eid = 16,
	id = 253,
	count = 4,
	table = {
{id=254,type=0,count=1}
},
	level = 35,
	circle = 0,
	openserverday = 0,
},
[17] = {
	Eid = 17,
	id = 115,
	count = 1,
	table = {
{id=112,type=0,count=1},
{id=254,type=0,count=4}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[18] = {
	Eid = 18,
	id = 116,
	count = 1,
	table = {
{id=113,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[19] = {
	Eid = 19,
	id = 117,
	count = 1,
	table = {
{id=114,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[20] = {
	Eid = 20,
	id = 143,
	count = 1,
	table = {
{id=140,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[21] = {
	Eid = 21,
	id = 144,
	count = 1,
	table = {
{id=141,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[22] = {
	Eid = 22,
	id = 145,
	count = 1,
	table = {
{id=142,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[23] = {
	Eid = 23,
	id = 91,
	count = 1,
	table = {
{id=78,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[24] = {
	Eid = 24,
	id = 92,
	count = 1,
	table = {
{id=79,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[25] = {
	Eid = 25,
	id = 93,
	count = 1,
	table = {
{id=81,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[26] = {
	Eid = 26,
	id = 173,
	count = 1,
	table = {
{id=170,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[27] = {
	Eid = 27,
	id = 174,
	count = 1,
	table = {
{id=171,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[28] = {
	Eid = 28,
	id = 175,
	count = 1,
	table = {
{id=172,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[29] = {
	Eid = 29,
	id = 205,
	count = 1,
	table = {
{id=204,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[30] = {
	Eid = 30,
	id = 206,
	count = 1,
	table = {
{id=204,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[31] = {
	Eid = 31,
	id = 207,
	count = 1,
	table = {
{id=204,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[32] = {
	Eid = 32,
	id = 189,
	count = 1,
	table = {
{id=188,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[33] = {
	Eid = 33,
	id = 190,
	count = 1,
	table = {
{id=188,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[34] = {
	Eid = 34,
	id = 191,
	count = 1,
	table = {
{id=188,type=0,count=1},
{id=254,type=0,count=4},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[35] = {
	Eid = 35,
	id = 255,
	count = 1,
	table = {
{id=254,type=0,count=6}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[36] = {
	Eid = 36,
	id = 254,
	count = 4,
	table = {
{id=255,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[37] = {
	Eid = 37,
	id = 118,
	count = 1,
	table = {
{id=115,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[38] = {
	Eid = 38,
	id = 119,
	count = 1,
	table = {
{id=116,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[39] = {
	Eid = 39,
	id = 120,
	count = 1,
	table = {
{id=117,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[40] = {
	Eid = 40,
	id = 146,
	count = 1,
	table = {
{id=143,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[41] = {
	Eid = 41,
	id = 147,
	count = 1,
	table = {
{id=144,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[42] = {
	Eid = 42,
	id = 148,
	count = 1,
	table = {
{id=145,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[43] = {
	Eid = 43,
	id = 94,
	count = 1,
	table = {
{id=91,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[44] = {
	Eid = 44,
	id = 95,
	count = 1,
	table = {
{id=92,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[45] = {
	Eid = 45,
	id = 96,
	count = 1,
	table = {
{id=93,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[46] = {
	Eid = 46,
	id = 176,
	count = 1,
	table = {
{id=173,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[47] = {
	Eid = 47,
	id = 177,
	count = 1,
	table = {
{id=174,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[48] = {
	Eid = 48,
	id = 178,
	count = 1,
	table = {
{id=175,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[49] = {
	Eid = 49,
	id = 208,
	count = 1,
	table = {
{id=205,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[50] = {
	Eid = 50,
	id = 209,
	count = 1,
	table = {
{id=206,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[51] = {
	Eid = 51,
	id = 210,
	count = 1,
	table = {
{id=207,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[52] = {
	Eid = 52,
	id = 192,
	count = 1,
	table = {
{id=189,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[53] = {
	Eid = 53,
	id = 193,
	count = 1,
	table = {
{id=190,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[54] = {
	Eid = 54,
	id = 194,
	count = 1,
	table = {
{id=191,type=0,count=1},
{id=256,type=0,count=3},
{id=0,type=2,count=800000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[55] = {
	Eid = 55,
	id = 121,
	count = 1,
	table = {
{id=115,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[56] = {
	Eid = 56,
	id = 122,
	count = 1,
	table = {
{id=116,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[57] = {
	Eid = 57,
	id = 123,
	count = 1,
	table = {
{id=117,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[58] = {
	Eid = 58,
	id = 149,
	count = 1,
	table = {
{id=143,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[59] = {
	Eid = 59,
	id = 150,
	count = 1,
	table = {
{id=144,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[60] = {
	Eid = 60,
	id = 151,
	count = 1,
	table = {
{id=145,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[61] = {
	Eid = 61,
	id = 82,
	count = 1,
	table = {
{id=91,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[62] = {
	Eid = 62,
	id = 83,
	count = 1,
	table = {
{id=92,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[63] = {
	Eid = 63,
	id = 84,
	count = 1,
	table = {
{id=93,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[64] = {
	Eid = 64,
	id = 179,
	count = 1,
	table = {
{id=173,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[65] = {
	Eid = 65,
	id = 180,
	count = 1,
	table = {
{id=174,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[66] = {
	Eid = 66,
	id = 181,
	count = 1,
	table = {
{id=175,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[67] = {
	Eid = 67,
	id = 211,
	count = 1,
	table = {
{id=205,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[68] = {
	Eid = 68,
	id = 212,
	count = 1,
	table = {
{id=206,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[69] = {
	Eid = 69,
	id = 213,
	count = 1,
	table = {
{id=207,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[70] = {
	Eid = 70,
	id = 195,
	count = 1,
	table = {
{id=189,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[71] = {
	Eid = 71,
	id = 196,
	count = 1,
	table = {
{id=190,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[72] = {
	Eid = 72,
	id = 197,
	count = 1,
	table = {
{id=191,type=0,count=1},
{id=257,type=0,count=3},
{id=255,type=0,count=1},
{id=0,type=2,count=1200000}
},
	level = 45,
	circle = 0,
	openserverday = 7,
},
[73] = {
	Eid = 73,
	id = 124,
	count = 1,
	table = {
{id=115,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[74] = {
	Eid = 74,
	id = 125,
	count = 1,
	table = {
{id=116,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[75] = {
	Eid = 75,
	id = 126,
	count = 1,
	table = {
{id=117,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[76] = {
	Eid = 76,
	id = 152,
	count = 1,
	table = {
{id=143,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[77] = {
	Eid = 77,
	id = 153,
	count = 1,
	table = {
{id=144,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[78] = {
	Eid = 78,
	id = 154,
	count = 1,
	table = {
{id=145,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[79] = {
	Eid = 79,
	id = 85,
	count = 1,
	table = {
{id=91,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[80] = {
	Eid = 80,
	id = 86,
	count = 1,
	table = {
{id=92,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[81] = {
	Eid = 81,
	id = 87,
	count = 1,
	table = {
{id=93,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[82] = {
	Eid = 82,
	id = 182,
	count = 1,
	table = {
{id=173,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[83] = {
	Eid = 83,
	id = 183,
	count = 1,
	table = {
{id=174,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[84] = {
	Eid = 84,
	id = 184,
	count = 1,
	table = {
{id=175,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[85] = {
	Eid = 85,
	id = 214,
	count = 1,
	table = {
{id=205,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[86] = {
	Eid = 86,
	id = 215,
	count = 1,
	table = {
{id=206,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[87] = {
	Eid = 87,
	id = 216,
	count = 1,
	table = {
{id=207,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[88] = {
	Eid = 88,
	id = 198,
	count = 1,
	table = {
{id=189,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[89] = {
	Eid = 89,
	id = 199,
	count = 1,
	table = {
{id=190,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[90] = {
	Eid = 90,
	id = 200,
	count = 1,
	table = {
{id=191,type=0,count=1},
{id=258,type=0,count=3},
{id=255,type=0,count=2},
{id=0,type=2,count=2000000}
},
	level = 45,
	circle = 0,
	openserverday = 30,
},
[91] = {
	Eid = 91,
	id = 228,
	count = 1,
	table = {
{id=227,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[92] = {
	Eid = 92,
	id = 229,
	count = 1,
	table = {
{id=228,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[93] = {
	Eid = 93,
	id = 230,
	count = 1,
	table = {
{id=229,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[94] = {
	Eid = 94,
	id = 231,
	count = 1,
	table = {
{id=230,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[95] = {
	Eid = 95,
	id = 232,
	count = 1,
	table = {
{id=231,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[96] = {
	Eid = 96,
	id = 233,
	count = 1,
	table = {
{id=232,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[97] = {
	Eid = 97,
	id = 20,
	count = 1,
	table = {
{id=21,type=0,count=1},
{id=263,type=0,count=66},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[98] = {
	Eid = 98,
	id = 20,
	count = 1,
	table = {
{id=24,type=0,count=1},
{id=263,type=0,count=66},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[99] = {
	Eid = 99,
	id = 21,
	count = 1,
	table = {
{id=24,type=0,count=1},
{id=263,type=0,count=66},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[100] = {
	Eid = 100,
	id = 21,
	count = 1,
	table = {
{id=20,type=0,count=1},
{id=263,type=0,count=66},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[101] = {
	Eid = 101,
	id = 24,
	count = 1,
	table = {
{id=20,type=0,count=1},
{id=263,type=0,count=66},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[102] = {
	Eid = 102,
	id = 24,
	count = 1,
	table = {
{id=21,type=0,count=1},
{id=263,type=0,count=66},
{id=0,type=2,count=500000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[103] = {
	Eid = 103,
	id = 27,
	count = 1,
	table = {
{id=28,type=0,count=1},
{id=263,type=0,count=200},
{id=0,type=2,count=2000000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[104] = {
	Eid = 104,
	id = 27,
	count = 1,
	table = {
{id=29,type=0,count=1},
{id=263,type=0,count=200},
{id=0,type=2,count=2000000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[105] = {
	Eid = 105,
	id = 28,
	count = 1,
	table = {
{id=29,type=0,count=1},
{id=263,type=0,count=200},
{id=0,type=2,count=2000000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[106] = {
	Eid = 106,
	id = 28,
	count = 1,
	table = {
{id=27,type=0,count=1},
{id=263,type=0,count=200},
{id=0,type=2,count=2000000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[107] = {
	Eid = 107,
	id = 29,
	count = 1,
	table = {
{id=27,type=0,count=1},
{id=263,type=0,count=200},
{id=0,type=2,count=2000000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[108] = {
	Eid = 108,
	id = 29,
	count = 1,
	table = {
{id=28,type=0,count=1},
{id=263,type=0,count=200},
{id=0,type=2,count=2000000}
},
	level = 40,
	circle = 0,
	openserverday = 1,
},
[109] = {
	Eid = 109,
	id = 22,
	count = 1,
	table = {
{id=33,type=0,count=1},
{id=263,type=0,count=300},
{id=20,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[110] = {
	Eid = 110,
	id = 22,
	count = 1,
	table = {
{id=23,type=0,count=1},
{id=263,type=0,count=300},
{id=20,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[111] = {
	Eid = 111,
	id = 23,
	count = 1,
	table = {
{id=33,type=0,count=1},
{id=263,type=0,count=300},
{id=24,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[112] = {
	Eid = 112,
	id = 23,
	count = 1,
	table = {
{id=22,type=0,count=1},
{id=263,type=0,count=300},
{id=24,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[113] = {
	Eid = 113,
	id = 33,
	count = 1,
	table = {
{id=22,type=0,count=1},
{id=263,type=0,count=300},
{id=21,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[114] = {
	Eid = 114,
	id = 33,
	count = 1,
	table = {
{id=23,type=0,count=1},
{id=263,type=0,count=300},
{id=21,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 3,
},
[115] = {
	Eid = 115,
	id = 30,
	count = 1,
	table = {
{id=31,type=0,count=1},
{id=263,type=0,count=500},
{id=28,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 7,
},
[116] = {
	Eid = 116,
	id = 30,
	count = 1,
	table = {
{id=32,type=0,count=1},
{id=263,type=0,count=500},
{id=28,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 7,
},
[117] = {
	Eid = 117,
	id = 31,
	count = 1,
	table = {
{id=32,type=0,count=1},
{id=263,type=0,count=500},
{id=27,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 7,
},
[118] = {
	Eid = 118,
	id = 31,
	count = 1,
	table = {
{id=30,type=0,count=1},
{id=263,type=0,count=500},
{id=27,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 7,
},
[119] = {
	Eid = 119,
	id = 32,
	count = 1,
	table = {
{id=30,type=0,count=1},
{id=263,type=0,count=500},
{id=29,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 7,
},
[120] = {
	Eid = 120,
	id = 32,
	count = 1,
	table = {
{id=31,type=0,count=1},
{id=263,type=0,count=500},
{id=29,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 7,
},
[121] = {
	Eid = 121,
	id = 34,
	count = 1,
	table = {
{id=35,type=0,count=1},
{id=20,type=0,count=},
{id=28,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[122] = {
	Eid = 122,
	id = 34,
	count = 1,
	table = {
{id=36,type=0,count=1},
{id=20,type=0,count=},
{id=28,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[123] = {
	Eid = 123,
	id = 35,
	count = 1,
	table = {
{id=36,type=0,count=1},
{id=24,type=0,count=},
{id=27,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[124] = {
	Eid = 124,
	id = 35,
	count = 1,
	table = {
{id=34,type=0,count=1},
{id=24,type=0,count=},
{id=27,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[125] = {
	Eid = 125,
	id = 36,
	count = 1,
	table = {
{id=34,type=0,count=1},
{id=21,type=0,count=},
{id=29,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[126] = {
	Eid = 126,
	id = 36,
	count = 1,
	table = {
{id=35,type=0,count=1},
{id=21,type=0,count=},
{id=29,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[127] = {
	Eid = 127,
	id = 34,
	count = 1,
	table = {
{id=30,type=0,count=1},
{id=20,type=0,count=},
{id=28,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[128] = {
	Eid = 128,
	id = 35,
	count = 1,
	table = {
{id=31,type=0,count=1},
{id=24,type=0,count=},
{id=27,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[129] = {
	Eid = 129,
	id = 36,
	count = 1,
	table = {
{id=32,type=0,count=1},
{id=21,type=0,count=},
{id=29,type=0,count=}
},
	level = 40,
	circle = 0,
	openserverday = 30,
},
[130] = {
	Eid = 130,
	id = 71,
	count = 1,
	table = {
{id=57,type=0,count=2},
{id=58,type=0,count=2},
{id=59,type=0,count=2}
},
	level = 40,
	circle = 0,
	openserverday = 15,
},
[131] = {
	Eid = 131,
	id = 75,
	count = 1,
	table = {
{id=71,type=0,count=1},
{id=264,type=0,count=15},
{id=257,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 25,
},
[132] = {
	Eid = 132,
	id = 63,
	count = 1,
	table = {
{id=75,type=0,count=1},
{id=264,type=0,count=30},
{id=258,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[133] = {
	Eid = 133,
	id = 65,
	count = 1,
	table = {
{id=75,type=0,count=1},
{id=264,type=0,count=30},
{id=258,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[134] = {
	Eid = 134,
	id = 67,
	count = 1,
	table = {
{id=75,type=0,count=1},
{id=264,type=0,count=30},
{id=258,type=0,count=3}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[135] = {
	Eid = 135,
	id = 63,
	count = 1,
	table = {
{id=65,type=0,count=1},
{id=258,type=0,count=1},
{id=257,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[136] = {
	Eid = 136,
	id = 63,
	count = 1,
	table = {
{id=67,type=0,count=1},
{id=258,type=0,count=1},
{id=257,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[137] = {
	Eid = 137,
	id = 65,
	count = 1,
	table = {
{id=67,type=0,count=1},
{id=258,type=0,count=1},
{id=257,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[138] = {
	Eid = 138,
	id = 65,
	count = 1,
	table = {
{id=63,type=0,count=1},
{id=258,type=0,count=1},
{id=257,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[139] = {
	Eid = 139,
	id = 67,
	count = 1,
	table = {
{id=63,type=0,count=1},
{id=258,type=0,count=1},
{id=257,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[140] = {
	Eid = 140,
	id = 67,
	count = 1,
	table = {
{id=65,type=0,count=1},
{id=258,type=0,count=1},
{id=257,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 40,
},
[141] = {
	Eid = 141,
	id = 261,
	count = 30,
	table = {
{id=265,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 100,
},
[142] = {
	Eid = 142,
	id = 265,
	count = 1,
	table = {
{id=261,type=0,count=300}
},
	level = 40,
	circle = 0,
	openserverday = 0,
},
[143] = {
	Eid = 143,
	id = 265,
	count = 3,
	table = {
{id=267,type=0,count=1}
},
	level = 40,
	circle = 0,
	openserverday = 150,
},
[144] = {
	Eid = 144,
	id = 267,
	count = 1,
	table = {
{id=265,type=0,count=30}
},
	level = 40,
	circle = 0,
	openserverday = 100,
},
}