--D-道具表配置.xlsx 数值列表
NumericalIcon={
[1] = {
	id = 1,
	name = "金币",
},
[2] = {
	id = 2,
	name = "绑定金币",
},
[3] = {
	id = 3,
	name = "银两",
},
[4] = {
	id = 4,
	name = "元宝",
},
[5] = {
	id = 5,
	name = "经验值",
},
[6] = {
	id = 6,
	name = "转生修为",
},
[7] = {
	id = 7,
	name = "飞鞋点数",
},
[8] = {
	id = 8,
	name = "喇叭点数",
},
[9] = {
	id = 9,
	name = "回收积分",
},
[10] = {
	id = 10,
	name = "行会贡献",
},
[11] = {
	id = 11,
	name = "声望",
},
[12] = {
	id = 12,
	name = "活跃度",
},
[13] = {
	id = 13,
	name = "多倍经验",
},
[14] = {
	id = 14,
	name = "当前基础经验值",
},
[15] = {
	id = 15,
	name = "神装BOSS挑战次数",
},
[16] = {
	id = 16,
	name = "称号ID",
},
[17] = {
	id = 17,
	name = "战令积分",
},
[18] = {
	id = 18,
	name = "神魔保险祝福值",
},
[19] = {
	id = 19,
	name = "交易额度",
},
[20] = {
	id = 20,
	name = "战令币",
},
[21] = {
	id = 21,
	name = "次元钥匙",
},
[22] = {
	id = 22,
	name = "复活特权",
},
[23] = {
	id = 23,
	name = "宠物",
},
[24] = {
	id = 24,
	name = "个性称号ID",
},
[25] = {
	id = 25,
	name = "秘境宝箱",
},
[26] = {
	id = 26,
	name = "字诀宝箱",
},
[27] = {
	id = 27,
	name = "材料宝箱",
},
[28] = {
	id = 28,
	name = "活跃度",
},
[120] = {
	id = 120,
	name = "行会资金",
},
}