--S-升星配置.xlsx 升星消耗
UpstarConsumeConfig = {
[1] = {
	id = 1,
	consume = {{type=0,id=852,count=1},{type=2,id=2,count=10000}},
},
[2] = {
	id = 2,
	consume = {{type=0,id=852,count=2},{type=2,id=2,count=20000}},
},
[3] = {
	id = 3,
	consume = {{type=0,id=852,count=3},{type=2,id=2,count=40000}},
},
[4] = {
	id = 4,
	consume = {{type=0,id=852,count=4},{type=2,id=2,count=80000}},
},
[5] = {
	id = 5,
	consume = {{type=0,id=852,count=5},{type=2,id=2,count=160000},{type=0,id=837,count=3}},
},
[6] = {
	id = 6,
	consume = {{type=0,id=852,count=6},{type=2,id=2,count=320000},{type=0,id=837,count=5}},
},
[7] = {
	id = 7,
	consume = {{type=0,id=852,count=7},{type=2,id=2,count=480000},{type=0,id=838,count=3}},
},
[8] = {
	id = 8,
	consume = {{type=0,id=852,count=8},{type=2,id=2,count=640000},{type=0,id=838,count=5}},
},
[9] = {
	id = 9,
	consume = {{type=0,id=852,count=9},{type=2,id=2,count=800000},{type=0,id=839,count=3}},
},
[10] = {
	id = 10,
	consume = {{type=0,id=852,count=10},{type=2,id=2,count=960000},{type=0,id=839,count=5}},
},
[11] = {
	id = 11,
	consume = {{type=0,id=852,count=11},{type=2,id=2,count=1120000},{type=0,id=840,count=3}},
},
[12] = {
	id = 12,
	consume = {{type=0,id=852,count=12},{type=2,id=2,count=1280000},{type=0,id=840,count=5}},
},
}