--AB-摇钱树.xlsx 奖励表
MoneytreeRewardConfig = {
[1] = {
	id = 1,
	Opendaylimit = 1,
	rate = 9000,
	reward = {{type=2,id=2,count=200000}},
	Uitips = "恭喜你摇出了200000绑金",
},
[2] = {
	id = 2,
	Opendaylimit = 1,
	rate = 1000,
	reward = {{type=2,id=2,count=280000}},
	tips = 511,
	Uitips = "恭喜你摇出了280000绑金",
},
[3] = {
	id = 3,
	Opendaylimit = 7,
	rate = 9000,
	reward = {{type=2,id=2,count=280000}},
	Uitips = "恭喜你摇出了280000绑金",
},
[4] = {
	id = 4,
	Opendaylimit = 7,
	rate = 1000,
	reward = {{type=2,id=2,count=380000}},
	tips = 512,
	Uitips = "恭喜你摇出了380000绑金",
},
[5] = {
	id = 5,
	Opendaylimit = 30,
	rate = 9000,
	reward = {{type=2,id=2,count=380000}},
	Uitips = "恭喜你摇出了380000绑金",
},
[6] = {
	id = 6,
	Opendaylimit = 30,
	rate = 1000,
	reward = {{type=2,id=2,count=580000}},
	tips = 516,
	Uitips = "恭喜你摇出了580000绑金",
},
}