--AA-返利元宝.xlsx 元宝返利
YBRebateConfig={
[10001] = {
	[1] = {
		Id = 10001,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.8.09-0:00:00",EndTime="2021.8.10-16:59:59"},
},
		offlineType = 1,
		pay = "100000000-100000001",
		awardList = 1,
		mailInfo = {head="过期活动",context="您在累充返利达到%d元宝，请在邮件中领取返利奖励"},
	},
},
[10002] = {
	[1] = {
		Id = 10002,
		index = 1,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "1010-4999",
		awardList = 800,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到101元，可获总额8%的返利，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 10002,
		index = 2,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "5000-9999",
		awardList = 1000,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到500元，可获总额10%的返利，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 10002,
		index = 3,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "10000-29999",
		awardList = 1200,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到1000元，可获总额12%的返利，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 10002,
		index = 4,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "30000-59999",
		awardList = 1500,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到3000元，可获总额15%的返利，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 10002,
		index = 5,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "60000-99999",
		awardList = 2000,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到6000元，可获总额20%的返利，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 10002,
		index = 6,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "100000-199999",
		awardList = 2500,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到10000元，可获总额25%的返利，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 10002,
		index = 7,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = "200000-99999999",
		awardList = 3000,
		mailInfo = {head="元宝返利",context="您在昨天的元宝返利活动中累积达到20000元，可获总额30%的返利，请在邮件中领取返利奖励"},
	},
},
}