--D-锻造合成表.xlsx 合成主目录
MergeTotal={
[1] = {
	id = 1,
	openLv = 35,
	openZs = 0,
	openserverDay = 0,
	btn_source = "装备",
	sort = 1,
},
[2] = {
	id = 2,
	openLv = 40,
	openZs = 0,
	openserverDay = 15,
	btn_source = "武器",
	sort = 2,
},
[3] = {
	id = 3,
	openLv = 40,
	openZs = 0,
	openserverDay = 15,
	btn_source = "衣服",
	sort = 3,
},
[4] = {
	id = 4,
	openLv = 40,
	openZs = 0,
	openserverDay = 0,
	btn_source = "其他",
	sort = 4,
},
}