--AA-邮件.xlsx 邮件配置
MailIDConfig={
[1] = {
	id = 1,
	title = "不应该收到",
	content = "不应该收到",
},
[2] = {
	id = 2,
	title = "不应该收到",
	content = "不应该收到",
},
[3] = {
	id = 3,
	title = "欢迎来到玛法大陆",
	content = "游戏特色：|C:0xfc21ed&T:全部装备打怪爆|\n郑重承诺：|C:0xfc21ed&T:金币永久保值|\n激情体验：|C:0xfc21ed&T:升级快、爆率高、PK爽|\n无限跨服：|C:0xfc21ed&T:天天跨服、永远激情|",
	attachment = {{type=0,id=1263,count=7},{type=0,id=1278,count=1},{type=0,id=1242,count=100}},
	isSend = 1,
},
[4] = {
	id = 4,
	title = "合服补偿",
	content = "尊敬的玩家：\n合服已完成。您所在区服开服时间较晚，系统按开服天数差值自动补偿每日签到奖励，膜拜次数、次元钥匙、跨服膜拜次数等将在明日0点统一增加。祝您在游戏中玩得开心",
	attachment = {{type=0,id=829,count=1},{type=0,id=300,count=1},{type=0,id=421,count=3},{type=0,id=269,count=3}},
},
}