--G-共鸣装备.xlsx 神装表
ResonanceItemCfg={
[101] = {
	Resonanceid = 101,
	attr = {
{itemid=1167,attr={{type=6,value=20},}},
{itemid=1168,attr={{type=6,value=40},}},
{itemid=1169,attr={{type=6,value=60},}},
{itemid=1170,attr={{type=6,value=80},}},
{itemid=1171,attr={{type=6,value=100},}},
},
},
[102] = {
	Resonanceid = 102,
	attr = {
{itemid=1167,attr={{type=6,value=40},}},
{itemid=1168,attr={{type=6,value=80},}},
{itemid=1169,attr={{type=6,value=120},}},
{itemid=1170,attr={{type=6,value=160},}},
{itemid=1171,attr={{type=6,value=200},}},
},
},
[103] = {
	Resonanceid = 103,
	attr = {
{itemid=1167,attr={{type=6,value=60},}},
{itemid=1168,attr={{type=6,value=120},}},
{itemid=1169,attr={{type=6,value=180},}},
{itemid=1170,attr={{type=6,value=240},}},
{itemid=1171,attr={{type=6,value=300},}},
},
},
[104] = {
	Resonanceid = 104,
	attr = {
{itemid=1167,attr={{type=6,value=80},}},
{itemid=1168,attr={{type=6,value=160},}},
{itemid=1169,attr={{type=6,value=240},}},
{itemid=1170,attr={{type=6,value=320},}},
{itemid=1171,attr={{type=6,value=400},}},
},
},
[105] = {
	Resonanceid = 105,
	attr = {
{itemid=1167,attr={{type=6,value=100},}},
{itemid=1168,attr={{type=6,value=200},}},
{itemid=1169,attr={{type=6,value=300},}},
{itemid=1170,attr={{type=6,value=400},}},
{itemid=1171,attr={{type=6,value=500},}},
},
},
[106] = {
	Resonanceid = 106,
	attr = {
{itemid=1167,attr={{type=6,value=120},}},
{itemid=1168,attr={{type=6,value=240},}},
{itemid=1169,attr={{type=6,value=360},}},
{itemid=1170,attr={{type=6,value=480},}},
{itemid=1171,attr={{type=6,value=600},}},
},
},
[107] = {
	Resonanceid = 107,
	attr = {
{itemid=1167,attr={{type=6,value=140},}},
{itemid=1168,attr={{type=6,value=280},}},
{itemid=1169,attr={{type=6,value=420},}},
{itemid=1170,attr={{type=6,value=560},}},
{itemid=1171,attr={{type=6,value=700},}},
},
},
[108] = {
	Resonanceid = 108,
	attr = {
{itemid=1167,attr={{type=6,value=160},}},
{itemid=1168,attr={{type=6,value=320},}},
{itemid=1169,attr={{type=6,value=480},}},
{itemid=1170,attr={{type=6,value=640},}},
{itemid=1171,attr={{type=6,value=800},}},
},
},
[109] = {
	Resonanceid = 109,
	attr = {
{itemid=1167,attr={{type=6,value=180},}},
{itemid=1168,attr={{type=6,value=360},}},
{itemid=1169,attr={{type=6,value=540},}},
{itemid=1170,attr={{type=6,value=720},}},
{itemid=1171,attr={{type=6,value=900},}},
},
},
[110] = {
	Resonanceid = 110,
	attr = {
{itemid=1167,attr={{type=6,value=200},}},
{itemid=1168,attr={{type=6,value=400},}},
{itemid=1169,attr={{type=6,value=600},}},
{itemid=1170,attr={{type=6,value=800},}},
{itemid=1171,attr={{type=6,value=1000},}},

},
},
[201] = {
	Resonanceid = 201,
	attr = {
{itemid=1172,attr={{type=6,value=20},}},
{itemid=1173,attr={{type=6,value=40},}},
{itemid=1174,attr={{type=6,value=60},}},
{itemid=1175,attr={{type=6,value=80},}},
{itemid=1176,attr={{type=6,value=100},}},
},
},
[202] = {
	Resonanceid = 202,
	attr = {
{itemid=1172,attr={{type=6,value=40},}},
{itemid=1173,attr={{type=6,value=80},}},
{itemid=1174,attr={{type=6,value=120},}},
{itemid=1175,attr={{type=6,value=160},}},
{itemid=1176,attr={{type=6,value=200},}},
},
},
[203] = {
	Resonanceid = 203,
	attr = {
{itemid=1172,attr={{type=6,value=60},}},
{itemid=1173,attr={{type=6,value=120},}},
{itemid=1174,attr={{type=6,value=180},}},
{itemid=1175,attr={{type=6,value=240},}},
{itemid=1176,attr={{type=6,value=300},}},
},
},
[204] = {
	Resonanceid = 204,
	attr = {
{itemid=1172,attr={{type=6,value=80},}},
{itemid=1173,attr={{type=6,value=160},}},
{itemid=1174,attr={{type=6,value=240},}},
{itemid=1175,attr={{type=6,value=320},}},
{itemid=1176,attr={{type=6,value=400},}},
},
},
[205] = {
	Resonanceid = 205,
	attr = {
{itemid=1172,attr={{type=6,value=100},}},
{itemid=1173,attr={{type=6,value=200},}},
{itemid=1174,attr={{type=6,value=300},}},
{itemid=1175,attr={{type=6,value=400},}},
{itemid=1176,attr={{type=6,value=500},}},
},
},
[206] = {
	Resonanceid = 206,
	attr = {
{itemid=1172,attr={{type=6,value=120},}},
{itemid=1173,attr={{type=6,value=240},}},
{itemid=1174,attr={{type=6,value=360},}},
{itemid=1175,attr={{type=6,value=480},}},
{itemid=1176,attr={{type=6,value=600},}},
},
},
[207] = {
	Resonanceid = 207,
	attr = {
{itemid=1172,attr={{type=6,value=140},}},
{itemid=1173,attr={{type=6,value=280},}},
{itemid=1174,attr={{type=6,value=420},}},
{itemid=1175,attr={{type=6,value=560},}},
{itemid=1176,attr={{type=6,value=700},}},
},
},
[208] = {
	Resonanceid = 208,
	attr = {
{itemid=1172,attr={{type=6,value=160},}},
{itemid=1173,attr={{type=6,value=320},}},
{itemid=1174,attr={{type=6,value=480},}},
{itemid=1175,attr={{type=6,value=640},}},
{itemid=1176,attr={{type=6,value=800},}},
},
},
[209] = {
	Resonanceid = 209,
	attr = {
{itemid=1172,attr={{type=6,value=180},}},
{itemid=1173,attr={{type=6,value=360},}},
{itemid=1174,attr={{type=6,value=540},}},
{itemid=1175,attr={{type=6,value=720},}},
{itemid=1176,attr={{type=6,value=900},}},
},
},
[210] = {
	Resonanceid = 210,
	attr = {
{itemid=1172,attr={{type=6,value=200},}},
{itemid=1173,attr={{type=6,value=400},}},
{itemid=1174,attr={{type=6,value=600},}},
{itemid=1175,attr={{type=6,value=800},}},
{itemid=1176,attr={{type=6,value=1000},}},
},
},
[301] = {
	Resonanceid = 301,
	attr = {
{itemid=1177,attr={{type=6,value=20},}},
{itemid=1178,attr={{type=6,value=40},}},
{itemid=1179,attr={{type=6,value=60},}},
{itemid=1180,attr={{type=6,value=80},}},
{itemid=1181,attr={{type=6,value=100},}},
},
},
[302] = {
	Resonanceid = 302,
	attr = {
{itemid=1177,attr={{type=6,value=40},}},
{itemid=1178,attr={{type=6,value=80},}},
{itemid=1179,attr={{type=6,value=120},}},
{itemid=1180,attr={{type=6,value=160},}},
{itemid=1181,attr={{type=6,value=200},}},
},
},
[303] = {
	Resonanceid = 303,
	attr = {
{itemid=1177,attr={{type=6,value=60},}},
{itemid=1178,attr={{type=6,value=120},}},
{itemid=1179,attr={{type=6,value=180},}},
{itemid=1180,attr={{type=6,value=240},}},
{itemid=1181,attr={{type=6,value=300},}},
},
},
[304] = {
	Resonanceid = 304,
	attr = {
{itemid=1177,attr={{type=6,value=80},}},
{itemid=1178,attr={{type=6,value=160},}},
{itemid=1179,attr={{type=6,value=240},}},
{itemid=1180,attr={{type=6,value=320},}},
{itemid=1181,attr={{type=6,value=400},}},
},
},
[305] = {
	Resonanceid = 305,
	attr = {
{itemid=1177,attr={{type=6,value=100},}},
{itemid=1178,attr={{type=6,value=200},}},
{itemid=1179,attr={{type=6,value=300},}},
{itemid=1180,attr={{type=6,value=400},}},
{itemid=1181,attr={{type=6,value=500},}},
},
},
[306] = {
	Resonanceid = 306,
	attr = {
{itemid=1177,attr={{type=6,value=120},}},
{itemid=1178,attr={{type=6,value=240},}},
{itemid=1179,attr={{type=6,value=360},}},
{itemid=1180,attr={{type=6,value=480},}},
{itemid=1181,attr={{type=6,value=600},}},
},
},
[307] = {
	Resonanceid = 307,
	attr = {
{itemid=1177,attr={{type=6,value=140},}},
{itemid=1178,attr={{type=6,value=280},}},
{itemid=1179,attr={{type=6,value=420},}},
{itemid=1180,attr={{type=6,value=560},}},
{itemid=1181,attr={{type=6,value=700},}},
},
},
[308] = {
	Resonanceid = 308,
	attr = {
{itemid=1177,attr={{type=6,value=160},}},
{itemid=1178,attr={{type=6,value=320},}},
{itemid=1179,attr={{type=6,value=480},}},
{itemid=1180,attr={{type=6,value=640},}},
{itemid=1181,attr={{type=6,value=800},}},
},
},
[309] = {
	Resonanceid = 309,
	attr = {
{itemid=1177,attr={{type=6,value=180},}},
{itemid=1178,attr={{type=6,value=360},}},
{itemid=1179,attr={{type=6,value=540},}},
{itemid=1180,attr={{type=6,value=720},}},
{itemid=1181,attr={{type=6,value=900},}},
},
},
[310] = {
	Resonanceid = 310,
	attr = {
{itemid=1177,attr={{type=6,value=200},}},
{itemid=1178,attr={{type=6,value=400},}},
{itemid=1179,attr={{type=6,value=600},}},
{itemid=1180,attr={{type=6,value=800},}},
{itemid=1181,attr={{type=6,value=1000},}},
},
},
[401] = {
	Resonanceid = 401,
	attr = {
{itemid=1182,attr={{type=6,value=20},}},
{itemid=1183,attr={{type=6,value=40},}},
{itemid=1184,attr={{type=6,value=60},}},
{itemid=1185,attr={{type=6,value=80},}},
{itemid=1186,attr={{type=6,value=100},}},
},
},
[402] = {
	Resonanceid = 402,
	attr = {
{itemid=1182,attr={{type=6,value=40},}},
{itemid=1183,attr={{type=6,value=80},}},
{itemid=1184,attr={{type=6,value=120},}},
{itemid=1185,attr={{type=6,value=160},}},
{itemid=1186,attr={{type=6,value=200},}},
},
},
[403] = {
	Resonanceid = 403,
	attr = {
{itemid=1182,attr={{type=6,value=60},}},
{itemid=1183,attr={{type=6,value=120},}},
{itemid=1184,attr={{type=6,value=180},}},
{itemid=1185,attr={{type=6,value=240},}},
{itemid=1186,attr={{type=6,value=300},}},
},
},
[404] = {
	Resonanceid = 404,
	attr = {
{itemid=1182,attr={{type=6,value=80},}},
{itemid=1183,attr={{type=6,value=160},}},
{itemid=1184,attr={{type=6,value=240},}},
{itemid=1185,attr={{type=6,value=320},}},
{itemid=1186,attr={{type=6,value=400},}},
},
},
[405] = {
	Resonanceid = 405,
	attr = {
{itemid=1182,attr={{type=6,value=100},}},
{itemid=1183,attr={{type=6,value=200},}},
{itemid=1184,attr={{type=6,value=300},}},
{itemid=1185,attr={{type=6,value=400},}},
{itemid=1186,attr={{type=6,value=500},}},
},
},
[406] = {
	Resonanceid = 406,
	attr = {
{itemid=1182,attr={{type=6,value=120},}},
{itemid=1183,attr={{type=6,value=240},}},
{itemid=1184,attr={{type=6,value=360},}},
{itemid=1185,attr={{type=6,value=480},}},
{itemid=1186,attr={{type=6,value=600},}},
},
},
[407] = {
	Resonanceid = 407,
	attr = {
{itemid=1182,attr={{type=6,value=140},}},
{itemid=1183,attr={{type=6,value=280},}},
{itemid=1184,attr={{type=6,value=420},}},
{itemid=1185,attr={{type=6,value=560},}},
{itemid=1186,attr={{type=6,value=700},}},
},
},
[408] = {
	Resonanceid = 408,
	attr = {
{itemid=1182,attr={{type=6,value=160},}},
{itemid=1183,attr={{type=6,value=320},}},
{itemid=1184,attr={{type=6,value=480},}},
{itemid=1185,attr={{type=6,value=640},}},
{itemid=1186,attr={{type=6,value=800},}},
},
},
[409] = {
	Resonanceid = 409,
	attr = {
{itemid=1182,attr={{type=6,value=180},}},
{itemid=1183,attr={{type=6,value=360},}},
{itemid=1184,attr={{type=6,value=540},}},
{itemid=1185,attr={{type=6,value=720},}},
{itemid=1186,attr={{type=6,value=900},}},
},
},
[410] = {
	Resonanceid = 410,
	attr = {
{itemid=1182,attr={{type=6,value=200},}},
{itemid=1183,attr={{type=6,value=400},}},
{itemid=1184,attr={{type=6,value=600},}},
{itemid=1185,attr={{type=6,value=800},}},
{itemid=1186,attr={{type=6,value=1000},}},
},
},
}