--X-小飞鞋配置.xlsx 传送要求
FlyLevel = {
[1] = {
	id = 1,
	name = "比奇",
	destination = {id=1,range={236,131,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[2] = {
	id = 2,
	name = "毒蛇山谷",
	destination = {id=8,range={486,45,1,0,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[3] = {
	id = 3,
	name = "盟重",
	destination = {id=3,range={215,149,1,1,}},
	openlevel = 20,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[4] = {
	id = 4,
	name = "苍月岛",
	destination = {id=4,range={44,143,1,0,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[5] = {
	id = 5,
	name = "封魔谷",
	destination = {id=9,range={168,90,1,0,}},
	openlevel = 32,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[6] = {
	id = 6,
	name = "白日门",
	destination = {id=6,range={127,156,1,0,}},
	openlevel = 30,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[7] = {
	id = 7,
	name = "魔龙城",
	destination = {id=10,range={87,73,1,0,}},
	openlevel = 45,
	opencircle = 0,
	openday = 15,
	level = 0,
	circle = 0,
	day = 12,
	yuanbao = 0,
	cost = 1,
},
[8] = {
	id = 8,
	name = "山谷矿区",
	destination = {id=8,range={415,80,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[9] = {
	id = 9,
	name = "沃玛寺庙",
	destination = {id=5,range={59,135,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[10] = {
	id = 10,
	name = "兽人古墓",
	destination = {id=1,range={93,15,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[11] = {
	id = 11,
	name = "洞穴",
	destination = {id=1,range={26,54,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[12] = {
	id = 12,
	name = "比奇废矿",
	destination = {id=1,range={481,106,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[13] = {
	id = 13,
	name = "地牢",
	destination = {id=3,range={80,29,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[14] = {
	id = 14,
	name = "石墓洞穴",
	destination = {id=3,range={200,156,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[15] = {
	id = 15,
	name = "祖玛寺庙",
	destination = {id=3,range={621,78,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[16] = {
	id = 16,
	name = "骨魔洞穴",
	destination = {id=4,range={350,44,1,1,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 3,
	yuanbao = 0,
	cost = 1,
},
[17] = {
	id = 17,
	name = "尸魔洞穴",
	destination = {id=4,range={333,285,1,1,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 3,
	yuanbao = 0,
	cost = 1,
},
[18] = {
	id = 18,
	name = "牛魔寺庙",
	destination = {id=4,range={437,210,1,0,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 3,
	yuanbao = 0,
	cost = 1,
},
[19] = {
	id = 19,
	name = "封魔矿区",
	destination = {id=9,range={36,26,1,1,}},
	openlevel = 32,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[20] = {
	id = 20,
	name = "丛林迷宫",
	destination = {id=6,range={264,116,1,1,}},
	openlevel = 40,
	opencircle = 0,
	openday = 6,
	level = 40,
	circle = 0,
	day = 4,
	yuanbao = 0,
	cost = 1,
},
[21] = {
	id = 21,
	name = "困惑殿堂",
	destination = {id=105,range={26,12,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 3,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 2,
},
[22] = {
	id = 22,
	name = "钳虫巢穴",
	destination = {id=6,range={261,153,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 3,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 2,
},
[23] = {
	id = 23,
	name = "死亡神殿",
	destination = {id=9,range={145,101,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 3,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 2,
},
[24] = {
	id = 24,
	name = "地狱烈焰",
	destination = {id=1,range={303,232,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 3,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 2,
},
[25] = {
	id = 25,
	name = "堕落坟场",
	destination = {id=5,range={233,24,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 3,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 2,
},
[26] = {
	id = 26,
	name = "深渊魔域",
	destination = {id=5,range={163,151,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 3,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 2,
},
[27] = {
	id = 27,
	name = "恶魔祭坛",
	destination = {id=116,range={133,26,1,0,}},
	openlevel = 40,
	opencircle = 0,
	openday = 6,
	level = 40,
	circle = 0,
	day = 4,
	yuanbao = 0,
	cost = 2,
},
[28] = {
	id = 28,
	name = "赤月魔穴",
	destination = {id=117,range={98,9,1,0,}},
	openlevel = 40,
	opencircle = 0,
	openday = 6,
	level = 40,
	circle = 0,
	day = 4,
	yuanbao = 0,
	cost = 2,
},
[29] = {
	id = 29,
	name = "沙城门口",
	destination = {id=3,range={488,157,1,0,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[30] = {
	id = 30,
	name = "沙城通道",
	destination = {id=98,range={68,52,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[31] = {
	id = 31,
	name = "庄园",
	destination = {id=150,range={54,36,1,0,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[32] = {
	id = 32,
	name = "古墓挂机",
	destination = {id=189,range={122,82,121,81,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[33] = {
	id = 33,
	name = "矿洞挂机",
	destination = {id=190,range={67,41,66,40,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[34] = {
	id = 34,
	name = "沃玛挂机",
	destination = {id=191,range={37,24,33,21,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[35] = {
	id = 35,
	name = "地牢专属1",
	destination = {id=192,range={38,25,37,24,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[36] = {
	id = 36,
	name = "地牢专属2",
	destination = {id=193,range={38,25,37,24,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[37] = {
	id = 37,
	name = "封魔专属1",
	destination = {id=194,range={34,22,32,20,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[38] = {
	id = 38,
	name = "封魔专属2",
	destination = {id=195,range={34,22,32,20,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[39] = {
	id = 39,
	name = "祖玛专属1",
	destination = {id=196,range={18,12,17,11,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[40] = {
	id = 40,
	name = "祖玛专属2",
	destination = {id=197,range={18,12,17,11,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[41] = {
	id = 41,
	name = "骨魔专属1",
	destination = {id=198,range={71,47,69,45,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[42] = {
	id = 42,
	name = "骨魔专属2",
	destination = {id=199,range={71,47,69,45,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[43] = {
	id = 43,
	name = "尸魔专属1",
	destination = {id=200,range={35,25,32,19,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[44] = {
	id = 44,
	name = "尸魔专属2",
	destination = {id=201,range={35,25,32,19,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[45] = {
	id = 45,
	name = "牛魔专属1",
	destination = {id=202,range={37,24,34,22,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[46] = {
	id = 46,
	name = "牛魔专属2",
	destination = {id=203,range={37,24,34,22,}},
	openlevel = 35,
	opencircle = 0,
	openday = 4,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 1,
	cost = 1,
},
[47] = {
	id = 47,
	name = "25级打宝",
	destination = {id=3,range={226,154,0,0,}},
	openlevel = 20,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 184,
},
[48] = {
	id = 48,
	name = "30级打宝",
	destination = {id=3,range={223,154,0,0,}},
	openlevel = 30,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 185,
},
[49] = {
	id = 49,
	name = "40级打宝",
	destination = {id=3,range={220,154,0,0,}},
	openlevel = 40,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 186,
},
[50] = {
	id = 50,
	name = "45级打宝",
	destination = {id=3,range={217,154,0,0,}},
	openlevel = 45,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 187,
},
[51] = {
	id = 51,
	name = "1转打宝",
	destination = {id=3,range={214,154,0,0,}},
	openlevel = 0,
	opencircle = 1,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 188,
},
[52] = {
	id = 52,
	name = "2转打宝",
	destination = {id=3,range={211,154,0,0,}},
	openlevel = 0,
	opencircle = 2,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 189,
},
[53] = {
	id = 53,
	name = "3转打宝",
	destination = {id=3,range={208,154,0,0,}},
	openlevel = 0,
	opencircle = 3,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 190,
},
[54] = {
	id = 54,
	name = "4转打宝",
	destination = {id=3,range={205,154,0,0,}},
	openlevel = 0,
	opencircle = 4,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 191,
},
[55] = {
	id = 55,
	name = "暴击碎片",
	destination = {id=3,range={211,152,0,0,}},
	openlevel = 0,
	opencircle = 2,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 195,
},
[56] = {
	id = 56,
	name = "技能秘籍",
	destination = {id=3,range={211,149,0,0,}},
	openlevel = 0,
	opencircle = 3,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 196,
},
[57] = {
	id = 57,
	name = "转生材料",
	destination = {id=3,range={211,146,0,0,}},
	openlevel = 0,
	opencircle = 3,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 197,
},
[58] = {
	id = 58,
	name = "魔器",
	destination = {id=3,range={211,144,0,0,}},
	openlevel = 0,
	opencircle = 4,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 199,
},
[59] = {
	id = 59,
	name = "东西关",
	destination = {id=256,range={47,25,0,0,}},
	openlevel = 0,
	opencircle = 4,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 203,
},
[60] = {
	id = 60,
	name = "潼关",
	destination = {id=256,range={45,25,0,0,}},
	openlevel = 0,
	opencircle = 4,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 211,
},
[61] = {
	id = 61,
	name = "石头城",
	destination = {id=256,range={40,27,0,0,}},
	openlevel = 0,
	opencircle = 5,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 192,
},
[62] = {
	id = 62,
	name = "冰封之境",
	destination = {id=256,range={37,27,0,0,}},
	openlevel = 0,
	opencircle = 5,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 204,
},
[63] = {
	id = 63,
	name = "祖玛道",
	destination = {id=256,range={34,27,0,0,}},
	openlevel = 0,
	opencircle = 5,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 212,
},
[64] = {
	id = 64,
	name = "沧浪亭",
	destination = {id=256,range={31,27,0,0,}},
	openlevel = 0,
	opencircle = 6,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 193,
},
[65] = {
	id = 65,
	name = "雪山陵墓",
	destination = {id=256,range={26,25,0,0,}},
	openlevel = 0,
	opencircle = 6,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 206,
},
[66] = {
	id = 66,
	name = "太行山",
	destination = {id=256,range={31,24,0,0,}},
	openlevel = 0,
	opencircle = 7,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 194,
},
[67] = {
	id = 67,
	name = "沉睡之地",
	destination = {id=256,range={41,21,0,0,}},
	openlevel = 0,
	opencircle = 4,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 208,
},
[68] = {
	id = 68,
	name = "孤独之路",
	destination = {id=256,range={43,20,0,0,}},
	openlevel = 0,
	opencircle = 4,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 207,
},
[69] = {
	id = 69,
	name = "沙巴克",
	destination = {id=3,range={487,157,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[70] = {
	id = 70,
	name = "飞鞋传送",
	destination = {id=3,range={224,149,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 170,
},
[71] = {
	id = 71,
	name = "沙城大门",
	destination = {id=3,range={487,157,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[72] = {
	id = 72,
	name = "沙城通道",
	destination = {id=98,range={68,50,1,1,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[73] = {
	id = 73,
	name = "藏宝库",
	destination = {id=164,range={30,20,20,15,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[74] = {
	id = 74,
	name = "石墓七层",
	destination = {id=108,range={40,24,30,20,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[75] = {
	id = 75,
	name = "内功材料",
	destination = {id=256,range={32,24,0,0,}},
	openlevel = 0,
	opencircle = 5,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
	npcid = 214,
},
[76] = {
	id = 76,
	name = "楼兰",
	destination = {id=303,range={34,18,0,0,}},
	openlevel = 0,
	opencircle = 8,
	openday = 50,
	level = 0,
	circle = 8,
	day = 50,
	yuanbao = 0,
	cost = 1,
	npcid = 216,
},
[77] = {
	id = 77,
	name = "沉默之路",
	destination = {id=303,range={36,16,0,0,}},
	openlevel = 0,
	opencircle = 8,
	openday = 50,
	level = 0,
	circle = 8,
	day = 50,
	yuanbao = 0,
	cost = 1,
	npcid = 217,
},
[78] = {
	id = 78,
	name = "昏睡之地",
	destination = {id=303,range={39,18,0,0,}},
	openlevel = 0,
	opencircle = 8,
	openday = 50,
	level = 0,
	circle = 8,
	day = 50,
	yuanbao = 0,
	cost = 1,
	npcid = 218,
},
[79] = {
	id = 79,
	name = "龙门窟",
	destination = {id=303,range={27,17,0,0,}},
	openlevel = 0,
	opencircle = 9,
	openday = 50,
	level = 0,
	circle = 9,
	day = 50,
	yuanbao = 0,
	cost = 1,
	npcid = 222,
},
[80] = {
	id = 80,
	name = "玉龙山",
	destination = {id=303,range={27,20,0,0,}},
	openlevel = 0,
	opencircle = 11,
	openday = 50,
	level = 0,
	circle = 11,
	day = 50,
	yuanbao = 0,
	cost = 1,
	npcid = 230,
},
[81] = {
	id = 81,
	name = "风陵渡",
	destination = {id=303,range={33,21,0,0,}},
	openlevel = 0,
	opencircle = 13,
	openday = 50,
	level = 0,
	circle = 13,
	day = 50,
	yuanbao = 0,
	cost = 1,
	npcid = 231,
},
[82] = {
	id = 82,
	name = "放逐魔域1层",
	destination = {id=353,range={74,45,0,0,}},
	openlevel = 20,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
[83] = {
	id = 83,
	name = "放逐魔域2层",
	destination = {id=280,range={74,45,0,0,}},
	openlevel = 0,
	opencircle = 0,
	openday = 0,
	level = 0,
	circle = 0,
	day = 0,
	yuanbao = 0,
	cost = 1,
},
}