--X-小飞鞋配置.xlsx 传送页签
FlyTable = {
[1] = {
	id = 1,
	name = "主城传送",
	cost = 1,
	map = {{id=3},{id=1}},
},
[2] = {
	id = 2,
	name = "打宝练级",
	cost = 1,
	map = {{id=47},{id=48},{id=49},{id=50},{id=51},{id=52},{id=53},{id=54},},
},
[3] = {
	id = 3,
	name = "材料道具",
	cost = 1,
	map = {{id=55},{id=56},{id=57 },{id=58 }},
},
[4] = {
	id = 4,
	name = "天空之城",
	cost = 1,
	map = {{id=59},{id=60},{id=61},{id=62 },{id=63 },{id=64 },{id=65 },{id=66 },{id=67 },{id=68 },{id=76},{id=77},{id=78},{id=79},{id=80},{id=81}},
},
[5] = {
	id = 5,
	name = "通用",
	cost = 1,
	map = {{id=69},{id=70},{id=35},{id=36},{id=37},{id=38},{id=39},{id=40},{id=41},{id=42},{id=43},{id=44},{id=45},{id=46},},
},
[6] = {
	id = 6,
	name = "沙城传送",
	cost = 1,
	map = {{id=71},{id=72},},
},
[7] = {
	id = 7,
	name = "夺宝",
	cost = 0,
	map = {{id=73},{id=74},},
},
[8] = {
	id = 8,
	name = "特戒BOSS",
	cost = 1,
	map = {{id=82},{id=83},},
},
}