--AA-返利线下.xlsx 返利表
RebateDisposeConfig={
[1] = {
	[1] = {
		Id = 1,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.8.09-0:00:00",EndTime="2021.8.10-16:59:59"},
},
		offlineType = 1,
		pay = 10000000,
		awardList = {{type=2,id=2,count=100}},
		overlay = 1,
		mailInfo = {head="过期活动",context="您在累充返利达到%d元宝，请在邮件中领取返利奖励"},
	},
},
[2] = {
	[1] = {
		Id = 2,
		index = 1,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 1010,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到101元，可获总额8%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
	[2] = {
		Id = 2,
		index = 2,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 5000,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到500元，可获总额10%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
	[3] = {
		Id = 2,
		index = 3,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 10000,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到1000元，可获总额12%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
	[4] = {
		Id = 2,
		index = 4,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 30000,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到3000元，可获总额15%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
	[5] = {
		Id = 2,
		index = 5,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 60000,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到6000元，可获总额20%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
	[6] = {
		Id = 2,
		index = 6,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 100000,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到10000元，可获总额25%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
	[7] = {
		Id = 2,
		index = 7,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="0-00:00",EndTime="0-23:59"},
},
		offlineType = 1,
		pay = 200000,
		awardList = {{type=2,id=2,count=1000}},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="元宝返利活动提示",context="您今日充值已达到20000元，可获总额30%元宝返还比例，奖励会在明日00:01通过邮件发放\n充值越多，元宝返利越高，多充多送！"},
	},
},
[9] = {
	[1] = {
		Id = 9,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 5000,
		awardList = {{type=0,id=1012,count=1},{type=0,id=1059,count=10},{type=0,id=852,count=5},{type=0,id=954,count=30},{type=2,id=2,count=500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满500元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 9,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 10000,
		awardList = {{type=0,id=953,count=1},{type=0,id=1018,count=20},{type=0,id=852,count=10},{type=0,id=954,count=60},{type=2,id=2,count=1000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满1000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 9,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 20000,
		awardList = {{type=0,id=1008,count=1},{type=0,id=1153,count=1},{type=0,id=852,count=15},{type=0,id=954,count=90},{type=2,id=2,count=1500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满2000元，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 9,
		index = 4,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 30000,
		awardList = {{type=0,id=1144,count=1},{type=0,id=1127,count=1},{type=0,id=852,count=20},{type=0,id=954,count=120},{type=2,id=2,count=2000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满3000元，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 9,
		index = 5,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 50000,
		awardList = {{type=0,id=1027,count=1},{type=0,id=265,count=200},{type=0,id=852,count=25},{type=0,id=954,count=150},{type=2,id=2,count=2500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满5000元，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 9,
		index = 6,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 80000,
		awardList = {{type=0,id=1145,count=1},{type=0,id=1022,count=200},{type=0,id=852,count=30},{type=0,id=954,count=180},{type=2,id=2,count=3000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满8000元，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 9,
		index = 7,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 100000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1060,count=30},{type=0,id=852,count=35},{type=0,id=954,count=210},{type=2,id=2,count=3500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满10000元，请在邮件中领取返利奖励"},
	},
	[8] = {
		Id = 9,
		index = 8,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 200000,
		awardList = {{type=0,id=1146,count=1},{type=0,id=1062,count=50},{type=0,id=852,count=40},{type=0,id=954,count=240},{type=2,id=2,count=4000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满20000元，请在邮件中领取返利奖励"},
	},
},
[10] = {
	[1] = {
		Id = 10,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 300000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1151,count=1},{type=0,id=852,count=45},{type=0,id=954,count=270},{type=2,id=2,count=4500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满30000元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 10,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 500000,
		awardList = {{type=0,id=1147,count=1},{type=0,id=1037,count=100},{type=0,id=852,count=50},{type=0,id=954,count=300},{type=2,id=2,count=5000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满50000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 10,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.9.01-0:00:00",EndTime="2021.9.30-23:59:59"},
},
		offlineType = 2,
		pay = 1000000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1062,count=100},{type=0,id=852,count=55},{type=0,id=954,count=330},{type=2,id=2,count=5500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="9月累充",context="您在本月线下累充活动中充值累积满100000元，请在邮件中领取返利奖励"},
	},
},
[11] = {
	[1] = {
		Id = 11,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 5000,
		awardList = {{type=0,id=1012,count=1},{type=0,id=1059,count=10},{type=0,id=852,count=5},{type=0,id=954,count=30},{type=2,id=2,count=500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满500元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 11,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 10000,
		awardList = {{type=0,id=953,count=1},{type=0,id=1018,count=20},{type=0,id=852,count=10},{type=0,id=954,count=60},{type=2,id=2,count=1000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满1000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 11,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 20000,
		awardList = {{type=0,id=1008,count=1},{type=0,id=1153,count=1},{type=0,id=852,count=15},{type=0,id=954,count=90},{type=2,id=2,count=1500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满2000元，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 11,
		index = 4,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 30000,
		awardList = {{type=0,id=1144,count=1},{type=0,id=1127,count=1},{type=0,id=852,count=20},{type=0,id=954,count=120},{type=2,id=2,count=2000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满3000元，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 11,
		index = 5,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 50000,
		awardList = {{type=0,id=1027,count=1},{type=0,id=265,count=200},{type=0,id=852,count=25},{type=0,id=954,count=150},{type=2,id=2,count=2500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满5000元，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 11,
		index = 6,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 80000,
		awardList = {{type=0,id=1145,count=1},{type=0,id=1022,count=200},{type=0,id=852,count=30},{type=0,id=954,count=180},{type=2,id=2,count=3000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满8000元，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 11,
		index = 7,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 100000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1060,count=30},{type=0,id=852,count=35},{type=0,id=954,count=210},{type=2,id=2,count=3500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满10000元，请在邮件中领取返利奖励"},
	},
	[8] = {
		Id = 11,
		index = 8,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 200000,
		awardList = {{type=0,id=1146,count=1},{type=0,id=1062,count=50},{type=0,id=852,count=40},{type=0,id=954,count=240},{type=2,id=2,count=4000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满20000元，请在邮件中领取返利奖励"},
	},
},
[12] = {
	[1] = {
		Id = 12,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 300000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1151,count=1},{type=0,id=852,count=45},{type=0,id=954,count=270},{type=2,id=2,count=4500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满30000元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 12,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 500000,
		awardList = {{type=0,id=1147,count=1},{type=0,id=1037,count=100},{type=0,id=852,count=50},{type=0,id=954,count=300},{type=2,id=2,count=5000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满50000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 12,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.10.01-0:00:00",EndTime="2021.10.31-23:59:59"},
},
		offlineType = 2,
		pay = 1000000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1062,count=100},{type=0,id=852,count=55},{type=0,id=954,count=330},{type=2,id=2,count=5500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="10月累充",context="您在本月线下累充活动中充值累积满100000元，请在邮件中领取返利奖励"},
	},
},
[13] = {
	[1] = {
		Id = 13,
		index = 1,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 1000,
		awardList = {{type=0,id=300,count=1},{type=0,id=1039,count=1},{type=0,id=854,count=50},{type=2,id=2,count=500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满100元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 13,
		index = 2,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 2000,
		awardList = {{type=0,id=300,count=2},{type=0,id=1039,count=1},{type=0,id=853,count=50},{type=2,id=2,count=1000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满200元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 13,
		index = 3,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 5000,
		awardList = {{type=0,id=300,count=3},{type=0,id=856,count=100},{type=0,id=855,count=100},{type=2,id=2,count=1500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满500元，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 13,
		index = 4,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 10000,
		awardList = {{type=0,id=300,count=4},{type=0,id=42,count=1},{type=0,id=421,count=500},{type=2,id=2,count=2000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满1000元，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 13,
		index = 5,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 20000,
		awardList = {{type=0,id=491,count=1},{type=0,id=1022,count=20},{type=0,id=1063,count=10},{type=2,id=2,count=2500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满2000元，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 13,
		index = 6,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 50000,
		awardList = {{type=0,id=300,count=6},{type=0,id=1145,count=1},{type=0,id=1064,count=10},{type=2,id=2,count=3000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满5000元，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 13,
		index = 7,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 100000,
		awardList = {{type=0,id=490,count=1},{type=0,id=1114,count=20},{type=0,id=1065,count=10},{type=2,id=2,count=3500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满10000元，请在邮件中领取返利奖励"},
	},
	[8] = {
		Id = 13,
		index = 8,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 150000,
		awardList = {{type=0,id=507,count=1},{type=0,id=1114,count=30},{type=0,id=1066,count=10},{type=2,id=2,count=4000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满15000元，请在邮件中领取返利奖励"},
	},
	[9] = {
		Id = 13,
		index = 9,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="1-00:00",EndTime="5-23:59"},
},
		offlineType = 1,
		pay = 200000,
		awardList = {{type=0,id=1146,count=1},{type=0,id=1066,count=30},{type=0,id=970,count=90},{type=2,id=2,count=5000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="单日充值",context="您在今日的单日充值活动中累积满20000元，请在邮件中领取返利奖励"},
	},
},
[14] = {
	[1] = {
		Id = 14,
		index = 1,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 1000,
		awardList = {{type=0,id=421,count=100},{type=0,id=852,count=10},{type=0,id=970,count=10},{type=0,id=1218,count=1},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满100元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 14,
		index = 2,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 2000,
		awardList = {{type=0,id=1039,count=1},{type=0,id=1000,count=3},{type=0,id=970,count=20},{type=0,id=1218,count=2},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满200元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 14,
		index = 3,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 5000,
		awardList = {{type=0,id=1039,count=1},{type=0,id=1002,count=2},{type=0,id=970,count=30},{type=0,id=1218,count=3},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满500元，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 14,
		index = 4,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 10000,
		awardList = {{type=0,id=1015,count=10},{type=0,id=1018,count=10},{type=0,id=970,count=40},{type=0,id=1218,count=4},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满1000元，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 14,
		index = 5,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 20000,
		awardList = {{type=0,id=41,count=1},{type=0,id=1022,count=20},{type=0,id=970,count=50},{type=0,id=1218,count=5},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满2000元，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 14,
		index = 6,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 50000,
		awardList = {{type=0,id=1144,count=1},{type=0,id=1037,count=20},{type=0,id=970,count=60},{type=0,id=1218,count=6},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满5000元，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 14,
		index = 7,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 80000,
		awardList = {{type=0,id=507,count=1},{type=0,id=1114,count=20},{type=0,id=970,count=70},{type=0,id=1218,count=7},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满8000元，请在邮件中领取返利奖励"},
	},
	[8] = {
		Id = 14,
		index = 8,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 100000,
		awardList = {{type=0,id=407,count=1},{type=0,id=1039,count=10},{type=0,id=970,count=80},{type=0,id=1218,count=8},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满10000元，请在邮件中领取返利奖励"},
	},
},
[15] = {
	[1] = {
		Id = 15,
		index = 1,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 150000,
		awardList = {{type=0,id=507,count=1},{type=0,id=1114,count=30},{type=0,id=970,count=90},{type=0,id=1218,count=9},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满15000元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 15,
		index = 2,
		timeType = 3,
		TimeDetail = {
[1]={StartTime="6-00:00",EndTime="7-23:59"},
},
		offlineType = 2,
		pay = 200000,
		awardList = {{type=0,id=1147,count=1},{type=0,id=852,count=30},{type=0,id=970,count=100},{type=0,id=1218,count=10},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="周末充值",context="您在本周的周末充值活动中累积满20000元，请在邮件中领取返利奖励"},
	},
},
[16] = {
	[1] = {
		Id = 16,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 5000,
		awardList = {{type=0,id=1012,count=1},{type=0,id=1059,count=10},{type=0,id=852,count=5},{type=0,id=954,count=30},{type=2,id=2,count=500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满500元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 16,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 10000,
		awardList = {{type=0,id=953,count=1},{type=0,id=1018,count=20},{type=0,id=852,count=10},{type=0,id=954,count=60},{type=2,id=2,count=1000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满1000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 16,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 20000,
		awardList = {{type=0,id=1008,count=1},{type=0,id=1153,count=1},{type=0,id=852,count=15},{type=0,id=954,count=90},{type=2,id=2,count=1500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满2000元，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 16,
		index = 4,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 30000,
		awardList = {{type=0,id=1144,count=1},{type=0,id=1127,count=1},{type=0,id=852,count=20},{type=0,id=954,count=120},{type=2,id=2,count=2000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满3000元，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 16,
		index = 5,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 50000,
		awardList = {{type=0,id=1027,count=1},{type=0,id=265,count=200},{type=0,id=852,count=25},{type=0,id=954,count=150},{type=2,id=2,count=2500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满5000元，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 16,
		index = 6,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 80000,
		awardList = {{type=0,id=1145,count=1},{type=0,id=1022,count=200},{type=0,id=852,count=30},{type=0,id=954,count=180},{type=2,id=2,count=3000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满8000元，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 16,
		index = 7,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 100000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1060,count=30},{type=0,id=852,count=35},{type=0,id=954,count=210},{type=2,id=2,count=3500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满10000元，请在邮件中领取返利奖励"},
	},
	[8] = {
		Id = 16,
		index = 8,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 200000,
		awardList = {{type=0,id=1146,count=1},{type=0,id=1062,count=50},{type=0,id=852,count=40},{type=0,id=954,count=240},{type=2,id=2,count=4000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满20000元，请在邮件中领取返利奖励"},
	},
},
[17] = {
	[1] = {
		Id = 17,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 300000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1151,count=1},{type=0,id=852,count=45},{type=0,id=954,count=270},{type=2,id=2,count=4500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满30000元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 17,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 500000,
		awardList = {{type=0,id=1147,count=1},{type=0,id=1037,count=100},{type=0,id=852,count=50},{type=0,id=954,count=300},{type=2,id=2,count=5000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满50000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 17,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.11.01-0:00:00",EndTime="2021.11.30-23:59:59"},
},
		offlineType = 2,
		pay = 1000000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1062,count=100},{type=0,id=852,count=55},{type=0,id=954,count=330},{type=2,id=2,count=5500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="11月累充",context="您在本月线下累充活动中充值累积满100000元，请在邮件中领取返利奖励"},
	},
},
[18] = {
	[1] = {
		Id = 18,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 5000,
		awardList = {{type=0,id=1012,count=1},{type=0,id=1059,count=10},{type=0,id=852,count=5},{type=0,id=954,count=30},{type=2,id=2,count=500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满500元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 18,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 10000,
		awardList = {{type=0,id=953,count=1},{type=0,id=1018,count=20},{type=0,id=852,count=10},{type=0,id=954,count=60},{type=2,id=2,count=1000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满1000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 18,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 20000,
		awardList = {{type=0,id=1008,count=1},{type=0,id=1153,count=1},{type=0,id=852,count=15},{type=0,id=954,count=90},{type=2,id=2,count=1500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满2000元，请在邮件中领取返利奖励"},
	},
	[4] = {
		Id = 18,
		index = 4,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 30000,
		awardList = {{type=0,id=1144,count=1},{type=0,id=1127,count=1},{type=0,id=852,count=20},{type=0,id=954,count=120},{type=2,id=2,count=2000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满3000元，请在邮件中领取返利奖励"},
	},
	[5] = {
		Id = 18,
		index = 5,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 50000,
		awardList = {{type=0,id=1027,count=1},{type=0,id=265,count=200},{type=0,id=852,count=25},{type=0,id=954,count=150},{type=2,id=2,count=2500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满5000元，请在邮件中领取返利奖励"},
	},
	[6] = {
		Id = 18,
		index = 6,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 80000,
		awardList = {{type=0,id=1145,count=1},{type=0,id=1022,count=200},{type=0,id=852,count=30},{type=0,id=954,count=180},{type=2,id=2,count=3000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满8000元，请在邮件中领取返利奖励"},
	},
	[7] = {
		Id = 18,
		index = 7,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 100000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1060,count=30},{type=0,id=852,count=35},{type=0,id=954,count=210},{type=2,id=2,count=3500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满10000元，请在邮件中领取返利奖励"},
	},
	[8] = {
		Id = 18,
		index = 8,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 200000,
		awardList = {{type=0,id=1146,count=1},{type=0,id=1062,count=50},{type=0,id=852,count=40},{type=0,id=954,count=240},{type=2,id=2,count=4000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满20000元，请在邮件中领取返利奖励"},
	},
},
[19] = {
	[1] = {
		Id = 19,
		index = 1,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 300000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1151,count=1},{type=0,id=852,count=45},{type=0,id=954,count=270},{type=2,id=2,count=4500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满30000元，请在邮件中领取返利奖励"},
	},
	[2] = {
		Id = 19,
		index = 2,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 500000,
		awardList = {{type=0,id=1147,count=1},{type=0,id=1037,count=100},{type=0,id=852,count=50},{type=0,id=954,count=300},{type=2,id=2,count=5000000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满50000元，请在邮件中领取返利奖励"},
	},
	[3] = {
		Id = 19,
		index = 3,
		timeType = 1,
		TimeDetail = {
[1]={StartTime="2021.12.01-0:00:00",EndTime="2021.12.31-23:59:59"},
},
		offlineType = 2,
		pay = 1000000,
		awardList = {{type=0,id=1241,count=1},{type=0,id=1062,count=100},{type=0,id=852,count=55},{type=0,id=954,count=330},{type=2,id=2,count=5500000},},
		atonce = 1,
		overlay = 1,
		mailInfo = {head="12月累充",context="您在本月线下累充活动中充值累积满100000元，请在邮件中领取返利奖励"},
	},
},
}