--G-规则说明.xlsx 说明
RuleConf={
[1] = {
	id = 1,
	ruleContent = "1.背包分为药品包裹、装备包裹、材料包裹三类。药品包裹上限48格，存放药品和消耗品；装备包裹上限190格，存放装备类物品，双击装备可以穿戴；材料包裹上限190格，存放材料类物品\n\n2.捡取物品、收取邮件、领取奖励时必须|C:0xda1e00&T:在各个包裹保留足够的空格|，领取药品时通常不会判断药品包裹剩余空位，可能造成领取的药品消失\n\n3.|C:0xda1e00&T:药品包裹内物品在角色死亡时有几率爆出，红名角色死亡时全部爆出|，装备和材料包裹内物品不会爆出\n\n4.金币、绑定金币的上限为10亿，超过上限无法增加。你可以点击金币图标将其兑换为绑定金币使用\n\n5.不用的物品可通过回收商人回收，极品属性装备回收时会额外获得回收积分\n\n6.在设置-回收中可以调整一键回收的装备级别，请慎重使用。白卡会员还可以选择智能回收，当装备包裹达到100格时系统会自动进行一键回收，方便长时间挂机\n\n7.药品包裹中的药品可拖至快捷栏，通过快捷键使用，快捷键仅限QWERTY123456\n\n8.你可以使用快捷键|C:0x2eb52d&T: 9 |打开背包界面",
},
[2] = {
	id = 2,
	ruleContent = "1.绑定金币可以用于升级技能、在NPC处购买物品、升级属性等\n\n2.金币可以按照|C:0xda1e00&T:1:1的比例|兑换成绑定金币\n\n3.绑定金币需要交易，请先在【商城-绑金商城】中兑换成小金块、金条、金砖",
},
[3] = {
	id = 3,
	ruleContent = "1.元宝可以用于寄售行、私人交易、元宝商城和部分活动，银两可以用于银两商城和参加部分活动\n\n2.元宝可以按照|C:0xda1e00&T:1:1的比例|兑换成银两，银两无法再兑换回元宝，请根据需要适量兑换\n\n3.一旦兑换成银两，将无法再流转交易",
},
[4] = {
	id = 4,
	ruleContent = "1.装备包含武器、衣服、头盔、腰带、靴子、戒指、手镯、项链、勋章、魂玉、佩饰和回复玉\n\n2.在背包内双击装备可以穿戴，在本界面双击装备栏内装备可以卸下\n\n3.武器、衣服、头盔、腰带、靴子、戒指、手镯、项链|C:0xda1e00&T:在角色死亡时有几率爆出，红名角色死亡时爆率提升|，角色死亡爆出装备时该装备上的极品属性会一同消失，升星效果不会消失\n\n4.你可以使用快捷键|C:0x2eb52d&T: 0 |打开本界面",
},
[5] = {
	id = 5,
	ruleContent = "1.学习职业技能需要达到一定的等级（或转生）条件，并且可能需要消耗绑定金币和秘籍，学习技能不需要技能书\n\n2.符合学习条件、材料充足时，点击“升级”按钮即可学习或提升职业技能\n\n3.通过快捷键按钮可以为主动技能设置快捷键，快捷键仅限|C:0x2eb52d&T:QWERT123456|\n\n4.部分技能最高级别为10级\n\n5.你可以使用快捷键|C:0x2eb52d&T: - |打开本界面",
},
[6] = {
	id = 6,
	ruleContent = "1.通用技能包括回城、盟重回城、比奇回城、随机传送都是默认学习，可以直接使用，提升回城技能等级可以缩短使用CD；安全区回复技能需要达到条件后消耗材料学习提升\n\n2.使用回城技能将回到最近一次去过的主城安全区；使用盟重回城将回到盟重土城安全区；使用比奇回城将回到比奇安全区；使用随机传送会传送至当前地图随机坐标；这些传送技能只在允许传送的地图才能使用\n\n3.使用盟重回城、比奇回城需要|C:0xda1e00&T:消耗1点飞鞋次数|；使用随机传送需要|C:0xda1e00&T:消耗1张随机传送卷，传送卷不足时消耗1点飞鞋次数|，若飞鞋次数不足，则无法随机传送",
},
[7] = {
	id = 7,
	ruleContent = "1.开服第2天且角色5转开启内功系统，提升内功等级除基础属性外还会增加生命回复和药品回复率\n\n2.提升内功需要内功丹，藏经阁活动和跨服战场（开服32天可获得）\n\n3.生命回复为每隔2秒回复增加值，药品回复率为使用瞬回药品(太阳水、强效太阳水、万年雪霜、疗伤药)时额外增加的回复量百分比\n\n4.内功5级可以学习【灵巧】、【血牛】；内功7级可以学习职业基本技能的静之被动；内功11级可以学习职业基本技能的怒之被动；随着内功提升，还可以学习职业高阶技能的静之和怒之被动，以及雷霆一击",
},
[8] = {
	id = 8,
	ruleContent = "1.转生系统等级达到50级开启\n\n2.提升转生等级可以提高角色属性、伤害加倍，战士/法师/道士获得攻魔道时分别增加物攻/魔法/道术\n\n3.等级排行榜、野蛮冲撞、抗拒火环、气功波等判断级别高低时，优先依据转生级别，其次依据角色等级",
},
[9] = {
	id = 9,
	ruleContent = "1.聊天分为附近/私聊/组队/行会/世界多种类型，开启等级分别为60/60/60/60/48，随着特权等级的提升每日世界聊天的次数增加\n\n2.点击聊天框右上方展开按钮，可以扩大聊天框，方便沟通\n\n3.使用快捷键Shift+鼠标左键点击，可以将背包内物品信息快捷发送至聊天内容\n\n4.通过聊天框左侧按钮，可以开启/关闭附近聊天、行会聊天和私聊信息；通过聊天框上方按钮，可以单独查看世界、行会、组队和私聊频道；点击左下角按钮，可以选在在哪个频道发言，默认为附近聊天频道\n\n5.此外，在个人频道还可以查看最近的物品捡取和经验获取记录",
},
[10] = {
	id = 10,
	ruleContent = "1.添加游戏内好友需要申请并获得对方通过\n\n2.成为好友后互相可以更方便地沟通和查看状态",
},
[11] = {
	id = 11,
	ruleContent = "1.本界面显示附近的其他玩家信息\n\n2.你可以通过申请好友、邀请组队等与其他玩家互动",
},
[12] = {
	id = 12,
	ruleContent = "1.设置关注角色无需对方通过验证\n\n2.你可以给关注角色设置单独的名字颜色显示，方便在战场上快速发现对手",
},
[13] = {
	id = 13,
	ruleContent = "1.设置黑名单后你将无法收到对方的私聊信息\n\n2.一旦与对方成为好友，将自动从黑名单删除\n\n3.请谨慎设置黑名单",
},
[14] = {
	id = 14,
	ruleContent = "1.在这里可以查看所有申请好友信息\n\n2.好友申请信息下线后不保留",
},
[15] = {
	id = 15,
	ruleContent = "1.在这里可以查看近期所有被击败的信息\n\n2.战报信息最高保留20条",
},
[16] = {
	id = 16,
	ruleContent = "说明16",
},
[17] = {
	id = 17,
	ruleContent = "1.商城包括元宝商城、银两商城、行会商城（使用行会贡献购买物品）、绑金商城、NPC商城（使用绑定金币购买物品）\n\n2.部分道具购买有每日次数上限\n\n3.购买时请确认背包内有足够空位（药品、装备、材料三个背包都需要有足够空位才可购买）",
},
[18] = {
	id = 18,
	ruleContent = "1.组队之后，在同地图的队友可以分享打怪获得的经验，需要归属权捡取的物品，同队队友也可以捡取\n\n2.你可以向其他玩家发出组队邀请，若该玩家允许组队，则直接组队成功；同样的，希望其他玩家邀请你加入队伍时，记得在本界面“允许组队”选项后方打钩\n\n3.你也可以向其他玩家发出申请入队信息，其他队伍的队长会收到申请，只有当队长同意时，你才能加入他们的队伍",
},
[19] = {
	id = 19,
	ruleContent = "1.角色达到30级可以参与排行榜排名\n\n2.玛法英雄榜为所有玩家等级排行，战神榜/法圣榜/道尊榜仅限战士/法师/道士排行，每个排行榜最多上榜30人\n\n3.排行榜按转生级别排名，转生级别相同的按角色等级排名\n\n4.所有排行榜|C:0xda1e00&T:每隔10分钟刷新一次|，战法道等级榜、物攻榜、道术榜、魔法榜前三都可获得专属称号奖励",
},
[20] = {
	id = 20,
	ruleContent = "1.行会功能等级24级开启，加入行会可以快速找到和你一起征战玛法的朋友\n\n2.部分行会有等级要求，申请加入行会需要审核；你也可以通过“一键申请”功能快速加入符合条件无需审核的行会\n\n3.行会列表按照行会等级和行会人数排列",
},
[21] = {
	id = 21,
	ruleContent = "1.捐献物资可以使用绑定金币和银两，捐献物资会提升个人贡献，同时增加相同数量的行会资金\n\n2.行会资金可用于提升行会建筑等级，也可用于和其他行会宣战\n\n3.个人贡献可在行会商店购买需要的物品\n\n4.离开行会时，玩家个人贡献不受影响",
},
[22] = {
	id = 22,
	ruleContent = "1.会长可以任命副会长，也可以禅让\n\n2.会长和副会长可以升级建筑、修改公告\n\n3.会长、副会长、长老可以设置招人条件并审核\n\n4.会长、副会长、长老可以将职级低于自己的成员踢出行会\n\n5.精英及以上职级的成员可以开启行会战\n\n6.会长离线时间超过3天，副会长和长老可以将其弹劾并由自己担任会长\n\n7.合服时，行会活跃较低的行会可能被解散，详情请关注合服公告",
},
[23] = {
	id = 23,
	ruleContent = "1.20级以上玩家可以使用金刚石随机锻造武器\n\n2.锻造1次需要消耗10个金刚石，锻造10次消耗100个金刚石，每次锻造必然获得一把武器，每次锻造出随机武器的几率相同\n\n3.当本服有玩家等级达到51级时，锻造武器有几率获得屠龙、嗜魂法杖、倚天剑；当本服有玩家等级达到63级时，锻造武器有几率获得开天、镇天、玄天；具体几率请点击界面中“说明”按钮查看\n\n4.当背包内有较多武器时，也可以通过批量回收直接回收低级别的武器（极品属性武器不会回收），极品属性武器和高级武器请单独回收",
},
[24] = {
	id = 24,
	ruleContent = "1.当前服务器无玩家达到51级\n\n金刚石锻造武器几率如下（单位‰千分比）：\n凝霜   80‰\n斩马刀   200‰\n偃月   200‰\n降魔   200‰\n炼狱   100‰\n银蛇   100‰\n魔杖   100‰\n井中月   5‰\n无极棍   5‰\n祈祷之刃   5‰\n赤血魔剑   1.5‰\n命运之刃   1.5‰\n红玫瑰   1.5‰\n稀有武器   0.5‰（以下武器几率相同：|C:0xfc21ed&T:裁决之杖|、|C:0xfc21ed&T:骨玉权杖|、|C:0xfc21ed&T:龙纹剑|、|C:0xfc21ed&T:怒斩|、|C:0xfc21ed&T:龙牙|、|C:0xfc21ed&T:逍遥扇|）",
},
[25] = {
	id = 25,
	ruleContent = "1.当前服务器最高等级玩家已达到51级未达到63级\n\n金刚石锻造武器几率如下（单位‰千分比）：\n凝霜   80‰\n斩马刀   200‰\n偃月   200‰\n降魔   200‰\n炼狱   100‰\n银蛇   100‰\n魔杖   100‰\n井中月   5‰\n无极棍   5‰\n祈祷之刃   5‰\n赤血魔剑   1.5‰\n命运之刃   1.5‰\n红玫瑰   1‰\n稀有武器   1‰（以下武器几率相同：|C:0xfc21ed&T:裁决之杖|、|C:0xfc21ed&T:骨玉权杖|、|C:0xfc21ed&T:龙纹剑|、|C:0xfc21ed&T:怒斩|、|C:0xfc21ed&T:龙牙|、|C:0xfc21ed&T:逍遥扇|、|C:0xfc21ed&T:屠龙|、|C:0xfc21ed&T:嗜魂法杖|、|C:0xfc21ed&T:倚天剑|）",
},
[26] = {
	id = 26,
	ruleContent = "1.当前服务器最高等级玩家已达到63级\n\n金刚石锻造武器几率如下（单位‰千分比）：\n凝霜   80‰\n斩马刀   200‰\n偃月   200‰\n降魔   200‰\n炼狱   100‰\n银蛇   100‰\n魔杖   100‰\n井中月   5‰\n无极棍   5‰\n祈祷之刃   5‰\n赤血魔剑   1.5‰\n命运之刃   1.5‰\n红玫瑰   0.5‰\n稀有武器   1.5‰（以下武器几率相同：|C:0xfc21ed&T:裁决之杖|、|C:0xfc21ed&T:骨玉权杖|、|C:0xfc21ed&T:龙纹剑|、|C:0xfc21ed&T:怒斩|、|C:0xfc21ed&T:龙牙|、|C:0xfc21ed&T:逍遥扇|、|C:0xfc21ed&T:屠龙|、|C:0xfc21ed&T:嗜魂法杖|、|C:0xfc21ed&T:倚天剑|、|C:0xfc21ed&T:开天|、|C:0xfc21ed&T:镇天|、|C:0xfc21ed&T:玄天|）",
},
[27] = {
	id = 27,
	ruleContent = "1.在本界面可以设置物品是否自动捡取，掉落在地上时是否标红\n\n2.设置物品中金币包括绑定金币，极品属性道具包含全部有极品属性的装备，名字将通过紫色显示\n\n3.界面下方的|C:0xffffff&T:全部自动捡取|和|C:0xffffff&T:全部物品标红|可以直接对所有物品进行设置调整，避免对每一个物品打勾的麻烦\n\n4.物品列表中包含药品和装备，材料类的物品已经全部默认自动捡取了，材料类物品可以堆叠，不用担心捡取材料将背包占满\n\n5.非自动挂机时，玩家需要操作角色站在物品上方才会自动捡取；开启挂机时，角色会自行移动捡取打勾的物品",
},
[28] = {
	id = 28,
	ruleContent = "1.|C:0xffffff&T:按百分比自动吃药|和|C:0xffffff&T:按血量自动吃药|同时只有一个生效\n\n2.按百分比自动吃药强效金创药间隔为1秒，太阳水、强效太阳水、万年雪霜、疗伤药间隔为0.6秒\n\n3.按血量自动吃药设置间隔请勿低于300毫秒（药品使用间隔）",
},
[29] = {
	id = 29,
	ruleContent = "1.回城技能有CD，部分地图无法使用随机传送功能，设置和使用保护功能时请注意\n\n2.保护功能在安全区不会触发，受PK惩罚的玩家（红名角色）需要注意",
},
[30] = {
	id = 30,
	ruleContent = "1.在这里使用祝福油可以提升人物祝福值，|C:0xfc21ed&T:紫卡会员|或角色6转可以一键自动使用祝福油\n\n2.祝福值满后自动提升星级，增加一点角色幸运属性\n\n3.每一点幸运提升3%几率触发攻击、魔法、道术上限，升星幸运最高+20（可与其他途径获得的幸运叠加），物防、魔御属性上下限不受影响\n\n4.随着祝福星级提升，系统每日按照祝福等级会回收不同的祝福值；祝福值低于当前星级的所需祝福值，则自动降星\n\n5.使用祝福油提升1点祝福值，有几率获得10点祝福值，有较小几率触发诅咒降低5点祝福值，有极小几率获得58点祝福值；随着祝福星级提升，诅咒几率有所增加\n\n6.为避免频繁打扰，祝福星级达到6星后，祝福油数量达到5瓶才会红点提示",
},
[31] = {
	id = 31,
	ruleContent = "1.鉴定精力水晶每次可增加80万多倍经验，角色拥有多倍经验时，打怪享受10倍额外经验\n\n2.使用1个精力水晶鉴定，每日5次，鉴定次数从开服之日起累积\n\n3.如单个精力水晶次数不足，也可以同时使用2个/4个/10个精力水晶鉴定一次的功能，每次仍然获得80万多倍经验",
},
[32] = {
	id = 32,
	ruleContent = "1.每个角色每天可在六大英雄中选择一位进行膜拜，膜拜次数自开服之日起累积，膜拜任意一位英雄都能获得相同的奖励\n\n2.每次膜拜可获得10万多倍经验和3张初阶秘籍\n\n3.六大英雄分别是等级排行榜第一男战、第一男法、第一男道、第一女战、第一女法、第一女道，玩家需要等级达到30级才能上榜，没有玩家上榜时也可以正常膜拜",
},
[33] = {
	id = 33,
	ruleContent = "1.石墓烧猪活动28级可以参加，每日可参加2次，参加次数自开服之日起累积\n\n2.进入副本后，需要在规定时间（10分钟）内消灭所有波数的怪物，完成副本后可获得25万经验奖励\n\n3.副本内无死亡惩罚，不能使用传送，中途离线、退出或规定时间内未完成则挑战失败，挑战失败不会扣除活动次数。离开副本会回到最近去过的安全区\n\n4.每次进入石墓烧猪副本会消耗2万金币，该金币无论挑战是否成功均会扣除",
},
[34] = {
	id = 34,
	ruleContent = "1.石墓烧猪（挑战）28级开放挑战，每日最多参加2次，每次参加需要消耗一张石墓挑战卷，参加游戏内各类活动或击败BOSS都有机会获得石墓挑战卷，也可以在商城直接购买获得\n\n2.进入副本后，需要在规定时间（10分钟）内消灭所有波数的怪物，完成副本后可获得25万经验奖励\n\n3.副本内无死亡惩罚，不能使用传送，中途离线、退出或规定时间内未完成则挑战失败，挑战失败不会扣除活动次数。离开副本会回到最近去过的安全区\n\n4.每次进入石墓烧猪副本会消耗2万金币，该金币无论挑战是否成功均会扣除",
},
[35] = {
	id = 35,
	ruleContent = "1.独闯天涯活动开服第1天起，每周四、周日晚19:45-20:15开放\n\n2.参与的勇士需要在每一层击败10只怪物才能进入下一层（通过本层的NPC移动前往）。在第7层NPC处可以获得独闯天涯礼包，前50名到达第7层的玩家还可额外领取神速礼包\n\n3.活动地图内无PK惩罚，角色被击败有几率掉落穿戴的装备中途离线、退出、则挑战失败，不过活动时间内可以重新进入挑战\n\n4.第1层看守人坐标66:46，第2层看守人坐标49:41，第3层看守人坐标71:46，第4层看守人坐标33:23，第5层看守人坐标39:25，第6层看守人坐标36:23，第7层送宝人偶坐标33:18",
},
[36] = {
	id = 36,
	ruleContent = "1.开服第1天起，每周一、周三、周五晚19:45-20:05开放夜战沃玛三活动\n\n2.活动期间，所有玩家会被分配到两个对立阵营，只能攻击对立阵营的玩家，不能使用药品和传送，不会增加PK值，角色被击败不会掉落装备\n\n3.参加活动需要等级达到30级，中途离线、退出重新进入有30秒CD。活动期间每隔5分钟会重新调整阵营\n\n4.持续参加活动、击败其他玩家、助攻击败其他玩家、击败场景内守卫、被其他玩家击败都会获得积分，达到一定积分即可获得积分礼包；根据积分排名还会获得排名奖励，活动结束后邮件统一发放",
},
[37] = {
	id = 37,
	ruleContent = "1.开服第1天起，每周二、周六晚19:45-20:05开放竞技大乱斗活动\n\n2.活动地图内，所有玩家统一着装，统一角色名，无法使用附近聊天功能；无法携带宠物，不能使用药品和传送，不能使用治愈术和群体治愈术\n\n3.参加活动需要等级达到30级，中途离线、退出重新进入有30秒CD。19:45-19:55开放进入，期间角色被击败自动复活，复活次数不限；19:56开始无法进入，场景内所有玩家仅剩4次复活机会，复活机会用完会被强制结束\n\n4.持续参加活动、击败其他玩家、助攻击败其他玩家、击败场景内守卫、被其他玩家击败都会获得积分，达到一定积分即可获得积分礼包；根据积分排名还会获得排名奖励，活动结束后邮件统一发放",
},
[38] = {
	id = 38,
	ruleContent = "1.开服第3天起，每周三、周六晚20:10-20:40开放沙巴克攻城活动，活动自动开启，无需申请攻城\n\n2.沙巴克攻城期间，沙城周围、皇宫、密道变为战争区域，在此区域内不会增加PK值，角色被击败有几率掉落穿戴的装备；这些区域内攻城期间开放泡点经验\n\n3.20:15开始，开放沙巴克皇宫占领，若皇宫地图内有且只有同一个行会的成员，则该行会占领沙巴克。20:40截止时占领皇宫的行会即为最终的沙巴克行会\n\n4.皇宫正门的传送点（紫色传送阵）仅限沙巴克成员进入",
},
[39] = {
	id = 39,
	ruleContent = "1.世界BOSS开服第1天起，每天12:30,19:30开放，若没有击败BOSS会在开始后15分钟强制结束\n\n2.参与活动的玩家只要攻击世界BOSS即可获得积分，伤害越高获得积分也越高，活动结束后根据积分排名获得奖励；最后击败世界BOSS的玩家还可获得最后一击的额外奖励\n\n3.参加活动需要等级达到28级，中途离线、退出重新进入有30秒CD\n\n4.场景内无法PK其他玩家，不能使用火墙，无法召唤宠物\n\n5.活动期间，玩家可以使用绑定金币和元宝提升自身属性，也可以使用10元宝立即复活\n\n6.8分钟内击败世界BOSS会使下一次面对的世界BOSS变得更强\n\n7.奖励将在活动结束后统一邮件发放",
},
[40] = {
	id = 40,
	ruleContent = "1.藏经峡谷开服第10天起开放，每日15:00-15:30，18:30-19:00共两场\n\n2.参加活动需要等级达到40级，每次进入需要5万绑定金币，中途离线需要重新进入\n\n3.藏经峡谷内有谷地钉耙猫、谷地多钩猫、谷地黑疣猪、谷地白疣猪等怪物，击败他们可以获得大量秘籍奖励，想要提升技能的玩家不能错过，此外还有其他奖励等你发现\n\n4.藏经峡谷恶意PK会增加PK值，角色被击败也有几率掉落穿戴的装备",
},
[41] = {
	id = 41,
	ruleContent = "1.每天11:00-11:06，14:00-14:06，23:00-23:06共三场地下夺宝\n\n2.活动期间找到NPC送宝人偶(藏宝库24:24)就能领取个人奖励地下夺宝礼包（包含70万多倍经验、10万绑金）\n\n3.活动最后5分钟(每日11:01、14:01、23:01)开启NPC送宝，在NPC周围散落大量宝物。宝物掉落后3分钟内无法捡取，3分钟后所有人都可捡取\n\n4.点击活动-地下夺宝-飞鞋传送可直接前往藏宝库参加活动\n\n5.活动时间内，宫殿迷宫、宫殿长廊、藏宝库还将开放泡点经验",
},
[42] = {
	id = 42,
	ruleContent = "1.每天21:00-21:06开放，找到NPC夺宝使者(石墓七层26:32)就能领取个人奖励石墓夺宝礼包（包含70万多倍经验、10万绑金）\n\n2.21:01，开启NPC送宝，在NPC周围散落大量宝物。宝物掉落后3分钟内无法捡取，3分钟后所有人都可捡取\n\n3.点击活动-石墓夺宝-飞鞋传送可直接前往石墓七层参加活动\n\n4.活动期间，石墓阵、石墓六层、石墓七层还将开放泡点经验",
},
[43] = {
	id = 43,
	ruleContent = "1.每天13:00-13:30，神秘的散财鹿每隔5分钟将出现在比奇、盟重、沃玛森林的随机地域\n\n2.找到并击败散财鹿就有机会获得大量金币，还有机会获得金条、金砖等宝物\n\n3.散财鹿很好击败，谁先找到它就抢占了先机，考验的是你的手速和反应",
},
[44] = {
	id = 44,
	ruleContent = "1.大部分经典BOSS会在服务器重启后刷新，BOSS被击败后间隔固定时间会再次刷新\n\n2.推荐使用|C:0xffffff&T:立即前往|直接传送前去挑战。会员特权BOSS只能通过直接传送前去挑战，其他BOSS也可以自行寻路前往挑战\n\n3.苍月系列BOSS开服第4天起开放刷新；赤月系列BOSS开服第6天起开放刷新；魔龙系列BOSS开服第15天起开放刷新\n\n4.BOSS被击败达到一定次数会提升自己的血量和伤害\n\n5.击败野外BOSS，奖励归属者和最后击杀者都会增加一次BOSS击败次数（成就和任务等适用）",
},
[45] = {
	id = 45,
	ruleContent = "1.重装BOSS开服第3天起开放刷新，刷新时间为每日1:00/10:00/16:00/21:30共4次，所有重装点同时刷新\n\n2.推荐使用|C:0xffffff&T:立即前往|直接传送前去挑战，在重装BOSS所在地图离线后会退回上一张地图\n\n3.BOSS被击败达到一定次数会提升自己的血量和伤害",
},
[46] = {
	id = 46,
	ruleContent = "1.领主怪物在地图不定时刷新，请仔细搜索\n\n2.领主怪物比同地图普通怪物和精英怪物要厉害的多，你可要小心了",
},
[47] = {
	id = 47,
	ruleContent = "1.禁地地图有各类极品怪物，勇士们可以挑战赢取丰厚的奖励\n\n2.每次进入禁地需要消耗一张禁地卷轴，每次进入限时30分钟，在禁地内离线、退出会离开禁地地图，下次进入需要重新消耗禁地卷轴\n\n3.禁地内恶意PK会增加PK值，角色被击败也有几率掉落穿戴的装备，请小心挂机\n\n4.石墓禁地开服第1天起开放，地牢禁地开服第2天起开放，祖玛禁地开服第3天起开放，牛魔禁地开服第4天起开放\n\n5.禁地卷轴可在成就-活跃商城中使用活跃度兑换，在游戏内完成主线任务、各类成就都能获得活跃度，参加地下夺宝、石墓夺宝、竞技大乱斗、夜战沃玛三、独闯天涯等活动也能获得活跃度",
},
[48] = {
	id = 48,
	ruleContent = "1.玩家所用账号在一个区服最多创建3个角色（达到3个角色后无法创建新角色）\n\n2.可以点击角色头像右边切换按钮切换角色，每次登录时将默认上次使用的角色登录\n\n3.多区服合区后，无论从哪个服登录，都会显示账号下所有角色\n\n4.角色创建后无法删除，占用名额，请慎重创建",
},
[49] = {
	id = 49,
	ruleContent = "1.35级可以学习各职业核心技能\n\n2.战士学习烈火剑法、法师学习冰咆哮、道士学习召唤神兽，技能自动学会，不需要技能书。技能提升前3级不需要材料\n\n3.烈火剑法、冰咆哮、召唤神兽Lv5提升为强化显示效果，Lv10提升为超级显示效果",
},
[50] = {
	id = 50,
	ruleContent = "1.47级可以学习各职业终极技能\n\n2.战士学习逐日剑法、法师学习流星火雨、道士学习噬血术\n\n3.逐日剑法、流星火雨、噬血术Lv5提升为强化显示效果，Lv10提升为超级显示效果",
},
[51] = {
	id = 51,
	ruleContent = "1.50级开放转生功能，55级可以2转\n\n2.转生需要魂火和曜石材料。老虎滩、秦始皇陵挂机爆1-2转转生材料，十三陵、太阳岛、木兰围场、兔耳岭、落凤坡爆1-4转转生材料\n\n3.实在缺少材料，可以在【商城-材料】中使用绑金购买少量，不过价格较贵",
},
[52] = {
	id = 52,
	ruleContent = "1.点击屏幕右侧|C:0xf56f00&T:任务栏|，完成新手任务就快速升级啦\n\n2.点击右下角|C:0xf56f00&T:挂机|可以自动打怪\n\n3.等级在屏幕左下方显示。留意屏幕左下角的|C:0xf56f00&T:多倍经验|了吗，拥有多倍经验打怪可享10倍经验",
},
[53] = {
	id = 53,
	ruleContent = "1.点击屏幕右侧|C:0xf56f00&T:任务栏|，完成新手任务就快速升级啦\n\n2.点击右下角|C:0xf56f00&T:挂机|可以自动打怪\n\n3.等级在屏幕左下方显示。留意屏幕左下角的|C:0xf56f00&T:多倍经验|了吗，拥有多倍经验打怪可享10倍经验\n\n4.当前升级推荐骷髅洞、洞穴、比奇废矿、毒蛇山谷矿区",
},
[54] = {
	id = 54,
	ruleContent = "1.点击屏幕右侧|C:0xf56f00&T:任务栏|，完成新手任务就快速升级啦\n\n2.点击右下角|C:0xf56f00&T:挂机|可以自动打怪\n\n3.等级在屏幕左下方显示。留意屏幕左下角的|C:0xf56f00&T:多倍经验|了吗，拥有多倍经验打怪可享10倍经验\n\n4.当前升级推荐骷髅洞、洞穴、比奇废矿、毒蛇山谷矿区",
},
[55] = {
	id = 55,
	ruleContent = "1.28级可以参加石墓烧猪活动，在|C:0xf56f00&T:活动-个人|中参加，可获得大量经验\n\n2.等级在屏幕左下方显示。留意屏幕左下角的|C:0xf56f00&T:多倍经验|了吗，拥有多倍经验打怪可享10倍经验\n\n3.当前升级挂机地点推荐比奇废矿、毒蛇山谷矿区、沃玛寺庙、地牢、石墓",
},
[56] = {
	id = 56,
	ruleContent = "1.私人交易功能1级开放，蓝卡会员或角色转生满足条件才可以出售物品。未符合要求的玩家只能使用元宝购买，或者接受其他玩家给与的物品和元宝\n\n2.需要一方申请，另外一方同意后开始私人交易；交易开始后可以将背包中的物品拖入交易框(需蓝卡会员和转生满足)，也可以点击输入交易的元宝、金币数量；摆放完成后需要点击|C:0xf56f00&T:锁定|按钮，锁定后无法取消无法更改物品、元宝和金币；双方都完成锁定后可以点击|C:0xf56f00&T:交易|按钮确认，双方都完成确认后交易成功\n\n3.交易完成后你可以在背包中查看交易获得物品，注意装备类物品在|C:0xf56f00&T:背包-装备|，材料类物品在|C:0xf56f00&T:背包-材料|中查看\n\n4.只有元宝和金币可以交易，银两和绑定金币无法交易(绑金建议在绑金商城兑换成金条后交易)；获得元宝时会扣除3%的交易税，最低扣除1元宝；获得金币时会扣除3%的交易税，最低扣除1金币",
},
[57] = {
	id = 57,
	ruleContent = "1.交易行功能1级开放，蓝卡会员或角色转生满足条件才可以上架道具，购买道具无限制\n\n2.物品属性为|C:0x318aff&T:【可交易】|的物品可以上架出售，含有极品属性的装备也可上架，其余物品不能上架\n\n3.上架时需要扣除一定的绑定金币作为手续费，无论是否成功出售，手续费不退还\n\n4.上架物品到期后无人购买自动下架，你也可以自己将物品下架，下架后的物品在|C:0xf56f00&T:领取物品|页签中领取\n\n5.出售成功获得的元宝，和购买成功获得的物品都在|C:0xf56f00&T:领取物品|页签中领取，元宝领取时会扣除3%的交易税，最低扣除1元宝",
},
[58] = {
	id = 58,
	ruleContent = "1.神装BOSS活动开服第1天开启，等级达到30级的玩家可以参加\n\n2.场景内无死亡惩罚，无PK惩罚，不能使用传送和随机，退出后再次进入有30秒CD\n\n3.BOSS刷新后，场景内第一个攻击BOSS的玩家成为归属者，击败该归属者的玩家就能取代其成为新的归属者，归属者退出副本则神装BOSS重置为无归属状态\n\n4.BOSS被击败时归属者获得归属奖励，场景内曾经成为过归属者的玩家获得勇斗奖励，其余玩家获得参与奖励，同时所有攻击过BOSS的玩家扣除1次神装BOSS挑战次数（提前退出的玩家没有奖励，也不会扣除次数）\n\n5.每次进入挑战神装BOSS都会额外消耗5000绑定金币\n\n6.神装BOSS的挑战次数开启后每日0点增加3次，未在线玩家也会累积",
},
[59] = {
	id = 59,
	ruleContent = "1.神装共有斗笠、面甲、盾牌、披风共四件套，分为30级、40级、50级、1转-7转共10个级别\n\n2.除基础属性提升外，斗笠可提供额外打怪金币收益，面甲可提供无视双防属性、盾牌可提供额外暴击率、披风可提供切割效果\n\n3.同时穿戴50级及以上神装四件套还可以激活套装效果，提升伤害加成\n\n4.神装PK时不会掉落",
},
[60] = {
	id = 60,
	ruleContent = "1.强化系统可以提升八个部位的属性，增加体力上限、攻魔道、物防、魔御\n\n2.攻魔道会对应增加各职业主属性，提升战士的物攻、法师的魔法、道士的道术\n\n3.提升强化级别需要使用强化石",
},
[61] = {
	id = 61,
	ruleContent = "1.四象共有青龙、白虎、朱雀、玄武四种神兽\n\n2.四象青龙神兽可以提升体力加成百分比，白虎神兽可以提升吸血效果，朱雀神兽提供大量物攻、魔法、道术，玄武神兽提升伤害减免效果\n\n3.提升四象需要不同的四象丹和绑金，四象丹各个精英和BOSS有几率掉落",
},
[62] = {
	id = 62,
	ruleContent = "1.使用暴击碎片可以提升暴击特戒级别，增加暴击率、暴击倍率、抗暴率等属性\n\n2.提升暴击率使得攻击时有更大几率触发暴击效果，提升暴击倍率提升暴击伤害的倍率，暴击附加伤害是在触发暴击时追加同等数值的伤害",
},
[63] = {
	id = 63,
	ruleContent = "1.本界面可以查看所有已获得的称号，包括称号介绍、剩余时间、属性和展示效果\n\n2.在展示方框下打钩，即可选择该称号进行展示，同时只能展示一个称号\n\n3.你可以在设置-基础-称号显示处进行设置是否显示其他玩家的称号效果（默认不显示）",
},
[64] = {
	id = 64,
	ruleContent = "1.月卡购买时请在背包中保留足够的空位，以便获得奖励\n\n2.月卡效果持续30天，在效果持续期间每日登录可在此界面领取奖励",
},
[65] = {
	id = 65,
	ruleContent = "1.大药月卡购买时请在背包中保留足够的空位，以便获得奖励\n\n2.大药月卡效果持续30天，在效果持续期间每日登录可在此界面领取奖励",
},
[66] = {
	id = 66,
	ruleContent = "1.初心契约需要使用绑定金币购买\n\n2.购买初心契约后开可以使用智能回收特权，在设置-回收中勾选后开启\n\n3.智能回收会在背包装备包裹内物品达到180格时自动进行一键回收，一键回收范围也可以在设置-回收中选择\n\n4.购买初心契约后每天上线自动完成每日签到",
},
[67] = {
	id = 67,
	ruleContent = "1.永恒契约需要使用元宝购买\n\n2.购买后永久有效，每日上线都可领取对应奖励",
},
[68] = {
	id = 68,
	ruleContent = "1.每日签到以自然月为标准，无法补签\n\n2.每月签到满2、5、10、18、26次即可领取对应奖励",
},
[69] = {
	id = 69,
	ruleContent = "1.幸运寻宝限时开启，使用元宝可抽奖(背包有足够的抽奖券则优先替代使用)\n\n2.奖励分为高级奖励和普通奖励\n\n3.达到指定次数时必出高级奖励，具体可看界面提示(还有几次必出高级奖励)\n\n4.其余次数时，5%几率获得高级奖励随机一项(各奖项概率平分)；95%几率普通奖励随机一项(各奖项概率平分)",
},
[70] = {
	id = 70,
	ruleContent = "1.材料副本需要在规定时间消灭所有怪物，完成副本后获得材料奖励，奖励通过邮件发送\n\n2.进入材料副本会消耗2万绑定金币，也可以用扫荡卷直接完成并获得奖励，扫荡时背包-材料包裹至少保留一个空格\n\n3.副本内无死亡惩罚，不能使用传送，中途离线、退出或规定时间内未完成则挑战失败。挑战失败只消耗绑定金币不会扣除活动次数\n\n4.强化副本开服第1天开启，每天可挑战2次每次获得强化石*6；四象副本开服第4天开启，每天可挑战1次获得四象丹*5。玩家未上线，材料副本挑战次数也会自动累积",
},
[71] = {
	id = 71,
	ruleContent = "1.沃玛级以下装备会直接回收。沃玛级及以上装备需要勾选后才会一键回收，穿戴在角色身上的装备不会被回收\n\n2.药品和材料需要蓝卡会员特权才能一键回收，特权不符的可在【背包-回收-单件回收】中回收",
},
[72] = {
	id = 72,
	ruleContent = "1.驻守任务需要在规定时间内完成指定地图的驻守巡逻\n\n2.参加驻守任务会消耗2万绑定金币，也可以用扫荡卷直接完成并获得奖励，扫荡时背包-材料包裹至少保留一个空格\n\n3.驻守期间离开地图、角色死亡、离线则任务失败，不扣除挑战次数；再次领取任务不变，需要重新完成任务；任务完成后自动回城，奖励通过邮件发放\n\n4.暴击任务开服第2天开启，每天可挑战1次获得暴击碎片*5",
},
[73] = {
	id = 73,
	ruleContent = "1.飞鞋可用于游戏内传送功能，方便快捷\n\n2.主线任务传送不扣飞鞋次数\n\n3.在飞鞋界面主城传送、其他传送每次消耗1点飞鞋；",
},
[74] = {
	id = 74,
	ruleContent = "1.时装分为衣服和武器，需要时装物品激活\n\n2.在界面中你可以试穿游戏内的时装，通过箭头转动视角360度查看效果，让角色尝试攻击、待机、行走、奔跑不同动作\n\n3.时装激活后默认穿戴，这样其他玩家可以看见你的形象，你也可以选择不穿戴，仍然显示角色-装备中的形象\n\n4.时装激活后若有多余同类物品，仍可升级该时装获得更多属性，无论是否穿戴，所有时装属性都会在角色上累积生效",
},
[75] = {
	id = 75,
	ruleContent = "1.玛法战令活动通常每月1日开启、每月28日结束，等级达到1转30级的玩家可以参与\n\n2.活动期间获取积分提升战令等级，领取对应级别的凭证奖励\n\n3.玛法战令分为玛法凭证、黄金凭证。所有玩家直接获得玛法凭证，可以领取玛法凭证奖励。黄金凭证购买激活后能够领取黄金凭证额外奖励，购买黄金凭证需要白卡会员\n\n4.完成战令任务可获得积分，提升战令等级，有需要的玩家也可以花费元宝购买战令积分\n\n5.活动时间结束，未领取的奖励将无法领取，请及时领取\n\n6.奖励中获得的战令币，可以在战令商城购买物品|C:0xda1e00&T:战令币在活动结束后不会清空|",
},
[76] = {
	id = 76,
	ruleContent = "1.战令任务分为每日任务、活动达人、斩妖除魔四类，其中每日任务和每日挑战每天0点重置次数，活动达人和斩妖除魔本期活动不会重置\n\n2.每期战令活动持续28天\n\n3.完成任务后请及时领取积分，避免被重置后无法领取\n\n4.特别提醒：|C:0xda1e00&T:每日任务每天只需获得400积分即达上限，无需全部完成|",
},
[77] = {
	id = 77,
	ruleContent = "1.邮箱最多可容纳150封邮件，请及时领取并清理\n\n2.领取邮箱附件时，请确保包裹各个背包(药品、装备、材料)都有6个空位\n\n3.发送超过10天的无附件已读邮件会被系统删除",
},
[78] = {
	id = 78,
	ruleContent = "1.炎之强化魔龙级及以上的装备可以进行洗炼（需要穿戴上），包括|C:0x318aff&T:武器、衣服、项链、手镯、戒指、头盔、腰带、鞋子|，以及最高阶的合成装备|C:0x318aff&T:天之魂玉|、|C:0x318aff&T:天之勋章|、|C:0x318aff&T:10级治疗宝玉|、|C:0x318aff&T:八卦佩饰|、|C:0x318aff&T:七转神装|\n\n2.|C:0x318aff&T:武器、衣服、项链、手镯、戒指、头盔、腰带、鞋子|洗炼有概率获得极品属性，极品属性随机生成（不同部位的装备可洗炼出的极品属性类型不同，可点击说明查看），也有较小概率洗炼失败\n\n3.|C:0x318aff&T:天之魂玉|、|C:0x318aff&T:天之勋章|、|C:0x318aff&T:10级治疗宝玉|需要消耗同样的装备洗炼，必然成功，成功获得随机1%-3%攻魔道加成极品属性\n\n4.|C:0x318aff&T:七转神装|、|C:0x318aff&T:八卦佩饰|需要消耗同样的装备洗炼，必然成功，成功获得随机1%-5%体力加成极品属性\n\n5.洗炼成功后需要点击|C:0xffffff&T:替换|按钮覆盖装备原有极品属性，洗炼失败不影响原有极品属性，若洗炼出的所有类型极品属性都高于原装备上的，系统会自动替换\n\n6.装备洗炼时需要消耗不同的材料\n\n7.无论装备原有或洗炼出的极品属性，在角色死亡爆出时都会消失，寄售和私人交易不会影响装备极品属性",
},
[79] = {
	id = 79,
	ruleContent = "1.个人BOSS系统25级开放，每次挑战需要消耗5000绑金，击败BOSS后扣除挑战次数\n\n2.每档BOSS首次击杀都会获得额外奖励，奖励通过邮件发送\n\n3.每次击杀BOSS都有几率爆出对应的极品奖励，请在10分钟内完成挑战和捡取，否则副本关闭后无法捡取\n\n4.全服击败10000次后会开启下一档个人BOSS\n\n5.个人BOSS的挑战次数每日0点增加1次，未在线玩家也会累积",
},
[80] = {
	id = 80,
	ruleContent = "1.沃玛级及以上的装备可以进行升星（需要穿戴上），包括|C:0x318aff&T:武器、衣服、项链、手镯、戒指、头盔、腰带、鞋子|，以及最高阶的合成装备|C:0x318aff&T:天之魂玉|、|C:0x318aff&T:天之勋章|、|C:0x318aff&T:10级治疗宝玉|、|C:0x318aff&T:八卦佩饰|、|C:0x318aff&T:七转神装|\n\n2.升星后固定获得属性，最高可到12星\n\n3.|C:0xda1e00&T:3星以上升星时有几率失败，失败会掉一颗星|\n\n4.7星以上装备在回收时会返还部分玛法宝石(头盔除外)\n\n5.7星之后每次升星都会额外附加特殊属性\n|C:0xffffff&T:武器|提升|C:0xfc21ed&T:伤害加成|\n|C:0xffffff&T:衣服|提升|C:0xfc21ed&T:伤害减免|\n|C:0xffffff&T:头盔|提升|C:0xfc21ed&T:双防加成|\n|C:0xffffff&T:腰带鞋子|提升|C:0xfc21ed&T:体力加成|\n|C:0xffffff&T:戒指|提升|C:0xfc21ed&T:攻魔道加成|\n|C:0xffffff&T:手镯提升|C:0xfc21ed&T:攻魔道加成|\n|C:0xffffff&T:项链|提升|C:0xfc21ed&T:攻魔道加成|\n|C:0xffffff&T:天之勋章、魂玉、10级回复宝石|提升|C:0xfc21ed&T:攻魔道加成|\n|C:0xffffff&T:七转[斗笠][面甲][披风][盾牌]|分别提升|C:0xfc21ed&T:无视双防、暴击率、双防加成、体力加成|\n|C:0xffffff&T:八卦佩饰[人][鬼][神][魔]|各自提升|C:0xfc21ed&T:不同特殊属性|",
},
[81] = {
	id = 81,
	ruleContent = "1.麻痹戒指赞助绿卡会员可获得\n\n2.激活后攻击玩家和怪物时有15%几率触发麻痹，麻痹时间2.5秒\n\n3.火墙、施毒术不会触发麻痹",
},
[82] = {
	id = 82,
	ruleContent = "1.超麻神戒赞助橙卡会员可获得\n\n2.激活后在麻痹戒指基础上，麻痹几率再+2%，抗麻几率+12%，麻痹时间在原有基础上增加0.2秒\n\n3.激活超麻神戒后获得12%抗麻几率，直接免疫所有麻痹戒指效果",
},
[83] = {
	id = 83,
	ruleContent = "1.神魔之体0级升1级必定成功\n\n2.神魔之体总等级符合条件可以进入天空之城的特殊地图\n\n3.神魔之体升级失败后会降至0级",
},
[84] = {
	id = 84,
	ruleContent = "1.使用狂风碎片可以提升狂风神戒级别，增加攻魔道、双防、攻速属性\n\n2.狂风碎片可通过分解狂风戒指[残]获得，也可在商城购买",
},
[85] = {
	id = 85,
	ruleContent = "1.使用虹魔碎片可以提升虹魔神戒级别，增加攻魔道、双防、吸血属性\n\n2.虹魔碎片可通过分解虹魔戒指[残]获得，也可在商城购买",
},
[86] = {
	id = 86,
	ruleContent = "1.使用护身碎片可以提升护身神戒级别，增加攻魔道、血量上限、护身效果属性\n\n2.护身碎片可通过分解护身戒指[残]获得，也可在限时活动中获得",
},
[87] = {
	id = 87,
	ruleContent = "1.救主灵刃是四大兵魂之一，激活后在受到致命伤害时触发，若受到伤害使角色血量低于30%，则抵挡此次伤害并瞬间回复大量HP\n\n2.使用救主灵刃可以进阶兵魂，降低救主效果的CD，提升救主时回复HP的百分比和回复量\n\n3.使用救主灵刃[魄]还可以升级兵魂，大幅提升体力、攻魔道、双防等属性\n\n4.兵魂还可以升星，将救主灵刃提升至7星及以上还会获得额外双防加成",
},
[88] = {
	id = 88,
	ruleContent = "1.剧毒裁决是四大兵魂之一，激活后在攻击时触发剧毒效果，对目标造成一次性剧毒伤害并使其中毒(降低双防)\n\n2.使用剧毒裁决可以进阶兵魂，提升触发剧毒的几率和剧毒伤害\n\n3.使用剧毒裁决[魄]还可以升级兵魂，大幅提升体力、攻魔道、双防等属性\n\n4.兵魂还可以升星，将剧毒裁决提升至7星及以上还会获得额外体力加成",
},
[89] = {
	id = 89,
	ruleContent = "1.霜之哀伤是四大兵魂之一，激活后提升冰冻属性。在攻击时对敌方几率造成冰冻效果，使其无法移动、降低50%攻速(攻速降低也会减少法道技能伤害)、并造成5倍冰冻数值的额外伤害。怪物被冰冻后还会降低攻击力\n\n2.只有当角色自身冰冻属性大于等于敌方时，才能造成冰冻效果；自身冰冻属性小于敌方时，无法造成冰冻效果；实际几率为自身冰冻属性减去敌方冰冻属性差值，每100点冰冻提升1%的几率\n\n3.使用霜之哀伤可以进阶兵魂，提升冰冻属性\n\n4.使用霜之哀伤[魄]还可以升级兵魂，大幅提升冰冻、PK伤害减免、伤害加成属性\n\n5.兵魂还可以升星，将霜之哀伤提升至7星及以上还会获得攻魔道加成",
},
[90] = {
	id = 90,
	ruleContent = "1.血饮狂刀是四大兵魂之一，激活后永久提升生命回复。在血量低于45%时还会激发血饮效果，大幅提升吸血、攻速、PK伤害减免，愈战愈勇、越挫越猛\n\n2.使用血饮狂刀可以进阶兵魂，提升生命回复值和血饮效果\n\n3.使用血饮狂刀[魄]还可以升级兵魂，大幅提升体力、攻魔道、双防加成百分比。血饮狂刀升级效果（即属性提升百分比）在跨服翻倍\n\n4.兵魂还可以升星，将血饮狂刀提升至7星及以上还会获得吸血",
},
[91] = {
	id = 91,
	ruleContent = "1.摇钱树功能2转开启，使用元宝获得大量绑金\n\n2.背包中有摇钱树叶时，优先使用摇钱树叶替代元宝\n\n3.参加摇钱树活动有10%的几率暴击，暴击能够额外获得30%-60%的绑金\n\n4.每个玩家每天限摇1次，绿卡及以上会员可增加每日额外次数",
},
[92] = {
	id = 92,
	ruleContent = "1.开服后每周二、周五晚20:10-20:30开放跨服夜战沃玛三活动\n\n2.活动期间，所有玩家会被分配到两个对立阵营，只能攻击对立阵营的玩家，不能使用药品和传送，不会增加PK值，角色被击败不会掉落装备\n\n3.中途离线、退出重新进入有30秒CD。活动期间每隔5分钟会重新调整阵营\n\n4.持续参加活动、击败其他玩家、助攻击败其他玩家、击败场景内守卫、被其他玩家击败都会获得积分，达到一定积分即可获得积分礼包；根据积分排名还会获得排名奖励，奖励回原服时通过邮件发放",
},
[93] = {
	id = 93,
	ruleContent = "1.开服后每周一、周四晚20:10-20:30开放跨服竞技大乱斗活动\n\n2.活动地图内，所有玩家统一着装，统一角色名，无法使用附近聊天功能；无法携带宠物，不能使用药品和传送，不能使用治愈术和群体治愈术\n\n3.中途离线、退出重新进入有30秒CD。20:10-20:20开放进入，期间角色被击败自动复活，复活次数不限；20:21开始无法进入，场景内所有玩家仅剩4次复活机会，复活机会用完会被强制结束\n\n4.持续参加活动、击败其他玩家、助攻击败其他玩家、击败场景内守卫、被其他玩家击败都会获得积分，达到一定积分即可获得积分礼包；根据积分排名还会获得排名奖励，奖励回原服时通过邮件发放",
},
[94] = {
	id = 94,
	ruleContent = "1.开服满25天每周日晚20:10-20:40开启跨服沙巴克，活动自动开启，无需申请攻城\n\n2.沙巴克攻城期间，沙城周围、皇宫、密道变为战争区域\n\n3.20:15开始，开放沙巴克皇宫占领，若皇宫地图内有且只有同一个行会的成员，则该行会占领沙巴克。20:40截止时占领皇宫的行会即为最终的沙巴克行会\n\n4.皇宫正门的传送点（紫色传送阵）仅限沙巴克成员进入\n\n5.跨服内掉装备、使用元宝、物品变动|C:0xda1e00&T:都不会带回原服|，可以放心战斗。跨服每周日开放行会功能，不影响原服行会归属，跨服行会每周一重置\n\n6.持续参加活动、击败其他玩家、助攻击败其他玩家、被其他玩家击败都会获得积分，达到一定积分即可获得积分礼包",
},
[95] = {
	id = 95,
	ruleContent = "1.跨服领主每天12:30开启，若没有击败领主会在开始后15分钟强制结束\n\n2.玩家只要攻击跨服领主即可获得积分，伤害越高获得积分也越高，活动结束后根据积分排名获得奖励；最后击败跨服领主的玩家还可获得最后一击的额外奖励\n\n3.中途离线、退出重新进入有30秒CD\n\n4.场景不能使用传送、随机、喝药，玩家不可调整攻击模式，绑金鼓舞大幅提升对怪物的攻击效果\n\n5.奖励回原服时通过邮件发放",
},
[96] = {
	id = 96,
	ruleContent = "1.次元首领活动开服第1天转生达到3转在跨服战场开启，每天三场10:30-10:50、14:30-14:50、20:30-20:50，期间次元首领被击败后间隔1分钟会持续刷新。场景不能使用传送、随机、喝药\n\n2.次元首领刷新后，场景内第一个攻击首领的玩家成为归属者，击败该归属者的玩家就能取代其成为新的归属者，归属者退出副本则次元首领重置为无归属状态\n\n3.首领被击败时归属者获得次元归属宝箱，场景内曾经成为过归属者的玩家获得次元勇斗宝箱，其余玩家获得次元参与宝箱。宝箱回到原服时通过邮件发放\n\n4.在原服开启宝箱需要消耗1把次元钥匙。次元钥匙自开服8天起每日0点系统赠送3把(合服时会根据区服开服天数差异补偿对应数量次元钥匙)",
},
[97] = {
	id = 97,
	ruleContent = "1.跨服战场角色3转可进入\n\n2.跨服内所有变动不影响原服数据。在跨服内掉装备、使用元宝、物品变动|C:0xda1e00&T:都不会带回原服|，可以放心战斗。跨服不影响原服行会归属（开服25天每周日开放跨服行会，需要当日创建行会才能参加跨服沙巴克，沙巴克结束后跨服行会解散）\n\n3.跨服战场获得的所有奖励都会回原服时通过邮件发放\n\n4.玩家可手动通过【回到原服】按钮回原服，时间结束后玩家自动回到原服\n\n5.开服第1天开放逃脱试炼、跨服沃玛三、跨服大乱斗等活动，开服8天开放逃脱试炼活动，开服25天开放跨服沙巴克\n\n6.橙星会员称号和血饮狂刀[魄]升级属性在跨服效果翻倍",
},
[98] = {
	id = 98,
	ruleContent = "1.圣宠功能开服第1天且角色3转开启\n\n2.双击使用对应圣宠卡可激活，激活圣宠后属性提升，不同圣宠属性可叠加。重复激活会自动延长限时时间\n\n3.任意圣宠自带自动捡取功能，大幅提升挂机效率\n\n4.圣宠无论是否显示，属性提升和自动捡取效果都生效。你可以在【设置-基础】中设定是否显示其他玩家的圣宠\n\n5.活动地图(如夺宝等)或组队状态时，圣宠自动捡取功能关闭",
},
[99] = {
	id = 99,
	ruleContent = "1.内功装备开服8天开启，共有[一念]、[无双]、[三清]、[四方]、[五福]共5档\n\n2.穿戴内功装备还可以激活对应内功宝石的共鸣效果，银针(对应银花簪)、心决(对应养心玉)、金印(对应金曜珠)、檀珠(对应黑檀石)。内功装备级别越高，激活的共鸣效果越高\n\n3.PK时内功装备不会掉落",
},
[100] = {
	id = 100,
	ruleContent = "1.内功宝石开服第8天开启，共有银花簪、养心玉、金曜珠、黑檀石四种\n\n2.可在【合成-内功装备】中使用低级内功宝石合成更高级内功宝石",
},
[101] = {
	id = 101,
	ruleContent = "1.藏经阁限时开启，使用元宝可参与(背包有足够的藏经钥匙则优先替代使用)\n\n2.奖励分为高级奖励和普通奖励，8%几率获得高级奖励随机一项(各奖项概率平分)；92%几率普通奖励随机一项(各奖项概率平分)",
},
[102] = {
	id = 102,
	ruleContent = "1.开服后每周三、周六晚20:10-20:30开放跨服逃脱试炼活动\n\n2.活动地图内不能使用药品，可以传送，默认全体攻击模式(可修改)。中途离线、退出试炼积分清零，重新进入有30秒CD\n\n3.完成逃脱试炼需要300积分，积分达标点亮【完成试炼】按钮。在活动地图内每秒钟增加积分+1，击败怪物+10，击败本服玩家+8，击败其他服玩家+12，注意角色复活等待期间无积分\n\n4.排名奖励以【完成试炼】为判断，达到300积分的玩家请及时点击，否则可能被他人抢先逃脱\n\n5.坚甲黑猪物防超高(不建议战士挑战)；抗魔红猪魔御超高(不建议法师挑战)；危险白猪攻击和双防都超高(建议所有玩家避免挑战)",
},
[103] = {
	id = 103,
	ruleContent = "1.跨服按开服时间分组，同一游戏版本区服为一组（具体游戏版本可在天空之城NPC百事通处查看）。开服1-7天、8-24天、25-49天、50-84天、85天以上各为一组\n\n2.为公平起见和提升跨服激情，跨服和原服有部分属性差异。\na.捐献榜、狂暴功能在跨服不开放\nb.原服各职业排行榜称号在跨服无属性，新手、开服相关称号在跨服无属性\nc.开服1-7天的，等级上限为80级；开服8-24天的，等级上限为100级(超过部分等级属性衰减为原服10%)；开服25-49天的，等级上限为180级(超过部分等级属性衰减为原服10%)；开服50-84天和85天以上的，等级上限为200级(超过部分等级属性衰减为原服10%)。跨服膜拜排名、野蛮、抗拒、气功波等技能仍按原服等级计算",
},
[104] = {
	id = 104,
	ruleContent = "当前跨服分组：\n\n开服第1天—开服第7天\n若参加跨服人数过多，系统可能自动调整为开服第1-2天、开服第3-7天两个小组\n\n为公平起见和提升跨服激情，跨服和原服有部分属性差异。\na.捐献榜、狂暴功能在跨服不开放\nb.原服各职业排行榜称号在跨服无属性，新手、开服相关称号在跨服无属性\nc.等级效果上限为80级(超过80级等级属性无加成)\nd.跨服膜拜排名、野蛮、抗拒、气功波等技能仍按原服等级计算",
},
[105] = {
	id = 105,
	ruleContent = "当前跨服分组：\n\n开服第8天—开服第24天\n\n为公平起见和提升跨服激情，跨服和原服有部分属性差异。\na.捐献榜、狂暴功能在跨服不开放\nb.原服各职业排行榜称号在跨服无属性，新手、开服相关称号在跨服无属性\nc.等级效果上限为100级(超过100级等级属性衰减为原服10%)\nd.跨服膜拜排名、野蛮、抗拒、气功波等技能仍按原服等级计算",
},
[106] = {
	id = 106,
	ruleContent = "当前跨服分组：\n\n开服第25天—开服第49天\n\n为公平起见和提升跨服激情，跨服和原服有部分属性差异。\na.捐献榜、狂暴功能在跨服不开放\nb.原服各职业排行榜称号在跨服无属性，新手、开服相关称号在跨服无属性\nc.等级效果上限为180级(超过180级等级属性衰减为原服10%)\nd.跨服膜拜排名、野蛮、抗拒、气功波等技能仍按原服等级计算",
},
[107] = {
	id = 107,
	ruleContent = "当前跨服分组：\n\n开服第50天—开服第84天\n\n为公平起见和提升跨服激情，跨服和原服有部分属性差异。\na.捐献榜、狂暴功能在跨服不开放\nb.原服各职业排行榜称号在跨服无属性，新手、开服相关称号在跨服无属性\nc.等级效果上限为200级(超过200级等级属性衰减为原服10%)\nd.跨服膜拜排名、野蛮、抗拒、气功波等技能仍按原服等级计算",
},
[108] = {
	id = 108,
	ruleContent = "当前跨服分组：\n\n开服85天以上\n\n为公平起见和提升跨服激情，跨服和原服有部分属性差异。\na.捐献榜、狂暴功能在跨服不开放\nb.原服各职业排行榜称号在跨服无属性，新手、开服相关称号在跨服无属性\nc.等级效果上限为200级(超过200级等级属性衰减为原服10%)\nd.跨服膜拜排名、野蛮、抗拒、气功波等技能仍按原服等级计算",
},
[109] = {
	id = 109,
	ruleContent = "1.个性称号可与普通称号同时显示\n\n2.可在【设置】中关闭称号显示",
},
[110] = {
	id = 110,
	ruleContent = "1.字诀系统开服15天且角色3转开启，包含【天】【下】【无】【双】共四个字诀\n\n2.参加跨服秘境打宝活动(开服25天开启)可爆出笔画，使用相应笔画可在【合成-字诀】中合成【天】【无】字诀\n\n3.参加游戏内活动和节日活动也有机会获得其他各类字诀",
},
[111] = {
	id = 111,
	ruleContent = "1.跨服秘境打宝开服第25天转生达到3转开启，每天两场12:45-13:15、20:50-21:20\n\n2.秘境内掉落秘境宝箱、笔画宝箱、材料宝箱，捡取后使用会在屏幕中显示数量，活动结束回到原服后邮件自动发放对应数量的宝箱\n\n3.秘境内受到瘴气笼罩，玩家生命回复和吸血能力大幅下降。场景内仅能使用爆落的神油和雪莲，其他药品和随机无法使用。神油和雪莲仅限跨服秘境地图内使用，离开地图即消失\n\n4.开启秘境宝箱必得随机字诀*1，内功秘籍*30；开启笔画宝箱获得随机字诀笔画，可在原服【合成】-【字诀】中使用；开启材料宝箱必得精力水晶*5、绑金15万，还有几率额外获得多倍经验瓶、金条",
},
}