--P-平台福利搜狗.xlsx 登录礼包
LoginSogouConfig={
[1] = {
	day = 1,
	reward = {{type=0,id=269,count=1},{type=7,id=7,count=2},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
[2] = {
	day = 2,
	reward = {{type=0,id=421,count=1},{type=7,id=7,count=3},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
[3] = {
	day = 3,
	reward = {{type=0,id=261,count=1},{type=7,id=7,count=3},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
[4] = {
	day = 4,
	reward = {{type=0,id=269,count=2},{type=7,id=7,count=4},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
[5] = {
	day = 5,
	reward = {{type=0,id=421,count=2},{type=7,id=7,count=4},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
[6] = {
	day = 6,
	reward = {{type=0,id=261,count=2},{type=7,id=7,count=5},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
[7] = {
	day = 7,
	reward = {{type=0,id=421,count=3},{type=7,id=7,count=5},{type=2,id=2,count=10000},},
	tips = "|C:0xf56f00&T:领取成功|",
},
}