--P-平台福利搜狗.xlsx 搜狗平台福利
PlatformSogouConfig={
	reward1 = {{type=0,id=421,count=5},{type=0,id=269,count=5},{type=0,id=245,count=100},{type=2,id=2,count=20000},},
	reward2 = {{type=0,id=247,count=10},{type=7,id=7,count=5},{type=0,id=261,count=10},{type=2,id=2,count=20000},},
	tips1 = "|C:0xf56f00&T:领取成功|",
	tips2 = "|C:0xf56f00&T:领取成功|",
	limit = 30000,
	reward3 = {{type=0,id=1289,count=1}},
	CDkeytype = 4,
	PhoneReward = {{type=0,id=351,count=1},{type=0,id=421,count=5},{type=0,id=302,count=1},{type=2,id=2,count=30000},},
	tips = "|C:0xf56f00&T:领取成功|",
}